<%
	var placeholder;

	if (!placeholder) {
		placeholder = '';
	}

	var unset;
	var unsetLink = '';

	if (unset === true) {
		unsetLink = '<a class="cp-link cp-unset-link" href="/">Unset</a>';
	}
%>

<div class="cp-form-group cp-form-group-color">
	<label class="cp-control-label" for="<%= id %>"><%= id %></label>
	<%- unsetLink %>
	<input class="cp-form-control" id="<%= id %>" name="clay[<%= id %>]" placeholder="<%= placeholder %>" type="text">
	<input class="cp-form-control cp-form-control-color" type="color" value="#ffffff">
</div>