<%
	if (typeof placeholder === 'undefined') {
		placeholder = '';
	}
%>

<div class="cp-form-group">
	<% if (typeof tooltip !== 'undefined') { %>
		<%- include('cpLabelTooltip', { tooltip: tooltip }) %>
	<% } %>

	<label class="cp-control-label" for="<%- id %>"><%- id %></label>

	<% if (typeof unset !== 'undefined') { %>
		<a class="cp-link cp-unset-link" href="/">Unset</a>
	<% } %>

	<input class="cp-form-control" id="<%- id %>" name="clay[<%- id %>]" placeholder="<%- placeholder %>" type="text">
</div>