<%- include(partialsPath + 'cpComponentHeader.ejs', { text: 'Button' }) %>
<button class="btn btn-primary" type="button">Primary</button>
<button class="btn btn-secondary" type="button">Secondary</button>
<button class="btn btn-info" type="button">Info</button>
<button class="btn btn-success" type="button">Success</button>
<button class="btn btn-warning" type="button">Warning</button>
<button class="btn btn-danger" type="button">Danger</button>
<div class="cp-example-light-container">
	<button class="btn btn-light" type="button">Light</button>
</div>
<button class="btn btn-dark" type="button">Dark</button>
<button class="btn btn-link" type="button">Link</button>

<%- include(partialsPath + 'cpComponentHeader.ejs', { text: 'Button Focus' }) %>
<button class="btn btn-primary focus" type="button">Primary</button>
<button class="btn btn-secondary focus" type="button">Secondary</button>
<button class="btn btn-info focus" type="button">Info</button>
<button class="btn btn-success focus" type="button">Success</button>
<button class="btn btn-warning focus" type="button">Warning</button>
<button class="btn btn-danger focus" type="button">Danger</button>
<div class="cp-example-light-container">
	<button class="btn btn-light focus" type="button">Light</button>
</div>
<button class="btn btn-dark focus" type="button">Dark</button>
<button class="btn btn-link focus" type="button">Link</button>

<%- include(partialsPath + 'cpComponentHeader.ejs', { text: 'Button Active' }) %>
<button class="active btn btn-primary" type="button">Primary</button>
<button class="active btn btn-secondary" type="button">Secondary</button>
<button class="active btn btn-info" type="button">Info</button>
<button class="active btn btn-success" type="button">Success</button>
<button class="active btn btn-warning" type="button">Warning</button>
<button class="active btn btn-danger" type="button">Danger</button>
<div class="cp-example-light-container">
	<button class="active btn btn-light" type="button">Light</button>
</div>
<button class="active btn btn-dark" type="button">Dark</button>
<button class="active btn btn-link" type="button">Link</button>

<%- include(partialsPath + 'cpComponentHeader.ejs', { text: 'Button Disabled' }) %>
<button class="btn btn-primary" disabled type="button">Primary</button>
<button class="btn btn-secondary" disabled type="button">Secondary</button>
<button class="btn btn-info" disabled type="button">Info</button>
<button class="btn btn-success" disabled type="button">Success</button>
<button class="btn btn-warning" disabled type="button">Warning</button>
<button class="btn btn-danger" disabled type="button">Danger</button>
<div class="cp-example-light-container">
	<button class="btn btn-light" disabled type="button">Light</button>
</div>
<button class="btn btn-dark" disabled type="button">Dark</button>
<button class="btn btn-link" disabled type="button">Link</button>

<%- include(partialsPath + 'cpComponentHeader.ejs', { text: 'Anchor and Input Elements as Buttons' }) %>
<input class="btn btn-primary" type="button" value="Input" />
<a class="btn btn-secondary" href="#1" role="button">Anchor</a>
<input class="btn btn-info" type="submit" value="Submit" />
<a class="btn btn-success" href="#1" role="button">Anchor</a>
<a class="btn btn-warning" href="#1" role="button">Anchor</a>
<a class="btn btn-danger" href="#1" role="button">Anchor</a>
<div class="cp-example-light-container">
	<a class="btn btn-light" href="#1" role="button">Anchor</a>
</div>
<a class="btn btn-dark" href="#1" role="button">Anchor</a>
<a class="btn btn-link" href="#1" role="button">Anchor</a>

<%- include(partialsPath + 'cpComponentHeader.ejs', { text: 'Button Outline' }) %>
<button class="btn btn-outline-primary" type="button">Primary</button>
<button class="btn btn-outline-secondary" type="button">Secondary</button>
<button class="btn btn-outline-info" type="button">Info</button>
<button class="btn btn-outline-success" type="button">Success</button>
<button class="btn btn-outline-warning" type="button">Warning</button>
<button class="btn btn-outline-danger" type="button">Danger</button>
<div class="cp-example-light-container">
	<button class="btn btn-outline-light" type="button">Light</button>
</div>
<button class="btn btn-outline-dark" type="button">Dark</button>

<%- include(partialsPath + 'cpComponentHeader.ejs', { text: 'Button Outline Focus' }) %>
<button class="btn btn-outline-primary focus" type="button">Primary</button>
<button class="btn btn-outline-secondary focus" type="button">Secondary</button>
<button class="btn btn-outline-info focus" type="button">Info</button>
<button class="btn btn-outline-success focus" type="button">Success</button>
<button class="btn btn-outline-warning focus" type="button">Warning</button>
<button class="btn btn-outline-danger focus" type="button">Danger</button>
<div class="cp-example-light-container">
	<button class="btn btn-outline-light focus" type="button">Light</button>
</div>
<button class="btn btn-outline-dark focus" type="button">Dark</button>

<%- include(partialsPath + 'cpComponentHeader.ejs', { text: 'Button Outline Active' }) %>
<button class="active btn btn-outline-primary" type="button">Primary</button>
<button class="active btn btn-outline-secondary" type="button">Secondary</button>
<button class="active btn btn-outline-info" type="button">Info</button>
<button class="active btn btn-outline-success" type="button">Success</button>
<button class="active btn btn-outline-warning" type="button">Warning</button>
<button class="active btn btn-outline-danger" type="button">Danger</button>
<div class="cp-example-light-container">
	<button class="active btn btn-outline-light" type="button">Light</button>
</div>
<button class="active btn btn-outline-dark" type="button">Dark</button>

<h2 class="cp-component-header" id="button-outline-disabled">Button Outline Disabled</h2>
<%- include(partialsPath + 'cpComponentHeader.ejs', { text: 'Button Outline Disabled' }) %>
<button class="btn btn-outline-primary" disabled type="button">Primary</button>
<button class="btn btn-outline-secondary" disabled type="button">Secondary</button>
<button class="btn btn-outline-info" disabled type="button">Info</button>
<button class="btn btn-outline-success" disabled type="button">Success</button>
<button class="btn btn-outline-warning" disabled type="button">Warning</button>
<button class="btn btn-outline-danger" disabled type="button">Danger</button>
<div class="cp-example-light-container">
	<button class="btn btn-outline-light" disabled type="button">Light</button>
</div>
<button class="btn btn-outline-dark" disabled type="button">Dark</button>

<%- include(partialsPath + 'cpComponentHeader.ejs', { text: 'Anchor and Input Elements as Buttons' }) %>
<input class="btn btn-outline-primary" type="button" value="Input" />
<a class="btn btn-outline-secondary" href="#1" role="button">Anchor</a>
<input class="btn btn-outline-info" type="submit" value="Submit" />
<a class="btn btn-outline-success" href="#1" role="button">Anchor</a>
<a class="btn btn-outline-warning" href="#1" role="button">Anchor</a>
<a class="btn btn-outline-danger" href="#1" role="button">Anchor</a>
<div class="cp-example-light-container">
	<a class="btn btn-outline-light" href="#1" role="button">Anchor</a>
</div>
<a class="btn btn-outline-dark" href="#1" role="button">Anchor</a>

<%- include(partialsPath + 'cpComponentHeader.ejs', { text: 'Button Outline Borderless' }) %>
<button class="btn btn-outline-borderless btn-outline-primary" type="button">Primary</button>
<button class="btn btn-outline-borderless btn-outline-secondary" type="button">Secondary</button>
<button class="btn btn-outline-borderless btn-outline-info" type="button">Info</button>
<button class="btn btn-outline-borderless btn-outline-success" type="button">Success</button>
<button class="btn btn-outline-borderless btn-outline-warning" type="button">Warning</button>
<button class="btn btn-outline-borderless btn-outline-danger" type="button">Danger</button>
<div class="cp-example-light-container">
	<button class="btn btn-outline-borderless btn-outline-light" type="button">Light</button>
</div>
<button class="btn btn-outline-borderless btn-outline-dark" type="button">Dark</button>

<%- include(partialsPath + 'cpComponentHeader.ejs', { text: 'Button Outline Borderless Focus' }) %>
<button class="btn btn-outline-borderless btn-outline-primary focus" type="button">Primary</button>
<button class="btn btn-outline-borderless btn-outline-secondary focus" type="button">Secondary</button>
<button class="btn btn-outline-borderless btn-outline-info focus" type="button">Info</button>
<button class="btn btn-outline-borderless btn-outline-success focus" type="button">Success</button>
<button class="btn btn-outline-borderless btn-outline-warning focus" type="button">Warning</button>
<button class="btn btn-outline-borderless btn-outline-danger focus" type="button">Danger</button>
<div class="cp-example-light-container">
	<button class="btn btn-outline-borderless btn-outline-light focus" type="button">Light</button>
</div>
<button class="btn btn-outline-borderless btn-outline-dark focus" type="button">Dark</button>

<%- include(partialsPath + 'cpComponentHeader.ejs', { text: 'Button Outline Borderless Active' }) %>
<button class="active btn btn-outline-borderless btn-outline-primary" type="button">Primary</button>
<button class="active btn btn-outline-borderless btn-outline-secondary" type="button">Secondary</button>
<button class="active btn btn-outline-borderless btn-outline-info" type="button">Info</button>
<button class="active btn btn-outline-borderless btn-outline-success" type="button">Success</button>
<button class="active btn btn-outline-borderless btn-outline-warning" type="button">Warning</button>
<button class="active btn btn-outline-borderless btn-outline-danger" type="button">Danger</button>
<div class="cp-example-light-container">
	<button class="active btn btn-outline-borderless btn-outline-light" type="button">Light</button>
</div>
<button class="active btn btn-outline-borderless btn-outline-dark" type="button">Dark</button>

<%- include(partialsPath + 'cpComponentHeader.ejs', { text: 'Button Outline Borderless Disabled' }) %>
<button class="btn btn-outline-borderless btn-outline-primary" disabled type="button">Primary</button>
<button class="btn btn-outline-borderless btn-outline-secondary" disabled type="button">Secondary</button>
<button class="btn btn-outline-borderless btn-outline-info" disabled type="button">Info</button>
<button class="btn btn-outline-borderless btn-outline-success" disabled type="button">Success</button>
<button class="btn btn-outline-borderless btn-outline-warning" disabled type="button">Warning</button>
<button class="btn btn-outline-borderless btn-outline-danger" disabled type="button">Danger</button>
<div class="cp-example-light-container">
	<button class="btn btn-outline-borderless btn-outline-light" disabled type="button">Light</button>
</div>
<button class="btn btn-outline-borderless btn-outline-dark" disabled type="button">Dark</button>

<%- include(partialsPath + 'cpComponentHeader.ejs', { text: 'Anchor and Input Elements as Buttons' }) %>
<input class="btn btn-outline-borderless btn-outline-primary" type="button" value="Input" />
<a class="btn btn-outline-borderless btn-outline-secondary" href="#1" role="button">Anchor</a>
<input class="btn btn-outline-borderless btn-outline-info" type="submit" value="Submit" />
<a class="btn btn-outline-borderless btn-outline-success" href="#1" role="button">Anchor</a>
<a class="btn btn-outline-borderless btn-outline-warning" href="#1" role="button">Anchor</a>
<a class="btn btn-outline-borderless btn-outline-danger" href="#1" role="button">Anchor</a>
<div class="cp-example-light-container">
	<a class="btn btn-outline-borderless btn-outline-light" href="#1" role="button">Anchor</a>
</div>
<a class="btn btn-outline-borderless btn-outline-dark" href="#1" role="button">Anchor</a>

<%- include(partialsPath + 'cpComponentHeader.ejs', { text: 'Buttons with Icons' }) %>
<button class="btn btn-primary" type="button">
	<span class="inline-item inline-item-before"><svg aria-hidden="true" class="lexicon-icon lexicon-icon-share"><use xlink:href="<%- svgIconsPath %>#share" /></svg></span><span class="inline-item inline-item-before"><svg aria-hidden="true" class="lexicon-icon lexicon-icon-plus"><use xlink:href="<%- svgIconsPath %>#plus" /></svg></span>Primary<span class="inline-item inline-item-after"><svg aria-hidden="true" class="lexicon-icon lexicon-icon-camera"><use xlink:href="<%- svgIconsPath %>#camera" /></svg></span><span class="inline-item inline-item-after"><svg aria-hidden="true" class="lexicon-icon lexicon-icon-picture"><use xlink:href="<%- svgIconsPath %>#picture" /></svg></span>
</button>
<button class="btn btn-secondary" type="button">
	<span class="inline-item inline-item-before"><svg aria-hidden="true" class="lexicon-icon lexicon-icon-share"><use xlink:href="<%- svgIconsPath %>#share" /></svg></span>Secondary<span class="inline-item inline-item-after"><svg aria-hidden="true" class="lexicon-icon lexicon-icon-picture"><use xlink:href="<%- svgIconsPath %>#picture" /></svg></span>
</button>

<%- include(partialsPath + 'cpComponentHeader.ejs', { text: 'Button Monospaced' }) %>
<button class="btn btn-monospaced btn-primary" type="button">A</button>
<button class="btn btn-monospaced btn-secondary" type="button">B</button>
<button class="btn btn-monospaced btn-info" type="button">C</button>
<button class="btn btn-monospaced btn-success" type="button">D</button>
<button class="btn btn-monospaced btn-warning" type="button">E</button>
<button class="btn btn-monospaced btn-danger" type="button">F</button>
<div class="cp-example-light-container">
	<button class="btn btn-monospaced btn-light" type="button">G</button>
</div>
<button class="btn btn-monospaced btn-dark" type="button">H</button>
<button class="btn btn-monospaced btn-link" type="button">I</button>

<%- include(partialsPath + 'cpComponentHeader.ejs', { text: 'Button Block' }) %>
<button class="btn btn-block btn-secondary" type="button">Block Level Button</button>

<%- include(partialsPath + 'cpComponentHeader.ejs', { text: 'Button Dropdown' }) %>
<div class="btn-group">
	<button aria-expanded="false" aria-haspopup="true" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" type="button">
		Primary<span class="inline-item inline-item-after"><svg aria-hidden="true" class="lexicon-icon lexicon-icon-caret-bottom"><use xlink:href="<%- svgIconsPath %>#caret-bottom" /></svg></span>
	</button>
	<ul class="dropdown-menu">
		<li><a class="dropdown-item" href="#1">Action</a></li>
		<li class="dropdown-divider"></li>
		<li><a class="dropdown-item" href="#1">Scope</a></li>
	</ul>
</div>
<div class="btn-group">
	<button aria-expanded="false" aria-haspopup="true" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" type="button">
		Primary<span class="inline-item inline-item-after"><svg aria-hidden="true" class="lexicon-icon lexicon-icon-caret-bottom"><use xlink:href="<%- svgIconsPath %>#caret-bottom" /></svg></span>
	</button>
	<ul class="dropdown-menu">
		<li><a class="dropdown-item" href="#1">Action</a></li>
		<li class="dropdown-divider"></li>
		<li><a class="dropdown-item" href="#1">Scope</a></li>
	</ul>
</div>

<%- include(partialsPath + 'cpComponentHeader.ejs', { text: 'Split Button Dropdowns' }) %>
<div class="btn-group dropdown" role="group">
	<button class="btn btn-primary" type="button">Primary</button>
	<button aria-expanded="false" aria-haspopup="true" class="btn btn-primary btn-monospaced dropdown-toggle" data-toggle="dropdown" type="button">
		<span class="inline-item">
			<svg aria-hidden="true" class="lexicon-icon lexicon-icon-caret-bottom">
				<use xlink:href="<%- svgIconsPath %>#caret-bottom" />
			</svg>
		</span>
	</button>
	<ul class="dropdown-menu dropdown-menu-right">
		<li><a class="dropdown-item" href="#1">Action</a></li>
		<li class="dropdown-divider"></li>
		<li><a class="dropdown-item" href="#1">Scope</a></li>
	</ul>
</div>
<div class="btn-group dropdown" role="group">
	<button class="btn btn-secondary" type="button">Secondary</button>
	<button aria-expanded="false" aria-haspopup="true" class="btn btn-secondary btn-monospaced dropdown-toggle" data-toggle="dropdown" type="button">
		<span class="inline-item">
			<svg aria-hidden="true" class="lexicon-icon lexicon-icon-caret-bottom">
				<use xlink:href="<%- svgIconsPath %>#caret-bottom" />
			</svg>
		</span>
	</button>
	<ul class="dropdown-menu dropdown-menu-right">
		<li><a class="dropdown-item" href="#1">Action</a></li>
		<li class="dropdown-divider"></li>
		<li><a class="dropdown-item" href="#1">Scope</a></li>
	</ul>
</div>
<div class="btn-group dropdown" role="group">
	<button class="btn btn-info" type="button">Info</button>
	<button aria-expanded="false" aria-haspopup="true" class="btn btn-info btn-monospaced dropdown-toggle" data-toggle="dropdown" type="button">
		<span class="inline-item">
			<svg aria-hidden="true" class="lexicon-icon lexicon-icon-caret-bottom">
				<use xlink:href="<%- svgIconsPath %>#caret-bottom" />
			</svg>
		</span>
	</button>
	<ul class="dropdown-menu dropdown-menu-right">
		<li><a class="dropdown-item" href="#1">Action</a></li>
		<li class="dropdown-divider"></li>
		<li><a class="dropdown-item" href="#1">Scope</a></li>
	</ul>
</div>
<div class="btn-group dropdown" role="group">
	<button class="btn btn-success" type="button">Success</button>
	<button aria-expanded="false" aria-haspopup="true" class="btn btn-success btn-monospaced dropdown-toggle" data-toggle="dropdown" type="button">
		<span class="inline-item">
			<svg aria-hidden="true" class="lexicon-icon lexicon-icon-caret-bottom">
				<use xlink:href="<%- svgIconsPath %>#caret-bottom" />
			</svg>
		</span>
	</button>
	<ul class="dropdown-menu dropdown-menu-right">
		<li><a class="dropdown-item" href="#1">Action</a></li>
		<li class="dropdown-divider"></li>
		<li><a class="dropdown-item" href="#1">Scope</a></li>
	</ul>
</div>
<div class="btn-group dropdown" role="group">
	<button class="btn btn-warning" type="button">Warning</button>
	<button aria-expanded="false" aria-haspopup="true" class="btn btn-warning btn-monospaced dropdown-toggle" data-toggle="dropdown" type="button">
		<span class="inline-item">
			<svg aria-hidden="true" class="lexicon-icon lexicon-icon-caret-bottom">
				<use xlink:href="<%- svgIconsPath %>#caret-bottom" />
			</svg>
		</span>
	</button>
	<ul class="dropdown-menu dropdown-menu-right">
		<li><a class="dropdown-item" href="#1">Action</a></li>
		<li class="dropdown-divider"></li>
		<li><a class="dropdown-item" href="#1">Scope</a></li>
	</ul>
</div>
<div class="btn-group dropdown" role="group">
	<button class="btn btn-danger" type="button">Danger</button>
	<button aria-expanded="false" aria-haspopup="true" class="btn btn-danger btn-monospaced dropdown-toggle" data-toggle="dropdown" type="button">
		<span class="inline-item">
			<svg aria-hidden="true" class="lexicon-icon lexicon-icon-caret-bottom">
				<use xlink:href="<%- svgIconsPath %>#caret-bottom" />
			</svg>
		</span>
	</button>
	<ul class="dropdown-menu dropdown-menu-right">
		<li><a class="dropdown-item" href="#1">Action</a></li>
		<li class="dropdown-divider"></li>
		<li><a class="dropdown-item" href="#1">Scope</a></li>
	</ul>
</div>

<%- include(partialsPath + 'cpComponentHeader.ejs', { text: 'Split Button Dropups' }) %>
<div class="btn-group dropup" role="group">
	<button class="btn btn-primary" type="button">Right dropup</button>
	<button aria-expanded="false" aria-haspopup="true" class="btn btn-primary btn-monospaced dropdown-toggle" data-toggle="dropdown" type="button">
		<span class="inline-item">
			<svg aria-hidden="true" class="lexicon-icon lexicon-icon-caret-top">
				<use xlink:href="<%- svgIconsPath %>#caret-top" />
			</svg>
		</span>
	</button>
	<ul class="dropdown-menu dropdown-menu-right">
		<li><a class="dropdown-item" href="#1">Action</a></li>
		<li><a class="dropdown-item" href="#1">Another action</a></li>
		<li><a class="dropdown-item" href="#1">Something else here</a></li>
		<li class="dropdown-divider"></li>
		<li><a class="dropdown-item" href="#1">Separated link</a></li>
	</ul>
</div>
<div class="btn-group dropup" role="group">
	<button class="btn btn-secondary" type="button">Dropup</button>
	<button aria-expanded="false" aria-haspopup="true" class="btn btn-secondary btn-monospaced dropdown-toggle" data-toggle="dropdown" type="button">
		<span class="inline-item">
			<svg aria-hidden="true" class="lexicon-icon lexicon-icon-caret-top">
				<use xlink:href="<%- svgIconsPath %>#caret-top" />
			</svg>
		</span>
	</button>
	<ul class="dropdown-menu dropdown-menu-right">
		<li><a class="dropdown-item" href="#1">Action</a></li>
		<li><a class="dropdown-item" href="#1">Another action</a></li>
		<li><a class="dropdown-item" href="#1">Something else here</a></li>
		<li class="dropdown-divider"></li>
		<li><a class="dropdown-item" href="#1">Separated link</a></li>
	</ul>
</div>

<%- include(partialsPath + 'cpComponentHeader.ejs', { text: 'Button Group Item' }) %>
<div class="btn-group">
	<div class="btn-group-item">
		<button class="btn btn-primary" type="submit">Submit</button>
	</div>
	<div class="btn-group-item">
		<button class="btn btn-secondary" type="button">Cancel</button>
	</div>
	<div class="btn-group-item">
		<button class="btn btn-outline-secondary btn-outline-borderless" type="button">Back</button>
	</div>
	<div class="btn-group-item">
		<a href="#1" role="button">Link</a>
	</div>
</div>

<%- include(partialsPath + 'cpComponentHeader.ejs', { text: 'Button Group' }) %>
<div class="btn-group" role="group">
	<button class="btn btn-secondary" type="button">Day</button>
	<button class="active btn btn-secondary" type="button">Month</button>
	<button class="btn btn-secondary" type="button">Year</button>
	<button class="btn btn-secondary" disabled type="button">Agenda</button>
</div>
<div class="btn-group" role="group">
	<button class="btn btn-primary" type="button">Day</button>
	<button class="active btn btn-primary" type="button">Month</button>
	<button class="btn btn-primary" type="button">Year</button>
	<button class="btn btn-primary" disabled type="button">Agenda</button>
</div>

<%- include(partialsPath + 'cpComponentHeader.ejs', { text: 'Vertical Button Group' }) %>
<div class="btn-group-vertical" role="group">
	<button class="btn btn-secondary" type="button">Button</button>
	<button class="btn btn-secondary" type="button">Button</button>
	<div class="btn-group" role="group">
		<button aria-expanded="false" aria-haspopup="true" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" type="button">
			Dropdown<span class="inline-item inline-item-after"><svg aria-hidden="true" class="lexicon-icon lexicon-icon-caret-bottom"><use xlink:href="<%- svgIconsPath %>#caret-bottom" /></svg></span>
		</button>
		<ul class="dropdown-menu">
			<li><a class="dropdown-item" href="#1">Dropdown link</a></li>
			<li><a class="dropdown-item" href="#1">Dropdown link</a></li>
		</ul>
	</div>
	<div class="btn-group" role="group">
		<button aria-expanded="false" aria-haspopup="true" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" type="button">
			Dropdown<span class="inline-item inline-item-after"><svg aria-hidden="true" class="lexicon-icon lexicon-icon-caret-bottom"><use xlink:href="<%- svgIconsPath %>#caret-bottom" /></svg></span>
		</button>
		<ul class="dropdown-menu">
			<li><a class="dropdown-item" href="#1">Dropdown link</a></li>
			<li><a class="dropdown-item" href="#1">Dropdown link</a></li>
		</ul>
	</div>
	<div class="btn-group" role="group">
		<button aria-expanded="false" aria-haspopup="true" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" type="button">
			Dropdown<span class="inline-item inline-item-after"><svg aria-hidden="true" class="lexicon-icon lexicon-icon-caret-bottom"><use xlink:href="<%- svgIconsPath %>#caret-bottom" /></svg></span>
		</button>
		<ul class="dropdown-menu">
			<li><a class="dropdown-item" href="#1">Dropdown link</a></li>
			<li><a class="dropdown-item" href="#1">Dropdown link</a></li>
		</ul>
	</div>
</div>

<%- include(partialsPath + 'cpComponentHeader.ejs', { text: 'Button Toolbar' }) %>
<div aria-label="Toolbar with button groups" class="btn-toolbar" role="toolbar">
	<div aria-label="First group" class="btn-group" role="group">
		<button type="button" class="btn btn-secondary">1</button>
		<button type="button" class="btn btn-secondary">2</button>
		<button type="button" class="btn btn-secondary">3</button>
		<button type="button" class="btn btn-secondary">4</button>
	</div>
	<div aria-label="Second group" class="btn-group" role="group">
		<button type="button" class="btn btn-secondary">5</button>
		<button type="button" class="btn btn-secondary">6</button>
		<button type="button" class="btn btn-secondary">7</button>
	</div>
	<div aria-label="Third group" class="btn-group" role="group">
		<button type="button" class="btn btn-secondary">8</button>
	</div>
	<div class="input-group">
		<div class="input-group-item input-group-item-shrink input-group-prepend">
			<span class="input-group-text">@</span>
		</div>
		<div class="input-group-item input-group-append">
			<input aria-label="Input group example" aria-describedby="btnGroupAddon" class="form-control" placeholder="Input group example" type="text">
		</div>
	</div>
</div>

<%- include(partialsPath + 'cpComponentHeader.ejs', { text: 'Button Sm' }) %>
<div class="cp-example-container-mb-5">
	<button class="btn btn-block btn-secondary btn-sm" type="button">Small Block Level Button</button>
</div>
<div class="cp-example-container-mb-5">
	<button class="btn btn-secondary btn-sm" type="button">Small</button>
	<button class="btn btn-monospaced btn-secondary btn-sm" type="button">
		<span class="inline-item">
			<svg aria-hidden="true" class="lexicon-icon lexicon-icon-blogs">
				<use xlink:href="<%- svgIconsPath %>#blogs"></use>
			</svg>
		</span>
	</button>
	<a class="btn btn-monospaced btn-secondary btn-sm" href="#1">
		<span class="inline-item">
			<svg aria-hidden="true" class="lexicon-icon lexicon-icon-es-es">
				<use xlink:href="<%- svgIconsPath %>#es-es"></use>
			</svg>
		</span>
		<span class="btn-section">es-ES</span>
	</a>
</div>
<div class="cp-example-container-mb-5">
	<div class="btn-group btn-group-sm" role="group">
		<button class="btn btn-secondary" type="button">Left</button>
		<button class="btn btn-secondary" type="button">Middle</button>
		<button class="btn btn-secondary" type="button">Right</button>
	</div>
</div>
<div class="cp-example-container-mb-5">
	<div class="btn-group btn-group-sm dropdown" role="group">
		<button class="btn btn-primary" type="button">Primary</button>
		<button aria-expanded="false" aria-haspopup="true" class="btn btn-primary btn-monospaced dropdown-toggle" data-toggle="dropdown" type="button">
			<span class="inline-item">
				<svg aria-hidden="true" class="lexicon-icon lexicon-icon-caret-bottom">
					<use xlink:href="<%- svgIconsPath %>#caret-bottom" />
				</svg>
			</span>
		</button>
		<ul class="dropdown-menu dropdown-menu-right">
			<li><a class="dropdown-item" href="#1">Action</a></li>
			<li class="dropdown-divider"></li>
			<li><a class="dropdown-item" href="#1">Scope</a></li>
		</ul>
	</div>
</div>
<div class="cp-example-container-mb-5">
	<div class="btn-group-vertical btn-group-sm" role="group">
		<button class="btn btn-secondary" type="button">Button</button>
		<button class="btn btn-secondary" type="button">Button</button>
		<div class="btn-group" role="group">
			<button aria-expanded="false" aria-haspopup="true" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" type="button">
				Dropdown<span class="inline-item inline-item-after"><svg aria-hidden="true" class="lexicon-icon lexicon-icon-caret-bottom"><use xlink:href="<%- svgIconsPath %>#caret-bottom" /></svg></span>
			</button>
			<ul class="dropdown-menu">
				<li><a class="dropdown-item" href="#1">Dropdown link</a></li>
				<li><a class="dropdown-item" href="#1">Dropdown link</a></li>
			</ul>
		</div>
		<div class="btn-group" role="group">
			<button aria-expanded="false" aria-haspopup="true" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" type="button">
				Dropdown<span class="inline-item inline-item-after"><svg aria-hidden="true" class="lexicon-icon lexicon-icon-caret-bottom"><use xlink:href="<%- svgIconsPath %>#caret-bottom" /></svg></span>
			</button>
			<ul class="dropdown-menu">
				<li><a class="dropdown-item" href="#1">Dropdown link</a></li>
				<li><a class="dropdown-item" href="#1">Dropdown link</a></li>
			</ul>
		</div>
		<div class="btn-group" role="group">
			<button aria-expanded="false" aria-haspopup="true" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" type="button">
				Dropdown<span class="inline-item inline-item-after"><svg aria-hidden="true" class="lexicon-icon lexicon-icon-caret-bottom"><use xlink:href="<%- svgIconsPath %>#caret-bottom" /></svg></span>
			</button>
			<ul class="dropdown-menu">
				<li><a class="dropdown-item" href="#1">Dropdown link</a></li>
				<li><a class="dropdown-item" href="#1">Dropdown link</a></li>
			</ul>
		</div>
	</div>
</div>

<%- include(partialsPath + 'cpComponentHeader.ejs', { text: 'Button Lg' }) %>
<div class="cp-example-container-mb-5">
	<button class="btn btn-block btn-lg btn-secondary" type="button">Large Block Level Button</button>
</div>
<div class="cp-example-container-mb-5">
	<button class="btn btn-secondary btn-lg" type="button">Large</button>
	<button class="btn btn-monospaced btn-secondary btn-lg" type="button">
		<span class="inline-item">
			<svg aria-hidden="true" class="lexicon-icon lexicon-icon-share">
				<use xlink:href="<%- svgIconsPath %>#share"></use>
			</svg>
		</span>
	</button>
	<a class="btn btn-monospaced btn-secondary btn-lg" href="#1">
		<span class="inline-item">
			<svg aria-hidden="true" class="lexicon-icon lexicon-icon-es-es">
				<use xlink:href="<%- svgIconsPath %>#es-es"></use>
			</svg>
		</span>
		<span class="btn-section">es-ES</span>
	</a>
</div>
<div class="cp-example-container-mb-5">
	<div class="btn-group btn-group-lg" role="group">
		<button class="btn btn-secondary" type="button">Left</button>
		<button class="btn btn-secondary" type="button">Middle</button>
		<button class="btn btn-secondary" type="button">Right</button>
	</div>
</div>
<div class="cp-example-container-mb-5">
	<div class="btn-group btn-group-lg dropdown" role="group">
		<button class="btn btn-info" type="button">Info</button>
		<button aria-expanded="false" aria-haspopup="true" class="btn btn-info btn-monospaced dropdown-toggle" data-toggle="dropdown" type="button">
			<span class="inline-item">
				<svg aria-hidden="true" class="lexicon-icon lexicon-icon-caret-bottom">
					<use xlink:href="<%- svgIconsPath %>#caret-bottom" />
				</svg>
			</span>
		</button>
		<ul class="dropdown-menu dropdown-menu-right">
			<li><a class="dropdown-item" href="#1">Action</a></li>
			<li class="dropdown-divider"></li>
			<li><a class="dropdown-item" href="#1">Scope</a></li>
		</ul>
	</div>
</div>
<div class="cp-example-container-mb-5">
	<div class="btn-group-vertical btn-group-lg" role="group">
		<button class="btn btn-secondary" type="button">Button</button>
		<button class="btn btn-secondary" type="button">Button</button>
		<div class="btn-group" role="group">
			<button aria-expanded="false" aria-haspopup="true" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" type="button">
				Dropdown<span class="inline-item inline-item-after"><svg aria-hidden="true" class="lexicon-icon lexicon-icon-caret-bottom"><use xlink:href="<%- svgIconsPath %>#caret-bottom" /></svg></span>
			</button>
			<ul class="dropdown-menu">
				<li><a class="dropdown-item" href="#1">Dropdown link</a></li>
				<li><a class="dropdown-item" href="#1">Dropdown link</a></li>
			</ul>
		</div>
		<div class="btn-group" role="group">
			<button aria-expanded="false" aria-haspopup="true" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" type="button">
				Dropdown<span class="inline-item inline-item-after"><svg aria-hidden="true" class="lexicon-icon lexicon-icon-caret-bottom"><use xlink:href="<%- svgIconsPath %>#caret-bottom" /></svg></span>
			</button>
			<ul class="dropdown-menu">
				<li><a class="dropdown-item" href="#1">Dropdown link</a></li>
				<li><a class="dropdown-item" href="#1">Dropdown link</a></li>
			</ul>
		</div>
		<div class="btn-group" role="group">
			<button aria-expanded="false" aria-haspopup="true" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" type="button">
				Dropdown<span class="inline-item inline-item-after"><svg aria-hidden="true" class="lexicon-icon lexicon-icon-caret-bottom"><use xlink:href="<%- svgIconsPath %>#caret-bottom" /></svg></span>
			</button>
			<ul class="dropdown-menu">
				<li><a class="dropdown-item" href="#1">Dropdown link</a></li>
				<li><a class="dropdown-item" href="#1">Dropdown link</a></li>
			</ul>
		</div>
	</div>
</div>