<%- include(partialsPath + 'cpComponentHeader.ejs', { text: 'Application Bar' }) %>
<nav class="application-bar application-bar-dark navbar navbar-expand-md">
	<div class="container-fluid container-fluid-max-xl">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link nav-link-monospaced" href="#1" role="button">
					<svg aria-hidden="true" class="lexicon-icon lexicon-icon-product-menu-closed">
						<use xlink:href="<%- svgIconsPath %>#product-menu-closed" />
					</svg>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link nav-link-monospaced" href="#1" role="button">
					<svg aria-hidden="true" class="lexicon-icon lexicon-icon-angle-left">
						<use xlink:href="<%- svgIconsPath %>#angle-left" />
					</svg>
				</a>
			</li>
		</ul>
		<div class="navbar-title navbar-text-truncate">My Application Name</div>
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link nav-link-monospaced" href="#1" role="button">
					<svg aria-hidden="true" class="lexicon-icon lexicon-icon-cog">
						<use xlink:href="<%- svgIconsPath %>#cog" />
					</svg>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link nav-link-monospaced" href="#1" role="button">
					<svg aria-hidden="true" class="lexicon-icon lexicon-icon-plus">
						<use xlink:href="<%- svgIconsPath %>#plus" />
					</svg>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link nav-link-monospaced" href="#1" role="button">
					<svg aria-hidden="true" class="lexicon-icon lexicon-icon-simulation-menu-closed">
						<use xlink:href="<%- svgIconsPath %>#simulation-menu-closed" />
					</svg>
				</a>
			</li>
			<li class="dropdown nav-item">
				<a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle nav-link nav-link-monospaced" data-toggle="dropdown" href="#1" role="button">
					<svg aria-hidden="true" class="lexicon-icon lexicon-icon-ellipsis-v">
						<use xlink:href="<%- svgIconsPath %>#ellipsis-v" />
					</svg>
				</a>
				<ul aria-labelledby="navbarDropdownMenuLink" class="dropdown-menu dropdown-menu-right">
					<li><a class="dropdown-item" href="#1">Action</a></li>
					<li><a class="dropdown-item" href="#1">Another action</a></li>
					<li><a class="dropdown-item" href="#1">Something else here</a></li>
					<li class="dropdown-divider"></li>
					<li><a class="dropdown-item" href="#1">Separated link</a></li>
				</ul>
			</li>
		</ul>
	</div>
</nav>

<%- include(partialsPath + 'cpComponentHeader.ejs', { text: 'Application Bar with Buttons' }) %>
<nav class="application-bar application-bar-dark navbar navbar-expand-md">
	<div class="container-fluid container-fluid-max-xl">
		<ul class="navbar-nav">
			<li class="nav-item">
				<button class="btn btn-unstyled nav-btn nav-btn-monospaced" type="button">
					<svg aria-hidden="true" class="lexicon-icon lexicon-icon-product-menu-closed">
						<use xlink:href="<%- svgIconsPath %>#product-menu-closed" />
					</svg>
				</button>
			</li>
			<li class="nav-item">
				<button class="btn btn-unstyled nav-btn nav-btn-monospaced" type="button">
					<svg aria-hidden="true" class="lexicon-icon lexicon-icon-angle-left">
						<use xlink:href="<%- svgIconsPath %>#angle-left" />
					</svg>
				</button>
			</li>
		</ul>
		<div class="navbar-title navbar-text-truncate">My Application Name</div>
		<ul class="navbar-nav">
			<li class="nav-item">
				<button class="btn btn-unstyled nav-btn nav-btn-monospaced" type="button">
					<svg aria-hidden="true" class="lexicon-icon lexicon-icon-cog">
						<use xlink:href="<%- svgIconsPath %>#cog" />
					</svg>
				</button>
			</li>
			<li class="nav-item">
				<button class="btn btn-unstyled nav-btn nav-btn-monospaced" type="button">
					<svg aria-hidden="true" class="lexicon-icon lexicon-icon-plus">
						<use xlink:href="<%- svgIconsPath %>#plus" />
					</svg>
				</button>
			</li>
			<li class="nav-item">
				<button class="btn btn-unstyled nav-btn nav-btn-monospaced" type="button">
					<svg aria-hidden="true" class="lexicon-icon lexicon-icon-simulation-menu-closed">
						<use xlink:href="<%- svgIconsPath %>#simulation-menu-closed" />
					</svg>
				</button>
			</li>
			<li class="dropdown nav-item">
				<button aria-expanded="false" aria-haspopup="true" class="btn btn-unstyled dropdown-toggle nav-btn nav-btn-monospaced" data-toggle="dropdown" type="button">
					<svg aria-hidden="true" class="lexicon-icon lexicon-icon-ellipsis-v">
						<use xlink:href="<%- svgIconsPath %>#ellipsis-v" />
					</svg>
				</button>
				<ul aria-labelledby="navbarDropdownMenuLink" class="dropdown-menu dropdown-menu-right">
					<li><a class="dropdown-item" href="#1">Action</a></li>
					<li><a class="dropdown-item" href="#1">Another action</a></li>
					<li><a class="dropdown-item" href="#1">Something else here</a></li>
					<li class="dropdown-divider"></li>
					<li><a class="dropdown-item" href="#1">Separated link</a></li>
				</ul>
			</li>
		</ul>
	</div>
</nav>

<%- include(partialsPath + 'cpComponentHeader.ejs', { text: 'Application Bar with Many Different Button Tags' }) %>
<nav class="application-bar application-bar-dark navbar navbar-expand-md">
	<div class="container-fluid container-fluid-max-xl">
		<ul class="navbar-nav">
			<li class="nav-item">
				<button class="btn btn-primary nav-btn nav-btn-monospaced" type="button">
					<svg aria-hidden="true" class="lexicon-icon lexicon-icon-product-menu-closed">
						<use xlink:href="<%- svgIconsPath %>#product-menu-closed" />
					</svg>
				</button>
			</li>
			<li class="nav-item">
				<button class="btn btn-unstyled nav-btn" type="button">Add</button>
			</li>
			<li class="nav-item">
				<button class="btn btn-danger nav-btn" type="button">Remove</button>
			</li>
			<li class="nav-item">
				<button class="btn btn-unstyled nav-link" type="button">Add</button>
			</li>
			<li class="nav-item">
				<button class="btn btn-unstyled nav-link nav-link-monospaced" type="button">
					<svg aria-hidden="true" class="lexicon-icon lexicon-icon-simulation-menu-closed">
						<use xlink:href="<%- svgIconsPath %>#simulation-menu-closed" />
					</svg>
				</button>
			</li>
		</ul>
	</div>
</nav>

<%- include(partialsPath + 'cpComponentHeader.ejs', { text: 'Application Bar with Many Different Anchor Tags' }) %>
<nav class="application-bar application-bar-dark navbar navbar-expand-md">
	<div class="container-fluid container-fluid-max-xl">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link nav-link-monospaced" href="#1">
					<svg aria-hidden="true" class="lexicon-icon lexicon-icon-product-menu-closed">
						<use xlink:href="<%- svgIconsPath %>#product-menu-closed" />
					</svg>
				</a>
			</li>
			<li class="nav-item">
				<a class="btn btn-unstyled nav-btn" href="#1">Add</a>
			</li>
			<li class="nav-item">
				<a class="btn btn-secondary nav-btn" href="#1">Remove</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#1">Add</a>
			</li>
			<li class="nav-item">
				<a class="btn btn-unstyled nav-btn nav-btn-monospaced" href="#1">
					<svg aria-hidden="true" class="lexicon-icon lexicon-icon-simulation-menu-closed">
						<use xlink:href="<%- svgIconsPath %>#simulation-menu-closed" />
					</svg>
				</a>
			</li>
		</ul>
	</div>
</nav>