<h4 class="cp-variables-form-header">Sheet</h4>
<%- printInputs([
	{ id: 'sheet-padding-top', },
	{ id: 'sheet-padding-right', },
	{ id: 'sheet-padding-bottom', },
	{ id: 'sheet-padding-left', },
	{ id: 'sheet-border-width', },
	{ id: 'sheet-border-style', },
	{ id: 'sheet-border-color', color: true, },
	{ id: 'sheet-border-radius', },
	{ id: 'sheet-bg', color: true, },
]) %>

<h4 class="cp-variables-form-header">Sheet Header</h4>
<%- printInputs([
	{ id: 'sheet-header-margin-bottom', },
	{ id: 'sheet-header-margin-bottom-mobile', },
]) %>

<h4 class="cp-variables-form-header">Sheet Section</h4>
<%- printInputs([
	{ id: 'sheet-section-margin-bottom', },
	{ id: 'sheet-section-margin-bottom-mobile', },
]) %>

<h4 class="cp-variables-form-header">Sheet Panel Group</h4>
<%- printInputs([
	{ id: 'sheet-panel-group-margin-bottom', },
	{ id: 'sheet-panel-group-margin-bottom-mobile', },
]) %>

<h4 class="cp-variables-form-header">Sheet Footer</h4>
<%- printInputs([
	{ id: 'sheet-footer-margin-top', },
	{ id: 'sheet-footer-margin-right', },
	{ id: 'sheet-footer-margin-bottom', },
	{ id: 'sheet-footer-margin-left', },
	{ id: 'sheet-footer-margin-top-mobile', },
	{ id: 'sheet-footer-margin-right-mobile', },
	{ id: 'sheet-footer-margin-bottom-mobile', },
	{ id: 'sheet-footer-margin-left-mobile', },
]) %>

<h4 class="cp-variables-form-header">Sheet Lg</h4>
<%- printInputs([
	{ id: 'sheet-lg-max-width', },
]) %>

<h4 class="cp-variables-form-header">Sheet Title</h4>
<%- printInputs([
	{ id: 'sheet-title-font-size', },
	{ id: 'sheet-title-font-weight', },
	{ id: 'sheet-title-line-height', },
	{ id: 'sheet-title-margin-bottom', },
	{ id: 'sheet-title-color', color: true, },
	{ id: 'sheet-title-font-size-mobile', },
	{ id: 'sheet-title-margin-bottom-mobile', },
]) %>

<h4 class="cp-variables-form-header">Sheet Subtitle</h4>
<%- printInputs([
	{ id: 'sheet-subtitle-font-size', },
	{ id: 'sheet-subtitle-font-weight', },
	{ id: 'sheet-subtitle-padding-y', },
	{ id: 'sheet-subtitle-padding-x', },
	{ id: 'sheet-subtitle-line-height', },
	{ id: 'sheet-subtitle-margin-bottom', },
	{ id: 'sheet-subtitle-border-width', },
	{ id: 'sheet-subtitle-border-style', },
	{ id: 'sheet-subtitle-border-color', color: true, },
	{ id: 'sheet-subtitle-color', color: true, },
	{ id: 'sheet-subtitle-text-transform', },
	{ id: 'sheet-subtitle-font-size-mobile', },
	{ id: 'sheet-subtitle-margin-bottom-mobile', },
]) %>
<%- printInputs([
	{ id: 'sheet-subtitle-heading-text-margin-top', },
	{ id: 'sheet-subtitle-heading-text-margin-bottom', },
]) %>

<h4 class="cp-variables-form-header">Sheet Subtitle as Panel Header</h4>
<%- printInputs([
	{ id: 'sheet-subtitle-link-color', color: true, },
	{ id: 'sheet-subtitle-link-text-decoration', },
	{ id: 'sheet-subtitle-link-hover-color', color: true, },
	{ id: 'sheet-subtitle-link-hover-text-decoration', },
]) %>
<%- printInputs([
	{ id: 'sheet-subtitle-collapse-icon-padding-right', },
	{ id: 'sheet-subtitle-collapse-icon-padding-left', },
	{ id: 'sheet-subtitle-collapse-icon-top', },
	{ id: 'sheet-subtitle-collapse-icon-right', },
	{ id: 'sheet-subtitle-collapse-icon-bottom', },
	{ id: 'sheet-subtitle-collapse-icon-left', },
]) %>

<h4 class="cp-variables-form-header">Sheet Tertiary Title</h4>
<%- printInputs([
	{ id: 'sheet-tertiary-title-font-size', },
	{ id: 'sheet-tertiary-title-font-weight', },
	{ id: 'sheet-tertiary-title-padding-y', },
	{ id: 'sheet-tertiary-title-padding-x', },
	{ id: 'sheet-tertiary-title-line-height', },
	{ id: 'sheet-tertiary-title-margin-bottom', },
	{ id: 'sheet-tertiary-title-color', color: true, },
	{ id: 'sheet-tertiary-title-text-transform', },
	{ id: 'sheet-tertiary-title-font-size-mobile', },
	{ id: 'sheet-tertiary-title-margin-bottom-mobile', },
]) %>

<h4 class="cp-variables-form-header">Sheet Text</h4>
<%- printInputs([
	{ id: 'sheet-text-font-size', },
	{ id: 'sheet-text-font-weight', },
	{ id: 'sheet-text-margin-bottom', },
	{ id: 'sheet-text-color', color: true, },
	{ id: 'sheet-text-font-size-mobile', },
	{ id: 'sheet-text-margin-bottom-mobile', },
]) %>