<h4 class="cp-variables-form-header">Input Group Addon</h4>
<%- printInputs([
	{ id: 'input-group-addon-min-width', },
	{ id: 'input-group-addon-font-weight', },
	{ id: 'input-group-addon-padding-y', },
	{ id: 'input-group-addon-padding-x', },
	{ id: 'input-group-addon-border-color', color: true, },
	{ id: 'input-group-addon-color', color: true, },
	{ id: 'input-group-addon-bg', color: true, },
]) %>

<h4 class="cp-variables-form-header">Input Group Secondary Addon</h4>
<%- printInputs([
	{ id: 'input-group-secondary-addon-border-width', },
	{ id: 'input-group-secondary-addon-border-color', color: true, },
	{ id: 'input-group-secondary-addon-color', color: true, },
	{ id: 'input-group-secondary-addon-bg', color: true, },
]) %>

<h4 class="cp-variables-form-header">Input Group Item</h4>
<%- printInputs([
	{ id: 'input-group-item-margin-left', },
]) %>

<h4 class="cp-variables-form-header">Input Group Inset</h4>
<%- printInputs([
	{ id: 'input-group-inset-item-padding-right', },
	{ id: 'input-group-inset-item-padding-left', },
	{ id: 'input-group-inset-item-color', color: true, },
]) %>

<h4 class="cp-variables-form-header">Input Group Inset Btn</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="input-group-inset-item-btn" name="clay[input-group-inset-item-btn]" type="hidden">
	</div>
	<%- include(mixinsPath + 'cpClayButtonSizeMixin', { namespace: 'input-group-inset-item-btn' }) %>
</div>

<h4 class="cp-variables-form-header">Input Group Inset Form File Btn</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="input-group-inset-form-file-btn" name="clay[input-group-inset-form-file-btn]" type="hidden">
	</div>
	<%- include(mixinsPath + 'cpClayButtonSizeMixin', { namespace: 'input-group-inset-form-file-btn' }) %>
</div>

<h4 class="cp-variables-form-header">Input Group Sm</h4>
<%- printInputs([
	{ id: 'input-group-addon-min-width-sm', },
	{ id: 'input-group-addon-padding-y-sm', },
	{ id: 'input-group-addon-padding-x-sm', },
]) %>

<h4 class="cp-variables-form-header">Input Group Sm Item Btn</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="input-group-sm-item-btn" name="clay[input-group-sm-item-btn]" type="hidden">
	</div>
	<%- include(mixinsPath + 'cpClayButtonSizeMixin', { namespace: 'input-group-sm-item-btn' }) %>
</div>

<h4 class="cp-variables-form-header">Input Group Sm Item Btn Monospaced</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="input-group-sm-item-btn-monospaced" name="clay[input-group-sm-item-btn-monospaced]" type="hidden">
	</div>
	<%- include(mixinsPath + 'cpClayButtonSizeMixin', { namespace: 'input-group-sm-item-btn-monospaced' }) %>
</div>

<h4 class="cp-variables-form-header">Input Group Sm Inset Item Btn</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="input-group-sm-inset-item-btn" name="clay[input-group-sm-inset-item-btn]" type="hidden">
	</div>
	<%- include(mixinsPath + 'cpClayButtonSizeMixin', { namespace: 'input-group-sm-inset-item-btn' }) %>
</div>

<h4 class="cp-variables-form-header">Input Group Sm Inset Item Form File Btn</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="input-group-sm-inset-item-form-file-btn" name="clay[input-group-sm-inset-item-form-file-btn]" type="hidden">
	</div>
	<%- include(mixinsPath + 'cpClayButtonSizeMixin', { namespace: 'input-group-sm-inset-item-form-file-btn' }) %>
</div>

<h4 class="cp-variables-form-header">Input Group Lg</h4>
<%- printInputs([
	{ id: 'input-group-addon-min-width-lg', },
	{ id: 'input-group-addon-padding-y-lg', },
	{ id: 'input-group-addon-padding-x-lg', },
]) %>

<h4 class="cp-variables-form-header">Input Group Lg Item Btn</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="input-group-lg-item-btn" name="clay[input-group-lg-item-btn]" type="hidden">
	</div>
	<%- include(mixinsPath + 'cpClayButtonSizeMixin', { namespace: 'input-group-lg-item-btn' }) %>
</div>

<h4 class="cp-variables-form-header">Input Group Lg Item Btn Monospaced</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="input-group-lg-item-btn-monospaced" name="clay[input-group-lg-item-btn-monospaced]" type="hidden">
	</div>
	<%- include(mixinsPath + 'cpClayButtonSizeMixin', { namespace: 'input-group-lg-item-btn-monospaced' }) %>
</div>

<h4 class="cp-variables-form-header">Input Group Lg Inset Item Btn</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="input-group-lg-inset-item-btn" name="clay[input-group-lg-inset-item-btn]" type="hidden">
	</div>
	<%- include(mixinsPath + 'cpClayButtonSizeMixin', { namespace: 'input-group-lg-inset-item-btn' }) %>
</div>

<h4 class="cp-variables-form-header">Input Group Lg Inset Item Form File Btn</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="input-group-lg-inset-item-form-file-btn" name="clay[input-group-lg-inset-item-form-file-btn]" type="hidden">
	</div>
	<%- include(mixinsPath + 'cpClayButtonSizeMixin', { namespace: 'input-group-lg-inset-item-form-file-btn' }) %>
</div>

<h4 class="cp-variables-form-header">Input Group Stacked Sm Down</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="input-group-stacked-sm-down" name="clay[input-group-stacked-sm-down]" type="hidden">
	</div>
	<%- include(mixinsPath + 'cpClayInputGroupStackedMixin', { namespace: 'input-group-stacked-sm-down' }) %>
</div>

<h4 class="cp-variables-form-header">Form Control Tag Group</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="form-control-label-size" name="clay[form-control-label-size]" type="hidden">
	</div>
	<%- include(mixinsPath + 'cpClayLabelSizeMixin', { namespace: 'form-control-label-size' }) %>
</div>