<h4 class="cp-variables-form-header">Multi Step Nav</h4>
<%- printInputs([
	{ id: 'multi-step-nav-padding-y', },
	{ id: 'multi-step-nav-padding-x', },
	{ id: 'multi-step-nav-margin-bottom', },
]) %>

<h4 class="cp-variables-form-header">Multi Step Icon</h4>
<%- printInputs([
	{ id: 'multi-step-icon-size', },
	{ id: 'multi-step-icon-font-size', },
	{ id: 'multi-step-icon-font-weight', },
	{ id: 'multi-step-icon-border-radius', },
	{ id: 'multi-step-icon-color', color: true, },
	{ id: 'multi-step-icon-bg', color: true, },
]) %>

<h4 class="cp-variables-form-header">Multi Step Icon Hover</h4>
<%- printInputs([
	{ id: 'multi-step-icon-hover-color', color: true, },
	{ id: 'multi-step-icon-hover-bg', color: true, },
	{ id: 'multi-step-icon-hover-text-decoration', },
]) %>

<h4 class="cp-variables-form-header">Multi Step Divider</h4>
<%- printInputs([
	{ id: 'multi-step-divider-height', },
	{ id: 'multi-step-divider-spacer-x', },
	{ id: 'multi-step-divider-bg', color: true, },
	{ id: 'multi-step-divider-top', },
]) %>

<h4 class="cp-variables-form-header">Multi Step Indicator</h4>
<%- printInputs([
	{ id: 'multi-step-indicator-width', },
]) %>

<h4 class="cp-variables-form-header">Multi Step Indicator Label</h4>
<%- printInputs([
	{ id: 'multi-step-indicator-label-max-width', },
	{ id: 'multi-step-indicator-label-font-size', },
	{ id: 'multi-step-indicator-label-font-weight', },
	{ id: 'multi-step-indicator-label-color', color: true, },
]) %>

<h4 class="cp-variables-form-header">Multi Step Title</h4>
<%- printInputs([
	{ id: 'multi-step-title-max-width', },
	{ id: 'multi-step-title-font-size', },
	{ id: 'multi-step-title-font-weight', },
	{ id: 'multi-step-title-margin-bottom', },
	{ id: 'multi-step-title-color', color: true, },
]) %>

<h4 class="cp-variables-form-header">Multi Step Item</h4>
<%- printInputs([
	{ id: 'multi-step-item-width', },
	{ id: 'multi-step-item-margin-bottom', },
]) %>

<h4 class="cp-variables-form-header">Multi Step Item Fixed Width</h4>
<%- printInputs([
	{ id: 'multi-step-item-fixed-width', },
]) %>

<h4 class="cp-variables-form-header">Multi Step Item Complete</h4>
<%- printInputs([
	{ id: 'multi-step-icon-complete-color', color: true, },
	{ id: 'multi-step-icon-complete-bg', color: true, },
	{ id: 'multi-step-icon-complete-bg-size', },
	{ id: 'multi-step-icon-complete-bg-position', },
	{ id: 'multi-step-icon-complete-bg-image', },
]) %>
<%- printInputs([
	{ id: 'multi-step-divider-complete-bg', color: true, },
]) %>
<%- printInputs([
	{ id: 'multi-step-dropdown-indicator-complete-width', },
	{ id: 'multi-step-dropdown-indicator-complete-icon', },
]) %>

<h4 class="cp-variables-form-header">Multi Step Item Active</h4>
<%- printInputs([
	{ id: 'multi-step-icon-active-bg-size', },
	{ id: 'multi-step-icon-active-bg-position', },
	{ id: 'multi-step-icon-active-color', color: true, },
	{ id: 'multi-step-icon-active-bg', color: true, },
	{ id: 'multi-step-icon-active-bg-image', },
]) %>
<%- printInputs([
	{ id: 'multi-step-divider-active-bg', color: true, },
]) %>

<h4 class="cp-variables-form-header">Multi Step Item Disabled</h4>
<%- printInputs([
	{ id: 'multi-step-icon-disabled-bg-size', },
	{ id: 'multi-step-icon-disabled-bg-position', },
	{ id: 'multi-step-icon-disabled-color', color: true, },
	{ id: 'multi-step-icon-disabled-bg', color: true, },
	{ id: 'multi-step-icon-disabled-cursor', },
	{ id: 'multi-step-icon-disabled-bg-image', },
]) %>
<%- printInputs([
	{ id: 'multi-step-divider-disabled-bg', color: true, },
]) %>
<%- printInputs([
	{ id: 'multi-step-title-disabled-color', color: true, },
]) %>
<%- printInputs([
	{ id: 'multi-step-indicator-label-disabled-color', color: true, },
]) %>