<h4 class="cp-variables-form-header">Pagination</h4>
<%- printInputs([
	{ id: 'pagination-font-size', },
	{ id: 'pagination-padding-y', },
	{ id: 'pagination-padding-x', },
	{ id: 'pagination-line-height', },
	{ id: 'pagination-margin-bottom', },
	{ id: 'pagination-border-width', },
	{ id: 'pagination-border-color', color: true, },
	{ id: 'pagination-color', color: true, },
	{ id: 'pagination-bg', color: true, },
	{ id: 'pagination-margin-top-mobile', },
]) %>

<h4 class="cp-variables-form-header">Pagination Item</h4>
<%-
	printInputs([
		{ id: 'pagination-item-height', },
		{ id: 'pagination-item-margin-y', },
		{ id: 'pagination-item-margin-x', },
	]);
%>

<h4 class="cp-variables-form-header">Pagination Dropdown Menu</h4>
<%- printInputs([
	{ id: 'pagination-dropdown-menu-spacer-y', },
]) %>

<h4 class="cp-variables-form-header">Pagination Link</h4>
<%- printInputs([
	{ id: 'pagination-link-border-radius', },
	{ id: 'pagination-link-cursor', },
	{ id: 'pagination-link-transition', },
]) %>
<%- printInputs([
	{ id: 'pagination-link-first-border-radius', },
]) %>
<%- printInputs([
	{ id: 'pagination-link-last-border-radius', },
]) %>

<h4 class="cp-variables-form-header">Pagination Hover</h4>
<%- printInputs([
	{ id: 'pagination-hover-border-color', color: true, },
	{ id: 'pagination-hover-color', color: true, },
	{ id: 'pagination-hover-bg', color: true, },
]) %>

<h4 class="cp-variables-form-header">Pagination Focus</h4>
<%- printInputs([
	{ id: 'pagination-focus-box-shadow', },
	{ id: 'pagination-focus-outline', },
]) %>

<h4 class="cp-variables-form-header">Pagination Active</h4>
<%- printInputs([
	{ id: 'pagination-active-border-color', color: true, },
	{ id: 'pagination-active-color', color: true, },
	{ id: 'pagination-active-bg', color: true, },
]) %>

<h4 class="cp-variables-form-header">Pagination Disabled</h4>
<%- printInputs([
	{ id: 'pagination-disabled-border-color', color: true, },
	{ id: 'pagination-disabled-color', color: true, },
	{ id: 'pagination-disabled-bg', color: true, },
	{ id: 'pagination-disabled-cursor', },
	{ id: 'pagination-disabled-opacity', },
	{ id: 'pagination-disabled-pointer-events', },
]) %>

<h4 class="cp-variables-form-header">Pagination Results</h4>
<%- printInputs([
	{ id: 'pagination-results-color', color: true, },
]) %>

<h4 class="cp-variables-form-header">Pagination Items Per Page</h4>
<%- printInputs([
	{ id: 'pagination-items-per-page-font-size', },
	{ id: 'pagination-items-per-page-border-color', color: true, },
	{ id: 'pagination-items-per-page-border-radius', },
	{ id: 'pagination-items-per-page-color', color: true, },
	{ id: 'pagination-items-per-page-bg', color: true, },
	{ id: 'pagination-items-per-page-transition', },
	{ id: 'pagination-items-per-page-focus-box-shadow', },
	{ id: 'pagination-items-per-page-focus-outline', },
]) %>

<h4 class="cp-variables-form-header">Pagination Items Per Page Hover</h4>
<%- printInputs([
	{ id: 'pagination-items-per-page-hover-border-color', color: true, },
	{ id: 'pagination-items-per-page-hover-color', color: true, },
	{ id: 'pagination-items-per-page-hover-bg', color: true, },
]) %>

<h4 class="cp-variables-form-header">Pagination Sm</h4>
<%-
	printInputs([
		{ id: 'pagination-font-size-sm', },
		{ id: 'pagination-padding-y-sm', },
		{ id: 'pagination-padding-x-sm', },
		{ id: 'pagination-line-height-sm', },
		{ id: 'pagination-item-height-sm', },
		{ id: 'pagination-link-border-radius-sm', },
	]);
%>

<h4 class="cp-variables-form-header">Pagination Lg</h4>
<%-
	printInputs([
		{ id: 'pagination-font-size-lg', },
		{ id: 'pagination-padding-y-lg', },
		{ id: 'pagination-padding-x-lg', },
		{ id: 'pagination-line-height-lg', },
		{ id: 'pagination-item-height-lg', },
		{ id: 'pagination-link-border-radius-lg', },
	]);
%>