<%- include(partialsPath + 'cpComponentHeader.ejs', { text: 'Form Elements' }) %>
<div class="sheet">
	<h4 class="sheet-subtitle">Sheet Subtitle</h4>
	<div class="form-group">
		<label for="basicInputTypeText">
			Text
			<span class="reference-mark">
				<svg aria-hidden="true" class="lexicon-icon lexicon-icon-asterisk">
					<use xlink:href="<%- svgIconsPath %>#asterisk" />
				</svg>
			</span>
		</label>
		<input class="form-control" id="basicInputTypeText" placeholder="Placeholder" type="text">
	</div>
	<div class="form-group">
		<label for="basicInputTypePassword">Password</label>
		<input class="form-control" id="basicInputTypePassword" placeholder="Enter password" type="password">
	</div>
	<div class="form-group">
		<label for="basicInputTypeUrl">Url</label>
		<input class="form-control" id="basicInputTypeUrl" type="url">
	</div>
	<div class="form-group">
		<label for="basicInputTypeTel">Tel</label>
		<input class="form-control" id="basicInputTypeTel" type="tel">
	</div>
	<div class="form-group">
		<label for="basicInputTypeEmail">Email</label>
		<input class="form-control" id="basicInputTypeEmail" type="email">
	</div>
	<div class="form-group">
		<label for="basicInputTypeSearch">Search</label>
		<input class="form-control" id="basicInputTypeSearch" type="search">
	</div>
	<div class="form-group">
		<label for="basicInputTypeNumber">Number</label>
		<input class="form-control" id="basicInputTypeNumber" type="number">
	</div>
	<div class="form-group">
		<label for="basicInputTypeRange">Range</label>
		<input class="form-control" id="basicInputTypeRange" type="range">
	</div>
</div>

<%- include(partialsPath + 'cpComponentHeader.ejs', { text: 'Form Element Sizes' }) %>
<div class="sheet">
	<div class="form-group">
		<label for="smallTextInput">Small text input</label>
		<input class="form-control form-control-sm" id="smallTextInput" placeholder="Placeholder" type="text">
	</div>
	<div class="form-group">
		<label for="normalTextInput">Normal text input</label>
		<input class="form-control" id="normalTextInput" placeholder="Placeholder" type="text">
	</div>
	<div class="form-group">
		<label for="largeTextInput">Large text input</label>
		<input class="form-control form-control-lg" id="largeTextInput" placeholder="Placeholder" type="text">
	</div>
</div>

<%- include(partialsPath + 'cpComponentHeader.ejs', { text: 'Select Element' }) %>
<div class="sheet">
	<div class="form-group">
		<label for="regularSelectElement">Regular Select Element</label>
		<select class="form-control" id="regularSelectElement">
			<option>Sample 1</option>
			<option>Sample 2</option>
			<option>Sample 3</option>
			<option>Sample 4</option>
		</select>
	</div>
	<div class="form-group">
		<label for="multipleSelectOptionsSelectElement">Select Element with Multiple Select Options</label>
		<select class="form-control" id="multipleSelectOptionsSelectElement" multiple>
			<option>Sample 1</option>
			<option>Sample 2</option>
			<option>Sample 3</option>
			<option>Sample 4</option>
			<option>Sample 5</option>
			<option>Sample 6</option>
			<option>Sample 7</option>
			<option>Sample 8</option>
		</select>
	</div>
</div>

<%- include(partialsPath + 'cpComponentHeader.ejs', { text: 'Textarea' }) %>
<div class="sheet">
	<div class="form-group">
		<label for="basicInputTypeTextarea">Textarea</label>
		<textarea class="form-control" id="basicInputTypeTextarea" placeholder="Placeholder"></textarea>
	</div>
</div>

<%- include(partialsPath + 'cpComponentHeader.ejs', { text: 'Checkbox (Browser Default)' }) %>
<div class="sheet">
	<div class="form-check">
		<label class="form-check-label">
			<input class="form-check-input" type="checkbox" value="">
		</label>
	</div>
	<div class="form-check">
		<label class="form-check-label">
			<input class="form-check-input" type="checkbox" value="">
			<span class="form-check-label-text">Label</span>
		</label>
	</div>
	<div class="form-check">
		<label class="form-check-label">
			<input checked class="form-check-input" disabled type="checkbox" value="">
			<span class="form-check-label-text">Disabled Check Box</span>
		</label>
	</div>
	<div class="form-group">
		<div class="form-check form-check-inline">
			<label class="form-check-label">
				<input class="form-check-input" id="inlineCheckbox1" type="checkbox" value="option1">
				<span class="form-check-label-text">1</span>
			</label>
		</div>
		<div class="form-check form-check-inline">
			<label class="form-check-label">
				<input class="form-check-input" id="inlineCheckbox2" type="checkbox" value="option2">
				<span class="form-check-label-text">2</span>
			</label>
		</div>
		<div class="form-check form-check-inline">
			<label class="form-check-label">
				<input class="form-check-input" id="inlineCheckbox3" type="checkbox" value="option3">
				<span class="form-check-label-text">3</span>
			</label>
		</div>
	</div>
</div>

<%- include(partialsPath + 'cpComponentHeader.ejs', { text: 'Radio (Browser Default)' }) %>
<div class="sheet">
	<div class="form-check">
		<label class="form-check-label">
			<input class="form-check-input" type="radio" value="">
		</label>
	</div>
	<div class="form-check">
		<label class="form-check-label">
			<input class="form-check-input" type="radio" value="">
			<span class="form-check-label-text">Label</span>
		</label>
	</div>
	<div class="form-check">
		<label class="form-check-label">
			<input class="form-check-input" disabled type="radio">
			<span class="form-check-label-text">Disabled Radio Button</span>
		</label>
	</div>
	<div class="form-group">
		<div class="form-check form-check-inline">
			<label class="form-check-label">
				<input class="form-check-input" id="inlineRadio1" name="inlineRadioOptions1" type="radio" value="option1">
				<span class="form-check-label-text">1</span>
			</label>
		</div>
		<div class="form-check form-check-inline">
			<label class="form-check-label">
				<input class="form-check-input" id="inlineRadio2" name="inlineRadioOptions1" type="radio" value="option2">
				<span class="form-check-label-text">2</span>
			</label>
		</div>
		<div class="form-check form-check-inline">
			<label class="form-check-label">
				<input class="form-check-input" id="inlineRadio3" name="inlineRadioOptions1" type="radio" value="option3">
				<span class="form-check-label-text">3</span>
			</label>
		</div>
	</div>
</div>

<%- include(partialsPath + 'cpComponentHeader.ejs', { text: 'File Upload (Browser Default)' }) %>
<div class="sheet">
	<div class="form-group">
		<label class="sr-only" for="inputFile">FILE UPLOAD</label>
		<input class="form-control-file" id="inputFile" type="file">
	</div>
</div>

<%- include(partialsPath + 'cpComponentHeader.ejs', { text: 'Disabled Inputs' }) %>
<div class="sheet">
	<div class="form-group">
		<label class="disabled" for="disabledTextInput">Text Input</label>
		<input class="form-control" disabled id="disabledTextInput" placeholder="Placeholder" type="text" value="Plunger pot, extra siphon latte">
	</div>
	<div class="form-group">
		<label class="disabled" for="disabledPasswordInput">Password Input</label>
		<input class="form-control" disabled id="disabledPasswordInput" placeholder="Enter password" type="password" value="password">
	</div>
	<div class="form-group">
		<label class="disabled" for="disabledTextarea">Textarea</label>
		<textarea class="form-control" disabled id="disabledTextarea" placeholder="Placeholder">Plunger pot, extra siphon latte</textarea>
	</div>
	<div class="form-group">
		<label class="disabled" for="disabledSelectElement">Select Element</label>
		<select class="form-control" disabled id="disabledSelectElement">
			<option>Sample 1</option>
			<option>Sample 2</option>
			<option>Sample 3</option>
			<option>Sample 4</option>
		</select>
	</div>
	<div class="form-group">
		<label class="disabled" for="disabledSelectElementMulti">Select Element with Multiple Select Options</label>
		<select class="form-control" disabled id="disabledSelectElementMulti" multiple>
			<option>Sample 1</option>
			<option>Sample 2</option>
			<option>Sample 3</option>
			<option>Sample 4</option>
			<option>Sample 5</option>
			<option>Sample 6</option>
			<option>Sample 7</option>
			<option>Sample 8</option>
		</select>
	</div>
</div>

<%- include(partialsPath + 'cpComponentHeader.ejs', { text: 'Disabled Fieldset' }) %>
<div class="sheet">
	<form>
		<fieldset disabled>
			<div class="form-group">
				<label>Use fieldset to group related elements in a form and ReallySuperInsanelyJustIncrediblyLongAndTotallyNotPossibleWordButWeAreReallyTryingToCoverAllOurBasesHereJustInCaseSomeoneIsNutsAsPerUsual
					<input class="form-control" type="text" value="Plunger pot, extra siphon latte">
				</label>
			</div>
			<div class="form-group">
				<label for="disabledFieldsetTextInput2">Disabled Input</label>
				<input class="form-control" id="disabledFieldsetTextInput2" type="text" value="Plunger pot, extra siphon latte">
			</div>
			<div class="form-group">
				<label for="disabledFieldsetSelectElement">Disabled Select Element</label>
				<select class="form-control" id="disabledFieldsetSelectElement">
					<option>Sample 1</option>
					<option>Sample 2</option>
					<option>Sample 3</option>
					<option>Sample 4</option>
				</select>
			</div>
			<div class="form-group">
				<div class="form-check">
					<label class="form-check-label">
						<input checked class="form-check-input" type="checkbox" value="">
						<span class="form-check-label-text">Disabled Checkbox</span>
					</label>
				</div>
				<div class="form-check">
					<label class="form-check-label">
						<input class="form-check-input" type="radio" value="">
						<span class="form-check-label-text">Disabled Radio</span>
					</label>
				</div>
			</div>
			<div class="form-group">
				<button class="btn btn-primary" type="submit">Submit</button>
			</div>
		</fieldset>
	</form>
</div>

<%- include(partialsPath + 'cpComponentHeader.ejs', { text: 'Readonly Inputs' }) %>
<div class="sheet">
	<div class="form-group">
		<label for="readonlyTextInput">Text Input (Read Only)</label>
		<input class="form-control" id="readonlyTextInput" readonly type="text" value="Con panna aroma, pumpkin spice to go, wings, aromatic single shot, aged single shot to go extraction java.">
	</div>
	<div class="form-group">
		<label for="readonlyTextInputPlaintext">Read Only Plaintext</label>
		<input class="form-control-plaintext" id="readonlyTextInputPlaintext" readonly type="text" value="Con panna aroma, pumpkin spice to go, wings, aromatic single shot, aged single shot to go extraction java.">
	</div>
	<div class="form-group">
		<label for="readonlyTextarea">Textarea (Read Only)</label>
		<textarea class="form-control" id="readonlyTextarea" readonly>Plunger pot, extra siphon latte, as americano aromatic roast cultivar cup cup frappuccino. To go, strong, half and half foam single origin, cultivar affogato black grounds shop ut plunger pot. Con panna aroma, pumpkin spice to go, wings, aromatic single shot, aged single shot to go extraction java. Percolator americano at cultivar grinder est java percolator plunger pot shop con panna.</textarea>
	</div>
</div>

<%- include(partialsPath + 'cpComponentHeader.ejs', { text: 'Autocomplete Text Field' }) %>
<div class="sheet" style="height:255px;">
	<div class="dropdown-full form-group">
		<input class="form-control" type="text" value="Rob">
		<ul class="dropdown-menu show">
			<li>
				<a class="dropdown-item" href="#1">Rob<strong>ert Downey Jr.</strong></a>
			</li>
			<li>
				<a class="dropdown-item" href="#1">Rob<strong>ert Plant</strong></a>
			</li>
			<li>
				<a class="dropdown-item" href="#1">Rob<strong>ert Baratheon</strong></a>
			</li>
			<li>
				<a class="dropdown-item" href="#1">Rob<strong>ert De Niro</strong></a>
			</li>
		</ul>
	</div>
</div>

<%- include(partialsPath + 'cpComponentHeader.ejs', { text: 'Search Field' }) %>
<div class="sheet" style="height:255px;">
	<div class="input-group">
		<div class="dropdown-full input-group-item">
			<input class="form-control input-group-inset input-group-inset-after" placeholder="Search for..." type="text" value="ele">
			<span class="input-group-inset-item input-group-inset-item-after">
				<button class="btn btn-unstyled" type="submit">
					<svg aria-hidden="true" class="lexicon-icon lexicon-icon-search">
						<use xlink:href="<%- svgIconsPath %>#search" />
					</svg>
				</button>
				<button class="btn btn-unstyled" type="button">
					<svg aria-hidden="true" class="lexicon-icon lexicon-icon-times">
						<use xlink:href="<%- svgIconsPath %>#times" />
					</svg>
				</button>
			</span>
			<ul class="dropdown-menu show">
				<li>
					<a class="dropdown-item" href="#1">ele<strong>ctric toothbrush</strong></a>
				</li>
				<li>
					<a class="dropdown-item" href="#1">ele<strong>ctric kettle</strong></a>
				</li>
				<li>
					<a class="dropdown-item" href="#1">ele<strong>ctric razor</strong></a>
				</li>
				<li>
					<a class="dropdown-item" href="#1">ele<strong>ctrodes for tents</strong></a>
				</li>
			</ul>
		</div>
	</div>
</div>