<h3>Label</h3>
<div>
	<span class="label label-primary">
		<span class="label-item label-item-expand">Primary</span>
	</span>
	<span class="label label-secondary">
		<span class="label-item label-item-expand">Secondary</span>
	</span>
	<span class="label label-success">
		<span class="label-item label-item-expand">Success</span>
	</span>
	<span class="label label-info">
		<span class="label-item label-item-expand">Info</span>
	</span>
	<span class="label label-warning">
		<span class="label-item label-item-expand">Warning</span>
	</span>
	<span class="label label-danger">
		<span class="label-item label-item-expand">Danger</span>
	</span>
</div>

<h3>Label as an Anchor Tag</h3>
<div>
	<a class="label label-primary" href="#1">
		<span class="label-item label-item-expand">Primary</span>
	</a>
	<a class="label label-secondary" href="#1">
		<span class="label-item label-item-expand">Secondary</span>
	</a>
	<a class="label label-success" href="#1">
		<span class="label-item label-item-expand">Success</span>
	</a>
	<a class="label label-info" href="#1">
		<span class="label-item label-item-expand">Info</span>
	</a>
	<a class="label label-warning" href="#1">
		<span class="label-item label-item-expand">Warning</span>
	</a>
	<a class="label label-danger" href="#1">
		<span class="label-item label-item-expand">Danger</span>
	</a>
</div>

<h3>Label Lg</h3>
<div>
	<span class="label label-lg label-primary">
		<span class="label-item label-item-expand">Primary</span>
	</span>
	<span class="label label-lg label-secondary">
		<span class="label-item label-item-expand">Secondary</span>
	</span>
	<span class="label label-lg label-success">
		<span class="label-item label-item-expand">Success</span>
	</span>
	<span class="label label-info label-lg">
		<span class="label-item label-item-expand">Info</span>
	</span>
	<span class="label label-lg label-warning">
		<span class="label-item label-item-expand">Warning</span>
	</span>
	<span class="label label-danger label-lg">
		<span class="label-item label-item-expand">Danger</span>
	</span>
</div>

<h3>Label Lg as an Anchor Tag</h3>
<div>
	<a class="label label-lg label-primary" href="#1">
		<span class="label-item label-item-expand">Primary</span>
	</a>
	<a class="label label-lg label-secondary" href="#1">
		<span class="label-item label-item-expand">Secondary</span>
	</a>
	<a class="label label-lg label-success" href="#1">
		<span class="label-item label-item-expand">Success</span>
	</a>
	<a class="label label-info label-lg" href="#1">
		<span class="label-item label-item-expand">Info</span>
	</a>
	<a class="label label-lg label-warning" href="#1">
		<span class="label-item label-item-expand">Warning</span>
	</a>
	<a class="label label-danger label-lg" href="#1">
		<span class="label-item label-item-expand">Danger</span>
	</a>
</div>

<h3>Label Dismissible</h3>
<div>
	<span class="label label-dismissible label-secondary">
		<span class="label-item label-item-before">
			<svg aria-hidden="true" class="lexicon-icon lexicon-icon-times-circle">
				<use xlink:href="<%- svgIconsPath %>#times-circle"></use>
			</svg>
		</span>
		<span class="label-item label-item-before">
			<button class="btn btn-unstyled" type="button">
				<svg aria-hidden="true" class="lexicon-icon lexicon-icon-add-cell">
					<use xlink:href="<%- svgIconsPath %>#add-cell"></use>
				</svg>
			</button>
		</span>
		<span class="label-item label-item-expand">
			<a href="#1">Normal Label</a>
		</span>
		<span class="label-item label-item-after">
			<button aria-label="Close" class="close" type="button">
				<svg aria-hidden="true" class="lexicon-icon lexicon-icon-times">
					<use xlink:href="<%- svgIconsPath %>#times"></use>
				</svg>
			</button>
		</span>
	</span>
	<span class="label label-dismissible label-lg label-success">
		<span class="label-item label-item-before">
			<svg aria-hidden="true" class="lexicon-icon lexicon-icon-times-circle">
				<use xlink:href="<%- svgIconsPath %>#times-circle"></use>
			</svg>
		</span>
		<span class="label-item label-item-before">
			<svg aria-hidden="true" class="lexicon-icon lexicon-icon-add-cell">
				<use xlink:href="<%- svgIconsPath %>#add-cell"></use>
			</svg>
		</span>
		<span class="label-item label-item-expand">
			<a href="#1">ReallySuperInsanelyJustIncrediblyLongAndTotallyNotPossibleWordButWeAre</a>
		</span>
		<span class="label-item label-item-after">
			<button aria-label="Close" class="close" type="button">
				<svg aria-hidden="true" class="lexicon-icon lexicon-icon-times">
					<use xlink:href="<%- svgIconsPath %>#times"></use>
				</svg>
			</button>
		</span>
	</span>
</div>

<h3>Label with Text Truncate</h3>
<span class="label label-dismissible label-lg label-success">
	<span class="label-item label-item-before">
		<svg aria-hidden="true" class="lexicon-icon lexicon-icon-times-circle">
			<use xlink:href="<%- svgIconsPath %>#times-circle"></use>
		</svg>
	</span>
	<span class="label-item label-item-before">
		<svg aria-hidden="true" class="lexicon-icon lexicon-icon-add-cell">
			<use xlink:href="<%- svgIconsPath %>#add-cell"></use>
		</svg>
	</span>
	<span class="label-item label-item-expand">
		<a class="text-truncate-inline" href="#1">
			<span class="text-truncate">ReallySuperInsanelyJustIncrediblyLongAndTotallyNotPossibleWordButWeAre</span>
		</a>
	</span>
	<span class="label-item label-item-after">
		<button aria-label="Close" class="close" type="button">
			<svg aria-hidden="true" class="lexicon-icon lexicon-icon-times">
				<use xlink:href="<%- svgIconsPath %>#times"></use>
			</svg>
		</button>
	</span>
</span>