<%- include(partialsPath + 'cpComponentHeader.ejs', { text: 'Base Nav' }) %>
<ul class="nav">
	<li class="nav-item"><a class="active nav-link" href="#1">Details</a></li>
	<li class="nav-item"><a class="nav-link" href="#1">Categorization</a></li>
	<li class="nav-item"><a class="disabled nav-link" href="#1">Documents and Media</a></li>
	<li class="nav-item"><a class="nav-link" href="#1">Site Template</a></li>
</ul>

<%- include(partialsPath + 'cpComponentHeader.ejs', { text: 'Nav Stacked' }) %>
<ul class="nav nav-stacked">
	<li class="nav-item"><a class="active nav-link" href="#1">Details</a></li>
	<li class="nav-item"><a class="nav-link" href="#1">Categorization</a></li>
	<li class="nav-item"><a class="disabled nav-link" href="#1">Documents and Media</a></li>
	<li class="nav-item"><a class="nav-link" href="#1">Site Template</a></li>
	<li class="nav-item"><a class="nav-link" href="#1">Configuration</a></li>
	<li class="nav-item"><a class="nav-link" href="#1">Identification</a></li>
</ul>

<%- include(partialsPath + 'cpComponentHeader.ejs', { text: 'Nav Nested (Padding)' }) %>
<ul class="nav nav-nested">
	<li class="nav-item">
		<a aria-controls="navCollapse01" aria-expanded="true" class="collapse-icon nav-link" data-toggle="collapse" href="#navCollapse01" role="button">
			Basic Information
			<span class="collapse-icon-closed">
				<svg aria-hidden="true" class="lexicon-icon lexicon-icon-caret-right">
					<use xlink:href="<%- svgIconsPath %>#caret-right" />
				</svg>
			</span>
			<span class="collapse-icon-open">
				<svg aria-hidden="true" class="lexicon-icon lexicon-icon-caret-bottom">
					<use xlink:href="<%- svgIconsPath %>#caret-bottom" />
				</svg>
			</span>
		</a>
		<div class="collapse show" id="navCollapse01">
			<ul class="nav nav-stacked">
				<li class="nav-item"><a class="active nav-link" href="#1">Details</a></li>
				<li class="nav-item"><a class="nav-link" href="#1">Categorization</a></li>
				<li class="nav-item">
					<a aria-controls="navCollapse02" aria-expanded="false" class="collapsed collapse-icon nav-link" data-toggle="collapse" href="#navCollapse02" role="button">
						Documents and Media
						<span class="collapse-icon-closed">
							<svg aria-hidden="true" class="lexicon-icon lexicon-icon-caret-right">
								<use xlink:href="<%- svgIconsPath %>#caret-right" />
							</svg>
						</span>
						<span class="collapse-icon-open">
							<svg aria-hidden="true" class="lexicon-icon lexicon-icon-caret-bottom">
								<use xlink:href="<%- svgIconsPath %>#caret-bottom" />
							</svg>
						</span>
					</a>
					<div class="collapse" id="navCollapse02">
						<ul class="nav nav-stacked">
							<li class="nav-item"><a class="nav-link" href="#1">Details</a></li>
							<li class="nav-item"><a class="nav-link" href="#1">Categorization</a></li>
							<li class="nav-item"><a class="nav-link" href="#1">Documents and Media</a></li>
							<li class="nav-item"><a class="nav-link" href="#1">Site Template</a></li>
						</ul>
					</div>
				</li>
				<li class="nav-item"><a class="nav-link" href="#1">Site Template</a></li>
			</ul>
		</div>
	</li>
	<li class="nav-item">
		<a aria-controls="navCollapse03" aria-expanded="false" class="collapsed collapse-icon nav-link" data-toggle="collapse" href="#navCollapse03" role="button">
			SEO
			<span class="collapse-icon-closed">
				<svg aria-hidden="true" class="lexicon-icon lexicon-icon-caret-right">
					<use xlink:href="<%- svgIconsPath %>#caret-right" />
				</svg>
			</span>
			<span class="collapse-icon-open">
				<svg aria-hidden="true" class="lexicon-icon lexicon-icon-caret-bottom">
					<use xlink:href="<%- svgIconsPath %>#caret-bottom" />
				</svg>
			</span>
		</a>
		<div class="collapse" id="navCollapse03">
			<ul class="nav nav-stacked">
				<li class="nav-item"><a class="nav-link" href="#1">Sitemap</a></li>
				<li class="nav-item"><a class="nav-link" href="#1">Robots</a></li>
			</ul>
		</div>
	</li>
	<li class="nav-item">
		<a aria-controls="navCollapse04" aria-expanded="false" class="collapsed collapse-icon nav-link" data-toggle="collapse" href="#navCollapse04" role="button">
			Advanced
			<span class="collapse-icon-closed">
				<svg aria-hidden="true" class="lexicon-icon lexicon-icon-caret-right">
					<use xlink:href="<%- svgIconsPath %>#caret-right" />
				</svg>
			</span>
			<span class="collapse-icon-open">
				<svg aria-hidden="true" class="lexicon-icon lexicon-icon-caret-bottom">
					<use xlink:href="<%- svgIconsPath %>#caret-bottom" />
				</svg>
			</span>
		</a>
		<div class="collapse" id="navCollapse04">
			<ul class="nav nav-stacked">
				<li class="nav-item"><a class="nav-link" href="#1">Default User Associations</a></li>
				<li class="nav-item"><a class="nav-link" href="#1">Staging</a></li>
				<li class="nav-item"><a class="nav-link" href="#1">Analytics</a></li>
				<li class="nav-item"><a class="nav-link" href="#1">Maps</a></li>
			</ul>
		</div>
	</li>
</ul>

<%- include(partialsPath + 'cpComponentHeader.ejs', { text: 'Nav Nested (Margin)' }) %>
<ul class="nav nav-nested-margins">
	<li class="nav-item">
		<a aria-controls="navCollapse001" aria-expanded="true" class="collapse-icon nav-link" data-toggle="collapse" href="#navCollapse001" role="button">
			Basic Information
			<span class="collapse-icon-closed">
				<svg aria-hidden="true" class="lexicon-icon lexicon-icon-caret-right">
					<use xlink:href="<%- svgIconsPath %>#caret-right" />
				</svg>
			</span>
			<span class="collapse-icon-open">
				<svg aria-hidden="true" class="lexicon-icon lexicon-icon-caret-bottom">
					<use xlink:href="<%- svgIconsPath %>#caret-bottom" />
				</svg>
			</span>
		</a>
		<div class="collapse show" id="navCollapse001">
			<ul class="nav nav-stacked">
				<li class="nav-item"><a class="active nav-link" href="#1">Details</a></li>
				<li class="nav-item"><a class="nav-link" href="#1">Categorization</a></li>
				<li class="nav-item">
					<a aria-controls="navCollapse002" aria-expanded="false" class="collapsed collapse-icon nav-link" data-toggle="collapse" href="#navCollapse002" role="button">
						Documents and Media
						<span class="collapse-icon-closed">
							<svg aria-hidden="true" class="lexicon-icon lexicon-icon-caret-right">
								<use xlink:href="<%- svgIconsPath %>#caret-right" />
							</svg>
						</span>
						<span class="collapse-icon-open">
							<svg aria-hidden="true" class="lexicon-icon lexicon-icon-caret-bottom">
								<use xlink:href="<%- svgIconsPath %>#caret-bottom" />
							</svg>
						</span>
					</a>
					<div class="collapse" id="navCollapse002">
						<ul class="nav nav-stacked">
							<li class="nav-item"><a class="nav-link" href="#1">Details</a></li>
							<li class="nav-item"><a class="nav-link" href="#1">Categorization</a></li>
							<li class="nav-item"><a class="nav-link" href="#1">Documents and Media</a></li>
							<li class="nav-item"><a class="nav-link" href="#1">Site Template</a></li>
						</ul>
					</div>
				</li>
				<li class="nav-item"><a class="nav-link" href="#1">Site Template</a></li>
			</ul>
		</div>
	</li>
	<li class="nav-item">
		<a aria-controls="navCollapse003" aria-expanded="false" class="collapsed collapse-icon nav-link" data-toggle="collapse" href="#navCollapse003" role="button">
			SEO
			<span class="collapse-icon-closed">
				<svg aria-hidden="true" class="lexicon-icon lexicon-icon-caret-right">
					<use xlink:href="<%- svgIconsPath %>#caret-right" />
				</svg>
			</span>
			<span class="collapse-icon-open">
				<svg aria-hidden="true" class="lexicon-icon lexicon-icon-caret-bottom">
					<use xlink:href="<%- svgIconsPath %>#caret-bottom" />
				</svg>
			</span>
		</a>
		<div class="collapse" id="navCollapse003">
			<ul class="nav nav-stacked">
				<li class="nav-item"><a class="nav-link" href="#1">Sitemap</a></li>
				<li class="nav-item"><a class="nav-link" href="#1">Robots</a></li>
			</ul>
		</div>
	</li>
	<li class="nav-item">
		<a aria-controls="navCollapse004" aria-expanded="false" class="collapsed collapse-icon nav-link" data-toggle="collapse" href="#navCollapse004" role="button">
			Advanced
			<span class="collapse-icon-closed">
				<svg aria-hidden="true" class="lexicon-icon lexicon-icon-caret-right">
					<use xlink:href="<%- svgIconsPath %>#caret-right" />
				</svg>
			</span>
			<span class="collapse-icon-open">
				<svg aria-hidden="true" class="lexicon-icon lexicon-icon-caret-bottom">
					<use xlink:href="<%- svgIconsPath %>#caret-bottom" />
				</svg>
			</span>
		</a>
		<div class="collapse" id="navCollapse004">
			<ul class="nav nav-stacked">
				<li class="nav-item"><a class="nav-link" href="#1">Default User Associations</a></li>
				<li class="nav-item"><a class="nav-link" href="#1">Staging</a></li>
				<li class="nav-item"><a class="nav-link" href="#1">Analytics</a></li>
				<li class="nav-item"><a class="nav-link" href="#1">Maps</a></li>
			</ul>
		</div>
	</li>
</ul>

<%- include(partialsPath + 'cpComponentHeader.ejs', { text: 'Nav Unstyled' }) %>
<ul class="nav nav-unstyled">
	<li class="nav-item"><a class="active nav-link" href="#1">Details</a></li>
	<li class="nav-item"><a class="nav-link" href="#1">Categorization</a></li>
	<li class="nav-item"><a class="disabled nav-link" href="#1">Documents and Media</a></li>
	<li class="nav-item"><a class="nav-link" href="#1">Site Template</a></li>
</ul>
<ul class="nav">
	<li class="nav-item"><a class="active nav-link" href="#1">Basic Information</a></li>
	<li class="nav-item">
		<button class="btn btn-unstyled nav-link" type="button">Details</button>
	</li>
	<li class="nav-item">
		<button class="btn btn-primary nav-btn" type="button">Details</button>
	</li>
	<li class="nav-item">
		<button class="btn btn-link nav-btn" type="button">
			Details
		</button>
	</li>
	<li class="nav-item">
		<button class="btn btn-primary nav-btn nav-btn-monospaced" type="button">De</button>
	</li>
	<li class="nav-item"><a class="disabled nav-link" href="#1">Categorization</a></li>
	<li class="dropdown nav-item">
		<button aria-expanded="false" aria-haspopup="true" class="btn btn-unstyled dropdown-toggle nav-link" data-toggle="dropdown" type="button">
			More
			<svg aria-hidden="true" class="lexicon-icon lexicon-icon-caret-bottom">
				<use xlink:href="<%- svgIconsPath %>#caret-bottom" />
			</svg>
		</button>
		<ul aria-labelledby="" class="dropdown-menu">
			<li><a class="dropdown-item" href="#1">App Section 4</a></li>
			<li><a class="dropdown-item" href="#1">App Section 5</a></li>
			<li><a class="dropdown-item" href="#1">App Section 6</a></li>
			<li><a class="dropdown-item" href="#1">App Section 7</a></li>
		</ul>
	</li>
	<li class="nav-item">
		<a class="nav-link nav-link-monospaced" href="#1">
			<svg aria-hidden="true" class="lexicon-icon lexicon-icon-cog">
				<use xlink:href="<%- svgIconsPath %>#cog" />
			</svg>
		</a>
	</li>
	<li class="nav-item">
		<a class="btn btn-primary nav-btn nav-btn-monospaced" href="#1">
			<svg aria-hidden="true" class="lexicon-icon lexicon-icon-cog">
				<use xlink:href="<%- svgIconsPath %>#cog" />
			</svg>
		</a>
	</li>
	<li class="nav-item">
		<button class="btn btn-unstyled nav-btn nav-btn-monospaced" type="button">
			<svg aria-hidden="true" class="lexicon-icon lexicon-icon-cog">
				<use xlink:href="<%- svgIconsPath %>#cog" />
			</svg>
		</button>
	</li>
</ul>