<h3>Progress</h3>
<div class="cp-example-container-mb-5">
	<div class="progress">
		<div aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" class="progress-bar" role="progressbar" style="width: 25%;">25%</div>
	</div>
</div>
<div class="cp-example-container-mb-5">
	<div class="progress progress-success">
		<div aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-striped" role="progressbar" style="width: 25%;">25%</div>
	</div>
</div>
<div class="cp-example-container-mb-5">
	<div class="progress progress-info">
		<div aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" class="progress-bar" role="progressbar" style="width: 50%;">50%</div>
	</div>
</div>
<div class="cp-example-container-mb-5">
	<div class="progress progress-warning">
		<div aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-animated progress-bar-striped" role="progressbar" style="width: 75%;">75%</div>
	</div>
</div>
<div class="cp-example-container-mb-5">
	<div class="progress progress-danger">
		<div aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" class="progress-bar" role="progressbar" style="width: 100%;">100%</div>
	</div>
</div>

<h3>Progress Group</h3>
<div class="progress-group">
	<div class="progress">
		<div aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" class="progress-bar" role="progressbar" style="width: 30%;"></div>
	</div>
	<div class="progress-group-addon">30%</div>
</div>
<div class="progress-group progress-warning">
	<div class="progress">
		<div aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" class="progress-bar" role="progressbar" style="width: 70%;"></div>
	</div>
	<div class="progress-group-addon">70%</div>
</div>
<div class="progress-group progress-success">
	<div class="progress">
		<div aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" class="progress-bar" role="progressbar" style="width: 100%;"></div>
	</div>
	<div class="progress-group-addon">
		<div class="progress-group-feedback">
			<svg aria-hidden="true" class="lexicon-icon lexicon-icon-check-circle">
				<use xlink:href="<%- svgIconsPath %>#check-circle" />
			</svg>
		</div>
	</div>
</div>
<div class="progress-group progress-info">
	<div class="progress">
		<div aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" class="progress-bar" role="progressbar" style="width: 100%;"></div>
	</div>
	<div class="progress-group-addon">
		<div class="progress-group-feedback">
			<svg aria-hidden="true" class="lexicon-icon lexicon-icon-info-circle-open">
				<use xlink:href="<%- svgIconsPath %>#info-circle-open" />
			</svg>
		</div>
	</div>
</div>
<div class="progress-danger progress-group">
	<div class="progress">
		<div aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" class="progress-bar" role="progressbar" style="width: 100%;"></div>
	</div>
	<div class="progress-group-addon">
		<div class="progress-group-feedback">
			<svg aria-hidden="true" class="lexicon-icon lexicon-icon-times-circle">
				<use xlink:href="<%- svgIconsPath %>#times-circle" />
			</svg>
		</div>
	</div>
</div>

<div class="progress-group">
	<div class="progress-group-addon">
		<div class="progress-group-feedback">
			<svg aria-hidden="true" class="lexicon-icon lexicon-icon-check-circle">
				<use xlink:href="<%- svgIconsPath %>#check-circle" />
			</svg>
		</div>
	</div>
	<div class="progress">
		<div aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" class="progress-bar" role="progressbar" style="width: 100%;"></div>
	</div>
</div>

<h3>Progress Group Stacked</h3>
<div class="progress-group progress-group-stacked">
	<div class="progress-group-addon">60% Completed</div>
	<div class="progress">
		<div aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" class="progress-bar" role="progressbar" style="width: 60%;"></div>
	</div>
	<div class="progress-group-addon">
		<svg aria-hidden="true" class="lexicon-icon lexicon-icon-cog">
			<use xlink:href="<%- svgIconsPath %>#cog" />
		</svg>
	</div>
</div>
<div class="progress-group progress-group-stacked">
	<div class="progress">
		<div aria-valuenow="34" aria-valuemin="0" aria-valuemax="100" class="progress-bar" role="progressbar" style="width: 34%;"></div>
	</div>
	<div class="autofit-row">
		<div class="autofit-col autofit-col-expand">
			<div class="component-subtitle">Size: 156.6 MB</div>
		</div>
		<div class="autofit-col">
			<div class="component-subtitle">34%</div>
		</div>
	</div>
</div>

<h3>Progress Lg</h3>
<div class="cp-example-container-mb-5">
	<div class="progress progress-lg">
		<div aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" class="progress-bar" role="progressbar" style="width: 45%;">45%</div>
	</div>
</div>
<div class="cp-example-container-mb-5">
	<div class="progress-group progress-lg">
		<div class="progress">
			<div aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" class="progress-bar" role="progressbar" style="width: 60%;"></div>
		</div>
		<div class="progress-group-addon">60%</div>
	</div>
</div>