<h4 class="cp-variables-form-header">Grid</h4>
<%- printInputs([
	{ id: 'grid-gutter-width', },
	{ id: 'grid-columns', },
]) %>

<h4 class="cp-variables-form-header">Grid Breakpoints</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="grid-breakpoints" name="clay[grid-breakpoints]" type="hidden">
	</div>
	<%-
		printInputs([
			{ id: 'grid-breakpoints-xs', tooltip: 'If modified: This value must be 0, values must be in ascending order, and a value must be entered for each grid-breakpoint.', },
			{ id: 'grid-breakpoints-sm', },
			{ id: 'grid-breakpoints-md', },
			{ id: 'grid-breakpoints-lg', },
			{ id: 'grid-breakpoints-xl', },
		]);
	%>
</div>

<h4 class="cp-variables-form-header">Container Max Widths</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="container-max-widths" name="clay[container-max-widths]" type="hidden">
	</div>
	<%-
		printInputs([
			{ id: 'container-max-widths-sm', tooltip: 'If modified: Values must be in ascending order and a value must be entered for each container-max-width.', },
			{ id: 'container-max-widths-md', },
			{ id: 'container-max-widths-lg', },
			{ id: 'container-max-widths-xl', },
		]);
	%>
</div>

<h4 class="cp-variables-form-header">Container Form Lg</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="container-form-lg" name="clay[container-form-lg]" type="hidden">
	</div>
<%-
	printInputs([
		{ id: 'container-form-lg-enabled', },
		{ id: 'container-form-lg-padding-top', },
		{ id: 'container-form-lg-padding-right', },
		{ id: 'container-form-lg-padding-bottom', },
		{ id: 'container-form-lg-padding-left', },
		{ id: 'container-form-lg-padding-top-mobile', },
		{ id: 'container-form-lg-padding-right-mobile', },
		{ id: 'container-form-lg-padding-bottom-mobile', },
		{ id: 'container-form-lg-padding-left-mobile', },
	]);
%>
</div>

<h4 class="cp-variables-form-header">Container View</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="container-view" name="clay[container-view]" type="hidden">
	</div>
	<%-
		printInputs([
			{ id: 'container-view-enabled', },
			{ id: 'container-view-breakpoint-up', },
			{ id: 'container-view-padding-top', },
			{ id: 'container-view-padding-right', },
			{ id: 'container-view-padding-bottom', },
			{ id: 'container-view-padding-left', },
			{ id: 'container-view-padding-top-mobile', },
			{ id: 'container-view-padding-right-mobile', },
			{ id: 'container-view-padding-bottom-mobile', },
			{ id: 'container-view-padding-left-mobile', },
		]);
	%>
</div>