<%- include(partialsPath + 'cpComponentHeader.ejs', { text: 'Collapse Icon in Nav' }) %>
<div class="cp-example-nav-stacked-container">
	<ul class="nav nav-nested">
		<li class="nav-item">
			<a aria-controls="navCollapse01" aria-expanded="true" class="collapse-icon nav-link" data-toggle="collapse" href="#navCollapse01" role="button">
				Basic Information
				<span class="collapse-icon-closed">
					<svg aria-hidden="true" class="lexicon-icon lexicon-icon-caret-right">
						<use xlink:href="<%- svgIconsPath %>#caret-right" />
					</svg>
				</span>
				<span class="collapse-icon-open">
					<svg aria-hidden="true" class="lexicon-icon lexicon-icon-caret-bottom">
						<use xlink:href="<%- svgIconsPath %>#caret-bottom" />
					</svg>
				</span>
			</a>
			<div class="collapse show" id="navCollapse01">
				<ul class="nav nav-stacked">
					<li class="nav-item"><a class="active nav-link" href="#1">Details</a></li>
					<li class="nav-item"><a class="nav-link" href="#1">Categorization</a></li>
					<li class="nav-item">
						<a aria-controls="navCollapse02" aria-expanded="false" class="collapsed collapse-icon nav-link" data-toggle="collapse" href="#navCollapse02" role="button">
							Documents and Media
							<span class="collapse-icon-closed">
								<svg aria-hidden="true" class="lexicon-icon lexicon-icon-caret-right">
									<use xlink:href="<%- svgIconsPath %>#caret-right" />
								</svg>
							</span>
							<span class="collapse-icon-open">
								<svg aria-hidden="true" class="lexicon-icon lexicon-icon-caret-bottom">
									<use xlink:href="<%- svgIconsPath %>#caret-bottom" />
								</svg>
							</span>
						</a>
						<div class="collapse" id="navCollapse02">
							<ul class="nav nav-stacked">
								<li class="nav-item"><a class="nav-link" href="#1">Details</a></li>
								<li class="nav-item"><a class="nav-link" href="#1">Categorization</a></li>
								<li class="nav-item"><a class="nav-link" href="#1">Documents and Media</a></li>
								<li class="nav-item"><a class="nav-link" href="#1">Site Template</a></li>
							</ul>
						</div>
					</li>
					<li class="nav-item"><a class="nav-link" href="#1">Site Template</a></li>
				</ul>
			</div>
		</li>
		<li class="nav-item">
			<a aria-controls="navCollapse03" aria-expanded="false" class="collapsed collapse-icon nav-link" data-toggle="collapse" href="#navCollapse03" role="button">
				SEO
				<span class="collapse-icon-closed">
					<svg aria-hidden="true" class="lexicon-icon lexicon-icon-caret-right">
						<use xlink:href="<%- svgIconsPath %>#caret-right" />
					</svg>
				</span>
				<span class="collapse-icon-open">
					<svg aria-hidden="true" class="lexicon-icon lexicon-icon-caret-bottom">
						<use xlink:href="<%- svgIconsPath %>#caret-bottom" />
					</svg>
				</span>
			</a>
			<div class="collapse" id="navCollapse03">
				<ul class="nav nav-stacked">
					<li class="nav-item"><a class="nav-link" href="#1">Sitemap</a></li>
					<li class="nav-item"><a class="nav-link" href="#1">Robots</a></li>
				</ul>
			</div>
		</li>
		<li class="nav-item">
			<a aria-controls="navCollapse04" aria-expanded="false" class="collapsed collapse-icon nav-link" data-toggle="collapse" href="#navCollapse04" role="button">
				Advanced
				<span class="collapse-icon-closed">
					<svg aria-hidden="true" class="lexicon-icon lexicon-icon-caret-right">
						<use xlink:href="<%- svgIconsPath %>#caret-right" />
					</svg>
				</span>
				<span class="collapse-icon-open">
					<svg aria-hidden="true" class="lexicon-icon lexicon-icon-caret-bottom">
						<use xlink:href="<%- svgIconsPath %>#caret-bottom" />
					</svg>
				</span>
			</a>
			<div class="collapse" id="navCollapse04">
				<ul class="nav nav-stacked">
					<li class="nav-item"><a class="nav-link" href="#1">Default User Associations</a></li>
					<li class="nav-item"><a class="nav-link" href="#1">Staging</a></li>
					<li class="nav-item"><a class="nav-link" href="#1">Analytics</a></li>
					<li class="nav-item"><a class="nav-link" href="#1">Maps</a></li>
				</ul>
			</div>
		</li>
	</ul>
</div>

<%- include(partialsPath + 'cpComponentHeader.ejs', { text: 'Collapse Icon in Panel Group' }) %>
<div aria-orientation="vertical" class="panel-group" id="accordion03" role="tablist">
	<div class="panel panel-secondary">
		<a aria-controls="collapseTwo" aria-expanded="false" class="collapse-icon collapsed panel-header panel-header-link" data-parent="#accordion03" data-toggle="collapse" href="#accordion03CollapseTwo" id="accordion03HeadingTwo" role="tab">
			<span class="panel-title">ReallySuperInsanelyJustIncrediblyLongAndTotallyNotPossibleWordButWeAreReallyTryingToCoverAllOurBasesHereJustInCaseSomeoneIsNutsAsPerUsual</span>
			<span class="collapse-icon-closed">
				<svg aria-hidden="true" class="lexicon-icon lexicon-icon-angle-right">
					<use xlink:href="<%- svgIconsPath %>#angle-right" />
				</svg>
			</span>
			<span class="collapse-icon-open">
				<svg aria-hidden="true" class="lexicon-icon lexicon-icon-angle-down">
					<use xlink:href="<%- svgIconsPath %>#angle-down" />
				</svg>
			</span>
		</a>
		<div aria-labelledby="accordion03HeadingTwo" class="panel-collapse collapse" id="accordion03CollapseTwo" role="tabpanel">
			<div class="panel-body">
				Flavour filter fair trade kopi-luwak robusta viennese, trifecta grinder, grounds lungo beans, half and half cup steamed cappuccino cinnamon. Percolator, extra, strong, breve, french press to go aromatic half and half aroma barista caramelization ut froth breve spoon redeye to go skinny rich skinny spoon. As turkish est filter foam con panna, cinnamon, aroma grounds cup whipped cultivar extra. Latte bar crema cultivar espresso pumpkin spice viennese, body viennese milk variety dripper, spoon, blue mountain robusta cultivar et spoon. Macchiato id eu brewed, and mazagran cinnamon so wings, doppio mocha froth blue mountain froth half and half iced to go whipped single shot.
			</div>
		</div>
	</div>
	<div class="panel panel-secondary">
		<a aria-controls="accordion03CollapseOne" class="collapse-icon collapsed panel-header panel-header-link" data-toggle="collapse" data-parent="#accordion03" href="#accordion03CollapseOne" id="accordion03HeadingOne" role="tab">
			<span class="panel-title">Collapsible Group Item #2 (Flavour to go strong steamed mazagran trifecta decaffeinated percolator crema, aged americano rich chicory frappuccino foam white.)</span>
			<span class="collapse-icon-closed">
				<svg aria-hidden="true" class="lexicon-icon lexicon-icon-angle-right">
					<use xlink:href="<%- svgIconsPath %>#angle-right" />
				</svg>
			</span>
			<span class="collapse-icon-open">
				<svg aria-hidden="true" class="lexicon-icon lexicon-icon-angle-down">
					<use xlink:href="<%- svgIconsPath %>#angle-down" />
				</svg>
			</span>
		</a>
		<div aria-labelledby="accordion03HeadingOne" class="panel-collapse collapse" id="accordion03CollapseOne" role="tabpanel">
			<div class="panel-body">
				In organic dripper so, body, robust medium pumpkin spice cup, in aged dripper latte extra cup white. And viennese redeye carajillo, beans, mug viennese, carajillo id breve decaffeinated americano crema chicory whipped arabica variety aged robusta. Affogato lungo eu, cultivar at, aged breve and blue mountain roast breve americano aged. Sugar acerbic sweet variety aged café au lait chicory, java, single shot percolator aromatic brewed wings, a, sugar, body, aftertaste organic barista espresso dripper to go. Flavour to go strong steamed mazagran trifecta decaffeinated percolator crema, aged americano rich chicory frappuccino foam white.
			</div>
		</div>
	</div>
	<div class="panel panel-secondary">
		<a aria-controls="collapseThree" aria-expanded="false" class="collapse-icon collapsed panel-header panel-header-link" data-parent="#accordion03" data-toggle="collapse" href="#accordion03CollapseThree" id="accordion03HeadingThree" role="tab">
			<span class="panel-title">Collapsible Group Item #3</span>
			<span class="collapse-icon-closed">
				<svg aria-hidden="true" class="lexicon-icon lexicon-icon-angle-right">
					<use xlink:href="<%- svgIconsPath %>#angle-right" />
				</svg>
			</span>
			<span class="collapse-icon-open">
				<svg aria-hidden="true" class="lexicon-icon lexicon-icon-angle-down">
					<use xlink:href="<%- svgIconsPath %>#angle-down" />
				</svg>
			</span>
		</a>
		<div aria-labelledby="accordion03HeadingThree" class="panel-collapse collapse" id="accordion03CollapseThree" role="tabpanel">
			<div class="panel-body">
				Flavour filter fair trade kopi-luwak robusta viennese, trifecta grinder, grounds lungo beans, half and half cup steamed cappuccino cinnamon. Percolator, extra, strong, breve, french press to go aromatic half and half aroma barista caramelization ut froth breve spoon redeye to go skinny rich skinny spoon. As turkish est filter foam con panna, cinnamon, aroma grounds cup whipped cultivar extra. Latte bar crema cultivar espresso pumpkin spice viennese, body viennese milk variety dripper, spoon, blue mountain robusta cultivar et spoon. Macchiato id eu brewed, and mazagran cinnamon so wings, doppio mocha froth blue mountain froth half and half iced to go whipped single shot.
			</div>
		</div>
	</div>
	<div class="panel panel-secondary">
		<a aria-controls="accordion03CollapseFour" aria-expanded="false" class="collapse-icon collapsed panel-header panel-header-link" data-toggle="collapse" data-parent="#accordion03" href="#accordion03CollapseFour" id="accordion03HeadingFour" role="tab">
			<span class="panel-title">Collapsible Group Item #4</span>
			<span class="collapse-icon-closed">
				<svg aria-hidden="true" class="lexicon-icon lexicon-icon-angle-right">
					<use xlink:href="<%- svgIconsPath %>#angle-right" />
				</svg>
			</span>
			<span class="collapse-icon-open">
				<svg aria-hidden="true" class="lexicon-icon lexicon-icon-angle-down">
					<use xlink:href="<%- svgIconsPath %>#angle-down" />
				</svg>
			</span>
		</a>
		<div aria-labelledby="accordion03HeadingFour" class="panel-collapse collapse" id="accordion03CollapseFour" role="tabpanel">
			<div class="panel-body">
				Eu ristretto ut sugar rich saucer milk aftertaste, froth dark, cultivar blue mountain as coffee cappuccino. Saucer grounds mocha, aroma, half and half coffee eu robusta roast, doppio skinny galão, extraction, frappuccino aromatic breve crema frappuccino aroma. Froth half and half so java, grounds half and half, macchiato at est sugar mug redeye, strong, cream seasonal qui doppio robusta. Wings, at, cup dark, a, breve french press decaffeinated acerbic, black extra, and, saucer barista rich seasonal barista blue mountain. Roast mazagran a and id mug in est trifecta pumpkin spice coffee and mug trifecta, ut breve, mug frappuccino mug, breve mocha qui aged aftertaste.
			</div>
		</div>
	</div>
	<div class="panel panel-secondary">
		<a aria-controls="accordion03CollapseFive" aria-expanded="false" class="collapse-icon collapsed panel-header panel-header-link" data-toggle="collapse" data-parent="#accordion03" href="#accordion03CollapseFive" id="accordion03HeadingFive" role="tab">
			<span class="panel-title">Collapsible Group Item #5</span>
			<span class="collapse-icon-closed">
				<svg aria-hidden="true" class="lexicon-icon lexicon-icon-angle-right">
					<use xlink:href="<%- svgIconsPath %>#angle-right" />
				</svg>
			</span>
			<span class="collapse-icon-open">
				<svg aria-hidden="true" class="lexicon-icon lexicon-icon-angle-down">
					<use xlink:href="<%- svgIconsPath %>#angle-down" />
				</svg>
			</span>
		</a>
		<div aria-labelledby="accordion03HeadingFive" class="panel-collapse collapse" id="accordion03CollapseFive" role="tabpanel">
			<div class="panel-body">
				In organic dripper so, body, robust medium pumpkin spice cup, in aged dripper latte extra cup white. And viennese redeye carajillo, beans, mug viennese, carajillo id breve decaffeinated americano crema chicory whipped arabica variety aged robusta. Affogato lungo eu, cultivar at, aged breve and blue mountain roast breve americano aged. Sugar acerbic sweet variety aged café au lait chicory, java, single shot percolator aromatic brewed wings, a, sugar, body, aftertaste organic barista espresso dripper to go. Flavour to go strong steamed mazagran trifecta decaffeinated percolator crema, aged americano rich chicory frappuccino foam white.
			</div>
		</div>
	</div>
	<div class="panel panel-secondary">
		<a aria-controls="accordion03CollapseSix" aria-expanded="false" class="collapse-icon collapsed panel-header panel-header-link" data-toggle="collapse" data-parent="#accordion03" href="#accordion03CollapseSix" id="accordion03HeadingSix" role="tab">
			<span class="panel-title">Collapsible Group Item #6</span>
			<span class="collapse-icon-closed">
				<svg aria-hidden="true" class="lexicon-icon lexicon-icon-angle-right">
					<use xlink:href="<%- svgIconsPath %>#angle-right" />
				</svg>
			</span>
			<span class="collapse-icon-open">
				<svg aria-hidden="true" class="lexicon-icon lexicon-icon-angle-down">
					<use xlink:href="<%- svgIconsPath %>#angle-down" />
				</svg>
			</span>
		</a>
		<div aria-labelledby="accordion03HeadingSix" class="panel-collapse collapse" id="accordion03CollapseSix" role="tabpanel">
			<div class="panel-body">
				In organic dripper so, body, robust medium pumpkin spice cup, in aged dripper latte extra cup white. And viennese redeye carajillo, beans, mug viennese, carajillo id breve decaffeinated americano crema chicory whipped arabica variety aged robusta. Affogato lungo eu, cultivar at, aged breve and blue mountain roast breve americano aged. Sugar acerbic sweet variety aged café au lait chicory, java, single shot percolator aromatic brewed wings, a, sugar, body, aftertaste organic barista espresso dripper to go. Flavour to go strong steamed mazagran trifecta decaffeinated percolator crema, aged americano rich chicory frappuccino foam white.
			</div>
		</div>
	</div>
</div>

<%- include(partialsPath + 'cpComponentHeader.ejs', { text: 'Collapse Icon in Panel Group Flush' }) %>
<div class="sheet">
	<div aria-orientation="vertical" class="panel-group panel-group-flush" role="tablist">
		<div class="panel">
			<a aria-controls="accordion04CollapseTwo" class="collapse-icon collapsed sheet-subtitle" data-toggle="collapse" href="#accordion04CollapseTwo" id="accordion04HeadingTwo" role="tab">
				<span>Password</span>
				<span class="collapse-icon-closed">
					<svg aria-hidden="true" class="lexicon-icon lexicon-icon-angle-right">
						<use xlink:href="<%- svgIconsPath %>#angle-right" />
					</svg>
				</span>
				<span class="collapse-icon-open">
					<svg aria-hidden="true" class="lexicon-icon lexicon-icon-angle-down">
						<use xlink:href="<%- svgIconsPath %>#angle-down" />
					</svg>
				</span>
			</a>
			<div aria-labelledby="accordion04HeadingTwo" class="panel-collapse collapse" id="accordion04CollapseTwo" role="tabpanel">
				<div class="panel-body">
					<div class="form-group">
						<label>
							Current Password
							<span class="reference-mark">
								<svg aria-hidden="true" class="lexicon-icon lexicon-icon-asterisk">
									<use xlink:href="<%- svgIconsPath %>#asterisk" />
								</svg>
							</span>
						</label>
						<input class="form-control" placeholder="Current Password" type="password" value="my-secret">
					</div>
					<div class="form-group">
						<label>
							New Password
							<span class="reference-mark">
								<svg aria-hidden="true" class="lexicon-icon lexicon-icon-asterisk">
									<use xlink:href="<%- svgIconsPath %>#asterisk" />
								</svg>
							</span>
						</label>
						<input class="form-control" placeholder="New Password" type="password" value="my-new-secret">
					</div>
					<div class="form-group">
						<label>
							Confirm New Password
							<span class="reference-mark">
								<svg aria-hidden="true" class="lexicon-icon lexicon-icon-asterisk">
									<use xlink:href="<%- svgIconsPath %>#asterisk" />
								</svg>
							</span>
						</label>
						<input class="form-control" placeholder="Confirm New Password" type="password" value="my-new-secret">
					</div>
				</div>
			</div>
		</div>
		<div class="panel">
			<a aria-controls="accordion04CollapseOne" aria-expanded="false" class="collapse-icon collapsed sheet-subtitle" data-toggle="collapse" href="#accordion04CollapseOne" id="accordion04HeadingOne" role="tab">
				<span>Organizations</span>
				<span class="collapse-icon-closed">
					<svg aria-hidden="true" class="lexicon-icon lexicon-icon-angle-right">
						<use xlink:href="<%- svgIconsPath %>#angle-right" />
					</svg>
				</span>
				<span class="collapse-icon-open">
					<svg aria-hidden="true" class="lexicon-icon lexicon-icon-angle-down">
						<use xlink:href="<%- svgIconsPath %>#angle-down" />
					</svg>
				</span>
			</a>
			<div aria-labelledby="accordion04HeadingOne" class="panel-collapse collapse" id="accordion04CollapseOne" role="tabpanel">
				<div class="panel-body">
					In organic dripper so, body, robust medium pumpkin spice cup, in aged dripper latte extra cup white. And viennese redeye carajillo, beans, mug viennese, carajillo id breve decaffeinated americano crema chicory whipped arabica variety aged robusta. Affogato lungo eu, cultivar at, aged breve and blue mountain roast breve americano aged. Sugar acerbic sweet variety aged café au lait chicory, java, single shot percolator aromatic brewed wings, a, sugar, body, aftertaste organic barista espresso dripper to go. Flavour to go strong steamed mazagran trifecta decaffeinated percolator crema, aged americano rich chicory frappuccino foam white.
				</div>
			</div>
		</div>
		<div class="panel">
			<a aria-controls="accordion04CollapseThree" aria-expanded="false" class="collapse-icon collapsed sheet-subtitle" data-toggle="collapse" href="#accordion04CollapseThree" id="accordion04HeadingThree" role="tab">
				<span>ReallySuperInsanelyJustIncrediblyLongAndTotallyNotPossibleWordButWeAreReallyTryingToCoverAllOurBasesHereJustInCaseSomeoneIsNutsAsPerUsual User Groups</span>
				<span class="collapse-icon-closed">
					<svg aria-hidden="true" class="lexicon-icon lexicon-icon-angle-right">
						<use xlink:href="<%- svgIconsPath %>#angle-right" />
					</svg>
				</span>
				<span class="collapse-icon-open">
					<svg aria-hidden="true" class="lexicon-icon lexicon-icon-angle-down">
						<use xlink:href="<%- svgIconsPath %>#angle-down" />
					</svg>
				</span>
			</a>
			<div aria-labelledby="accordion04HeadingThree" class="panel-collapse collapse" id="accordion04CollapseThree" role="tabpanel">
				<div class="panel-body">
					Flavour filter fair trade kopi-luwak robusta viennese, trifecta grinder, grounds lungo beans, half and half cup steamed cappuccino cinnamon. Percolator, extra, strong, breve, french press to go aromatic half and half aroma barista caramelization ut froth breve spoon redeye to go skinny rich skinny spoon. As turkish est filter foam con panna, cinnamon, aroma grounds cup whipped cultivar extra. Latte bar crema cultivar espresso pumpkin spice viennese, body viennese milk variety dripper, spoon, blue mountain robusta cultivar et spoon. Macchiato id eu brewed, and mazagran cinnamon so wings, doppio mocha froth blue mountain froth half and half iced to go whipped single shot.
				</div>
			</div>
		</div>
		<div class="panel">
			<a aria-controls="accordion04CollapseFour" aria-expanded="false" class="collapse-icon collapsed sheet-subtitle" data-toggle="collapse" href="#accordion04CollapseFour" id="accordion04HeadingFour" role="tab">
				<span>Roles</span>
				<span class="collapse-icon-closed">
					<svg aria-hidden="true" class="lexicon-icon lexicon-icon-angle-right">
						<use xlink:href="<%- svgIconsPath %>#angle-right" />
					</svg>
				</span>
				<span class="collapse-icon-open">
					<svg aria-hidden="true" class="lexicon-icon lexicon-icon-angle-down">
						<use xlink:href="<%- svgIconsPath %>#angle-down" />
					</svg>
				</span>
			</a>
			<div aria-labelledby="accordion04HeadingFour" class="panel-collapse collapse" id="accordion04CollapseFour" role="tabpanel">
				<div class="panel-body">
					Eu ristretto ut sugar rich saucer milk aftertaste, froth dark, cultivar blue mountain as coffee cappuccino. Saucer grounds mocha, aroma, half and half coffee eu robusta roast, doppio skinny galão, extraction, frappuccino aromatic breve crema frappuccino aroma. Froth half and half so java, grounds half and half, macchiato at est sugar mug redeye, strong, cream seasonal qui doppio robusta. Wings, at, cup dark, a, breve french press decaffeinated acerbic, black extra, and, saucer barista rich seasonal barista blue mountain. Roast mazagran a and id mug in est trifecta pumpkin spice coffee and mug trifecta, ut breve, mug frappuccino mug, breve mocha qui aged aftertaste.
				</div>
			</div>
		</div>
	</div>
</div>

<%- include(partialsPath + 'cpComponentHeader.ejs', { text: 'Order Arrow Up Active' }) %>
<button class="btn btn-unstyled btn-monospaced btn-sm order-arrow-up-active" type="button">
	<svg aria-hidden="true" class="lexicon-icon lexicon-icon-order-arrow">
		<use xlink:href="<%- svgIconsPath %>#order-arrow" />
	</svg>
</button>

<%- include(partialsPath + 'cpComponentHeader.ejs', { text: 'Order Arrow Down Active' }) %>
<button class="btn btn-unstyled btn-monospaced btn-sm order-arrow-down-active" type="button">
	<svg aria-hidden="true" class="lexicon-icon lexicon-icon-order-arrow">
		<use xlink:href="<%- svgIconsPath %>#order-arrow" />
	</svg>
</button>

<%- include(partialsPath + 'cpComponentHeader.ejs', { text: 'Lexicon Icons' }) %>
<div id="cpLexiconIcons"></div>

<%- include(partialsPath + 'cpComponentHeader.ejs', { text: 'Lexicon Flag Icons' }) %>
<div id="cpLexiconFlagIcons"></div> 

<script>
	var cpLexiconIconsArr = ['add-cell', 'add-column', 'add-role', 'add-row', 'adjust', 'align-center', 'align-image-center', 'align-image-left', 'align-image-right', 'align-justify', 'align-left', 'align-right', 'analytics', 'angle-down', 'angle-left', 'angle-right', 'angle-up', 'announcement', 'anonymize', 'api-lock', 'api-web', 'archive', 'arrow-up-full', 'asterisk', 'audio', 'autosize', 'bars', 'bell-off', 'bell-on', 'blogs', 'bold', 'bookmarks', 'box-container', 'breadcrumb', 'calendar', 'camera', 'cards', 'cards2', 'caret-bottom-l', 'caret-bottom', 'caret-double-l', 'caret-double', 'caret-left-l', 'caret-left', 'caret-right-l', 'caret-right', 'caret-top-l', 'caret-top', 'categories', 'chain-broken', 'change', 'check-circle-full', 'check-circle', 'check-square', 'check', 'chip', 'code', 'cog', 'columns', 'comments', 'community', 'compress', 'control-panel', 'custom-field', 'custom-size', 'cut', 'date', 'decimal', 'desktop', 'devices', 'diagram', 'diary', 'document-code', 'document-compressed', 'document-default', 'document-image', 'document-multimedia', 'document-pdf', 'document-presentation', 'document-table', 'document-text', 'document-vector', 'document', 'documents-and-media', 'download', 'drag', 'dynamic-data-list', 'dynamic-data-mapping', 'edit-layout', 'effects', 'ellipsis-h', 'ellipsis-v', 'embed', 'envelope-closed', 'envelope-open', 'environment-connected', 'environment-disconnected', 'environment', 'exclamation-circle', 'exclamation-full', 'expand', 'file-script', 'file-template', 'file-xsl', 'filter', 'flag-empty', 'flag-full', 'folder', 'format', 'forms', 'full-size', 'geolocation', 'globe', 'grid', 'h1', 'h2', 'hashtag', 'heart', 'hidden', 'home', 'horizontal-scroll', 'hr', 'import-export', 'indent-less', 'indent-more', 'info-book', 'info-circle-open', 'info-circle', 'info-panel-closed', 'info-panel-open', 'information-live', 'integer', 'italic', 'link', 'list-ol', 'list-ul', 'list', 'live', 'lock-dots', 'lock', 'logout', 'magic', 'mark-as-answer', 'mark-as-question', 'merge', 'message-boards', 'message', 'mobile-device-rules', 'mobile-landscape', 'mobile-portrait', 'moon', 'move', 'myspace', 'number', 'oauth', 'open-id', 'order-arrow-down', 'order-arrow-up', 'order-arrow', 'organizations', 'page-template', 'page', 'pages-tree', 'paperclip', 'paragraph', 'password-policies', 'paste', 'pause', 'pencil', 'phone', 'picture', 'play', 'plug', 'plus-squares', 'plus', 'polls', 'print', 'product-menu-closed', 'product-menu-open', 'product-menu', 'propagation', 'question-circle-full', 'question-circle', 'quote-left', 'quote-right', 'radio-button', 'redo', 'reload', 'remove-role', 'remove-style', 'reply', 'repository', 'restore', 'rss-full', 'rss', 'rules', 'search', 'select-from-list', 'select', 'separator', 'share-alt', 'share', 'sheets', 'shopping-cart', 'shortcut', 'simulation-menu-closed', 'simulation-menu-open', 'simulation-menu', 'site-template', 'sites', 'social-facebook', 'social-linkedin', 'staging', 'star-half', 'star-o', 'star', 'sticky', 'strikethrough', 'subscript', 'suitcase', 'sun', 'superscript', 'table', 'table2', 'tablet-landscape', 'tablet-portrait', 'tag', 'text-editor', 'text', 'textbox', 'third-party', 'thumbs-down', 'thumbs-up-arrow', 'thumbs-up', 'time', 'times-circle', 'times', 'transform', 'trash', 'twitter', 'underline', 'undo', 'unlock', 'upload', 'urgent', 'user', 'users', 'vertical-scroll', 'video', 'view', 'vocabulary', 'warning-full', 'warning', 'web-content', 'wiki-page', 'wiki', 'workflow',];

	for (var i = 0; i < cpLexiconIconsArr.length; i++) {
		var ICON_TPL = '<div class="cp-example-lexicon-icon-item"><div><svg aria-hidden="true" class="lexicon-icon lexicon-icon-' + cpLexiconIconsArr[i] + '"><use xlink:href="<%- svgIconsPath %>#' + cpLexiconIconsArr[i] + '" /></svg></div><div class="cp-example-lexicon-icon-item-text">' + cpLexiconIconsArr[i] + '</div></div>';

		$('#cpLexiconIcons').append(ICON_TPL);
	}

	var cpLexiconFlagIconsArr = ['ar-sa', 'bg-bg', 'ca-ad', 'ca-es', 'cs-cz', 'da-dk', 'de-de', 'el-gr', 'en-au', 'en-gb', 'en-us', 'es-es', 'et-ee', 'eu-es', 'fa-ir', 'fi-fi', 'fr-ca', 'fr-fr', 'gl-es', 'hi-in', 'hr-hr', 'hu-hu', 'in-id', 'it-it', 'iw-il', 'ja-jp', 'ko-kr', 'lo-la', 'lt-lt', 'nb-no', 'nl-be', 'nl-nl', 'pl-pl', 'pt-br', 'pt-pt', 'ro-ro', 'ru-ru', 'sk-sk', 'sl-si', 'sr-rs-latin', 'sr-rs', 'sv-se', 'th-th', 'tr-tr', 'uk-ua', 'vi-vn', 'zh-cn', 'zh-tw',];

	var cpLexiconFlagIconsLanguageArr = ['(Saudi Arabia)', '(Bulgaria)', '(Andorra)', '(Spain)', '(Czech Republic)', '(Denmark)', '(Germany)', '(Greece)', '(Australia)', '(United Kingdom)', '(United States)', '(Spain)', '(Estonia)', '(Spain)', '(Iran)', '(Finland)', '(Canada)', '(France)', '(Spain)', '(India)', '(Croatia)', '(Hungary)', '(Indonesia)', '(Italy)', '(Israel)', '(Japan)', '(South Korea)', '(Laos)', '(Lithuania)', '(Norway)', '(Belgium)', '(Netherlands)', '(Poland)', '(Brazil)', '(Portugal)', '(Romania)', '(Russia)', '(Slovakia)', '(Slovenia)', '(Latin Serbia)', '(Serbia)', '(Sweden)', '(Thailand)', '(Turkey)', '(Ukraine)', '(Vietnam)', '(China)', '(Taiwan)',];

	var cpLexiconFlagIconsCountryArr = ['Arabic', 'Bulgarian', 'Catalan', 'Catalan', 'Czech', 'Danish', 'German', 'Greek', 'English', 'English', 'English', 'Spanish', 'Estonian', 'Basque', 'Farsi', 'Finnish', 'French', 'French', 'Galician', 'Hindi', 'Croatian', 'Hungarian', 'Indonesian', 'Italian', 'Hebrew', 'Japanese', 'Korean', 'Lao', 'Lithuanian', 'Norwegian Bokmål', 'Dutch', 'Dutch', 'Polish', 'Portuguese', 'Portuguese', 'Romanian', 'Russian', 'Slovak', 'Slovenian', 'Serbian', 'Serbian', 'Swedish', 'Thai', 'Turkish', 'Ukrainian', 'Vietnamese', 'Chinese', 'Chinese',];

	for (var i = 0; i < cpLexiconFlagIconsArr.length; i++) {
		var ICON_TPL = '<div class="cp-example-lexicon-icon-item"><div><svg aria-hidden="true" class="lexicon-icon lexicon-icon-' + cpLexiconFlagIconsArr[i] + '"><use xlink:href="<%- svgIconsPath %>#' + cpLexiconFlagIconsArr[i] + '" /></svg><div><div class="cp-example-lexicon-icon-item-text">' + cpLexiconFlagIconsArr[i] + '</div><span class="cp-flag-language">' + cpLexiconFlagIconsLanguageArr[i] + '</span><br><span class="cp-flag-country">' + cpLexiconFlagIconsCountryArr[i] + '</span></div>';

		$('#cpLexiconFlagIcons').append(ICON_TPL);
	}
</script>