<h3>List Group with Show Quick Actions on Hover</h3>
<ul class="list-group show-quick-actions-on-hover">
	<li class="list-group-item list-group-item-flex">
		<div class="autofit-col">
			<div class="custom-control custom-checkbox">
				<label>
					<input class="custom-control-input" type="checkbox">
					<span class="custom-control-label"></span>
				</label>
			</div>
		</div>
		<div class="autofit-col">
			<div class="sticker sticker-secondary">
				<span class="inline-item">
					<svg aria-hidden="true" class="lexicon-icon lexicon-icon-folder">
						<use xlink:href="<%- svgIconsPath %>#folder" />
					</svg>
				</span>
			</div>
		</div>
		<div class="autofit-col autofit-col-expand">
			<section class="autofit-section">
				<h4 class="list-group-title">
					<a href="#1">Account Example One</a>
				</h4>
				<p class="list-group-text">Second Level Text (list-group-text)</p>
				<p class="list-group-subtext">Third Level (list-group-subtext)</p>
			</section>
		</div>
		<div class="autofit-col">
			<div class="quick-action-menu">
				<a class="component-action quick-action-item" href="#1" role="button">
					<svg aria-hidden="true" class="lexicon-icon lexicon-icon-trash">
						<use xlink:href="<%- svgIconsPath %>#trash" />
					</svg>
				</a>
				<a class="component-action quick-action-item" href="#1" role="button">
					<svg aria-hidden="true" class="lexicon-icon lexicon-icon-download">
						<use xlink:href="<%- svgIconsPath %>#download" />
					</svg>
				</a>
				<a class="component-action quick-action-item" href="#1" role="button">
					<svg aria-hidden="true" class="lexicon-icon lexicon-icon-expand">
						<use xlink:href="<%- svgIconsPath %>#expand" />
					</svg>
				</a>
			</div>
			<div class="dropdown dropdown-action">
				<a aria-expanded="false" aria-haspopup="true" class="component-action dropdown-toggle" data-toggle="dropdown" href="#1" id="dropdownAction1" role="button">
					<svg aria-hidden="true" class="lexicon-icon lexicon-icon-ellipsis-v">
						<use xlink:href="<%- svgIconsPath %>#ellipsis-v" />
					</svg>
				</a>
				<ul aria-labelledby="" class="dropdown-menu dropdown-menu-right">
					<li><a class="dropdown-item" href="#1" role="button">Remove</a></li>
					<li><a class="dropdown-item" href="#1" role="button">Download</a></li>
					<li><a class="dropdown-item" href="#1" role="button">Checkout</a></li>
				</ul>
			</div>
		</div>
	</li>
	<li class="active list-group-item list-group-item-flex">
		<div class="autofit-col">
			<div class="custom-control custom-checkbox">
				<label>
					<input checked class="custom-control-input" type="checkbox">
					<span class="custom-control-label"></span>
				</label>
			</div>
		</div>
		<div class="autofit-col">
			<div class="sticker sticker-secondary">
				<span class="inline-item">
					<svg aria-hidden="true" class="lexicon-icon lexicon-icon-folder">
						<use xlink:href="<%- svgIconsPath %>#folder" />
					</svg>
				</span>
			</div>
		</div>
		<div class="autofit-col autofit-col-expand">
			<section class="autofit-section">
				<h4 class="list-group-title">
					<a href="#1">Account Example Two</a>
				</h4>
				<p class="list-group-subtext">List Group Subtext</p>
			</section>
		</div>
		<div class="autofit-col">
			<div class="quick-action-menu">
				<a class="component-action quick-action-item" href="#1" role="button">
					<svg aria-hidden="true" class="lexicon-icon lexicon-icon-trash">
						<use xlink:href="<%- svgIconsPath %>#trash" />
					</svg>
				</a>
				<a class="component-action quick-action-item" href="#1" role="button">
					<svg aria-hidden="true" class="lexicon-icon lexicon-icon-download">
						<use xlink:href="<%- svgIconsPath %>#download" />
					</svg>
				</a>
				<a class="component-action quick-action-item" href="#1" role="button">
					<svg aria-hidden="true" class="lexicon-icon lexicon-icon-expand">
						<use xlink:href="<%- svgIconsPath %>#expand" />
					</svg>
				</a>
			</div>
			<div class="dropdown dropdown-action">
				<a aria-expanded="false" aria-haspopup="true" class="component-action dropdown-toggle" data-toggle="dropdown" href="#1" id="dropdownAction1" role="button">
					<svg aria-hidden="true" class="lexicon-icon lexicon-icon-ellipsis-v">
						<use xlink:href="<%- svgIconsPath %>#ellipsis-v" />
					</svg>
				</a>
				<ul aria-labelledby="" class="dropdown-menu dropdown-menu-right">
					<li><a class="dropdown-item" href="#1" role="button">Remove</a></li>
					<li><a class="dropdown-item" href="#1" role="button">Download</a></li>
					<li><a class="dropdown-item" href="#1" role="button">Checkout</a></li>
				</ul>
			</div>
		</div>
	</li>
	<li class="list-group-item list-group-item-flex">
		<div class="autofit-col">
			<div class="custom-control custom-checkbox">
				<label>
					<input class="custom-control-input" type="checkbox">
					<span class="custom-control-label"></span>
				</label>
			</div>
		</div>
		<div class="autofit-col">
			<div class="sticker sticker-secondary">
				<span class="inline-item">
					<svg aria-hidden="true" class="lexicon-icon lexicon-icon-folder">
						<use xlink:href="<%- svgIconsPath %>#folder" />
					</svg>
				</span>
			</div>
		</div>
		<div class="autofit-col autofit-col-expand">
			<section class="autofit-section">
				<h4 class="list-group-title">
					<a href="#1">Account Example Three</a>
				</h4>
			</section>
		</div>
		<div class="autofit-col">
			<div class="quick-action-menu">
				<a class="component-action quick-action-item" href="#1" role="button">
					<svg aria-hidden="true" class="lexicon-icon lexicon-icon-trash">
						<use xlink:href="<%- svgIconsPath %>#trash" />
					</svg>
				</a>
				<a class="component-action quick-action-item" href="#1" role="button">
					<svg aria-hidden="true" class="lexicon-icon lexicon-icon-download">
						<use xlink:href="<%- svgIconsPath %>#download" />
					</svg>
				</a>
				<a class="component-action quick-action-item" href="#1" role="button">
					<svg aria-hidden="true" class="lexicon-icon lexicon-icon-expand">
						<use xlink:href="<%- svgIconsPath %>#expand" />
					</svg>
				</a>
			</div>
			<div class="dropdown dropdown-action">
				<a aria-expanded="false" aria-haspopup="true" class="component-action dropdown-toggle" data-toggle="dropdown" href="#1" id="dropdownAction1" role="button">
					<svg aria-hidden="true" class="lexicon-icon lexicon-icon-ellipsis-v">
						<use xlink:href="<%- svgIconsPath %>#ellipsis-v" />
					</svg>
				</a>
				<ul aria-labelledby="" class="dropdown-menu dropdown-menu-right">
					<li><a class="dropdown-item" href="#1" role="button">Remove</a></li>
					<li><a class="dropdown-item" href="#1" role="button">Download</a></li>
					<li><a class="dropdown-item" href="#1" role="button">Checkout</a></li>
				</ul>
			</div>
		</div>
	</li>
</ul>

<h3>List Group Notification with Show Quick Actions on Hover</h3>
<ul class="list-group list-group-notification show-quick-actions-on-hover">
	<li class="list-group-item list-group-item-flex list-group-item-primary">
		<div class="autofit-col">
			<div class="custom-control custom-checkbox">
				<label>
					<input class="custom-control-input" type="checkbox">
					<span class="custom-control-label"></span>
				</label>
			</div>
		</div>
		<div class="autofit-col">
			<div class="sticker sticker-secondary">
				<span class="inline-item">
					<svg aria-hidden="true" class="lexicon-icon lexicon-icon-folder">
						<use xlink:href="<%- svgIconsPath %>#folder" />
					</svg>
				</span>
			</div>
		</div>
		<div class="autofit-col autofit-col-expand">
			<section class="autofit-section">
				<h4 class="list-group-title">
					<a href="#1">Account Example One</a>
				</h4>
				<p class="list-group-subtext">List Group Subtext</p>
			</section>
		</div>
		<div class="autofit-col">
			<div class="quick-action-menu">
				<a class="component-action quick-action-item" href="#1" role="button">
					<svg aria-hidden="true" class="lexicon-icon lexicon-icon-trash">
						<use xlink:href="<%- svgIconsPath %>#trash" />
					</svg>
				</a>
				<a class="component-action quick-action-item" href="#1" role="button">
					<svg aria-hidden="true" class="lexicon-icon lexicon-icon-download">
						<use xlink:href="<%- svgIconsPath %>#download" />
					</svg>
				</a>
				<a class="component-action quick-action-item" href="#1" role="button">
					<svg aria-hidden="true" class="lexicon-icon lexicon-icon-expand">
						<use xlink:href="<%- svgIconsPath %>#expand" />
					</svg>
				</a>
			</div>
			<div class="dropdown dropdown-action">
				<a aria-expanded="false" aria-haspopup="true" class="component-action dropdown-toggle" data-toggle="dropdown" href="#1" id="dropdownAction1" role="button">
					<svg aria-hidden="true" class="lexicon-icon lexicon-icon-ellipsis-v">
						<use xlink:href="<%- svgIconsPath %>#ellipsis-v" />
					</svg>
				</a>
				<ul aria-labelledby="" class="dropdown-menu dropdown-menu-right">
					<li><a class="dropdown-item" href="#1" role="button">Remove</a></li>
					<li><a class="dropdown-item" href="#1" role="button">Download</a></li>
					<li><a class="dropdown-item" href="#1" role="button">Checkout</a></li>
				</ul>
			</div>
		</div>
	</li>
	<li class="list-group-item list-group-item-flex">
		<div class="autofit-col">
			<div class="custom-control custom-checkbox">
				<label>
					<input class="custom-control-input" type="checkbox">
					<span class="custom-control-label"></span>
				</label>
			</div>
		</div>
		<div class="autofit-col">
			<div class="sticker sticker-secondary">
				<span class="inline-item">
					<svg aria-hidden="true" class="lexicon-icon lexicon-icon-folder">
						<use xlink:href="<%- svgIconsPath %>#folder" />
					</svg>
				</span>
			</div>
		</div>
		<div class="autofit-col autofit-col-expand">
			<section class="autofit-section">
				<h4 class="list-group-title">
					<a href="#1">Account Example Two</a>
				</h4>
				<p class="list-group-subtext">List Group Subtext</p>
			</section>
		</div>
		<div class="autofit-col">
			<div class="quick-action-menu">
				<a class="component-action quick-action-item" href="#1" role="button">
					<svg aria-hidden="true" class="lexicon-icon lexicon-icon-trash">
						<use xlink:href="<%- svgIconsPath %>#trash" />
					</svg>
				</a>
				<a class="component-action quick-action-item" href="#1" role="button">
					<svg aria-hidden="true" class="lexicon-icon lexicon-icon-download">
						<use xlink:href="<%- svgIconsPath %>#download" />
					</svg>
				</a>
				<a class="component-action quick-action-item" href="#1" role="button">
					<svg aria-hidden="true" class="lexicon-icon lexicon-icon-expand">
						<use xlink:href="<%- svgIconsPath %>#expand" />
					</svg>
				</a>
			</div>
			<div class="dropdown dropdown-action">
				<a aria-expanded="false" aria-haspopup="true" class="component-action dropdown-toggle" data-toggle="dropdown" href="#1" id="dropdownAction1" role="button">
					<svg aria-hidden="true" class="lexicon-icon lexicon-icon-ellipsis-v">
						<use xlink:href="<%- svgIconsPath %>#ellipsis-v" />
					</svg>
				</a>
				<ul aria-labelledby="" class="dropdown-menu dropdown-menu-right">
					<li><a class="dropdown-item" href="#1" role="button">Remove</a></li>
					<li><a class="dropdown-item" href="#1" role="button">Download</a></li>
					<li><a class="dropdown-item" href="#1" role="button">Checkout</a></li>
				</ul>
			</div>
		</div>
	</li>
</ul>

<h3>List Group Bordered with Show Quick Actions on Hover</h3>
<ul class="list-group list-group-bordered show-quick-actions-on-hover">
	<li class="list-group-item list-group-item-flex">
		<div class="autofit-col">
			<div class="custom-control custom-checkbox">
				<label>
					<input class="custom-control-input" type="checkbox">
					<span class="custom-control-label"></span>
				</label>
			</div>
		</div>
		<div class="autofit-col">
			<div class="sticker sticker-secondary">
				<span class="inline-item">
					<svg aria-hidden="true" class="lexicon-icon lexicon-icon-folder">
						<use xlink:href="<%- svgIconsPath %>#folder" />
					</svg>
				</span>
			</div>
		</div>
		<div class="autofit-col autofit-col-expand">
			<section class="autofit-section">
				<h4 class="list-group-title">
					<span class="text-truncate-inline">
						<a class="text-truncate" href="#1">Text Truncate Example</a>
					</span>
				</h4>
				<p class="list-group-subtitle">.list-group-subtitle</p>
				<p class="list-group-subtitle"><a href="#1">.list-group-subtitle a</a></p>
				<p class="list-group-text">This is an example of .list-group-text and a <a href="#1">link</a>.</p>
				<p class="list-group-text">
					<a class="list-group-text-link" href="#1">a.list-group-text-link</a>
				</p>
				<p class="list-group-text">
					<span class="text-truncate-inline">
						<a class="list-group-text-link text-truncate" href="#1">Truncated a.list-group-text-link</a> and another <a href="#1">link</a>
					</span>
				</p>
				<p class="list-group-subtext">This is .list-group-subtext and a <a href="#1">link</a>.</p>
				<p class="list-group-subtext">
					<a class="list-group-subtext-link" href="#1">Regular a.list-group-subtext-link</a>
				</p>
				<p class="list-group-subtext">
					<span class="text-truncate-inline">
						<a class="list-group-subtext-link text-truncate" href="#1">Truncated a.list-group-subtext-link</a> and another <a href="#1">link</a>
					</span>
				</p>
				<div class="list-group-detail">
					<span class="label label-warning">
						<span class="label-item label-item-expand">Pending</span>
					</span>
				</div>
			</section>
		</div>
		<div class="autofit-col">
			<div class="quick-action-menu">
				<a class="component-action quick-action-item" href="#1" role="button">
					<svg aria-hidden="true" class="lexicon-icon lexicon-icon-trash">
						<use xlink:href="<%- svgIconsPath %>#trash" />
					</svg>
				</a>
				<a class="component-action quick-action-item" href="#1" role="button">
					<svg aria-hidden="true" class="lexicon-icon lexicon-icon-download">
						<use xlink:href="<%- svgIconsPath %>#download" />
					</svg>
				</a>
				<a class="component-action quick-action-item" href="#1" role="button">
					<svg aria-hidden="true" class="lexicon-icon lexicon-icon-expand">
						<use xlink:href="<%- svgIconsPath %>#expand" />
					</svg>
				</a>
			</div>
			<div class="dropdown dropdown-action">
				<a aria-expanded="false" aria-haspopup="true" class="component-action dropdown-toggle" data-toggle="dropdown" href="#1" id="dropdownAction1" role="button">
					<svg aria-hidden="true" class="lexicon-icon lexicon-icon-ellipsis-v">
						<use xlink:href="<%- svgIconsPath %>#ellipsis-v" />
					</svg>
				</a>
				<ul aria-labelledby="" class="dropdown-menu dropdown-menu-right">
					<li><a class="dropdown-item" href="#1" role="button">Remove</a></li>
					<li><a class="dropdown-item" href="#1" role="button">Download</a></li>
					<li><a class="dropdown-item" href="#1" role="button">Checkout</a></li>
				</ul>
			</div>
		</div>
	</li>
	<li class="list-group-item list-group-item-flex">
		<div class="autofit-col">
			<div class="custom-control custom-checkbox">
				<label>
					<input class="custom-control-input" type="checkbox">
					<span class="custom-control-label"></span>
				</label>
			</div>
		</div>
		<div class="autofit-col">
			<div class="sticker sticker-secondary">
				<span class="inline-item">
					<svg aria-hidden="true" class="lexicon-icon lexicon-icon-folder">
						<use xlink:href="<%- svgIconsPath %>#folder" />
					</svg>
				</span>
			</div>
		</div>
		<div class="autofit-col autofit-col-expand">
			<section class="autofit-section">
				<h4 class="list-group-title">
					<a href="#1">Account Example Two</a>
				</h4>
				<p class="list-group-subtext">List Group Subtext</p>
				<div class="list-group-detail">
					<span class="label label-info">
						<span class="label-item label-item-expand">Info</span>
					</span>
				</div>
			</section>
		</div>
		<div class="autofit-col">
			<div class="quick-action-menu">
				<a class="component-action quick-action-item" href="#1" role="button">
					<svg aria-hidden="true" class="lexicon-icon lexicon-icon-trash">
						<use xlink:href="<%- svgIconsPath %>#trash" />
					</svg>
				</a>
				<a class="component-action quick-action-item" href="#1" role="button">
					<svg aria-hidden="true" class="lexicon-icon lexicon-icon-download">
						<use xlink:href="<%- svgIconsPath %>#download" />
					</svg>
				</a>
				<a class="component-action quick-action-item" href="#1" role="button">
					<svg aria-hidden="true" class="lexicon-icon lexicon-icon-expand">
						<use xlink:href="<%- svgIconsPath %>#expand" />
					</svg>
				</a>
			</div>
			<div class="dropdown dropdown-action">
				<a aria-expanded="false" aria-haspopup="true" class="component-action dropdown-toggle" data-toggle="dropdown" href="#1" id="dropdownAction1" role="button">
					<svg aria-hidden="true" class="lexicon-icon lexicon-icon-ellipsis-v">
						<use xlink:href="<%- svgIconsPath %>#ellipsis-v" />
					</svg>
				</a>
				<ul aria-labelledby="" class="dropdown-menu dropdown-menu-right">
					<li><a class="dropdown-item" href="#1" role="button">Remove</a></li>
					<li><a class="dropdown-item" href="#1" role="button">Download</a></li>
					<li><a class="dropdown-item" href="#1" role="button">Checkout</a></li>
				</ul>
			</div>
		</div>
	</li>
</ul>

<h3>List Group Header Example</h3>
<ul class="list-group show-quick-actions-on-hover">
	<li class="list-group-header">
		<h3 class="list-group-header-title">List Group Header 1</h3>
	</li>
	<li class="list-group-item list-group-item-flex">
		<div class="autofit-col autofit-col-expand">
			<section class="autofit-section">
				<h4 class="list-group-title">
					<span class="text-truncate-inline">
						<a class="text-truncate" href="#1">List Item 1</a>
					</span>
				</h4>
			</section>
		</div>
	</li>
	<li class="list-group-item list-group-item-flex">
		<div class="autofit-col autofit-col-expand">
			<section class="autofit-section">
				<h4 class="list-group-title">
					<span class="text-truncate-inline">
						<a class="text-truncate" href="#1">List Item 2</a>
					</span>
				</h4>
			</section>
		</div>
	</li>
	<li class="list-group-item list-group-item-flex">
		<div class="autofit-col autofit-col-expand">
			<section class="autofit-section">
				<h4 class="list-group-title">
					<span class="text-truncate-inline">
						<a class="text-truncate" href="#1">List Item 3</a>
					</span>
				</h4>
			</section>
		</div>
	</li>
	<li class="list-group-item list-group-item-flex">
		<div class="autofit-col autofit-col-expand">
			<section class="autofit-section">
				<h4 class="list-group-title">
					<span class="text-truncate-inline">
						<a class="text-truncate" href="#1">List Item 4</a>
					</span>
				</h4>
			</section>
		</div>
	</li>
	<li class="list-group-header">
		<h3 class="list-group-header-title">List Group Header 2</h3>
	</li>
	<li class="list-group-item list-group-item-flex">
		<div class="autofit-col">
			<div class="custom-control custom-checkbox">
				<label>
					<input class="custom-control-input" type="checkbox">
					<span class="custom-control-label"></span>
				</label>
			</div>
		</div>
		<div class="autofit-col">
			<div class="sticker sticker-secondary">
				<span class="inline-item">
					<svg aria-hidden="true" class="lexicon-icon lexicon-icon-folder">
						<use xlink:href="<%- svgIconsPath %>#folder" />
					</svg>
				</span>
			</div>
		</div>
		<div class="autofit-col autofit-col-expand">
			<section class="autofit-section">
				<h4 class="list-group-title">
					<span class="text-truncate-inline">
						<a class="text-truncate" href="#1">ReallySuperInsanelyJustIncrediblyLongAndTotallyNotPossibleWordButWeAreReallyTryingToCoverAllOurBasesHereJustInCaseSomeoneIsNutsAsPerUsual</a>
					</span>
				</h4>
				<p class="list-group-subtext">
					<span class="text-truncate-inline">
						<span class="text-truncate">List Group Subtext</span>
					</span>
				</p>
				<div class="list-group-detail">
					<span class="label label-success">
						<span class="label-item label-item-expand">Approved</span>
					</span>
				</div>
			</section>
		</div>
		<div class="autofit-col">
			<div class="quick-action-menu">
				<a class="component-action quick-action-item" href="#1" role="button">
					<svg aria-hidden="true" class="lexicon-icon lexicon-icon-trash">
						<use xlink:href="<%- svgIconsPath %>#trash" />
					</svg>
				</a>
				<a class="component-action quick-action-item" href="#1" role="button">
					<svg aria-hidden="true" class="lexicon-icon lexicon-icon-download">
						<use xlink:href="<%- svgIconsPath %>#download" />
					</svg>
				</a>
				<a class="component-action quick-action-item" href="#1" role="button">
					<svg aria-hidden="true" class="lexicon-icon lexicon-icon-expand">
						<use xlink:href="<%- svgIconsPath %>#expand" />
					</svg>
				</a>
			</div>
			<div class="dropdown dropdown-action">
				<a aria-expanded="false" aria-haspopup="true" class="component-action dropdown-toggle" data-toggle="dropdown" href="#1" id="dropdownAction1" role="button">
					<svg aria-hidden="true" class="lexicon-icon lexicon-icon-ellipsis-v">
						<use xlink:href="<%- svgIconsPath %>#ellipsis-v" />
					</svg>
				</a>
				<ul aria-labelledby="" class="dropdown-menu dropdown-menu-right">
					<li><a class="dropdown-item" href="#1" role="button">Remove</a></li>
					<li><a class="dropdown-item" href="#1" role="button">Download</a></li>
					<li><a class="dropdown-item" href="#1" role="button">Checkout</a></li>
				</ul>
			</div>
		</div>
	</li>
	<li class="list-group-item list-group-item-flex">
		<div class="autofit-col">
			<div class="custom-control custom-checkbox">
				<label>
					<input class="custom-control-input" type="checkbox">
					<span class="custom-control-label"></span>
				</label>
			</div>
		</div>
		<div class="autofit-col">
			<div class="sticker sticker-secondary">
				<span class="inline-item">
					<svg aria-hidden="true" class="lexicon-icon lexicon-icon-folder">
						<use xlink:href="<%- svgIconsPath %>#folder" />
					</svg>
				</span>
			</div>
		</div>
		<div class="autofit-col autofit-col-expand">
			<section class="autofit-section">
				<h4 class="list-group-title">
					<a href="#1">ReallySuperInsanelyJustIncrediblyLongAndTotallyNotPossibleWordButWeAreReallyTryingToCoverAllOurBasesHereJustInCaseSomeoneIsNutsAsPerUsual.</a>
				</h4>
				<p class="list-group-subtext">List Group Subtext</p>
				<div class="list-group-detail">
					<span class="label label-success">
						<span class="label-item label-item-expand">Approved</span>
					</span>
				</div>
			</section>
		</div>
		<div class="autofit-col">
			<div class="quick-action-menu">
				<a class="component-action quick-action-item" href="#1" role="button">
					<svg aria-hidden="true" class="lexicon-icon lexicon-icon-trash">
						<use xlink:href="<%- svgIconsPath %>#trash" />
					</svg>
				</a>
				<a class="component-action quick-action-item" href="#1" role="button">
					<svg aria-hidden="true" class="lexicon-icon lexicon-icon-download">
						<use xlink:href="<%- svgIconsPath %>#download" />
					</svg>
				</a>
				<a class="component-action quick-action-item" href="#1" role="button">
					<svg aria-hidden="true" class="lexicon-icon lexicon-icon-expand">
						<use xlink:href="<%- svgIconsPath %>#expand" />
					</svg>
				</a>
			</div>
			<div class="dropdown dropdown-action">
				<a aria-expanded="false" aria-haspopup="true" class="component-action dropdown-toggle" data-toggle="dropdown" href="#1" id="dropdownAction1" role="button">
					<svg aria-hidden="true" class="lexicon-icon lexicon-icon-ellipsis-v">
						<use xlink:href="<%- svgIconsPath %>#ellipsis-v" />
					</svg>
				</a>
				<ul aria-labelledby="" class="dropdown-menu dropdown-menu-right">
					<li><a class="dropdown-item" href="#1" role="button">Remove</a></li>
					<li><a class="dropdown-item" href="#1" role="button">Download</a></li>
					<li><a class="dropdown-item" href="#1" role="button">Checkout</a></li>
				</ul>
			</div>
		</div>
	</li>
</ul>

<h3>List Group Item Action</h3>
<div class="list-group">
	<a class="list-group-item list-group-item-action" href="#1">List Item 1 (Anchor Tag)</a>
	<a class="list-group-item list-group-item-action" href="#1">List Item 2 (Anchor Tag)</a>
	<button class="list-group-item list-group-item-action" type="button">List Item 3 (Button Tag)</button>
	<a class="list-group-item list-group-item-action" href="#1">List Item 4 (Anchor Tag)</a>
</div>