<h4 class="cp-variables-form-header">Nav Underline</h4>
<%- printInputs([
	{ id: 'nav-underline-font-size', },
]) %>

<h4 class="cp-variables-form-header">Nav Underline Link</h4>
<%- printInputs([
	{ id: 'nav-underline-link-padding-y', },
	{ id: 'nav-underline-link-padding-x', },
	{ id: 'nav-underline-link-color', color: true, },
	{ id: 'nav-underline-link-highlight-height', },
	{ id: 'nav-underline-link-highlight-content', },
	{ id: 'nav-underline-link-highlight-top', },
	{ id: 'nav-underline-link-highlight-right', },
	{ id: 'nav-underline-link-highlight-bottom', },
	{ id: 'nav-underline-link-highlight-left', },
]) %>

<h4 class="cp-variables-form-header">Nav Underline Link Hover</h4>
<%- printInputs([
	{ id: 'nav-underline-link-hover-color', color: true, },
]) %>

<h4 class="cp-variables-form-header">Nav Underline Link Active</h4>
<%- printInputs([
	{ id: 'nav-underline-link-active-color', color: true, },
	{ id: 'nav-underline-link-active-content', },
	{ id: 'nav-underline-link-active-highlight', color: true, },
	{ id: 'nav-underline-link-active-highlight-height', },
]) %>

<h4 class="cp-variables-form-header">Nav Underline Link Disabled</h4>
<%- printInputs([
	{ id: 'nav-underline-link-disabled-color', color: true, },
	{ id: 'nav-underline-link-disabled-highlight', color: true, },
]) %>