<h4 class="cp-variables-form-header">Nav</h4>
<%- printInputs([
	{ id: 'nav-font-size', },
]) %>

<h4 class="cp-variables-form-header">Nav Form</h4>
<%- printInputs([
	{ id: 'nav-form-padding-top', },
	{ id: 'nav-form-padding-right', },
	{ id: 'nav-form-padding-bottom', },
	{ id: 'nav-form-padding-left', },
]) %>

<h4 class="cp-variables-form-header">Nav Link / Btn Monospaced</h4>
<%- printInputs([
	{ id: 'nav-item-monospaced-size', },
]) %>

<h4 class="cp-variables-form-header">Nav Link</h4>
<%- printInputs([
	{ id: 'nav-link-padding-y', },
	{ id: 'nav-link-padding-x', },
]) %>

<h4 class="cp-variables-form-header">Nav Link Disabled</h4>
<%- printInputs([
	{ id: 'nav-link-disabled-color', color: true, },
	{ id: 'nav-link-disabled-cursor', },
]) %>

<h4 class="cp-variables-form-header">Nav Btn</h4>
<%- printInputs([
	{ id: 'nav-btn-padding-y', },
	{ id: 'nav-btn-padding-x', },
	{ id: 'nav-btn-margin-x', },
	{ id: 'nav-btn-margin-y', },
]) %>

<h4 class="cp-variables-form-header">Nav Stacked</h4>
<%- printInputs([
	{ id: 'nav-stacked-nav-form-padding-top', },
	{ id: 'nav-stacked-nav-form-padding-right', },
	{ id: 'nav-stacked-nav-form-padding-bottom', },
	{ id: 'nav-stacked-nav-form-padding-left', },
]) %>

<h4 class="cp-variables-form-header">Nav Nested (Padding)</h4>
<%- printInputs([
	{ id: 'nav-nested-spacer-x', },
]) %>

<h4 class="cp-variables-form-header">Nav Nested (Margin)</h4>
<%- printInputs([
	{ id: 'nav-nested-margins-spacer-x', },
]) %>