<h4 class="cp-variables-form-header">Sticker</h4>
<%- printInputs([
	{ id: 'sticker-size', },
	{ id: 'sticker-font-size', },
	{ id: 'sticker-font-weight', },
	{ id: 'sticker-border-width', },
	{ id: 'sticker-border-style', },
	{ id: 'sticker-border-color', color: true, },
	{ id: 'sticker-border-radius', },
	{ id: 'sticker-color', color: true, },
]) %>
<%- printInputs([
	{ id: 'sticker-inline-item-font-size', },
]) %>

<h4 class="cp-variables-form-header">Sticker Positions</h4>
<%- printInputs([
	{ id: 'sticker-inside-offset', },
]) %>
<%- printInputs([
	{ id: 'sticker-outside-offset', },
]) %>

<h4 class="cp-variables-form-header">Sticker Types</h4>
<%- printInputs([
	{ id: 'sticker-circle-border-radius', },
]) %>

<h4 class="cp-variables-form-header">Sticker Sm</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="sticker-sm" name="clay[sticker-sm]" type="hidden">
	</div>
	<%- include(mixinsPath + 'cpClayStickerSizeMixin', { namespace: 'sticker-sm' }) %>
</div>

<h4 class="cp-variables-form-header">Sticker Lg</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="sticker-lg" name="clay[sticker-lg]" type="hidden">
	</div>
	<%- include(mixinsPath + 'cpClayStickerSizeMixin', { namespace: 'sticker-lg' }) %>
</div>

<h4 class="cp-variables-form-header">Sticker Xl</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="sticker-xl" name="clay[sticker-xl]" type="hidden">
	</div>
	<%- include(mixinsPath + 'cpClayStickerSizeMixin', { namespace: 'sticker-xl' }) %>
</div>

<h4 class="cp-variables-form-header">Sticker Primary</h4>
<%- printInputs([
	{ id: 'sticker-primary-border-color', color: true, },
	{ id: 'sticker-primary-color', color: true, },
	{ id: 'sticker-primary-bg', color: true, },
]) %>

<h4 class="cp-variables-form-header">Sticker Secondary</h4>
<%- printInputs([
	{ id: 'sticker-secondary-border-color', color: true, },
	{ id: 'sticker-secondary-color', color: true, },
	{ id: 'sticker-secondary-bg', color: true, },
]) %>

<h4 class="cp-variables-form-header">Sticker Info</h4>
<%- printInputs([
	{ id: 'sticker-info-border-color', color: true, },
	{ id: 'sticker-info-color', color: true, },
	{ id: 'sticker-info-bg', color: true, },
]) %>

<h4 class="cp-variables-form-header">Sticker Success</h4>
<%- printInputs([
	{ id: 'sticker-success-border-color', color: true, },
	{ id: 'sticker-success-color', color: true, },
	{ id: 'sticker-success-bg', color: true, },
]) %>

<h4 class="cp-variables-form-header">Sticker Warning</h4>
<%- printInputs([
	{ id: 'sticker-warning-border-color', color: true, },
	{ id: 'sticker-warning-color', color: true, },
	{ id: 'sticker-warning-bg', color: true, },
]) %>

<h4 class="cp-variables-form-header">Sticker Danger</h4>
<%- printInputs([
	{ id: 'sticker-danger-border-color', color: true, },
	{ id: 'sticker-danger-color', color: true, },
	{ id: 'sticker-danger-bg', color: true, },
]) %>

<h4 class="cp-variables-form-header">Sticker Light</h4>
<%- printInputs([
	{ id: 'sticker-light-border-color', color: true, },
	{ id: 'sticker-light-color', color: true, },
	{ id: 'sticker-light-bg', color: true, },
]) %>

<h4 class="cp-variables-form-header">Sticker Dark</h4>
<%- printInputs([
	{ id: 'sticker-dark-border-color', color: true, },
	{ id: 'sticker-dark-color', color: true, },
	{ id: 'sticker-dark-bg', color: true, },
]) %>