<h4 class="cp-variables-form-header">Timeline</h4>
<%-
	printInputs([
		{ id: 'timeline-inner-spacing', },
		{ id: 'timeline-outer-spacing', },
		{ id: 'timeline-border-width', },
		{ id: 'timeline-border-modifier', },
		{ id: 'timeline-border-color', color: true, },
	]);
%>

<h4 class="cp-variables-form-header">Timeline Item</h4>
<%-
	printInputs([
		{ id: 'timeline-item-padding-top', },
		{ id: 'timeline-item-padding-bottom', },
	]);
%>

<h4 class="cp-variables-form-header">Timeline Item Label</h4>
<%-
	printInputs([
		{ id: 'timeline-item-label-color', color: true, },
	]);
%>

<h4 class="cp-variables-form-header">Timeline Increment</h4>
<%-
	printInputs([
		{ id: 'timeline-increment-bg', color: true, },
	]);
%>

<h4 class="cp-variables-form-header">Timeline Icon</h4>
<%-
	printInputs([
		{ id: 'timeline-icon-size', },
		{ id: 'timeline-icon-border-width', },
		{ id: 'timeline-icon-border-color', color: true, },
		{ id: 'timeline-icon-border-radius', },
		{ id: 'timeline-icon-bg', color: true, },
	]);
%>

<h4 class="cp-variables-form-header">Timeline Icon Active</h4>
<%-
	printInputs([
		{ id: 'timeline-icon-active-border-color', color: true, },
		{ id: 'timeline-icon-active-bg', color: true, },
	]);
%>

<h4 class="cp-variables-form-header">Timeline Spacing Xl</h4>
<%-
	printInputs([
		{ id: 'timeline-inner-spacing-xl', },
		{ id: 'timeline-outer-spacing-xl', },
		{ id: 'timeline-item-padding-y-xl', },
	]);
%>