<h4 class="cp-variables-form-header">Headings</h4>
<%- printInputs([
	{ id: 'headings-font-family', },
	{ id: 'headings-font-weight', },
	{ id: 'headings-line-height', },
	{ id: 'headings-margin-bottom', },
	{ id: 'headings-color', color: true, },
]) %>

<h4 class="cp-variables-form-header">H1 - H6</h4>
<%- printInputs([
	{ id: 'h1-font-size', },
	{ id: 'h1-font-size-mobile', },
]) %>
<%- printInputs([
	{ id: 'h2-font-size', },
	{ id: 'h2-font-size-mobile', },
]) %>
<%- printInputs([
	{ id: 'h3-font-size', },
	{ id: 'h3-font-size-mobile', },
]) %>
<%- printInputs([
	{ id: 'h4-font-size', },
	{ id: 'h4-font-size-mobile', },
]) %>
<%- printInputs([
	{ id: 'h5-font-size', },
	{ id: 'h5-font-size-mobile', },
]) %>
<%- printInputs([
	{ id: 'h6-font-size', },
	{ id: 'h6-font-size-mobile', },
]) %>

<h4 class="cp-variables-form-header">Paragraph</h4>
<%- printInputs([
	{ id: 'paragraph-margin-bottom', },
]) %>

<h4 class="cp-variables-form-header">Text Muted</h4>
<%- printInputs([
	{ id: 'text-muted', },
]) %>

<h4 class="cp-variables-form-header">Lead</h4>
<%- printInputs([
	{ id: 'lead-font-size', },
	{ id: 'lead-font-weight', },
]) %>

<h4 class="cp-variables-form-header">Mark</h4>
<%- printInputs([
	{ id: 'mark-padding', },
	{ id: 'mark-color', color: true, },
	{ id: 'mark-bg', color: true, },
]) %>

<h4 class="cp-variables-form-header">Small</h4>
<%- printInputs([
	{ id: 'small-font-size', },
]) %>

<h4 class="cp-variables-form-header">Code</h4>
<%- printInputs([
	{ id: 'code-font-size', },
	{ id: 'code-color', color: true, },
]) %>

<h4 class="cp-variables-form-header">Pre</h4>
<%- printInputs([
	{ id: 'pre-scrollable-max-height', },
	{ id: 'pre-color', color: true, },
]) %>

<h4 class="cp-variables-form-header">Kbd</h4>
<%- printInputs([
	{ id: 'kbd-font-size', },
	{ id: 'kbd-padding-y', },
	{ id: 'kbd-padding-x', },
	{ id: 'kbd-color', color: true, },
	{ id: 'kbd-bg', color: true, },
	{ id: 'kbd-box-shadow', },
]) %>
<%- printInputs([
	{ id: 'nested-kbd-font-weight', },
]) %>

<h4 class="cp-variables-form-header">Dt</h4>
<%- printInputs([
	{ id: 'dt-font-weight', },
]) %>

<h4 class="cp-variables-form-header">Blockquote</h4>
<%- printInputs([
	{ id: 'blockquote-font-size', },
	{ id: 'blockquote-small-color', color: true, },
]) %>

<h4 class="cp-variables-form-header">List Inline</h4>
<%- printInputs([
	{ id: 'list-inline-padding', },
]) %>

<h4 class="cp-variables-form-header">Hr</h4>
<%- printInputs([
	{ id: 'hr-border-width', },
	{ id: 'hr-border-color', color: true, },
	{ id: 'hr-margin-y', },
]) %>

<h4 class="cp-variables-form-header">Display</h4>
<%- printInputs([
	{ id: 'display-line-height', },
]) %>
<%- printInputs([
	{ id: 'display1-size', },
	{ id: 'display1-weight', },
]) %>
<%- printInputs([
	{ id: 'display2-size', },
	{ id: 'display2-weight', },
]) %>
<%- printInputs([
	{ id: 'display3-size', },
	{ id: 'display3-weight', },
]) %>
<%- printInputs([
	{ id: 'display4-size', },
	{ id: 'display4-weight', },
]) %>