<h3>Autofit</h3>
<div class="autofit-row">
	<div class="autofit-col autofit-col-expand" style="background-color: aliceblue;">
		<div class="autofit-section">
			<h6>
				<span class="text-truncate-inline">
					<span class="text-truncate">Alberto Calvo, modified 2 hours ago.</span>
				</span>
			</h6>
			<p>
				<a href="#1">ReallySuperInsanelyJustIncrediblyLongAndTotallyNotPossibleWordButWeAreReallyTryingToCoverAllOurBasesHereJustInCaseSomeoneIsNutsAsPerUsual</a>
			</p>
			<span class="label label-success">
				<span class="label-item label-item-expand">Approved</span>
			</span>
			<span class="label label-info">
				<span class="label-item label-item-expand">Pending</span>
			</span>
			<span class="label label-danger">
				<span class="label-item label-item-expand">Rejected</span>
			</span>
		</div>
	</div>
	<div class="autofit-col autofit-col-expand" style="background-color: antiquewhite;">
		<div class="autofit-section">
			<h6>
				<span class="text-truncate-inline">
					<span class="text-truncate">
					Alberto Calvo, modified 2 hours ago.
					</span>
				</span>
			</h6>
			<p>
				<span class="text-truncate-inline">
					<a class="text-truncate" href="#1">ReallySuperInsanelyJustIncrediblyLongAndTotallyNotPossibleWordButWeAreReallyTryingToCoverAllOurBasesHereJustInCaseSomeoneIsNutsAsPerUsual</a>
				</span>
			</p>
			<span class="label label-success">
				<span class="label-item label-item-expand">Approved</span>
			</span>
			<span class="label label-info">
				<span class="label-item label-item-expand">Pending</span>
			</span>
			<span class="label label-danger">
				<span class="label-item label-item-expand">Rejected</span>
			</span>
		</div>
	</div>
	<div class="autofit-col autofit-col-expand" style="background-color: aqua;">
		<div class="autofit-section">
			<h6>
				<span class="text-truncate-inline">
					<span class="text-truncate">
						Alberto Calvo, modified 2 hours ago.
					</span>
				</span>
			</h6>
			<p>
				<span class="text-truncate-inline">
					<a class="text-truncate" href="#1">ReallySuperInsanelyJustIncrediblyLongAndTotallyNotPossibleWordButWeAreReallyTryingToCoverAllOurBasesHereJustInCaseSomeoneIsNutsAsPerUsual</a>
				</span>
			</p>
			<span class="label label-success">
				<span class="label-item label-item-expand">Approved</span>
			</span>
			<span class="label label-info">
				<span class="label-item label-item-expand">Pending</span>
			</span>
			<span class="label label-danger">
				<span class="label-item label-item-expand">Rejected</span>
			</span>
		</div>
	</div>
	<div class="autofit-col" style="background-color: aquamarine;">
		<div class="dropdown dropdown-action">
			<a aria-expanded="false" aria-haspopup="true" class="component-action dropdown-toggle" data-toggle="dropdown" href="#1" role="button">
				<svg aria-hidden="true" class="lexicon-icon lexicon-icon-ellipsis-v">
					<use xlink:href="<%- svgIconsPath %>#ellipsis-v" />
				</svg>
			</a>
			<ul class="dropdown-menu dropdown-menu-right">
				<li class="dropdown-header">Dropdown Header</li>
				<li><a class="dropdown-item" href="#1">Action 1</a></li>
				<li><a class="dropdown-item" href="#1">Action 2</a></li>
				<li><a class="dropdown-item" href="#1">Action 3</a></li>
				<li><a class="dropdown-item" href="#1">Action 4</a></li>
				<li><a class="dropdown-item" href="#1">Action 5</a></li>
				<li><a class="dropdown-item" href="#1">Action 6</a></li>
				<li><a class="dropdown-item" href="#1">Action 7</a></li>
				<li><a class="dropdown-item" href="#1">Action 8</a></li>
			</ul>
		</div>
	</div>
</div>

<h3>Autofit Padded</h3>
<div class="autofit-row autofit-padded">
	<div class="autofit-col autofit-col-expand" style="background-color: aliceblue;">
		<div class="autofit-section">
			<h6>
				<span class="text-truncate-inline">
					<span class="text-truncate">Alberto Calvo, modified 2 hours ago.</span>
				</span>
			</h6>
			<p>
				<a href="#1">ReallySuperInsanelyJustIncrediblyLongAndTotallyNotPossibleWordButWeAreReallyTryingToCoverAllOurBasesHereJustInCaseSomeoneIsNutsAsPerUsual</a>
			</p>
			<span class="label label-success">
				<span class="label-item label-item-expand">Approved</span>
			</span>
			<span class="label label-info">
				<span class="label-item label-item-expand">Pending</span>
			</span>
			<span class="label label-danger">
				<span class="label-item label-item-expand">Rejected</span>
			</span>
		</div>
	</div>
	<div class="autofit-col autofit-col-expand" style="background-color: antiquewhite;">
		<div class="autofit-section">
			<h6>
				<span class="text-truncate-inline">
					<span class="text-truncate">
					Alberto Calvo, modified 2 hours ago.
					</span>
				</span>
			</h6>
			<p>
				<span class="text-truncate-inline">
					<a class="text-truncate" href="#1">ReallySuperInsanelyJustIncrediblyLongAndTotallyNotPossibleWordButWeAreReallyTryingToCoverAllOurBasesHereJustInCaseSomeoneIsNutsAsPerUsual</a>
				</span>
			</p>
			<span class="label label-success">
				<span class="label-item label-item-expand">Approved</span>
			</span>
			<span class="label label-info">
				<span class="label-item label-item-expand">Pending</span>
			</span>
			<span class="label label-danger">
				<span class="label-item label-item-expand">Rejected</span>
			</span>
		</div>
	</div>
	<div class="autofit-col autofit-col-expand" style="background-color: aqua;">
		<div class="autofit-section">
			<h6>
				<span class="text-truncate-inline">
					<span class="text-truncate">
						Alberto Calvo, modified 2 hours ago.
					</span>
				</span>
			</h6>
			<p>
				<span class="text-truncate-inline">
					<a class="text-truncate" href="#1">ReallySuperInsanelyJustIncrediblyLongAndTotallyNotPossibleWordButWeAreReallyTryingToCoverAllOurBasesHereJustInCaseSomeoneIsNutsAsPerUsual</a>
				</span>
			</p>
			<span class="label label-success">
				<span class="label-item label-item-expand">Approved</span>
			</span>
			<span class="label label-info">
				<span class="label-item label-item-expand">Pending</span>
			</span>
			<span class="label label-danger">
				<span class="label-item label-item-expand">Rejected</span>
			</span>
		</div>
	</div>
	<div class="autofit-col" style="background-color: aquamarine;">
		<div class="dropdown dropdown-action">
			<a aria-expanded="false" aria-haspopup="true" class="component-action dropdown-toggle" data-toggle="dropdown" href="#1" role="button">
				<svg aria-hidden="true" class="lexicon-icon lexicon-icon-ellipsis-v">
					<use xlink:href="<%- svgIconsPath %>#ellipsis-v" />
				</svg>
			</a>
			<ul class="dropdown-menu dropdown-menu-right">
				<li class="dropdown-header">Dropdown Header</li>
				<li><a class="dropdown-item" href="#1">Action 1</a></li>
				<li><a class="dropdown-item" href="#1">Action 2</a></li>
				<li><a class="dropdown-item" href="#1">Action 3</a></li>
				<li><a class="dropdown-item" href="#1">Action 4</a></li>
				<li><a class="dropdown-item" href="#1">Action 5</a></li>
				<li><a class="dropdown-item" href="#1">Action 6</a></li>
				<li><a class="dropdown-item" href="#1">Action 7</a></li>
				<li><a class="dropdown-item" href="#1">Action 8</a></li>
			</ul>
		</div>
	</div>
</div>

<div class="alert alert-warning">
	For <strong>Inline Item</strong> to function and space properly, white space between text and icons must be removed from the markup inside the component. It's generally easier to remove all white space inside the link, button, or component. In the examples below, whitespaces in button and link are slightly off and the link underline on hover is a bit wide.
</div>

<h3>Inline Item with Anchor Tag (No White Space)</h3>
<a href="#1">
	<span class="inline-item inline-item-before"><svg aria-hidden="true" class="lexicon-icon lexicon-icon-share"><use xlink:href="<%- svgIconsPath %>#share" /></svg></span>link<span class="inline-item inline-item-middle"><svg aria-hidden="true" class="lexicon-icon lexicon-icon-question-circle"><use xlink:href="<%- svgIconsPath %>#question-circle" /></svg></span><span class="inline-item inline-item-middle"><svg aria-hidden="true" class="lexicon-icon lexicon-icon-question-circle"><use xlink:href="<%- svgIconsPath %>#question-circle" /></svg></span><span class="inline-item inline-item-middle"><svg aria-hidden="true" class="lexicon-icon lexicon-icon-question-circle"><use xlink:href="<%- svgIconsPath %>#question-circle" /></svg></span>why, but ok.<span class="inline-item inline-item-after"><svg aria-hidden="true" class="lexicon-icon lexicon-icon-add-cell"><use xlink:href="<%- svgIconsPath %>#add-cell" /></svg></span>
</a>

<h3>Inline Item with Anchor Tag (Has White Space)</h3>
<a href="#1">
	<span class="inline-item inline-item-before">
		<svg aria-hidden="true" class="lexicon-icon lexicon-icon-share"><use xlink:href="<%- svgIconsPath %>#share" /></svg>
	</span>
	link
	<span class="inline-item inline-item-middle">
		<svg aria-hidden="true" class="lexicon-icon lexicon-icon-question-circle"><use xlink:href="<%- svgIconsPath %>#question-circle" /></svg>
	</span>
	<span class="inline-item inline-item-middle">
		<svg aria-hidden="true" class="lexicon-icon lexicon-icon-question-circle"><use xlink:href="<%- svgIconsPath %>#question-circle" /></svg>
	</span>
	<span class="inline-item inline-item-middle">
		<svg aria-hidden="true" class="lexicon-icon lexicon-icon-question-circle"><use xlink:href="<%- svgIconsPath %>#question-circle" /></svg>
	</span>
	why, but ok.
	<span class="inline-item inline-item-after">
		<svg aria-hidden="true" class="lexicon-icon lexicon-icon-add-cell"><use xlink:href="<%- svgIconsPath %>#add-cell" /></svg>
	</span>
</a>

<h3>Inline Item with Button Tag (No White Space)</h3>
<button class="btn btn-secondary" type="button"><span class="inline-item inline-item-before"><svg aria-hidden="true" class="lexicon-icon lexicon-icon-plus"><use xlink:href="<%- svgIconsPath %>#plus" /></svg></span>Secondary<span class="inline-item inline-item-after"><svg aria-hidden="true" class="lexicon-icon lexicon-icon-camera"><use xlink:href="<%- svgIconsPath %>#camera" /></svg></span></button>

<h3>Inline Item with Button Tag (Has White Space)</h3>
<button class="btn btn-secondary" type="button">
	<span class="inline-item inline-item-before">
		<svg aria-hidden="true" class="lexicon-icon lexicon-icon-plus">
			<use xlink:href="<%- svgIconsPath %>#plus" /></svg>
	</span>
	Secondary
	<span class="inline-item inline-item-after">
		<svg aria-hidden="true" class="lexicon-icon lexicon-icon-camera">
			<use xlink:href="<%- svgIconsPath %>#camera" /></svg>
	</span>
</button>

<h3>Bg Checkered</h3>
<div class="bg-checkered cp-example-bg-checkered"></div>