<h4 class="cp-variables-form-header">Alert</h4>
<%- include('../partials/cpTextInput', { id: 'alert-border-radius', unset: true }) %>
<%- include('../partials/cpTextInput', { id: 'alert-border-width', unset: true }) %>
<%- include('../partials/cpTextInput', { id: 'alert-font-size', unset: true }) %>
<%- include('../partials/cpTextInput', { id: 'alert-padding', unset: true }) %>
<%- include('../partials/cpTextInput', { id: 'alert-link-font-weight' }) %>
<%- include('../partials/cpTextInput', { id: 'alert-lead-font-size' }) %>
<%- include('../partials/cpTextInput', { id: 'alert-lead-font-weight' }) %>
<%- include('../partials/cpTextInput', { id: 'alert-close-color' }) %>

<h4 class="cp-variables-form-header">Alert Notification</h4>
<%- include('../partials/cpTextInput', { id: 'alert-notification-max-width' }) %>

<h4 class="cp-variables-form-header">Alert Default</h4>
<%- include('../partials/cpTextInput', { id: 'alert-default-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'alert-default-border' }) %>
<%- include('../partials/cpTextInput', { id: 'alert-default-text-bold' }) %>
<%- include('../partials/cpTextInput', { id: 'alert-default-text' }) %>

<h4 class="cp-variables-form-header">Alert Success</h4>
<%- include('../partials/cpTextInput', { id: 'alert-success-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'alert-success-border' }) %>
<%- include('../partials/cpTextInput', { id: 'alert-success-text-bold' }) %>
<%- include('../partials/cpTextInput', { id: 'alert-success-text' }) %>

<h4 class="cp-variables-form-header">Alert Info</h4>
<%- include('../partials/cpTextInput', { id: 'alert-info-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'alert-info-border' }) %>
<%- include('../partials/cpTextInput', { id: 'alert-info-text-bold' }) %>
<%- include('../partials/cpTextInput', { id: 'alert-info-text' }) %>

<h4 class="cp-variables-form-header">Alert Warning</h4>
<%- include('../partials/cpTextInput', { id: 'alert-warning-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'alert-warning-border' }) %>
<%- include('../partials/cpTextInput', { id: 'alert-warning-text-bold' }) %>
<%- include('../partials/cpTextInput', { id: 'alert-warning-text' }) %>

<h4 class="cp-variables-form-header">Alert Danger</h4>
<%- include('../partials/cpTextInput', { id: 'alert-danger-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'alert-danger-border' }) %>
<%- include('../partials/cpTextInput', { id: 'alert-danger-text-bold' }) %>
<%- include('../partials/cpTextInput', { id: 'alert-danger-text' }) %>