<h4 class="cp-variables-form-header">Badge</h4>
<%- include('../partials/cpTextInput', { id: 'badge-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'badge-border-width' }) %>
<%- include('../partials/cpTextInput', { id: 'badge-border-style' }) %>
<%- include('../partials/cpTextInput', { id: 'badge-color' }) %>
<%- include('../partials/cpTextInput', { id: 'badge-desktop-font-size' }) %>
<%- include('../partials/cpTextInput', { id: 'badge-font-size' }) %>
<%- include('../partials/cpTextInput', { id: 'badge-font-weight' }) %>
<%- include('../partials/cpTextInput', { id: 'badge-line-height' }) %>
<%- include('../partials/cpTextInput', { id: 'badge-padding-top' }) %>
<%- include('../partials/cpTextInput', { id: 'badge-padding-right' }) %>
<%- include('../partials/cpTextInput', { id: 'badge-padding-bottom' }) %>
<%- include('../partials/cpTextInput', { id: 'badge-padding-left' }) %>
<%- include('../partials/cpTextInput', { id: 'badge-lexicon-icon-width' }) %>
<%- include('../partials/cpTextInput', { id: 'badge-lexicon-icon-height' }) %>
<%- include('../partials/cpTextInput', { id: 'badge-active-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'badge-active-color' }) %>
<%- include('../partials/cpTextInput', { id: 'badge-link-hover-color' }) %>
<%- include('../partials/cpTextInput', { id: 'badge-link-text-decoration' }) %>
<%- include('../partials/cpTextInput', { id: 'badge-link-hover-text-decoration' }) %>

<h4 class="cp-variables-form-header">Badge Default</h4>
<%- include('../partials/cpTextInput', { id: 'badge-default-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'badge-default-border' }) %>
<%- include('../partials/cpTextInput', { id: 'badge-default-color' }) %>
<%- include('../partials/cpTextInput', { id: 'badge-default-hover-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'badge-default-hover-border' }) %>
<%- include('../partials/cpTextInput', { id: 'badge-default-hover-color' }) %>
<%- include('../partials/cpTextInput', { id: 'badge-default-link-color' }) %>

<h4 class="cp-variables-form-header">Badge Primary</h4>
<%- include('../partials/cpTextInput', { id: 'badge-primary-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'badge-primary-border' }) %>
<%- include('../partials/cpTextInput', { id: 'badge-primary-color' }) %>
<%- include('../partials/cpTextInput', { id: 'badge-primary-hover-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'badge-primary-hover-border' }) %>
<%- include('../partials/cpTextInput', { id: 'badge-primary-hover-color' }) %>

<h4 class="cp-variables-form-header">Badge Success</h4>
<%- include('../partials/cpTextInput', { id: 'badge-success-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'badge-success-border' }) %>
<%- include('../partials/cpTextInput', { id: 'badge-success-color' }) %>
<%- include('../partials/cpTextInput', { id: 'badge-success-hover-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'badge-success-hover-border' }) %>
<%- include('../partials/cpTextInput', { id: 'badge-success-hover-color' }) %>

<h4 class="cp-variables-form-header">Badge Info</h4>
<%- include('../partials/cpTextInput', { id: 'badge-info-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'badge-info-border' }) %>
<%- include('../partials/cpTextInput', { id: 'badge-info-color' }) %>
<%- include('../partials/cpTextInput', { id: 'badge-info-hover-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'badge-info-hover-border' }) %>
<%- include('../partials/cpTextInput', { id: 'badge-info-hover-color' }) %>

<h4 class="cp-variables-form-header">Badge Warning</h4>
<%- include('../partials/cpTextInput', { id: 'badge-warning-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'badge-warning-border' }) %>
<%- include('../partials/cpTextInput', { id: 'badge-warning-color' }) %>
<%- include('../partials/cpTextInput', { id: 'badge-warning-hover-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'badge-warning-hover-border' }) %>
<%- include('../partials/cpTextInput', { id: 'badge-warning-hover-color' }) %>

<h4 class="cp-variables-form-header">Badge Danger</h4>
<%- include('../partials/cpTextInput', { id: 'badge-danger-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'badge-danger-border' }) %>
<%- include('../partials/cpTextInput', { id: 'badge-danger-color' }) %>
<%- include('../partials/cpTextInput', { id: 'badge-danger-hover-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'badge-danger-hover-border' }) %>
<%- include('../partials/cpTextInput', { id: 'badge-danger-hover-color' }) %>

<h4 class="cp-variables-form-header">Badge Sm</h4>
<%- include('../partials/cpTextInput', { id: 'badge-sm-desktop-font-size' }) %>
<%- include('../partials/cpTextInput', { id: 'badge-sm-font-size' }) %>
<%- include('../partials/cpTextInput', { id: 'badge-sm-padding-top' }) %>
<%- include('../partials/cpTextInput', { id: 'badge-sm-padding-right' }) %>
<%- include('../partials/cpTextInput', { id: 'badge-sm-padding-bottom' }) %>
<%- include('../partials/cpTextInput', { id: 'badge-sm-padding-left' }) %>
<%- include('../partials/cpTextInput', { id: 'badge-sm-lexicon-icon-width' }) %>
<%- include('../partials/cpTextInput', { id: 'badge-sm-lexicon-icon-height' }) %>

<h4 class="cp-variables-form-header">Badge Lg</h4>
<%- include('../partials/cpTextInput', { id: 'badge-lg-desktop-font-size' }) %>
<%- include('../partials/cpTextInput', { id: 'badge-lg-font-size' }) %>
<%- include('../partials/cpTextInput', { id: 'badge-lg-padding-top' }) %>
<%- include('../partials/cpTextInput', { id: 'badge-lg-padding-right' }) %>
<%- include('../partials/cpTextInput', { id: 'badge-lg-padding-bottom' }) %>
<%- include('../partials/cpTextInput', { id: 'badge-lg-padding-left' }) %>
<%- include('../partials/cpTextInput', { id: 'badge-lg-lexicon-icon-width' }) %>
<%- include('../partials/cpTextInput', { id: 'badge-lg-lexicon-icon-height' }) %>