<h4 class="cp-variables-form-header">Blockquote</h4>
<%- include('../partials/cpTextInput', { id: 'blockquote-font-size' }) %>
<%- include('../partials/cpColorInput', { id: 'blockquote-border-color' }) %>
<%- include('../partials/cpColorInput', { id: 'blockquote-small-color' }) %>

<h4 class="cp-variables-form-header">Blockquote Default</h4>
<%- include('../partials/cpColorInput', { id: 'blockquote-default-color' }) %>

<h4 class="cp-variables-form-header">Blockquote Primary</h4>
<%- include('../partials/cpColorInput', { id: 'blockquote-primary-color' }) %>

<h4 class="cp-variables-form-header">Blockquote Success</h4>
<%- include('../partials/cpColorInput', { id: 'blockquote-success-color' }) %>

<h4 class="cp-variables-form-header">Blockquote Info</h4>
<%- include('../partials/cpColorInput', { id: 'blockquote-info-color' }) %>

<h4 class="cp-variables-form-header">Blockquote Warning</h4>
<%- include('../partials/cpColorInput', { id: 'blockquote-warning-color' }) %>

<h4 class="cp-variables-form-header">Blockquote Danger</h4>
<%- include('../partials/cpColorInput', { id: 'blockquote-danger-color' }) %>

<h4 class="cp-variables-form-header">Blockquote Xs</h4>
<%- include('../partials/cpTextInput', { id: 'blockquote-xs-font-size' }) %>
<%- include('../partials/cpTextInput', { id: 'blockquote-xs-border-width' }) %>

<h4 class="cp-variables-form-header">Blockquote Sm</h4>
<%- include('../partials/cpTextInput', { id: 'blockquote-sm-font-size' }) %>
<%- include('../partials/cpTextInput', { id: 'blockquote-sm-border-width' }) %>

<h4 class="cp-variables-form-header">Blockquote Lg</h4>
<%- include('../partials/cpTextInput', { id: 'blockquote-lg-font-size' }) %>
<%- include('../partials/cpTextInput', { id: 'blockquote-lg-border-width' }) %>