<h4 class="cp-variables-form-header">Breadcrumb Link</h4>
<%- include('../partials/cpColorInput', { id: 'breadcrumb-link-color' }) %>
<%- include('../partials/cpColorInput', { id: 'breadcrumb-link-hover-color' }) %>
<%- include('../partials/cpTextInput', { id: 'breadcrumb-link-text-decoration' }) %>
<%- include('../partials/cpTextInput', { id: 'breadcrumb-link-hover-text-decoration' }) %>
<%- include('../partials/cpTextInput', { id: 'breadcrumb-font-size', unset: true }) %>
<%- include('../partials/cpTextInput', { id: 'breadcrumb-font-weight', unset: true }) %>
<%- include('../partials/cpTextInput', { id: 'breadcrumb-text-transform', unset: true }) %>

<h4 class="cp-variables-form-header">Breadcrumb Active</h4>
<%- include('../partials/cpColorInput', { id: 'breadcrumb-active-color', unset: true }) %>
<%- include('../partials/cpTextInput', { id: 'breadcrumb-active-font-weight' }) %>

<h4 class="cp-variables-form-header">Breadcrumb</h4>
<%- include('../partials/cpTextInput', { id: 'breadcrumb-padding-vertical' }) %>
<%- include('../partials/cpTextInput', { id: 'breadcrumb-padding-horizontal' }) %>
<%- include('../partials/cpColorInput', { id: 'breadcrumb-bg', unset: true }) %>
<%- include('../partials/cpTextInput', { id: 'breadcrumb-border-radius' }) %>

<h4 class="cp-variables-form-header">Breadcrumb Separator</h4>
<%- include('../partials/cpColorInput', { id: 'breadcrumb-color', placeholder: 'Color of Separator' }) %>
<%- include('../partials/cpTextInput', { id: 'breadcrumb-separator-font-family' }) %>
<%- include('../partials/cpTextInput', { id: 'breadcrumb-separator-font-weight' }) %>
<%- include('../partials/cpTextInput', { id: 'breadcrumb-separator-svg-icon-height' }) %>
<%- include('../partials/cpTextInput', { id: 'breadcrumb-separator-svg-icon-width' }) %>
<%- include('../partials/cpTextInput', { id: 'breadcrumb-separator-svg-icon' }) %>
<%- include('../partials/cpTextInput', { id: 'breadcrumb-separator' }) %>

<h4 class="cp-variables-form-header">Breadcrumb Vertical Separator</h4>
<%- include('../partials/cpTextInput', { id: 'breadcrumb-vertical-separator' }) %>