<h4 class="cp-variables-form-header">Btn</h4>
<%- include('../partials/cpTextInput', { id: 'btn-font-size' }) %>
<%- include('../partials/cpTextInput', { id: 'btn-font-size-mobile' }) %>
<%- include('../partials/cpTextInput', { id: 'btn-font-weight' }) %>
<%- include('../partials/cpTextInput', { id: 'btn-padding-y' }) %>
<%- include('../partials/cpTextInput', { id: 'btn-padding-y-mobile' }) %>
<%- include('../partials/cpTextInput', { id: 'btn-padding-x' }) %>
<%- include('../partials/cpTextInput', { id: 'btn-padding-x-mobile' }) %>
<%- include('../partials/cpTextInput', { id: 'btn-line-height' }) %>
<%- include('../partials/cpTextInput', { id: 'btn-border-width' }) %>
<%- include('../partials/cpTextInput', { id: 'btn-border-radius' }) %>
<%- include('../partials/cpTextInput', { id: 'btn-box-shadow' }) %>
<%- include('../partials/cpTextInput', { id: 'btn-cursor' }) %>
<%- include('../partials/cpTextInput', { id: 'btn-transition' }) %>

<h4 class="cp-variables-form-header">Btn Focus</h4>
<%- include('../partials/cpTextInput', { id: 'btn-focus-width' }) %>
<%- include('../partials/cpTextInput', { id: 'btn-focus-box-shadow' }) %>
<%- include('../partials/cpColorInput', { id: 'btn-link-disabled-color' }) %>

<h4 class="cp-variables-form-header">Btn Active</h4>
<%- include('../partials/cpTextInput', { id: 'btn-active-box-shadow' }) %>

<h4 class="cp-variables-form-header">Btn Disabled</h4>
<%- include('../partials/cpTextInput', { id: 'btn-disabled-cursor' }) %>
<%- include('../partials/cpTextInput', { id: 'btn-disabled-opacity' }) %>

<h4 class="cp-variables-form-header">Btn Monospaced</h4>
<%- include('../partials/cpTextInput', { id: 'btn-monospaced-size' }) %>
<%- include('../partials/cpTextInput', { id: 'btn-monospaced-size-mobile' }) %>
<%- include('../partials/cpTextInput', { id: 'btn-monospaced-padding-y' }) %>
<%- include('../partials/cpTextInput', { id: 'btn-monospaced-padding-x' }) %>
<%- include('../partials/cpTextInput', { id: 'btn-inline-item-font-size' }) %>
<%- include('../partials/cpTextInput', { id: 'btn-section-font-size' }) %>
<%- include('../partials/cpTextInput', { id: 'btn-section-font-weight' }) %>
<%- include('../partials/cpTextInput', { id: 'btn-section-line-height' }) %>

<h4 class="cp-variables-form-header">Btn Block</h4>
<%- include('../partials/cpTextInput', { id: 'btn-block-spacing-y' }) %>

<h4 class="cp-variables-form-header">Btn Group</h4>
<%- include('../partials/cpTextInput', { id: 'btn-group-item-margin-right' }) %>

<h4 class="cp-variables-form-header">Btn Toolbar</h4>
<%- include('../partials/cpTextInput', { id: 'btn-toolbar-spacer-y' }) %>
<%- include('../partials/cpTextInput', { id: 'btn-toolbar-spacer-x' }) %>

<h4 class="cp-variables-form-header">Btn Sm</h4>
<%- include('../partials/cpTextInput', { id: 'btn-font-size-sm' }) %>
<%- include('../partials/cpTextInput', { id: 'btn-font-size-sm-mobile' }) %>
<%- include('../partials/cpTextInput', { id: 'btn-padding-y-sm' }) %>
<%- include('../partials/cpTextInput', { id: 'btn-padding-y-sm-mobile' }) %>
<%- include('../partials/cpTextInput', { id: 'btn-line-height-sm' }) %>
<%- include('../partials/cpTextInput', { id: 'btn-border-radius-sm' }) %>
<%- include('../partials/cpTextInput', { id: 'btn-inline-item-font-size-sm' }) %>
<%- include('../partials/cpTextInput', { id: 'btn-monospaced-size-sm' }) %>
<%- include('../partials/cpTextInput', { id: 'btn-monospaced-size-sm-mobile' }) %>
<%- include('../partials/cpTextInput', { id: 'btn-monospaced-padding-y-sm' }) %>
<%- include('../partials/cpTextInput', { id: 'btn-monospaced-padding-x-sm' }) %>
<%- include('../partials/cpTextInput', { id: 'btn-section-font-size-sm' }) %>

<h4 class="cp-variables-form-header">Btn Lg</h4>
<%- include('../partials/cpTextInput', { id: 'btn-font-size-lg' }) %>
<%- include('../partials/cpTextInput', { id: 'btn-font-size-lg-mobile' }) %>
<%- include('../partials/cpTextInput', { id: 'btn-padding-y-lg' }) %>
<%- include('../partials/cpTextInput', { id: 'btn-padding-y-lg-mobile' }) %>
<%- include('../partials/cpTextInput', { id: 'btn-padding-x-lg' }) %>
<%- include('../partials/cpTextInput', { id: 'btn-padding-x-lg-mobile' }) %>
<%- include('../partials/cpTextInput', { id: 'btn-line-height-lg' }) %>
<%- include('../partials/cpTextInput', { id: 'btn-border-radius-lg' }) %>
<%- include('../partials/cpTextInput', { id: 'btn-monospaced-size-lg' }) %>
<%- include('../partials/cpTextInput', { id: 'btn-monospaced-size-lg-mobile' }) %>
<%- include('../partials/cpTextInput', { id: 'btn-monospaced-padding-y-lg' }) %>
<%- include('../partials/cpTextInput', { id: 'btn-monospaced-padding-x-lg' }) %>
<%- include('../partials/cpTextInput', { id: 'btn-inline-item-font-size-lg' }) %>
<%- include('../partials/cpTextInput', { id: 'btn-section-font-size-lg' }) %>

<h4 class="cp-variables-form-header">Btn Primary</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="btn-primary" name="clay[btn-primary]" type="hidden">
	</div>
	<%- include('../partials/cpColorInput', { id: 'btn-primary-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-primary-border-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-primary-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-primary-hover-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-primary-hover-border-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-primary-hover-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-primary-focus-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-primary-focus-border-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-primary-focus-box-shadow' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-primary-focus-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-primary-active-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-primary-active-border-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-primary-active-box-shadow' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-primary-active-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'btn-primary-active-focus-box-shadow' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-primary-disabled-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-primary-disabled-border-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-primary-disabled-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'btn-primary-loading-animation' }) %>
</div>

<h4 class="cp-variables-form-header">Btn Secondary</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="btn-secondary" name="clay[btn-secondary]" type="hidden">
	</div>
	<%- include('../partials/cpColorInput', { id: 'btn-secondary-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-secondary-border-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-secondary-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-secondary-hover-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-secondary-hover-border-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-secondary-hover-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-secondary-focus-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-secondary-focus-border-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-secondary-focus-box-shadow' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-secondary-focus-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-secondary-active-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-secondary-active-border-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-secondary-active-box-shadow' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-secondary-active-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'btn-secondary-active-focus-box-shadow' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-secondary-disabled-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-secondary-disabled-border-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-secondary-disabled-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'btn-secondary-loading-animation' }) %>
</div>

<h4 class="cp-variables-form-header">Btn Success</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="btn-success" name="clay[btn-success]" type="hidden">
	</div>
	<%- include('../partials/cpColorInput', { id: 'btn-success-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-success-border-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-success-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-success-hover-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-success-hover-border-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-success-hover-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-success-focus-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-success-focus-border-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-success-focus-box-shadow' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-success-focus-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-success-active-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-success-active-border-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-success-active-box-shadow' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-success-active-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'btn-success-active-focus-box-shadow' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-success-disabled-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-success-disabled-border-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-success-disabled-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'btn-success-loading-animation' }) %>
</div>

<h4 class="cp-variables-form-header">Btn Info</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="btn-info" name="clay[btn-info]" type="hidden">
	</div>
	<%- include('../partials/cpColorInput', { id: 'btn-info-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-info-border-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-info-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-info-hover-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-info-hover-border-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-info-hover-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-info-focus-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-info-focus-border-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-info-focus-box-shadow' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-info-focus-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-info-active-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-info-active-border-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-info-active-box-shadow' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-info-active-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'btn-info-active-focus-box-shadow' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-info-disabled-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-info-disabled-border-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-info-disabled-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'btn-info-loading-animation' }) %>
</div>

<h4 class="cp-variables-form-header">Btn Warning</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="btn-warning" name="clay[btn-warning]" type="hidden">
	</div>
	<%- include('../partials/cpColorInput', { id: 'btn-warning-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-warning-border-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-warning-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-warning-hover-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-warning-hover-border-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-warning-hover-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-warning-focus-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-warning-focus-border-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-warning-focus-box-shadow' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-warning-focus-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-warning-active-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-warning-active-border-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-warning-active-box-shadow' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-warning-active-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'btn-warning-active-focus-box-shadow' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-warning-disabled-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-warning-disabled-border-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-warning-disabled-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'btn-warning-loading-animation' }) %>
</div>

<h4 class="cp-variables-form-header">Btn Danger</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="btn-danger" name="clay[btn-danger]" type="hidden">
	</div>
	<%- include('../partials/cpColorInput', { id: 'btn-danger-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-danger-border-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-danger-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-danger-hover-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-danger-hover-border-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-danger-hover-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-danger-focus-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-danger-focus-border-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-danger-focus-box-shadow' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-danger-focus-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-danger-active-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-danger-active-border-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-danger-active-box-shadow' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-danger-active-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'btn-danger-active-focus-box-shadow' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-danger-disabled-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-danger-disabled-border-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-danger-disabled-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'btn-danger-loading-animation' }) %>
</div>

<h4 class="cp-variables-form-header">Btn Light</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="btn-light" name="clay[btn-light]" type="hidden">
	</div>
	<%- include('../partials/cpColorInput', { id: 'btn-light-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-light-border-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-light-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-light-hover-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-light-hover-border-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-light-hover-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-light-focus-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-light-focus-border-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-light-focus-box-shadow' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-light-focus-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-light-active-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-light-active-border-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-light-active-box-shadow' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-light-active-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'btn-light-active-focus-box-shadow' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-light-disabled-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-light-disabled-border-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-light-disabled-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'btn-light-loading-animation' }) %>
</div>

<h4 class="cp-variables-form-header">Btn Dark</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="btn-dark" name="clay[btn-dark]" type="hidden">
	</div>
	<%- include('../partials/cpColorInput', { id: 'btn-dark-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-dark-border-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-dark-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-dark-hover-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-dark-hover-border-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-dark-hover-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-dark-focus-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-dark-focus-border-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-dark-focus-box-shadow' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-dark-focus-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-dark-active-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-dark-active-border-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-dark-active-box-shadow' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-dark-active-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'btn-dark-active-focus-box-shadow' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-dark-disabled-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-dark-disabled-border-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-dark-disabled-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'btn-dark-loading-animation' }) %>
</div>

<h4 class="cp-variables-form-header">Btn Outline Primary</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="btn-outline-primary" name="clay[btn-outline-primary]" type="hidden">
	</div>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-primary-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-primary-border-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-primary-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-primary-hover-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-primary-hover-border-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-primary-hover-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-primary-focus-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-primary-focus-border-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-primary-focus-box-shadow' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-primary-focus-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-primary-active-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-primary-active-border-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-primary-active-box-shadow' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-primary-active-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'btn-outline-primary-active-focus-box-shadow' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-primary-disabled-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-primary-disabled-border-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-primary-disabled-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'btn-outline-primary-loading-animation' }) %>
</div>

<h4 class="cp-variables-form-header">Btn Outline Secondary</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="btn-outline-secondary" name="clay[btn-outline-secondary]" type="hidden">
	</div>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-secondary-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-secondary-border-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-secondary-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-secondary-hover-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-secondary-hover-border-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-secondary-hover-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-secondary-focus-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-secondary-focus-border-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-secondary-focus-box-shadow' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-secondary-focus-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-secondary-active-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-secondary-active-border-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-secondary-active-box-shadow' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-secondary-active-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'btn-outline-secondary-active-focus-box-shadow' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-secondary-disabled-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-secondary-disabled-border-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-secondary-disabled-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'btn-outline-secondary-loading-animation' }) %>
</div>

<h4 class="cp-variables-form-header">Btn Outline Info</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="btn-outline-info" name="clay[btn-outline-info]" type="hidden">
	</div>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-info-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-info-border-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-info-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-info-hover-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-info-hover-border-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-info-hover-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-info-focus-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-info-focus-border-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-info-focus-box-shadow' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-info-focus-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-info-active-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-info-active-border-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-info-active-box-shadow' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-info-active-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'btn-outline-info-active-focus-box-shadow' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-info-disabled-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-info-disabled-border-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-info-disabled-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'btn-outline-info-loading-animation' }) %>
</div>

<h4 class="cp-variables-form-header">Btn Outline Success</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="btn-outline-success" name="clay[btn-outline-success]" type="hidden">
	</div>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-success-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-success-border-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-success-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-success-hover-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-success-hover-border-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-success-hover-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-success-focus-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-success-focus-border-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-success-focus-box-shadow' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-success-focus-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-success-active-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-success-active-border-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-success-active-box-shadow' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-success-active-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'btn-outline-success-active-focus-box-shadow' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-success-disabled-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-success-disabled-border-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-success-disabled-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'btn-outline-success-loading-animation' }) %>
</div>

<h4 class="cp-variables-form-header">Btn Outline Warning</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="btn-outline-warning" name="clay[btn-outline-warning]" type="hidden">
	</div>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-warning-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-warning-border-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-warning-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-warning-hover-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-warning-hover-border-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-warning-hover-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-warning-focus-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-warning-focus-border-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-warning-focus-box-shadow' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-warning-focus-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-warning-active-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-warning-active-border-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-warning-active-box-shadow' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-warning-active-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'btn-outline-warning-active-focus-box-shadow' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-warning-disabled-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-warning-disabled-border-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-warning-disabled-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'btn-outline-warning-loading-animation' }) %>
</div>

<h4 class="cp-variables-form-header">Btn Outline Danger</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="btn-outline-danger" name="clay[btn-outline-danger]" type="hidden">
	</div>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-danger-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-danger-border-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-danger-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-danger-hover-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-danger-hover-border-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-danger-hover-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-danger-focus-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-danger-focus-border-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-danger-focus-box-shadow' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-danger-focus-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-danger-active-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-danger-active-border-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-danger-active-box-shadow' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-danger-active-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'btn-outline-danger-active-focus-box-shadow' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-danger-disabled-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-danger-disabled-border-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-danger-disabled-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'btn-outline-danger-loading-animation' }) %>
</div>

<h4 class="cp-variables-form-header">Btn Outline Light</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="btn-outline-light" name="clay[btn-outline-light]" type="hidden">
	</div>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-light-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-light-border-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-light-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-light-hover-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-light-hover-border-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-light-hover-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-light-focus-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-light-focus-border-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-light-focus-box-shadow' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-light-focus-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-light-active-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-light-active-border-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-light-active-box-shadow' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-light-active-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'btn-outline-light-active-focus-box-shadow' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-light-disabled-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-light-disabled-border-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-light-disabled-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'btn-outline-light-loading-animation' }) %>
</div>

<h4 class="cp-variables-form-header">Btn Outline Dark</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="btn-outline-dark" name="clay[btn-outline-dark]" type="hidden">
	</div>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-dark-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-dark-border-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-dark-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-dark-hover-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-dark-hover-border-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-dark-hover-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-dark-focus-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-dark-focus-border-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-dark-focus-box-shadow' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-dark-focus-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-dark-active-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-dark-active-border-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-dark-active-box-shadow' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-dark-active-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'btn-outline-dark-active-focus-box-shadow' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-dark-disabled-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-dark-disabled-border-color' }) %>
	<%- include('../partials/cpColorInput', { id: 'btn-outline-dark-disabled-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'btn-outline-dark-loading-animation' }) %>
</div>