<h4 class="cp-variables-form-header">Card</h4>
<%- include('../partials/cpTextInput', { id: 'card-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'card-border-radius' }) %>
<%- include('../partials/cpTextInput', { id: 'card-border' }) %>
<%- include('../partials/cpTextInput', { id: 'card-fallback-border' }) %>
<%- include('../partials/cpTextInput', { id: 'card-border-style' }) %>
<%- include('../partials/cpTextInput', { id: 'card-border-width' }) %>
<%- include('../partials/cpTextInput', { id: 'card-box-shadow' }) %>
<%- include('../partials/cpTextInput', { id: 'card-gutter-width' }) %>
<%- include('../partials/cpTextInput', { id: 'card-margin-bottom' }) %>

<h4 class="cp-variables-form-header">Card Link</h4>
<%- include('../partials/cpTextInput', { id: 'card-link-color' }) %>

<h4 class="cp-variables-form-header">Card Divider</h4>
<%- include('../partials/cpTextInput', { id: 'card-divider-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'card-divider-height' }) %>

<h4 class="cp-variables-form-header">Checkbox Card</h4>
<%- include('../partials/cpTextInput', { id: 'checkbox-position' }) %>
<%- include('../partials/cpTextInput', { id: 'checkbox-left-card-padding' }) %>
<%- include('../partials/cpTextInput', { id: 'checkbox-right-card-padding' }) %>

<h4 class="cp-variables-form-header">Card Types</h4>
<%- include('../partials/cpTextInput', { id: 'card-circle-border-radius' }) %>
<%- include('../partials/cpTextInput', { id: 'card-rounded-border-radius' }) %>
<%- include('../partials/cpTextInput', { id: 'card-square-border-radius' }) %>