<h4 class="cp-variables-form-header">Dropdown</h4>
<%- include('../partials/cpTextInput', { id: 'dropdown-min-width' }) %>
<%- include('../partials/cpTextInput', { id: 'dropdown-min-height' }) %>
<%- include('../partials/cpTextInput', { id: 'dropdown-max-width' }) %>
<%- include('../partials/cpTextInput', { id: 'dropdown-max-width-mobile' }) %>
<%- include('../partials/cpTextInput', { id: 'dropdown-max-height' }) %>
<%- include('../partials/cpTextInput', { id: 'dropdown-max-height-mobile' }) %>
<%- include('../partials/cpTextInput', { id: 'dropdown-font-size' }) %>
<%- include('../partials/cpTextInput', { id: 'dropdown-font-size-mobile' }) %>
<%- include('../partials/cpTextInput', { id: 'dropdown-padding-y' }) %>
<%- include('../partials/cpTextInput', { id: 'dropdown-spacer' }) %>
<%- include('../partials/cpTextInput', { id: 'dropdown-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'dropdown-border-width' }) %>
<%- include('../partials/cpTextInput', { id: 'dropdown-border-style' }) %>
<%- include('../partials/cpTextInput', { id: 'dropdown-border-color' }) %>
<%- include('../partials/cpTextInput', { id: 'dropdown-border-radius' }) %>
<%- include('../partials/cpTextInput', { id: 'dropdown-box-shadow' }) %>

<h4 class="cp-variables-form-header">Dropdown Item</h4>
<%- include('../partials/cpTextInput', { id: 'dropdown-item-padding-y' }) %>
<%- include('../partials/cpTextInput', { id: 'dropdown-item-padding-x' }) %>
<%- include('../partials/cpTextInput', { id: 'dropdown-item-disabled-cursor' }) %>
<%- include('../partials/cpTextInput', { id: 'dropdown-item-indicator-size' }) %>
<%- include('../partials/cpTextInput', { id: 'dropdown-item-indicator-spacer-x' }) %>

<h4 class="cp-variables-form-header">Dropdown Link</h4>
<%- include('../partials/cpTextInput', { id: 'dropdown-link-font-weight' }) %>
<%- include('../partials/cpTextInput', { id: 'dropdown-link-active-font-weight' }) %>
<%- include('../partials/cpTextInput', { id: 'dropdown-link-hover-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'dropdown-link-active-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'dropdown-link-color' }) %>
<%- include('../partials/cpTextInput', { id: 'dropdown-link-hover-color' }) %>
<%- include('../partials/cpTextInput', { id: 'dropdown-link-active-color' }) %>
<%- include('../partials/cpTextInput', { id: 'dropdown-link-disabled-color' }) %>

<h4 class="cp-variables-form-header">Dropdown Header</h4>
<%- include('../partials/cpTextInput', { id: 'dropdown-header-font-size' }) %>
<%- include('../partials/cpTextInput', { id: 'dropdown-header-font-size-mobile' }) %>
<%- include('../partials/cpTextInput', { id: 'dropdown-header-padding-y' }) %>
<%- include('../partials/cpTextInput', { id: 'dropdown-header-padding-x' }) %>
<%- include('../partials/cpTextInput', { id: 'dropdown-header-margin-top' }) %>
<%- include('../partials/cpTextInput', { id: 'dropdown-header-margin-bottom' }) %>
<%- include('../partials/cpTextInput', { id: 'dropdown-header-color' }) %>
<%- include('../partials/cpTextInput', { id: 'dropdown-header-text-transform' }) %>

<h4 class="cp-variables-form-header">Dropdown Subheader</h4>
<%- include('../partials/cpTextInput', { id: 'dropdown-subheader-font-size' }) %>
<%- include('../partials/cpTextInput', { id: 'dropdown-subheader-font-weight' }) %>
<%- include('../partials/cpTextInput', { id: 'dropdown-subheader-padding-y' }) %>
<%- include('../partials/cpTextInput', { id: 'dropdown-subheader-padding-x' }) %>
<%- include('../partials/cpTextInput', { id: 'dropdown-subheader-margin-top' }) %>
<%- include('../partials/cpTextInput', { id: 'dropdown-subheader-margin-bottom' }) %>
<%- include('../partials/cpTextInput', { id: 'dropdown-subheader-color' }) %>
<%- include('../partials/cpTextInput', { id: 'dropdown-subheader-text-transform' }) %>

<h4 class="cp-variables-form-header">Dropdown Action Toggle</h4>
<%- include('../partials/cpTextInput', { id: 'dropdown-action-toggle-size' }) %>
<%- include('../partials/cpTextInput', { id: 'dropdown-action-toggle-font-size' }) %>
<%- include('../partials/cpTextInput', { id: 'dropdown-action-toggle-border-radius' }) %>
<%- include('../partials/cpTextInput', { id: 'dropdown-action-toggle-disabled-cursor' }) %>
<%- include('../partials/cpTextInput', { id: 'dropdown-action-toggle-disabled-opacity' }) %>

<h4 class="cp-variables-form-header">Dropdown Caption</h4>
<%- include('../partials/cpTextInput', { id: 'dropdown-caption-color' }) %>
<%- include('../partials/cpTextInput', { id: 'dropdown-caption-font-size' }) %>
<%- include('../partials/cpTextInput', { id: 'dropdown-caption-font-weight' }) %>

<h4 class="cp-variables-form-header">Dropdown Divider</h4>
<%- include('../partials/cpTextInput', { id: 'dropdown-divider-bg' }) %>

<h4 class="cp-variables-form-header">Dropdown Inline Scroller</h4>
<%- include('../partials/cpTextInput', { id: 'dropdown-inline-scroller-max-height' }) %>
<%- include('../partials/cpTextInput', { id: 'dropdown-inline-scroller-max-height-mobile' }) %>

<h4 class="cp-variables-form-header">Dropdown Wide / Full</h4>
<%- include('../partials/cpTextInput', { id: 'dropdown-wide-width' }) %>
<%- include('../partials/cpTextInput', { id: 'dropdown-full-wide-header-spacer-y' }) %>

<h4 class="cp-variables-form-header">Dropdown Alert</h4>
<%- include('../partials/cpTextInput', { id: 'dropdown-alert-font-size' }) %>
<%- include('../partials/cpTextInput', { id: 'dropdown-alert-line-height' }) %>
<%- include('../partials/cpTextInput', { id: 'dropdown-alert-padding-y' }) %>
<%- include('../partials/cpTextInput', { id: 'dropdown-alert-padding-x' }) %>
<%- include('../partials/cpTextInput', { id: 'dropdown-alert-margin' }) %>