<h4 class="cp-variables-form-header">Dropdown Link</h4>
<%- include('../partials/cpColorInput', { id: 'dropdown-link-color' }) %>
<%- include('../partials/cpTextInput', { id: 'dropdown-link-padding' }) %>
<%- include('../partials/cpColorInput', { id: 'dropdown-link-hover-bg' }) %>
<%- include('../partials/cpColorInput', { id: 'dropdown-link-hover-color' }) %>
<%- include('../partials/cpColorInput', { id: 'dropdown-link-active-bg' }) %>
<%- include('../partials/cpColorInput', { id: 'dropdown-link-active-color' }) %>
<%- include('../partials/cpColorInput', { id: 'dropdown-link-disabled-color' }) %>

<h4 class="cp-variables-form-header">Dropdown Divider</h4>
<%- include('../partials/cpColorInput', { id: 'dropdown-divider-bg' }) %>

<h4 class="cp-variables-form-header">Dropdown</h4>
<%- include('../partials/cpTextInput', { id: 'dropdown-border-width' }) %>
<%- include('../partials/cpTextInput', { id: 'dropdown-border-style' }) %>
<%- include('../partials/cpColorInput', { id: 'dropdown-border' }) %>
<%- include('../partials/cpColorInput', { id: 'dropdown-fallback-border' }) %>
<%- include('../partials/cpColorInput', { id: 'dropdown-bg', unset: true }) %>
<%- include('../partials/cpTextInput', { id: 'dropdown-box-shadow', unset: true }) %>
<%- include('../partials/cpTextInput', { id: 'dropdown-font-size-desktop', unset: true }) %>
<%- include('../partials/cpTextInput', { id: 'dropdown-font-size', unset: true }) %>
<%- include('../partials/cpTextInput', { id: 'dropdown-padding-bottom', unset: true }) %>
<%- include('../partials/cpTextInput', { id: 'dropdown-padding-left', unset: true }) %>
<%- include('../partials/cpTextInput', { id: 'dropdown-padding-right', unset: true }) %>
<%- include('../partials/cpTextInput', { id: 'dropdown-padding-top', unset: true }) %>
<%- include('../partials/cpTextInput', { id: 'dropdown-menu-min-width', unset: true }) %>
<%- include('../partials/cpTextInput', { id: 'dropdown-menu-desktop-max-width', unset: true }) %>
<%- include('../partials/cpTextInput', { id: 'dropdown-menu-max-width', unset: true }) %>
<%- include('../partials/cpTextInput', { id: 'dropdown-menu-min-height', unset: true }) %>
<%- include('../partials/cpTextInput', { id: 'dropdown-menu-desktop-max-height', unset: true }) %>
<%- include('../partials/cpTextInput', { id: 'dropdown-menu-max-height', unset: true }) %>

<h4 class="cp-variables-form-header">Dropdown Header</h4>
<%- include('../partials/cpColorInput', { id: 'dropdown-header-color', unset: true }) %>
<%- include('../partials/cpTextInput', { id: 'dropdown-header-font-size-desktop', unset: true }) %>
<%- include('../partials/cpTextInput', { id: 'dropdown-header-font-size', unset: true }) %>

<h4 class="cp-variables-form-header">Dropdown Checkbox</h4>
<%- include('../partials/cpTextInput', { id: 'dropdown-checkbox-label-spacer' }) %>
<%- include('../partials/cpTextInput', { id: 'dropdown-radio-label-spacer' }) %>

<h4 class="cp-variables-form-header">Dropdown Wide</h4>
<%- include('../partials/cpTextInput', { id: 'dropdown-wide-width' }) %>