<h4 class="cp-variables-form-header">Figure</h4>
<%- include('../partials/cpTextInput', { id: 'figure-margin-bottom' }) %>

<h4 class="cp-variables-form-header">Figcaption</h4>
<%- include('../partials/cpTextInput', { id: 'figcaption-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'figcaption-bg-alpha' }) %>
<%- include('../partials/cpTextInput', { id: 'figcaption-color' }) %>
<%- include('../partials/cpTextInput', { id: 'figcaption-font-weight' }) %>
<%- include('../partials/cpTextInput', { id: 'figcaption-padding-bottom' }) %>
<%- include('../partials/cpTextInput', { id: 'figcaption-padding-left' }) %>
<%- include('../partials/cpTextInput', { id: 'figcaption-padding-right' }) %>
<%- include('../partials/cpTextInput', { id: 'figcaption-padding-top' }) %>

<h4 class="cp-variables-form-header">Figcaption Primary</h4>
<%- include('../partials/cpTextInput', { id: 'figcaption-primary-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'figcaption-primary-bg-alpha' }) %>
<%- include('../partials/cpTextInput', { id: 'figcaption-primary-color' }) %>

<h4 class="cp-variables-form-header">Figcaption Success</h4>
<%- include('../partials/cpTextInput', { id: 'figcaption-success-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'figcaption-success-bg-alpha' }) %>
<%- include('../partials/cpTextInput', { id: 'figcaption-success-color' }) %>

<h4 class="cp-variables-form-header">Figcaption Info</h4>
<%- include('../partials/cpTextInput', { id: 'figcaption-info-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'figcaption-info-bg-alpha' }) %>
<%- include('../partials/cpTextInput', { id: 'figcaption-info-color' }) %>

<h4 class="cp-variables-form-header">Figcaption Warning</h4>
<%- include('../partials/cpTextInput', { id: 'figcaption-warning-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'figcaption-warning-bg-alpha' }) %>
<%- include('../partials/cpTextInput', { id: 'figcaption-warning-color' }) %>

<h4 class="cp-variables-form-header">Figcaption Danger</h4>
<%- include('../partials/cpTextInput', { id: 'figcaption-danger-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'figcaption-danger-bg-alpha' }) %>
<%- include('../partials/cpTextInput', { id: 'figcaption-danger-color' }) %>

<h4 class="cp-variables-form-header">Figure Types</h4>
<%- include('../partials/cpTextInput', { id: 'figure-circle-border-radius' }) %>
<%- include('../partials/cpTextInput', { id: 'figure-rounded-border-radius' }) %>
<%- include('../partials/cpTextInput', { id: 'figure-square-border-radius' }) %>