<h4 class="cp-variables-form-header">Settings</h4>
<%- include('../partials/cpTextInput', { id: 'enable-scaling-components' }) %>
<%- include('../partials/cpTextInput', { id: 'scaling-breakpoint-down' }) %>
<%- include('../partials/cpTextInput', { id: 'enable-rounded' }) %>
<%- include('../partials/cpTextInput', { id: 'enable-shadows' }) %>
<%- include('../partials/cpTextInput', { id: 'enable-transitions' }) %>
<%- include('../partials/cpTextInput', { id: 'enable-caret' }) %>
<%- include('../partials/cpTextInput', { id: 'enable-gradients' }) %>
<%- include('../partials/cpTextInput', { id: 'enable-grid-classes' }) %>
<%- include('../partials/cpTextInput', { id: 'enable-print-styles' }) %>

<h4 class="cp-variables-form-header">Google Font Import</h4>
<%- include('../partials/cpTextInput', { id: 'font-import-url' }) %>

<h4 class="cp-variables-form-header">Font Family</h4>
<%- include('../partials/cpTextInput', { id: 'font-family-sans-serif' }) %>
<%- include('../partials/cpTextInput', { id: 'font-family-serif' }) %>
<%- include('../partials/cpTextInput', { id: 'font-family-monospace' }) %>
<%- include('../partials/cpTextInput', { id: 'font-family-base' }) %>

<h4 class="cp-variables-form-header">Font Size</h4>
<%- include('../partials/cpTextInput', { id: 'font-size-sm' }) %>
<%- include('../partials/cpTextInput', { id: 'font-size-base' }) %>
<%- include('../partials/cpTextInput', { id: 'font-size-base-mobile' }) %>
<%- include('../partials/cpTextInput', { id: 'font-size-lg' }) %>
<%- include('../partials/cpTextInput', { id: 'font-size-lg-mobile' }) %>

<h4 class="cp-variables-form-header">Font Weight</h4>
<%- include('../partials/cpTextInput', { id: 'font-weight-light' }) %>
<%- include('../partials/cpTextInput', { id: 'font-weight-normal' }) %>
<%- include('../partials/cpTextInput', { id: 'font-weight-semi-bold' }) %>
<%- include('../partials/cpTextInput', { id: 'font-weight-bold' }) %>
<%- include('../partials/cpTextInput', { id: 'font-weight-bolder' }) %>

<h4 class="cp-variables-form-header">Line Height</h4>
<%- include('../partials/cpTextInput', { id: 'line-height-sm' }) %>
<%- include('../partials/cpTextInput', { id: 'line-height-base' }) %>
<%- include('../partials/cpTextInput', { id: 'line-height-lg' }) %>

<h4 class="cp-variables-form-header">Body</h4>
<%- include('../partials/cpTextInput', { id: 'body-color' }) %>
<%- include('../partials/cpTextInput', { id: 'body-bg' }) %>

<h4 class="cp-variables-form-header"></h4>
<%- include('../partials/cpTextInput', { id: '' }) %>

<h4 class="cp-variables-form-header"></h4>
<%- include('../partials/cpTextInput', { id: '' }) %>

<h4 class="cp-variables-form-header"></h4>
<%- include('../partials/cpTextInput', { id: '' }) %>

<h4 class="cp-variables-form-header"></h4>
<%- include('../partials/cpTextInput', { id: '' }) %>