<h4 class="cp-variables-form-header">Settings</h4>
<%- include('../partials/cpTextInput', { id: 'enable-scaling-components' }) %>
<%- include('../partials/cpTextInput', { id: 'scaling-breakpoint-down' }) %>
<%- include('../partials/cpTextInput', { id: 'enable-shadows' }) %>
<%- include('../partials/cpTextInput', { id: 'enable-transitions' }) %>
<%- include('../partials/cpTextInput', { id: 'enable-caret' }) %>
<%- include('../partials/cpTextInput', { id: 'enable-gradients' }) %>
<%- include('../partials/cpTextInput', { id: 'enable-grid-classes' }) %>
<%- include('../partials/cpTextInput', { id: 'enable-print-styles' }) %>

<h4 class="cp-variables-form-header">Printing</h4>
<%- include('../partials/cpTextInput', { id: 'print-page-size' }) %>
<%- include('../partials/cpTextInput', { id: 'print-body-min-width' }) %>

