<h4 class="cp-variables-form-header">Collapse Icon</h4>
<%- include('../partials/cpTextInput', { id: 'collapse-icon-padding-right' }) %>
<%- include('../partials/cpTextInput', { id: 'collapse-icon-padding-left' }) %>
<%- include('../partials/cpTextInput', { id: 'collapse-icon-position-top' }) %>
<%- include('../partials/cpTextInput', { id: 'collapse-icon-position-right' }) %>
<%- include('../partials/cpTextInput', { id: 'collapse-icon-position-bottom' }) %>
<%- include('../partials/cpTextInput', { id: 'collapse-icon-position-left' }) %>

<h4 class="cp-variables-form-header">Order Arrow</h4>
<%- include('../partials/cpTextInput', { id: 'order-arrow-up-active-color' }) %>
<%- include('../partials/cpTextInput', { id: 'order-arrow-down-active-color' }) %>

<h4 class="cp-variables-form-header">Lexicon Icon</h4>
<%- include('../partials/cpTextInput', { id: 'lexicon-icon-size' }) %>