<h4 class="cp-variables-form-header">Input Group Addon</h4>
<%- include('../partials/cpTextInput', { id: 'input-group-addon-min-width' }) %>
<%- include('../partials/cpTextInput', { id: 'input-group-addon-font-weight' }) %>
<%- include('../partials/cpTextInput', { id: 'input-group-addon-padding-y' }) %>
<%- include('../partials/cpTextInput', { id: 'input-group-addon-padding-x' }) %>
<%- include('../partials/cpTextInput', { id: 'input-group-addon-border-color' }) %>
<%- include('../partials/cpTextInput', { id: 'input-group-addon-color' }) %>
<%- include('../partials/cpTextInput', { id: 'input-group-addon-bg' }) %>

<h4 class="cp-variables-form-header">Input Group Secondary Addon</h4>
<%- include('../partials/cpTextInput', { id: 'input-group-secondary-addon-border-width' }) %>
<%- include('../partials/cpTextInput', { id: 'input-group-secondary-addon-border-color' }) %>
<%- include('../partials/cpTextInput', { id: 'input-group-secondary-addon-color' }) %>
<%- include('../partials/cpTextInput', { id: 'input-group-secondary-addon-bg' }) %>

<h4 class="cp-variables-form-header">Input Group Inset</h4>
<%- include('../partials/cpTextInput', { id: 'input-group-inset-item-color' }) %>

<h4 class="cp-variables-form-header">Input Group Sm</h4>
<%- include('../partials/cpTextInput', { id: 'input-group-addon-min-width-sm' }) %>
<%- include('../partials/cpTextInput', { id: 'input-group-addon-padding-y-sm' }) %>
<%- include('../partials/cpTextInput', { id: 'input-group-addon-padding-x-sm' }) %>

<h4 class="cp-variables-form-header">Input Group Lg</h4>
<%- include('../partials/cpTextInput', { id: 'input-group-addon-min-width-lg' }) %>
<%- include('../partials/cpTextInput', { id: 'input-group-addon-padding-y-lg' }) %>
<%- include('../partials/cpTextInput', { id: 'input-group-addon-padding-x-lg' }) %>

<h4 class="cp-variables-form-header">Input Group Stacked Sm Down</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="input-group-stacked-sm-down" name="clay[input-group-stacked-sm-down]" type="hidden">
	</div>
	<%- include('../partials/cpTextInput', { id: 'input-group-stacked-sm-down-item-margin-top' }) %>
	<%- include('../partials/cpTextInput', { id: 'input-group-stacked-sm-down-item-margin-right' }) %>
	<%- include('../partials/cpTextInput', { id: 'input-group-stacked-sm-down-item-margin-bottom' }) %>
	<%- include('../partials/cpTextInput', { id: 'input-group-stacked-sm-down-item-margin-left' }) %>
	<%- include('../partials/cpTextInput', { id: 'input-group-stacked-sm-down-shrink-margin-top' }) %>
	<%- include('../partials/cpTextInput', { id: 'input-group-stacked-sm-down-shrink-margin-right' }) %>
	<%- include('../partials/cpTextInput', { id: 'input-group-stacked-sm-down-shrink-margin-bottom' }) %>
	<%- include('../partials/cpTextInput', { id: 'input-group-stacked-sm-down-shrink-margin-left' }) %>
</div>

<h4 class="cp-variables-form-header">Form Control Tag Group</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="form-control-label-size" name="clay[form-control-label-size]" type="hidden">
	</div>
	<%- include('../partials/cpTextInput', { id: 'form-control-label-size-height' }) %>
	<%- include('../partials/cpTextInput', { id: 'form-control-label-size-font-size' }) %>
	<%- include('../partials/cpTextInput', { id: 'form-control-label-size-padding-y' }) %>
	<%- include('../partials/cpTextInput', { id: 'form-control-label-size-padding-x' }) %>
	<%- include('../partials/cpTextInput', { id: 'form-control-label-size-line-height' }) %>
	<%- include('../partials/cpTextInput', { id: 'form-control-label-size-border-width' }) %>
	<%- include('../partials/cpTextInput', { id: 'form-control-label-size-text-transform' }) %>
	<%- include('../partials/cpTextInput', { id: 'form-control-label-size-lexicon-icon-width' }) %>
	<%- include('../partials/cpTextInput', { id: 'form-control-label-size-lexicon-icon-height' }) %>
	<%- include('../partials/cpTextInput', { id: 'form-control-label-size-lexicon-icon-margin-top' }) %>
</div>