<h4 class="cp-variables-form-header">Input Success</h4>
<%- include('../partials/cpTextInput', { id: 'input-success-border-color' }) %>
<%- include('../partials/cpTextInput', { id: 'input-success-color' }) %>
<%- include('../partials/cpTextInput', { id: 'input-success-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'input-success-box-shadow' }) %>
<%- include('../partials/cpTextInput', { id: 'input-success-select-icon-color' }) %>
<%- include('../partials/cpTextInput', { id: 'input-success-select-icon' }) %>
<%- include('../partials/cpTextInput', { id: 'input-success-checkbox-label-color' }) %>
<%- include('../partials/cpTextInput', { id: 'input-success-label-color' }) %>
<%- include('../partials/cpTextInput', { id: 'form-feedback-valid-color' }) %>

<h4 class="cp-variables-form-header">Input Success Focus</h4>
<%- include('../partials/cpTextInput', { id: 'input-success-focus-border-color' }) %>
<%- include('../partials/cpTextInput', { id: 'input-success-focus-color' }) %>
<%- include('../partials/cpTextInput', { id: 'input-success-focus-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'input-success-focus-box-shadow' }) %>

<h4 class="cp-variables-form-header">Input Warning</h4>
<%- include('../partials/cpTextInput', { id: 'input-warning-border-color' }) %>
<%- include('../partials/cpTextInput', { id: 'input-warning-color' }) %>
<%- include('../partials/cpTextInput', { id: 'input-warning-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'input-warning-box-shadow' }) %>
<%- include('../partials/cpTextInput', { id: 'input-warning-select-icon-color' }) %>
<%- include('../partials/cpTextInput', { id: 'input-warning-select-icon' }) %>
<%- include('../partials/cpTextInput', { id: 'input-warning-checkbox-label-color' }) %>
<%- include('../partials/cpTextInput', { id: 'input-warning-label-color' }) %>
<%- include('../partials/cpTextInput', { id: 'form-feedback-warning-color' }) %>

<h4 class="cp-variables-form-header">Input Warning Focus</h4>
<%- include('../partials/cpTextInput', { id: 'input-warning-focus-border-color' }) %>
<%- include('../partials/cpTextInput', { id: 'input-warning-focus-color' }) %>
<%- include('../partials/cpTextInput', { id: 'input-warning-focus-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'input-warning-focus-box-shadow' }) %>

<h4 class="cp-variables-form-header">Input Danger</h4>
<%- include('../partials/cpTextInput', { id: 'input-danger-border-color' }) %>
<%- include('../partials/cpTextInput', { id: 'input-danger-color' }) %>
<%- include('../partials/cpTextInput', { id: 'input-danger-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'input-danger-box-shadow' }) %>
<%- include('../partials/cpTextInput', { id: 'input-danger-select-icon-color' }) %>
<%- include('../partials/cpTextInput', { id: 'input-danger-select-icon' }) %>
<%- include('../partials/cpTextInput', { id: 'input-danger-checkbox-label-color' }) %>
<%- include('../partials/cpTextInput', { id: 'input-danger-label-color' }) %>
<%- include('../partials/cpTextInput', { id: 'form-feedback-invalid-color' }) %>

<h4 class="cp-variables-form-header">Input Danger Focus</h4>
<%- include('../partials/cpTextInput', { id: 'input-danger-focus-border-color' }) %>
<%- include('../partials/cpTextInput', { id: 'input-danger-focus-color' }) %>
<%- include('../partials/cpTextInput', { id: 'input-danger-focus-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'input-danger-focus-box-shadow' }) %>

<h4 class="cp-variables-form-header">Form Feedback</h4>
<%- include('../partials/cpTextInput', { id: 'form-feedback-font-size' }) %>
<%- include('../partials/cpTextInput', { id: 'form-feedback-font-weight' }) %>
<%- include('../partials/cpTextInput', { id: 'form-feedback-margin-top' }) %>
<%- include('../partials/cpTextInput', { id: 'form-feedback-indicator-margin-x' }) %>

<h4 class="cp-variables-form-header">Form Text</h4>
<%- include('../partials/cpTextInput', { id: 'form-text-font-size' }) %>
<%- include('../partials/cpTextInput', { id: 'form-text-font-weight' }) %>
<%- include('../partials/cpTextInput', { id: 'form-text-margin-top' }) %>
<%- include('../partials/cpTextInput', { id: 'form-text-color' }) %>