<h4 class="cp-variables-form-header">Input Sm</h4>
<%- include('../partials/cpTextInput', { id: 'input-border-radius-small' }) %>
<%- include('../partials/cpTextInput', { id: 'input-height-small' }) %>
<%- include('../partials/cpTextInput', { id: 'input-mobile-height-small' }) %>
<%- include('../partials/cpTextInput', { id: 'input-font-size-small' }) %>
<%- include('../partials/cpTextInput', { id: 'input-group-addon-border-radius-small' }) %>

<h4 class="cp-variables-form-header">Input Lg</h4>
<%- include('../partials/cpTextInput', { id: 'input-border-radius-large' }) %>
<%- include('../partials/cpTextInput', { id: 'input-height-large' }) %>
<%- include('../partials/cpTextInput', { id: 'input-mobile-height-large' }) %>
<%- include('../partials/cpTextInput', { id: 'input-font-size-large' }) %>
<%- include('../partials/cpTextInput', { id: 'input-group-addon-border-radius-large' }) %>

<h4 class="cp-variables-form-header">Input Group</h4>
<%- include('../partials/cpTextInput', { id: 'input-group-addon-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'input-group-addon-border-radius' }) %>
<%- include('../partials/cpTextInput', { id: 'input-group-addon-border-color' }) %>
<%- include('../partials/cpTextInput', { id: 'input-group-addon-color' }) %>

<h4 class="cp-variables-form-header">Input Group Default</h4>
<%- include('../partials/cpTextInput', { id: 'input-group-default-addon-border-color' }) %>
<%- include('../partials/cpTextInput', { id: 'input-group-default-addon-color' }) %>