<h4 class="cp-variables-form-header">Input Success</h4>
<%- include('../partials/cpTextInput', { id: 'input-success-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'input-success-bg-focus' }) %>
<%- include('../partials/cpTextInput', { id: 'input-success-border' }) %>
<%- include('../partials/cpTextInput', { id: 'input-success-border-focus' }) %>
<%- include('../partials/cpTextInput', { id: 'input-success-color' }) %>
<%- include('../partials/cpTextInput', { id: 'input-success-color-focus' }) %>
<%- include('../partials/cpTextInput', { id: 'input-success-box-shadow' }) %>
<%- include('../partials/cpTextInput', { id: 'input-success-box-shadow-focus' }) %>
<%- include('../partials/cpTextInput', { id: 'input-success-label-color' }) %>
<%- include('../partials/cpTextInput', { id: 'input-success-checkbox-label-color' }) %>


<h4 class="cp-variables-form-header">Input Warning</h4>
<%- include('../partials/cpTextInput', { id: 'input-warning-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'input-warning-bg-focus' }) %>
<%- include('../partials/cpTextInput', { id: 'input-warning-border' }) %>
<%- include('../partials/cpTextInput', { id: 'input-warning-border-focus' }) %>
<%- include('../partials/cpTextInput', { id: 'input-warning-box-shadow' }) %>
<%- include('../partials/cpTextInput', { id: 'input-warning-box-shadow-focus' }) %>
<%- include('../partials/cpTextInput', { id: 'input-warning-color' }) %>
<%- include('../partials/cpTextInput', { id: 'input-warning-color-focus' }) %>
<%- include('../partials/cpTextInput', { id: 'input-warning-label-color' }) %>
<%- include('../partials/cpTextInput', { id: 'input-warning-checkbox-label-color' }) %>


<h4 class="cp-variables-form-header">Input Danger</h4>
<%- include('../partials/cpTextInput', { id: 'input-danger-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'input-danger-bg-focus' }) %>
<%- include('../partials/cpTextInput', { id: 'input-danger-border' }) %>
<%- include('../partials/cpTextInput', { id: 'input-danger-border-focus' }) %>
<%- include('../partials/cpTextInput', { id: 'input-danger-color' }) %>
<%- include('../partials/cpTextInput', { id: 'input-danger-color-focus' }) %>
<%- include('../partials/cpTextInput', { id: 'input-danger-box-shadow' }) %>
<%- include('../partials/cpTextInput', { id: 'input-danger-box-shadow-focus' }) %>
<%- include('../partials/cpTextInput', { id: 'input-danger-label-color' }) %>
<%- include('../partials/cpTextInput', { id: 'input-danger-checkbox-label-color' }) %>