<h4 class="cp-variables-form-header">Label</h4>
<%- include('../partials/cpColorInput', { id: 'input-label-color' }) %>
<%- include('../partials/cpColorInput', { id: 'input-label-focus-color' }) %>
<%- include('../partials/cpTextInput', { id: 'input-label-desktop-font-size' }) %>
<%- include('../partials/cpTextInput', { id: 'input-label-font-size' }) %>
<%- include('../partials/cpTextInput', { id: 'input-label-font-weight' }) %>
<%- include('../partials/cpTextInput', { id: 'input-label-margin-bottom' }) %>

<h4 class="cp-variables-form-header">Label Reference Marker</h4>
<%- include('../partials/cpTextInput', { id: 'input-label-reference-mark-spacer' }) %>
<%- include('../partials/cpTextInput', { id: 'input-label-reference-mark-vertical-alignment' }) %>

<h4 class="cp-variables-form-header">Input</h4>
<%- include('../partials/cpTextInput', { id: 'input-height-base' }) %>
<%- include('../partials/cpTextInput', { id: 'input-mobile-height-base' }) %>
<%- include('../partials/cpTextInput', { id: 'input-border-bottom-width' }) %>
<%- include('../partials/cpTextInput', { id: 'input-border-left-width' }) %>
<%- include('../partials/cpTextInput', { id: 'input-border-right-width' }) %>
<%- include('../partials/cpTextInput', { id: 'input-border-top-width' }) %>
<%- include('../partials/cpTextInput', { id: 'input-desktop-font-size' }) %>
<%- include('../partials/cpTextInput', { id: 'input-font-size' }) %>
<%- include('../partials/cpTextInput', { id: 'input-padding-vertical' }) %>
<%- include('../partials/cpTextInput', { id: 'input-padding-horizontal' }) %>
<%- include('../partials/cpTextInput', { id: 'input-border-radius' }) %>
<%- include('../partials/cpColorInput', { id: 'input-bg' }) %>
<%- include('../partials/cpColorInput', { id: 'input-border' }) %>
<%- include('../partials/cpColorInput', { id: 'input-color' }) %>
<%- include('../partials/cpTextInput', { id: 'input-box-shadow' }) %>

<h4 class="cp-variables-form-header">Input Placeholder</h4>
<%- include('../partials/cpColorInput', { id: 'input-color-placeholder' }) %>
<%- include('../partials/cpColorInput', { id: 'input-color-placeholder-focus' }) %>
<%- include('../partials/cpColorInput', { id: 'input-color-placeholder-disabled' }) %>

<h4 class="cp-variables-form-header">Input Focus</h4>
<%- include('../partials/cpColorInput', { id: 'input-bg-focus' }) %>
<%- include('../partials/cpColorInput', { id: 'input-border-focus' }) %>
<%- include('../partials/cpColorInput', { id: 'input-color-focus' }) %>
<%- include('../partials/cpTextInput', { id: 'input-box-shadow-focus' }) %>

<h4 class="cp-variables-form-header">Select</h4>
<%- include('../partials/cpColorInput', { id: 'input-select-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'input-select-bg-position' }) %>
<%- include('../partials/cpTextInput', { id: 'input-select-bg-size' }) %>
<%- include('../partials/cpColorInput', { id: 'input-select-icon-color' }) %>
<%- include('../partials/cpTextInput', { id: 'input-select-icon' }) %>
<%- include('../partials/cpTextInput', { id: 'input-select-padding-bottom' }) %>
<%- include('../partials/cpTextInput', { id: 'input-select-padding-left' }) %>
<%- include('../partials/cpTextInput', { id: 'input-select-padding-right' }) %>
<%- include('../partials/cpTextInput', { id: 'input-select-padding-top' }) %>
<%- include('../partials/cpColorInput', { id: 'input-select-focus-bg' }) %>
<%- include('../partials/cpColorInput', { id: 'input-select-icon-focus-color' }) %>
<%- include('../partials/cpColorInput', { id: 'input-select-icon-focus' }) %>

<h4 class="cp-variables-form-header">Textarea</h4>
<%- include('../partials/cpTextInput', { id: 'input-textarea-height' }) %>

<h4 class="cp-variables-form-header">Form Group</h4>
<%- include('../partials/cpTextInput', { id: 'form-group-margin-bottom' }) %>

<h4 class="cp-variables-form-header">Input Help Block</h4>
<%- include('../partials/cpTextInput', { id: 'input-help-block-font-size' }) %>