<h4 class="cp-variables-form-header">Label</h4>
<%- include('../partials/cpTextInput', { id: 'label-desktop-font-size' }) %>
<%- include('../partials/cpTextInput', { id: 'label-font-size' }) %>
<%- include('../partials/cpTextInput', { id: 'label-font-weight' }) %>
<%- include('../partials/cpTextInput', { id: 'label-padding-top' }) %>
<%- include('../partials/cpTextInput', { id: 'label-padding-right' }) %>
<%- include('../partials/cpTextInput', { id: 'label-padding-bottom' }) %>
<%- include('../partials/cpTextInput', { id: 'label-padding-left' }) %>
<%- include('../partials/cpTextInput', { id: 'label-border-width' }) %>
<%- include('../partials/cpTextInput', { id: 'label-border-style' }) %>
<%- include('../partials/cpTextInput', { id: 'label-color' }) %>
<%- include('../partials/cpTextInput', { id: 'label-link-hover-color' }) %>
<%- include('../partials/cpTextInput', { id: 'label-link-text-decoration' }) %>
<%- include('../partials/cpTextInput', { id: 'label-link-hover-text-decoration' }) %>
<%- include('../partials/cpTextInput', { id: 'label-lexicon-icon-width' }) %>
<%- include('../partials/cpTextInput', { id: 'label-lexicon-icon-height' }) %>

<h4 class="cp-variables-form-header">Label Default</h4>
<%- include('../partials/cpTextInput', { id: 'label-default-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'label-default-border' }) %>
<%- include('../partials/cpTextInput', { id: 'label-default-color' }) %>
<%- include('../partials/cpTextInput', { id: 'label-default-hover-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'label-default-hover-border' }) %>
<%- include('../partials/cpTextInput', { id: 'label-default-hover-color' }) %>

<h4 class="cp-variables-form-header">Label Primary</h4>
<%- include('../partials/cpTextInput', { id: 'label-primary-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'label-primary-border' }) %>
<%- include('../partials/cpTextInput', { id: 'label-primary-color' }) %>
<%- include('../partials/cpTextInput', { id: 'label-primary-hover-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'label-primary-hover-border' }) %>
<%- include('../partials/cpTextInput', { id: 'label-primary-hover-color' }) %>

<h4 class="cp-variables-form-header">Label Success</h4>
<%- include('../partials/cpTextInput', { id: 'label-success-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'label-success-border' }) %>
<%- include('../partials/cpTextInput', { id: 'label-success-color' }) %>
<%- include('../partials/cpTextInput', { id: 'label-success-hover-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'label-success-hover-border' }) %>
<%- include('../partials/cpTextInput', { id: 'label-success-hover-color' }) %>

<h4 class="cp-variables-form-header">Label Info</h4>
<%- include('../partials/cpTextInput', { id: 'label-info-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'label-info-border' }) %>
<%- include('../partials/cpTextInput', { id: 'label-info-color' }) %>
<%- include('../partials/cpTextInput', { id: 'label-info-hover-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'label-info-hover-border' }) %>
<%- include('../partials/cpTextInput', { id: 'label-info-hover-color' }) %>

<h4 class="cp-variables-form-header">Label Warning</h4>
<%- include('../partials/cpTextInput', { id: 'label-warning-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'label-warning-border' }) %>
<%- include('../partials/cpTextInput', { id: 'label-warning-color' }) %>
<%- include('../partials/cpTextInput', { id: 'label-warning-hover-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'label-warning-hover-border' }) %>
<%- include('../partials/cpTextInput', { id: 'label-warning-hover-color' }) %>

<h4 class="cp-variables-form-header">Label Danger</h3>
<%- include('../partials/cpTextInput', { id: 'label-danger-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'label-danger-border' }) %>
<%- include('../partials/cpTextInput', { id: 'label-danger-color' }) %>
<%- include('../partials/cpTextInput', { id: 'label-danger-hover-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'label-danger-hover-border' }) %>
<%- include('../partials/cpTextInput', { id: 'label-danger-hover-color' }) %>

<h4 class="cp-variables-form-header">Label Sm</h4>
<%- include('../partials/cpTextInput', { id: 'label-sm-desktop-font-size' }) %>
<%- include('../partials/cpTextInput', { id: 'label-sm-font-size' }) %>
<%- include('../partials/cpTextInput', { id: 'label-sm-padding-top' }) %>
<%- include('../partials/cpTextInput', { id: 'label-sm-padding-right' }) %>
<%- include('../partials/cpTextInput', { id: 'label-sm-padding-bottom' }) %>
<%- include('../partials/cpTextInput', { id: 'label-sm-padding-left' }) %>
<%- include('../partials/cpTextInput', { id: 'label-sm-lexicon-icon-height' }) %>
<%- include('../partials/cpTextInput', { id: 'label-sm-lexicon-icon-width' }) %>

<h4 class="cp-variables-form-header">Label Lg</h4>
<%- include('../partials/cpTextInput', { id: 'label-lg-desktop-font-size' }) %>
<%- include('../partials/cpTextInput', { id: 'label-lg-font-size' }) %>
<%- include('../partials/cpTextInput', { id: 'label-lg-padding-top' }) %>
<%- include('../partials/cpTextInput', { id: 'label-lg-padding-right' }) %>
<%- include('../partials/cpTextInput', { id: 'label-lg-padding-bottom' }) %>
<%- include('../partials/cpTextInput', { id: 'label-lg-padding-left' }) %>
<%- include('../partials/cpTextInput', { id: 'label-lg-lexicon-icon-height' }) %>
<%- include('../partials/cpTextInput', { id: 'label-lg-lexicon-icon-width' }) %>