<h4 class="cp-variables-form-header">Link Primary</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="link-primary" name="clay[link-primary]" type="hidden">
	</div>
	<%- include('../partials/cpTextInput', { id: 'link-primary-align-items' }) %>
	<%- include('../partials/cpColorInput', { id: 'link-primary-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'link-primary-border-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-primary-border-radius' }) %>
	<%- include('../partials/cpColorInput', { id: 'link-primary-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-primary-display' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-primary-font-family' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-primary-font-size' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-primary-font-weight' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-primary-height' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-primary-justify-content' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-primary-line-height' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-primary-margin-bottom' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-primary-margin-left' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-primary-margin-right' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-primary-margin-top' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-primary-opacity' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-primary-padding-bottom' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-primary-padding-left' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-primary-padding-right' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-primary-padding-top' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-primary-text-align' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-primary-text-decoration' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-primary-text-transform' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-primary-transition' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-primary-vertical-align' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-primary-width' }) %>
	<%- include('../partials/cpColorInput', { id: 'link-primary-hover-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'link-primary-hover-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-primary-hover-opacity' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-primary-hover-text-decoration' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-primary-focus-bg' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-primary-focus-box-shadow' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-primary-focus-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-primary-focus-opacity' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-primary-focus-outline' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-primary-text-decoration' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-primary-active-bg' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-primary-active-border-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-primary-active-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-primary-disabled-bg' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-primary-disabled-border-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-primary-disabled-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-primary-disabled-cursor' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-primary-disabled-opacity' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-primary-disabled-pointer-events' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-primary-btn-focus-box-shadow' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-primary-btn-focus-outline' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-primary-lexicon-icon-margin-bottom' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-primary-lexicon-icon-margin-left' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-primary-lexicon-icon-margin-right' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-primary-lexicon-icon-margin-top' }) %>
</div>

<h4 class="cp-variables-form-header">Link Secondary</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="link-secondary" name="clay[link-secondary]" type="hidden">
	</div>
	<%- include('../partials/cpTextInput', { id: 'link-secondary-align-items' }) %>
	<%- include('../partials/cpColorInput', { id: 'link-secondary-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'link-secondary-border-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-secondary-border-radius' }) %>
	<%- include('../partials/cpColorInput', { id: 'link-secondary-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-secondary-display' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-secondary-font-family' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-secondary-font-size' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-secondary-font-weight' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-secondary-height' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-secondary-justify-content' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-secondary-line-height' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-secondary-margin-bottom' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-secondary-margin-left' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-secondary-margin-right' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-secondary-margin-top' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-secondary-opacity' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-secondary-padding-bottom' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-secondary-padding-left' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-secondary-padding-right' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-secondary-padding-top' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-secondary-text-align' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-secondary-text-decoration' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-secondary-text-transform' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-secondary-transition' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-secondary-vertical-align' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-secondary-width' }) %>
	<%- include('../partials/cpColorInput', { id: 'link-secondary-hover-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'link-secondary-hover-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-secondary-hover-opacity' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-secondary-hover-text-decoration' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-secondary-focus-bg' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-secondary-focus-box-shadow' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-secondary-focus-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-secondary-focus-opacity' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-secondary-focus-outline' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-secondary-text-decoration' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-secondary-active-bg' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-secondary-active-border-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-secondary-active-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-secondary-disabled-bg' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-secondary-disabled-border-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-secondary-disabled-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-secondary-disabled-cursor' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-secondary-disabled-opacity' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-secondary-disabled-pointer-events' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-secondary-btn-focus-box-shadow' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-secondary-btn-focus-outline' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-secondary-lexicon-icon-margin-bottom' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-secondary-lexicon-icon-margin-left' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-secondary-lexicon-icon-margin-right' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-secondary-lexicon-icon-margin-top' }) %>
</div>

<h4 class="cp-variables-form-header">Component Link</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="component-link" name="clay[component-link]" type="hidden">
	</div>
	<%- include('../partials/cpTextInput', { id: 'component-link-align-items' }) %>
	<%- include('../partials/cpColorInput', { id: 'component-link-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'component-link-border-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-link-border-radius' }) %>
	<%- include('../partials/cpColorInput', { id: 'component-link-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-link-display' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-link-font-family' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-link-font-size' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-link-font-weight' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-link-height' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-link-justify-content' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-link-line-height' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-link-margin-bottom' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-link-margin-left' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-link-margin-right' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-link-margin-top' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-link-opacity' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-link-padding-bottom' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-link-padding-left' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-link-padding-right' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-link-padding-top' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-link-text-align' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-link-text-decoration' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-link-text-transform' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-link-transition' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-link-vertical-align' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-link-width' }) %>
	<%- include('../partials/cpColorInput', { id: 'component-link-hover-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'component-link-hover-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-link-hover-opacity' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-link-hover-text-decoration' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-link-focus-bg' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-link-focus-box-shadow' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-link-focus-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-link-focus-opacity' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-link-focus-outline' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-link-text-decoration' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-link-active-bg' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-link-active-border-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-link-active-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-link-disabled-bg' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-link-disabled-border-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-link-disabled-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-link-disabled-cursor' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-link-disabled-opacity' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-link-disabled-pointer-events' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-link-btn-focus-box-shadow' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-link-btn-focus-outline' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-link-lexicon-icon-margin-bottom' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-link-lexicon-icon-margin-left' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-link-lexicon-icon-margin-right' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-link-lexicon-icon-margin-top' }) %>
</div>

<h4 class="cp-variables-form-header">Single Link</h4>
<%- include('../partials/cpTextInput', { id: 'single-link-font-weight' }) %>

<h4 class="cp-variables-form-header">Component Title</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="component-title" name="clay[component-title]" type="hidden">
	</div>
	<%- include('../partials/cpTextInput', { id: 'component-title-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-title-font-size' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-title-font-family' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-title-font-weight' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-title-padding-top' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-title-padding-right' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-title-padding-bottom' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-title-padding-left' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-title-line-height' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-title-margin-top' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-title-margin-right' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-title-margin-bottom' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-title-margin-left' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-title-letter-spacing' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-title-text-transform' }) %>
</div>

<h4 class="cp-variables-form-header">Component Title Link</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="component-title-link" name="clay[component-title-link]" type="hidden">
	</div>
	<%- include('../partials/cpTextInput', { id: 'component-title-link-align-items' }) %>
	<%- include('../partials/cpColorInput', { id: 'component-title-link-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'component-title-link-border-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-title-link-border-radius' }) %>
	<%- include('../partials/cpColorInput', { id: 'component-title-link-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-title-link-display' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-title-link-font-family' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-title-link-font-size' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-title-link-font-weight' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-title-link-height' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-title-link-justify-content' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-title-link-line-height' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-title-link-margin-bottom' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-title-link-margin-left' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-title-link-margin-right' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-title-link-margin-top' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-title-link-opacity' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-title-link-padding-bottom' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-title-link-padding-left' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-title-link-padding-right' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-title-link-padding-top' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-title-link-text-align' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-title-link-text-decoration' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-title-link-text-transform' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-title-link-transition' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-title-link-vertical-align' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-title-link-width' }) %>
	<%- include('../partials/cpColorInput', { id: 'component-title-link-hover-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'component-title-link-hover-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-title-link-hover-opacity' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-title-link-hover-text-decoration' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-title-link-focus-bg' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-title-link-focus-box-shadow' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-title-link-focus-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-title-link-focus-opacity' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-title-link-focus-outline' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-title-link-text-decoration' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-title-link-active-bg' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-title-link-active-border-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-title-link-active-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-title-link-disabled-bg' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-title-link-disabled-border-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-title-link-disabled-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-title-link-disabled-cursor' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-title-link-disabled-opacity' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-title-link-disabled-pointer-events' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-title-link-btn-focus-box-shadow' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-title-link-btn-focus-outline' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-title-link-lexicon-icon-margin-bottom' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-title-link-lexicon-icon-margin-left' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-title-link-lexicon-icon-margin-right' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-title-link-lexicon-icon-margin-top' }) %>
</div>

<h4 class="cp-variables-form-header">Component Subtitle</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="component-subtitle" name="clay[component-subtitle]" type="hidden">
	</div>
	<%- include('../partials/cpTextInput', { id: 'component-subtitle-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-subtitle-font-size' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-subtitle-font-family' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-subtitle-font-weight' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-subtitle-padding-top' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-subtitle-padding-right' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-subtitle-padding-bottom' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-subtitle-padding-left' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-subtitle-line-height' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-subtitle-margin-top' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-subtitle-margin-right' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-subtitle-margin-bottom' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-subtitle-margin-left' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-subtitle-letter-spacing' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-subtitle-text-transform' }) %>
</div>

<h4 class="cp-variables-form-header">Component Subtitle Link</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="component-subtitle-link" name="clay[component-subtitle-link]" type="hidden">
	</div>
	<%- include('../partials/cpTextInput', { id: 'component-subtitle-link-align-items' }) %>
	<%- include('../partials/cpColorInput', { id: 'component-subtitle-link-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'component-subtitle-link-border-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-subtitle-link-border-radius' }) %>
	<%- include('../partials/cpColorInput', { id: 'component-subtitle-link-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-subtitle-link-display' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-subtitle-link-font-family' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-subtitle-link-font-size' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-subtitle-link-font-weight' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-subtitle-link-height' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-subtitle-link-justify-content' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-subtitle-link-line-height' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-subtitle-link-margin-bottom' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-subtitle-link-margin-left' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-subtitle-link-margin-right' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-subtitle-link-margin-top' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-subtitle-link-opacity' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-subtitle-link-padding-bottom' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-subtitle-link-padding-left' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-subtitle-link-padding-right' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-subtitle-link-padding-top' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-subtitle-link-text-align' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-subtitle-link-text-decoration' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-subtitle-link-text-transform' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-subtitle-link-transition' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-subtitle-link-vertical-align' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-subtitle-link-width' }) %>
	<%- include('../partials/cpColorInput', { id: 'component-subtitle-link-hover-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'component-subtitle-link-hover-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-subtitle-link-hover-opacity' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-subtitle-link-hover-text-decoration' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-subtitle-link-focus-bg' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-subtitle-link-focus-box-shadow' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-subtitle-link-focus-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-subtitle-link-focus-opacity' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-subtitle-link-focus-outline' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-subtitle-link-text-decoration' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-subtitle-link-active-bg' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-subtitle-link-active-border-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-subtitle-link-active-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-subtitle-link-disabled-bg' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-subtitle-link-disabled-border-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-subtitle-link-disabled-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-subtitle-link-disabled-cursor' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-subtitle-link-disabled-opacity' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-subtitle-link-disabled-pointer-events' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-subtitle-link-btn-focus-box-shadow' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-subtitle-link-btn-focus-outline' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-subtitle-link-lexicon-icon-margin-bottom' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-subtitle-link-lexicon-icon-margin-left' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-subtitle-link-lexicon-icon-margin-right' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-subtitle-link-lexicon-icon-margin-top' }) %>
</div>

<h4 class="cp-variables-form-header">Component Action</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="component-action" name="clay[component-action]" type="hidden">
	</div>
	<%- include('../partials/cpTextInput', { id: 'component-action-align-items' }) %>
	<%- include('../partials/cpColorInput', { id: 'component-action-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'component-action-border-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-action-border-radius' }) %>
	<%- include('../partials/cpColorInput', { id: 'component-action-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-action-display' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-action-font-family' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-action-font-size' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-action-font-weight' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-action-height' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-action-justify-content' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-action-line-height' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-action-margin-bottom' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-action-margin-left' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-action-margin-right' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-action-margin-top' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-action-opacity' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-action-padding-bottom' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-action-padding-left' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-action-padding-right' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-action-padding-top' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-action-text-align' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-action-text-decoration' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-action-text-transform' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-action-transition' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-action-vertical-align' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-action-width' }) %>
	<%- include('../partials/cpColorInput', { id: 'component-action-hover-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'component-action-hover-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-action-hover-opacity' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-action-hover-text-decoration' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-action-focus-bg' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-action-focus-box-shadow' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-action-focus-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-action-focus-opacity' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-action-focus-outline' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-action-text-decoration' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-action-active-bg' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-action-active-border-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-action-active-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-action-disabled-bg' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-action-disabled-border-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-action-disabled-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-action-disabled-cursor' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-action-disabled-opacity' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-action-disabled-pointer-events' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-action-btn-focus-box-shadow' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-action-btn-focus-outline' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-action-lexicon-icon-margin-bottom' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-action-lexicon-icon-margin-left' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-action-lexicon-icon-margin-right' }) %>
	<%- include('../partials/cpTextInput', { id: 'component-action-lexicon-icon-margin-top' }) %>
</div>

<h4 class="cp-variables-form-header">Link Monospaced</h4>
<%- include('../partials/cpTextInput', { id: 'link-monospaced-size' }) %>

<h4 class="cp-variables-form-header">Link Outline</h4>
<%- include('../partials/cpTextInput', { id: 'link-outline-font-size' }) %>
<%- include('../partials/cpTextInput', { id: 'link-outline-font-weight' }) %>
<%- include('../partials/cpTextInput', { id: 'link-outline-padding-y' }) %>
<%- include('../partials/cpTextInput', { id: 'link-outline-padding-x' }) %>
<%- include('../partials/cpTextInput', { id: 'link-outline-line-height' }) %>
<%- include('../partials/cpTextInput', { id: 'link-outline-border-width' }) %>
<%- include('../partials/cpTextInput', { id: 'link-outline-border-radius' }) %>
<%- include('../partials/cpTextInput', { id: 'link-outline-transition' }) %>

<h4 class="cp-variables-form-header">Link Outline Primary</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="link-outline-primary" name="clay[link-outline-primary]" type="hidden">
	</div>
	<%- include('../partials/cpTextInput', { id: 'link-outline-primary-align-items' }) %>
	<%- include('../partials/cpColorInput', { id: 'link-outline-primary-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'link-outline-primary-border-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-primary-border-radius' }) %>
	<%- include('../partials/cpColorInput', { id: 'link-outline-primary-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-primary-display' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-primary-font-family' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-primary-font-size' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-primary-font-weight' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-primary-height' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-primary-justify-content' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-primary-line-height' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-primary-margin-bottom' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-primary-margin-left' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-primary-margin-right' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-primary-margin-top' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-primary-opacity' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-primary-padding-bottom' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-primary-padding-left' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-primary-padding-right' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-primary-padding-top' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-primary-text-align' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-primary-text-decoration' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-primary-text-transform' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-primary-transition' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-primary-vertical-align' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-primary-width' }) %>
	<%- include('../partials/cpColorInput', { id: 'link-outline-primary-hover-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'link-outline-primary-hover-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-primary-hover-opacity' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-primary-hover-text-decoration' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-primary-focus-bg' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-primary-focus-box-shadow' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-primary-focus-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-primary-focus-opacity' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-primary-focus-outline' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-primary-text-decoration' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-primary-active-bg' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-primary-active-border-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-primary-active-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-primary-disabled-bg' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-primary-disabled-border-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-primary-disabled-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-primary-disabled-cursor' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-primary-disabled-opacity' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-primary-disabled-pointer-events' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-primary-btn-focus-box-shadow' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-primary-btn-focus-outline' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-primary-lexicon-icon-margin-bottom' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-primary-lexicon-icon-margin-left' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-primary-lexicon-icon-margin-right' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-primary-lexicon-icon-margin-top' }) %>
</div>

<h4 class="cp-variables-form-header">Link Outline Secondary</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="link-outline-secondary" name="clay[link-outline-secondary]" type="hidden">
	</div>
	<%- include('../partials/cpTextInput', { id: 'link-outline-secondary-align-items' }) %>
	<%- include('../partials/cpColorInput', { id: 'link-outline-secondary-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'link-outline-secondary-border-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-secondary-border-radius' }) %>
	<%- include('../partials/cpColorInput', { id: 'link-outline-secondary-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-secondary-display' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-secondary-font-family' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-secondary-font-size' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-secondary-font-weight' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-secondary-height' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-secondary-justify-content' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-secondary-line-height' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-secondary-margin-bottom' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-secondary-margin-left' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-secondary-margin-right' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-secondary-margin-top' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-secondary-opacity' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-secondary-padding-bottom' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-secondary-padding-left' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-secondary-padding-right' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-secondary-padding-top' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-secondary-text-align' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-secondary-text-decoration' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-secondary-text-transform' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-secondary-transition' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-secondary-vertical-align' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-secondary-width' }) %>
	<%- include('../partials/cpColorInput', { id: 'link-outline-secondary-hover-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'link-outline-secondary-hover-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-secondary-hover-opacity' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-secondary-hover-text-decoration' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-secondary-focus-bg' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-secondary-focus-box-shadow' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-secondary-focus-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-secondary-focus-opacity' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-secondary-focus-outline' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-secondary-text-decoration' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-secondary-active-bg' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-secondary-active-border-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-secondary-active-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-secondary-disabled-bg' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-secondary-disabled-border-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-secondary-disabled-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-secondary-disabled-cursor' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-secondary-disabled-opacity' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-secondary-disabled-pointer-events' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-secondary-btn-focus-box-shadow' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-secondary-btn-focus-outline' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-secondary-lexicon-icon-margin-bottom' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-secondary-lexicon-icon-margin-left' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-secondary-lexicon-icon-margin-right' }) %>
	<%- include('../partials/cpTextInput', { id: 'link-outline-secondary-lexicon-icon-margin-top' }) %>
</div>