<h4 class="cp-variables-form-header">List Group</h4>
<%- include('../partials/cpColorInput', { id: 'list-group-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'list-group-border-radius' }) %>
<%- include('../partials/cpTextInput', { id: 'list-group-border-width' }) %>
<%- include('../partials/cpColorInput', { id: 'list-group-border' }) %>
<%- include('../partials/cpTextInput', { id: 'list-group-box-shadow' }) %>

<h4 class="cp-variables-form-header">List Group Hover</h4>
<%- include('../partials/cpColorInput', { id: 'list-group-hover-bg' }) %>

<h4 class="cp-variables-form-header">List Group Active</h4>
<%- include('../partials/cpColorInput', { id: 'list-group-active-bg' }) %>
<%- include('../partials/cpColorInput', { id: 'list-group-active-border' }) %>
<%- include('../partials/cpColorInput', { id: 'list-group-active-color' }) %>
<%- include('../partials/cpColorInput', { id: 'list-group-active-text-color' }) %>

<h4 class="cp-variables-form-header">List Group Disabled</h4>
<%- include('../partials/cpColorInput', { id: 'list-group-disabled-bg' }) %>
<%- include('../partials/cpColorInput', { id: 'list-group-disabled-color' }) %>
<%- include('../partials/cpColorInput', { id: 'list-group-disabled-text-color' }) %>

<h4 class="cp-variables-form-header">List Group Link</h4>
<%- include('../partials/cpColorInput', { id: 'list-group-link-color' }) %>
<%- include('../partials/cpColorInput', { id: 'list-group-link-heading-color' }) %>
<%- include('../partials/cpColorInput', { id: 'list-group-link-hover-color' }) %>

<h4 class="cp-variables-form-header">Tabular List Group</h4>
<%- include('../partials/cpTextInput', { id: 'tabular-list-group-border-width' }) %>
<%- include('../partials/cpTextInput', { id: 'tabular-list-group-active-border-bottom-width' }) %>
<%- include('../partials/cpTextInput', { id: 'tabular-list-group-item-height' }) %>
<%- include('../partials/cpTextInput', { id: 'tabular-list-group-vertical-alignment' }) %>

<h4 class="cp-variables-form-header">List Group Header</h4>
<%- include('../partials/cpColorInput', { id: 'list-group-header-bg' }) %>
<%- include('../partials/cpColorInput', { id: 'list-group-header-color' }) %>
<%- include('../partials/cpColorInput', { id: 'list-group-header-hover-color' }) %>
<%- include('../partials/cpTextInput', { id: 'list-group-header-font-weight' }) %>
<%- include('../partials/cpTextInput', { id: 'list-group-header-icon-font-size' }) %>
<%- include('../partials/cpColorInput', { id: 'list-group-header-close-border-color' }) %>
<%- include('../partials/cpTextInput', { id: 'list-group-header-close-border-width' }) %>
<%- include('../partials/cpColorInput', { id: 'list-group-header-open-border-color' }) %>
<%- include('../partials/cpTextInput', { id: 'list-group-header-open-border-width' }) %>

<h4 class="cp-variables-form-header">List Group Item Dropdown Toggle</h4>
<%- include('../partials/cpColorInput', { id: 'list-group-item-dropdown-toggle-color' }) %>
<%- include('../partials/cpColorInput', { id: 'list-group-item-dropdown-toggle-focus-color' }) %>
<%- include('../partials/cpColorInput', { id: 'list-group-item-dropdown-toggle-hover-color' }) %>
<%- include('../partials/cpColorInput', { id: 'list-group-item-active-dropdown-toggle-color' }) %>
<%- include('../partials/cpColorInput', { id: 'list-group-item-active-dropdown-toggle-focus-color' }) %>
<%- include('../partials/cpColorInput', { id: 'list-group-item-active-dropdown-toggle-hover-color' }) %>

<h4 class="cp-variables-form-header">List Group Card</h4>
<%- include('../partials/cpColorInput', { id: 'list-group-card-active-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'list-group-card-active-border-width' }) %>
<%- include('../partials/cpColorInput', { id: 'list-group-card-active-border' }) %>
<%- include('../partials/cpColorInput', { id: 'list-group-card-active-color' }) %>
<%- include('../partials/cpTextInput', { id: 'list-group-card-checkbox-hidden-icon' }) %>