<h4 class="cp-variables-form-header">Management Bar</h4>
<%- include('../partials/cpTextInput', { id: 'management-bar-desktop-height' }) %>
<%- include('../partials/cpTextInput', { id: 'management-bar-height' }) %>
<%- include('../partials/cpTextInput', { id: 'management-bar-border-bottom-width' }) %>
<%- include('../partials/cpTextInput', { id: 'management-bar-border-left-width' }) %>
<%- include('../partials/cpTextInput', { id: 'management-bar-border-right-width' }) %>
<%- include('../partials/cpTextInput', { id: 'management-bar-border-top-width' }) %>
<%- include('../partials/cpTextInput', { id: 'management-bar-margin-bottom' }) %>
<%- include('../partials/cpTextInput', { id: 'management-bar-dropdown-menu-margin-top' }) %>

<h4 class="cp-variables-form-header">Management Bar Link</h4>
<%- include('../partials/cpTextInput', { id: 'management-bar-desktop-padding-vertical', placeholder: 'desktop height and border first' }) %>
<%- include('../partials/cpTextInput', { id: 'management-bar-padding-vertical', placeholder: 'height and border first' }) %>
<%- include('../partials/cpTextInput', { id: 'management-bar-desktop-padding-horizontal' }) %>
<%- include('../partials/cpTextInput', { id: 'management-bar-padding-horizontal' }) %>
<%- include('../partials/cpTextInput', { id: 'management-bar-desktop-link-line-height' }) %>
<%- include('../partials/cpTextInput', { id: 'management-bar-link-line-height' }) %>
<%- include('../partials/cpColorInput', { id: 'management-bar-link-active-color' }) %>

<h4 class="cp-variables-form-header">Management Bar Btn</h4>
<%- include('../partials/cpTextInput', { id: 'management-bar-desktop-btn-padding-vertical' }) %>
<%- include('../partials/cpTextInput', { id: 'management-bar-btn-padding-vertical' }) %>
<%- include('../partials/cpTextInput', { id: 'management-bar-desktop-btn-padding-horizontal' }) %>
<%- include('../partials/cpTextInput', { id: 'management-bar-btn-padding-horizontal' }) %>

<h4 class="cp-variables-form-header">Management Bar Toggle</h4>
<%- include('../partials/cpTextInput', { id: 'management-bar-toggle-height' }) %>

<h4 class="cp-variables-form-header">Management Bar Collapse</h4>
<%- include('../partials/cpTextInput', { id: 'management-bar-collapse-absolute-box-shadow' }) %>
<%- include('../partials/cpColorInput', { id: 'management-bar-collapse-bg' }) %>
<%- include('../partials/cpColorInput', { id: 'management-bar-collapse-border' }) %>

<h4 class="cp-variables-form-header">Management Bar Default</h4>
<%- include('../partials/cpColorInput', { id: 'management-bar-default-color' }) %>
<%- include('../partials/cpColorInput', { id: 'management-bar-default-bg' }) %>
<%- include('../partials/cpColorInput', { id: 'management-bar-default-border' }) %>
<%- include('../partials/cpTextInput', { id: 'management-bar-default-box-shadow' }) %>

<h4 class="cp-variables-form-header">Management Bar Default Link</h4>
<%- include('../partials/cpColorInput', { id: 'management-bar-default-link-color' }) %>
<%- include('../partials/cpColorInput', { id: 'management-bar-default-link-hover-color' }) %>
<%- include('../partials/cpColorInput', { id: 'management-bar-default-link-active-color' }) %>
<%- include('../partials/cpColorInput', { id: 'management-bar-default-link-disabled-color' }) %>
<%- include('../partials/cpColorInput', { id: 'management-bar-default-link-hover-bg' }) %>
<%- include('../partials/cpColorInput', { id: 'management-bar-default-link-active-bg' }) %>
<%- include('../partials/cpColorInput', { id: 'management-bar-default-link-disabled-bg' }) %>

<h4 class="cp-variables-form-header">Management Bar Default Btn</h4>
<%- include('../partials/cpColorInput', { id: 'management-bar-default-btn-default-bg' }) %>
<%- include('../partials/cpColorInput', { id: 'management-bar-default-btn-default-hover-bg' }) %>
<%- include('../partials/cpColorInput', { id: 'management-bar-default-btn-default-active-bg' }) %>
<%- include('../partials/cpColorInput', { id: 'management-bar-default-btn-default-border' }) %>
<%- include('../partials/cpColorInput', { id: 'management-bar-default-btn-default-hover-border' }) %>
<%- include('../partials/cpColorInput', { id: 'management-bar-default-btn-default-active-border' }) %>
<%- include('../partials/cpColorInput', { id: 'management-bar-default-btn-default-color' }) %>
<%- include('../partials/cpColorInput', { id: 'management-bar-default-btn-default-hover-color' }) %>
<%- include('../partials/cpColorInput', { id: 'management-bar-default-btn-default-active-color' }) %>

<h4 class="cp-variables-form-header">Management Bar Default Collapse</h4>
<%- include('../partials/cpColorInput', { id: 'management-bar-default-collapse-bg' }) %>
<%- include('../partials/cpColorInput', { id: 'management-bar-default-collapse-border' }) %>