<h4 class="cp-variables-form-header">Menubar Vertical Transparent Md</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="menubar-vertical-transparent-md" name="clay[menubar-vertical-transparent-md]" type="hidden">
	</div>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-transparent-md-enable' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-transparent-md-breakpoint-up' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-transparent-md-border-style' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-transparent-md-border-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-transparent-md-bg' }) %>

	<h5 class="cp-variables-form-subheader">Menubar Vertical Transparent Md Link</h5>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-transparent-md-link-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-transparent-md-link-hover-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-transparent-md-link-active-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-transparent-md-link-active-font-weight' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-transparent-md-link-disabled-color' }) %>

	<h5 class="cp-variables-form-subheader">Menubar Vertical Transparent Md Mobile</h5>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-transparent-md-border-style-mobile' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-transparent-md-border-color-mobile' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-transparent-md-bg-mobile' }) %>

	<h5 class="cp-variables-form-subheader">Menubar Vertical Transparent Md Link Mobile</h5>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-transparent-md-link-color-mobile' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-transparent-md-link-hover-color-mobile' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-transparent-md-link-hover-bg-mobile' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-transparent-md-link-active-color-mobile' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-transparent-md-link-active-bg-mobile' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-transparent-md-link-active-font-weight-mobile' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-transparent-md-link-disabled-color-mobile' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-transparent-md-link-disabled-bg-mobile' }) %>

	<h5 class="cp-variables-form-subheader">Menubar Vertical Transparent Md Collapse Mobile</h5>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-transparent-md-collapse-border-style-mobile' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-transparent-md-collapse-border-color-mobile' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-transparent-md-collapse-border-radius-mobile' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-transparent-md-collapse-bg-mobile' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-transparent-md-collapse-box-shadow-mobile' }) %>

	<h5 class="cp-variables-form-subheader">Menubar Vertical Transparent Md Toggler Mobile</h5>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-transparent-md-toggler-font-size-mobile' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-transparent-md-toggler-font-weight-mobile' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-transparent-md-toggler-border-style-mobile' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-transparent-md-toggler-border-color-mobile' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-transparent-md-toggler-color-mobile' }) %>
</div>

<h4 class="cp-variables-form-header">Menubar Vertical Expand Md</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="menubar-vertical-expand-md" name="clay[menubar-vertical-expand-md]" type="hidden">
	</div>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-expand-md-enabled' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-expand-md-breakpoint-up' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-expand-md-max-width' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-expand-md-border-width' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-expand-md-border-style' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-expand-md-border-color' }) %>

	<h5 class="cp-variables-form-subheader">Menubar Vertical Expand Md Mobile</h5>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-expand-md-max-width-mobile' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-expand-md-min-height-mobile' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-expand-md-padding-y-mobile' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-expand-md-padding-x-mobile' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-expand-md-margin-top-mobile' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-expand-md-margin-right-mobile' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-expand-md-margin-bottom-mobile' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-expand-md-margin-left-mobile' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-expand-md-border-width-mobile' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-expand-md-border-style-mobile' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-expand-md-border-color-mobile' }) %>

	<h5 class="cp-variables-form-subheader">Menubar Vertical Expand Md Collapse Mobile</h5>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-expand-md-collapse-max-width-mobile' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-expand-md-collapse-border-width-mobile' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-expand-md-collapse-border-style-mobile' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-expand-md-collapse-border-color-mobile' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-expand-md-collapse-inner-spacer-y-mobile' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-expand-md-collapse-margin-top-mobile' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-expand-md-collapse-right-mobile' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-expand-md-collapse-left-mobile' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-expand-md-collapse-z-index-mobile' }) %>

	<h5 class="cp-variables-form-subheader">Menubar Vertical Expand Md Toggle Mobile</h5>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-expand-md-toggler-height-mobile' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-expand-md-toggler-padding-y-mobile' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-expand-md-toggler-padding-x-mobile' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-expand-md-toggler-border-width-mobile' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-expand-md-toggler-border-style-mobile' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-expand-md-toggler-border-color-mobile' }) %>
</div>

<h4 class="cp-variables-form-header">Menubar Vertical Transparent Lg</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="menubar-vertical-transparent-lg" name="clay[menubar-vertical-transparent-lg]" type="hidden">
	</div>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-transparent-lg-enable' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-transparent-lg-breakpoint-up' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-transparent-lg-border-style' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-transparent-lg-border-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-transparent-lg-bg' }) %>

	<h5 class="cp-variables-form-subheader">Menubar Vertical Transparent Lg Link</h5>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-transparent-lg-link-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-transparent-lg-link-hover-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-transparent-lg-link-active-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-transparent-lg-link-active-font-weight' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-transparent-lg-link-disabled-color' }) %>

	<h5 class="cp-variables-form-subheader">Menubar Vertical Transparent Lg Mobile</h5>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-transparent-lg-border-style-mobile' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-transparent-lg-border-color-mobile' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-transparent-lg-bg-mobile' }) %>

	<h5 class="cp-variables-form-subheader">Menubar Vertical Transparent Lg Link Mobile</h5>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-transparent-lg-link-color-mobile' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-transparent-lg-link-hover-color-mobile' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-transparent-lg-link-hover-bg-mobile' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-transparent-lg-link-active-color-mobile' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-transparent-lg-link-active-bg-mobile' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-transparent-lg-link-active-font-weight-mobile' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-transparent-lg-link-disabled-color-mobile' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-transparent-lg-link-disabled-bg-mobile' }) %>

	<h5 class="cp-variables-form-subheader">Menubar Vertical Transparent Lg Collapse Mobile</h5>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-transparent-lg-collapse-border-style-mobile' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-transparent-lg-collapse-border-color-mobile' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-transparent-lg-collapse-border-radius-mobile' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-transparent-lg-collapse-bg-mobile' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-transparent-lg-collapse-box-shadow-mobile' }) %>

	<h5 class="cp-variables-form-subheader">Menubar Vertical Transparent Lg Toggler Mobile</h5>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-transparent-lg-toggler-font-size-mobile' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-transparent-lg-toggler-font-weight-mobile' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-transparent-lg-toggler-border-style-mobile' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-transparent-lg-toggler-border-color-mobile' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-transparent-lg-toggler-color-mobile' }) %>
</div>

<h4 class="cp-variables-form-header">Menubar Vertical Expand Lg</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="menubar-vertical-expand-lg" name="clay[menubar-vertical-expand-lg]" type="hidden">
	</div>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-expand-lg-enabled' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-expand-lg-breakpoint-up' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-expand-lg-max-width' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-expand-lg-border-width' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-expand-lg-border-style' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-expand-lg-border-color' }) %>

	<h5 class="cp-variables-form-subheader">Menubar Vertical Expand Lg Mobile</h5>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-expand-lg-max-width-mobile' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-expand-lg-min-height-mobile' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-expand-lg-padding-y-mobile' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-expand-lg-padding-x-mobile' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-expand-lg-margin-top-mobile' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-expand-lg-margin-right-mobile' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-expand-lg-margin-bottom-mobile' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-expand-lg-margin-left-mobile' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-expand-lg-border-width-mobile' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-expand-lg-border-style-mobile' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-expand-lg-border-color-mobile' }) %>

	<h5 class="cp-variables-form-subheader">Menubar Vertical Expand Lg Collapse Mobile</h5>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-expand-lg-collapse-max-width-mobile' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-expand-lg-collapse-border-width-mobile' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-expand-lg-collapse-border-style-mobile' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-expand-lg-collapse-border-color-mobile' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-expand-lg-collapse-inner-spacer-y-mobile' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-expand-lg-collapse-margin-top-mobile' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-expand-lg-collapse-right-mobile' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-expand-lg-collapse-left-mobile' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-expand-lg-collapse-z-index-mobile' }) %>

	<h5 class="cp-variables-form-subheader">Menubar Vertical Expand Lg Toggle Mobile</h5>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-expand-lg-toggler-height-mobile' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-expand-lg-toggler-padding-y-mobile' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-expand-lg-toggler-padding-x-mobile' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-expand-lg-toggler-border-width-mobile' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-expand-lg-toggler-border-style-mobile' }) %>
	<%- include('../partials/cpTextInput', { id: 'menubar-vertical-expand-lg-toggler-border-color-mobile' }) %>
</div>