<h4 class="cp-variables-form-header">Modal</h4>
<%- include('../partials/cpColorInput', { id: 'modal-body-bg' }) %>
<%- include('../partials/cpColorInput', { id: 'modal-body-color' }) %>
<%- include('../partials/cpTextInput', { id: 'modal-box-shadow' }) %>
<%- include('../partials/cpColorInput', { id: 'modal-content-bg' }) %>
<%- include('../partials/cpColorInput', { id: 'modal-content-border-color' }) %>
<%- include('../partials/cpColorInput', { id: 'modal-content-fallback-border-color' }) %>
<%- include('../partials/cpTextInput', { id: 'modal-inner-padding-vertical' }) %>
<%- include('../partials/cpTextInput', { id: 'modal-inner-padding-horizontal' }) %>

<h4 class="cp-variables-form-header">Modal Title</h4>
<%- include('../partials/cpTextInput', { id: 'modal-title-line-height' }) %>
<%- include('../partials/cpTextInput', { id: 'modal-title-padding' }) %>

<h4 class="cp-variables-form-header">Modal Header</h4>
<%- include('../partials/cpColorInput', { id: 'modal-desktop-header-bg' }) %>
<%- include('../partials/cpColorInput', { id: 'modal-header-bg' }) %>
<%- include('../partials/cpColorInput', { id: 'modal-header-border-color' }) %>
<%- include('../partials/cpColorInput', { id: 'modal-desktop-header-color' }) %>
<%- include('../partials/cpColorInput', { id: 'modal-header-color' }) %>
<%- include('../partials/cpTextInput', { id: 'modal-desktop-header-height' }) %>
<%- include('../partials/cpTextInput', { id: 'modal-header-height' }) %>

<h4 class="cp-variables-form-header">Modal Header Close</h4>
<%- include('../partials/cpColorInput', { id: 'modal-desktop-header-close-color' }) %>
<%- include('../partials/cpColorInput', { id: 'modal-header-close-color' }) %>
<%- include('../partials/cpTextInput', { id: 'modal-header-close-icon-opacity' }) %>
<%- include('../partials/cpTextInput', { id: 'modal-header-close-lexicon-icon-opacity' }) %>
<%- include('../partials/cpTextInput', { id: 'modal-header-close-opacity-modifier' }) %>

<h4 class="cp-variables-form-header">Modal Footer</h4>
<%- include('../partials/cpColorInput', { id: 'modal-desktop-footer-bg' }) %>
<%- include('../partials/cpColorInput', { id: 'modal-footer-bg' }) %>
<%- include('../partials/cpColorInput', { id: 'modal-footer-border-color' }) %>
<%- include('../partials/cpTextInput', { id: 'modal-footer-box-shadow' }) %>
<%- include('../partials/cpColorInput', { id: 'modal-desktop-footer-color' }) %>
<%- include('../partials/cpColorInput', { id: 'modal-footer-color' }) %>
<%- include('../partials/cpTextInput', { id: 'modal-desktop-footer-height' }) %>
<%- include('../partials/cpTextInput', { id: 'modal-footer-height' }) %>

<h4 class="cp-variables-form-header">Modal Backdrop</h4>
<%- include('../partials/cpColorInput', { id: 'modal-backdrop-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'modal-backdrop-opacity' }) %>

<h4 class="cp-variables-form-header">Modal Sizes</h4>
<%- include('../partials/cpTextInput', { id: 'modal-sm' }) %>
<%- include('../partials/cpTextInput', { id: 'modal-md' }) %>
<%- include('../partials/cpTextInput', { id: 'modal-lg' }) %>

<h4 class="cp-variables-form-header">Modal Inverse</h4>
<%- include('../partials/cpColorInput', { id: 'modal-inverse-body-bg' }) %>
<%- include('../partials/cpColorInput', { id: 'modal-inverse-body-color' }) %>
<%- include('../partials/cpColorInput', { id: 'modal-inverse-content-bg' }) %>
<%- include('../partials/cpColorInput', { id: 'modal-inverse-content-border-color' }) %>

<h4 class="cp-variables-form-header">Modal Inverse Header</h4>
<%- include('../partials/cpColorInput', { id: 'modal-inverse-desktop-header-bg' }) %>
<%- include('../partials/cpColorInput', { id: 'modal-inverse-header-bg' }) %>
<%- include('../partials/cpColorInput', { id: 'modal-inverse-desktop-header-border-color' }) %>
<%- include('../partials/cpColorInput', { id: 'modal-inverse-header-border-color' }) %>
<%- include('../partials/cpColorInput', { id: 'modal-inverse-header-color' }) %>

<h4 class="cp-variables-form-header">Modal Inverse Header Close</h4>
<%- include('../partials/cpColorInput', { id: 'modal-inverse-desktop-header-close-color' }) %>
<%- include('../partials/cpColorInput', { id: 'modal-inverse-header-close-color' }) %>
<%- include('../partials/cpColorInput', { id: 'modal-inverse-desktop-header-color' }) %>

<h4 class="cp-variables-form-header">Modal Inverse Footer</h4>
<%- include('../partials/cpColorInput', { id: 'modal-inverse-desktop-footer-bg' }) %>
<%- include('../partials/cpColorInput', { id: 'modal-inverse-footer-bg' }) %>
<%- include('../partials/cpColorInput', { id: 'modal-inverse-desktop-footer-border-color' }) %>
<%- include('../partials/cpColorInput', { id: 'modal-inverse-footer-border-color' }) %>
<%- include('../partials/cpColorInput', { id: 'modal-inverse-desktop-footer-color' }) %>
<%- include('../partials/cpColorInput', { id: 'modal-inverse-footer-color' }) %>

<h4 class="cp-variables-form-header">Modal Inverse Link</h4>
<%- include('../partials/cpColorInput', { id: 'modal-inverse-link-color' }) %>
<%- include('../partials/cpColorInput', { id: 'modal-inverse-link-hover-color' }) %>