<h4 class="cp-variables-form-header">Multi Step Progress Bar</h4>
<%- include('../partials/cpColorInput', { id: 'multi-step-progress-bar-color' }) %>
<%- include('../partials/cpColorInput', { id: 'multi-step-progress-bar-active-color' }) %>
<%- include('../partials/cpColorInput', { id: 'multi-step-progress-bar-complete-color' }) %>

<h4 class="cp-variables-form-header">Multi Step Progress Bar Icon</h4>
<%- include('../partials/cpTextInput', { id: 'multi-step-progress-bar-icon' }) %>
<%- include('../partials/cpTextInput', { id: 'multi-step-progress-bar-active-icon' }) %>
<%- include('../partials/cpTextInput', { id: 'multi-step-progress-bar-complete-icon' }) %>
<%- include('../partials/cpColorInput', { id: 'multi-step-progress-bar-complete-icon-color' }) %>

<h4 class="cp-variables-form-header">Multi Step Progress Bar Divider</h4>
<%- include('../partials/cpTextInput', { id: 'multi-step-progress-bar-divider-height' }) %>

<h4 class="cp-variables-form-header">Multi Step Progress Bar Fixed</h4>
<%- include('../partials/cpTextInput', { id: 'multi-step-progress-bar-fixed-width' }) %>