<h4 class="cp-variables-form-header">Multi Step Nav</h4>
<%- include('../partials/cpTextInput', { id: 'multi-step-nav-padding-y' }) %>
<%- include('../partials/cpTextInput', { id: 'multi-step-nav-padding-x' }) %>
<%- include('../partials/cpTextInput', { id: 'multi-step-nav-margin-bottom' }) %>

<h4 class="cp-variables-form-header">Multi Step Icon</h4>
<%- include('../partials/cpTextInput', { id: 'multi-step-icon-size' }) %>
<%- include('../partials/cpTextInput', { id: 'multi-step-icon-font-size' }) %>
<%- include('../partials/cpTextInput', { id: 'multi-step-icon-font-weight' }) %>
<%- include('../partials/cpTextInput', { id: 'multi-step-icon-border-radius' }) %>
<%- include('../partials/cpTextInput', { id: 'multi-step-icon-color' }) %>
<%- include('../partials/cpTextInput', { id: 'multi-step-icon-bg' }) %>

<h4 class="cp-variables-form-header">Multi Step Icon Hover</h4>
<%- include('../partials/cpTextInput', { id: 'multi-step-icon-hover-color' }) %>
<%- include('../partials/cpTextInput', { id: 'multi-step-icon-hover-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'multi-step-icon-hover-text-decoration' }) %>

<h4 class="cp-variables-form-header">Multi Step Divider</h4>
<%- include('../partials/cpTextInput', { id: 'multi-step-divider-height' }) %>
<%- include('../partials/cpTextInput', { id: 'multi-step-divider-spacer-x' }) %>
<%- include('../partials/cpTextInput', { id: 'multi-step-divider-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'multi-step-divider-top' }) %>

<h4 class="cp-variables-form-header">Multi Step Indicator</h4>
<%- include('../partials/cpTextInput', { id: 'multi-step-indicator-width' }) %>

<h4 class="cp-variables-form-header">Multi Step Indicator Label</h4>
<%- include('../partials/cpTextInput', { id: 'multi-step-indicator-label-max-width' }) %>
<%- include('../partials/cpTextInput', { id: 'multi-step-indicator-label-font-size' }) %>
<%- include('../partials/cpTextInput', { id: 'multi-step-indicator-label-font-weight' }) %>
<%- include('../partials/cpTextInput', { id: 'multi-step-indicator-label-color' }) %>

<h4 class="cp-variables-form-header">Multi Step Title</h4>
<%- include('../partials/cpTextInput', { id: 'multi-step-title-max-width' }) %>
<%- include('../partials/cpTextInput', { id: 'multi-step-title-font-size' }) %>
<%- include('../partials/cpTextInput', { id: 'multi-step-title-font-weight' }) %>
<%- include('../partials/cpTextInput', { id: 'multi-step-title-margin-bottom' }) %>
<%- include('../partials/cpTextInput', { id: 'multi-step-title-color' }) %>

<h4 class="cp-variables-form-header">Multi Step Item</h4>
<%- include('../partials/cpTextInput', { id: 'multi-step-item-width' }) %>
<%- include('../partials/cpTextInput', { id: 'multi-step-item-margin-bottom' }) %>

<h4 class="cp-variables-form-header">Multi Step Item Fixed Width</h4>
<%- include('../partials/cpTextInput', { id: 'multi-step-item-fixed-width' }) %>

<h4 class="cp-variables-form-header">Multi Step Item Complete</h4>
<%- include('../partials/cpTextInput', { id: 'multi-step-icon-complete-color' }) %>
<%- include('../partials/cpTextInput', { id: 'multi-step-icon-complete-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'multi-step-icon-complete-bg-image' }) %>
<%- include('../partials/cpTextInput', { id: 'multi-step-icon-complete-bg-position' }) %>
<%- include('../partials/cpTextInput', { id: 'multi-step-icon-complete-bg-size' }) %>
<%- include('../partials/cpTextInput', { id: 'multi-step-divider-complete-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'multi-step-dropdown-indicator-complete-width' }) %>
<%- include('../partials/cpTextInput', { id: 'multi-step-dropdown-indicator-complete-icon' }) %>

<h4 class="cp-variables-form-header">Multi Step Item Active</h4>
<%- include('../partials/cpTextInput', { id: 'multi-step-icon-active-color' }) %>
<%- include('../partials/cpTextInput', { id: 'multi-step-icon-active-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'multi-step-icon-active-bg-image' }) %>
<%- include('../partials/cpTextInput', { id: 'multi-step-icon-active-bg-position' }) %>
<%- include('../partials/cpTextInput', { id: 'multi-step-icon-active-bg-size' }) %>
<%- include('../partials/cpTextInput', { id: 'multi-step-divider-active-bg' }) %>

<h4 class="cp-variables-form-header">Multi Step Item Disabled</h4>
<%- include('../partials/cpTextInput', { id: 'multi-step-icon-disabled-color' }) %>
<%- include('../partials/cpTextInput', { id: 'multi-step-icon-disabled-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'multi-step-icon-disabled-bg-image' }) %>
<%- include('../partials/cpTextInput', { id: 'multi-step-icon-disabled-bg-position' }) %>
<%- include('../partials/cpTextInput', { id: 'multi-step-icon-disabled-bg-size' }) %>
<%- include('../partials/cpTextInput', { id: 'multi-step-icon-disabled-cursor' }) %>
<%- include('../partials/cpTextInput', { id: 'multi-step-divider-disabled-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'multi-step-title-disabled-color' }) %>
<%- include('../partials/cpTextInput', { id: 'multi-step-indicator-label-disabled-color' }) %>