<h4 class="cp-variables-form-header">Nameplate Label</h4>
<%- include('../partials/cpTextInput', { id: 'nameplate-label-border-radius' }) %>
<%- include('../partials/cpTextInput', { id: 'nameplate-label-height' }) %>
<%- include('../partials/cpTextInput', { id: 'nameplate-subheading-color' }) %>

<h4 class="cp-variables-form-header">Nameplate Label Text</h4>
<%- include('../partials/cpTextInput', { id: 'nameplate-label-text-font-weight' }) %>
<%- include('../partials/cpTextInput', { id: 'nameplate-label-text-line-height' }) %>
<%- include('../partials/cpTextInput', { id: 'nameplate-label-text-max-width' }) %>

<h4 class="cp-variables-form-header">Nameplate Label Default</h4>
<%- include('../partials/cpTextInput', { id: 'nameplate-label-default-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'nameplate-label-default-color' }) %>

<h4 class="cp-variables-form-header">Nameplate Label Inverse</h4>
<%- include('../partials/cpTextInput', { id: 'nameplate-label-inverse-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'nameplate-label-inverse-color' }) %>
<%- include('../partials/cpTextInput', { id: 'nameplate-label-link-dark-color' }) %>
<%- include('../partials/cpTextInput', { id: 'nameplate-label-link-dark-hover-color' }) %>

<h4 class="cp-variables-form-header">Nameplate Label Primary</h4>
<%- include('../partials/cpTextInput', { id: 'nameplate-label-primary-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'nameplate-label-primary-color' }) %>

<h4 class="cp-variables-form-header">Nameplate Label Success</h4>
<%- include('../partials/cpTextInput', { id: 'nameplate-label-success-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'nameplate-label-success-color' }) %>

<h4 class="cp-variables-form-header">Nameplate Label Info</h4>
<%- include('../partials/cpTextInput', { id: 'nameplate-label-info-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'nameplate-label-info-color' }) %>

<h4 class="cp-variables-form-header">Nameplate Label Warning</h4>
<%- include('../partials/cpTextInput', { id: 'nameplate-label-warning-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'nameplate-label-warning-color' }) %>

<h4 class="cp-variables-form-header">Nameplate Label Danger</h4>
<%- include('../partials/cpTextInput', { id: 'nameplate-label-danger-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'nameplate-label-danger-color' }) %>

<h4 class="cp-variables-form-header">Nameplate Types</h4>
<%- include('../partials/cpTextInput', { id: 'nameplate-label-circle-border-radius' }) %>
<%- include('../partials/cpTextInput', { id: 'nameplate-label-rounded-border-radius' }) %>
<%- include('../partials/cpTextInput', { id: 'nameplate-label-square-border-radius' }) %>