<h4 class="cp-variables-form-header">Nav Heading</h4>
<%- include('../partials/cpColorInput', { id: 'nav-heading-color' }) %>

<h4 class="cp-variables-form-header">Nav Link</h4>
<%- include('../partials/cpColorInput', { id: 'nav-link-color' }) %>
<%- include('../partials/cpColorInput', { id: 'nav-disabled-link-color' }) %>
<%- include('../partials/cpColorInput', { id: 'nav-disabled-link-hover-color' }) %>
<%- include('../partials/cpColorInput', { id: 'nav-link-hover-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'nav-link-padding-vertical' }) %>
<%- include('../partials/cpTextInput', { id: 'nav-link-padding-horizontal' }) %>

<h4 class="cp-variables-form-header">Nav Nested</h4>
<%- include('../partials/cpTextInput', { id: 'nav-nested-padding-horizontal' }) %>
<%- include('../partials/cpColorInput', { id: 'nav-nested-link-active-bg' }) %>
<%- include('../partials/cpColorInput', { id: 'nav-nested-link-active-color' }) %>

<h4 class="cp-variables-form-header">Nav Nested Margins</h4>
<%- include('../partials/cpTextInput', { id: 'nav-nested-margins-margin-horizontal' }) %>