<h4 class="cp-variables-form-header">Nav Tabs</h4>
<%- include('../partials/cpTextInput', { id: 'nav-tabs-border-radius' }) %>
<%- include('../partials/cpColorInput', { id: 'nav-tabs-border-color' }) %>
<%- include('../partials/cpTextInput', { id: 'nav-tabs-border-width' }) %>

<h4 class="cp-variables-form-header">Nav Tabs Link</h4>
<%- include('../partials/cpColorInput', { id: 'nav-tabs-link-hover-border-color' }) %>
<%- include('../partials/cpColorInput', { id: 'nav-tabs-active-link-hover-bg' }) %>
<%- include('../partials/cpColorInput', { id: 'nav-tabs-active-link-hover-border-color' }) %>
<%- include('../partials/cpColorInput', { id: 'nav-tabs-active-link-hover-color' }) %>

<h4 class="cp-variables-form-header">Nav Tabs Default</h4>
<%- include('../partials/cpTextInput', { id: 'nav-tabs-default-desktop-height' }) %>
<%- include('../partials/cpTextInput', { id: 'nav-tabs-default-height' }) %>
<%- include('../partials/cpTextInput', { id: 'nav-tabs-default-desktop-line-height' }) %>
<%- include('../partials/cpTextInput', { id: 'nav-tabs-default-line-height' }) %>
<%- include('../partials/cpTextInput', { id: 'nav-tabs-default-desktop-padding-horizontal' }) %>
<%- include('../partials/cpTextInput', { id: 'nav-tabs-default-padding-horizontal' }) %>
<%- include('../partials/cpTextInput', { id: 'nav-tabs-default-desktop-padding-vertical' }) %>
<%- include('../partials/cpTextInput', { id: 'nav-tabs-default-padding-vertical' }) %>

<h4 class="cp-variables-form-header">Nav Tabs Justified</h4>
<%- include('../partials/cpColorInput', { id: 'nav-tabs-justified-link-border-color' }) %>
<%- include('../partials/cpColorInput', { id: 'nav-tabs-justified-active-link-border-color' }) %>