<h4 class="cp-variables-form-header">Nav</h4>
<%- include('../partials/cpTextInput', { id: 'nav-font-size' }) %>

<h4 class="cp-variables-form-header">Nav Form</h4>
<%- include('../partials/cpTextInput', { id: 'nav-form-padding-top' }) %>
<%- include('../partials/cpTextInput', { id: 'nav-form-padding-right' }) %>
<%- include('../partials/cpTextInput', { id: 'nav-form-padding-bottom' }) %>
<%- include('../partials/cpTextInput', { id: 'nav-form-padding-left' }) %>

<h4 class="cp-variables-form-header">Nav Link / Btn Monospaced</h4>
<%- include('../partials/cpTextInput', { id: 'nav-item-monospaced-size' }) %>

<h4 class="cp-variables-form-header">Nav Link</h4>
<%- include('../partials/cpTextInput', { id: 'nav-link-padding-y' }) %>
<%- include('../partials/cpTextInput', { id: 'nav-link-padding-x' }) %>

<h4 class="cp-variables-form-header">Nav Link Disabled</h4>
<%- include('../partials/cpTextInput', { id: 'nav-link-disabled-color' }) %>
<%- include('../partials/cpTextInput', { id: 'nav-link-disabled-cursor' }) %>

<h4 class="cp-variables-form-header">Nav Btn</h4>
<%- include('../partials/cpTextInput', { id: 'nav-btn-padding-y' }) %>
<%- include('../partials/cpTextInput', { id: 'nav-btn-padding-x' }) %>
<%- include('../partials/cpTextInput', { id: 'nav-btn-margin-y' }) %>
<%- include('../partials/cpTextInput', { id: 'nav-btn-margin-x' }) %>

<h4 class="cp-variables-form-header">Nav Stacked</h4>
<%- include('../partials/cpTextInput', { id: 'nav-stacked-nav-form-padding-top' }) %>
<%- include('../partials/cpTextInput', { id: 'nav-stacked-nav-form-padding-right' }) %>
<%- include('../partials/cpTextInput', { id: 'nav-stacked-nav-form-padding-bottom' }) %>
<%- include('../partials/cpTextInput', { id: 'nav-stacked-nav-form-padding-left' }) %>

<h4 class="cp-variables-form-header">Nav Nested (Padding)</h4>
<%- include('../partials/cpTextInput', { id: 'nav-nested-spacer-x' }) %>

<h4 class="cp-variables-form-header">Nav Nested (Margin)</h4>
<%- include('../partials/cpTextInput', { id: 'nav-nested-margins-spacer-x' }) %>