<h4 class="cp-variables-form-header">Nav Underline</h4>
<%- include('../partials/cpTextInput', { id: 'nav-underline-font-size' }) %>

<h4 class="cp-variables-form-header">Nav Underline Link</h4>
<%- include('../partials/cpTextInput', { id: 'nav-underline-link-padding-y' }) %>
<%- include('../partials/cpTextInput', { id: 'nav-underline-link-padding-x' }) %>
<%- include('../partials/cpTextInput', { id: 'nav-underline-link-color' }) %>
<%- include('../partials/cpTextInput', { id: 'nav-underline-link-highlight-height' }) %>
<%- include('../partials/cpTextInput', { id: 'nav-underline-link-highlight-content' }) %>
<%- include('../partials/cpTextInput', { id: 'nav-underline-link-highlight-top' }) %>
<%- include('../partials/cpTextInput', { id: 'nav-underline-link-highlight-right' }) %>
<%- include('../partials/cpTextInput', { id: 'nav-underline-link-highlight-bottom' }) %>
<%- include('../partials/cpTextInput', { id: 'nav-underline-link-highlight-left' }) %>

<h4 class="cp-variables-form-header">Nav Underline Link Hover</h4>
<%- include('../partials/cpTextInput', { id: 'nav-underline-link-hover-color' }) %>

<h4 class="cp-variables-form-header">Nav Underline Link Active</h4>
<%- include('../partials/cpTextInput', { id: 'nav-underline-link-active-color' }) %>
<%- include('../partials/cpTextInput', { id: 'nav-underline-link-active-content' }) %>
<%- include('../partials/cpTextInput', { id: 'nav-underline-link-active-highlight-height' }) %>
<%- include('../partials/cpTextInput', { id: 'nav-underline-link-active-highlight' }) %>

<h4 class="cp-variables-form-header">Nav Underline Link Disabled</h4>
<%- include('../partials/cpTextInput', { id: 'nav-underline-link-disabled-color' }) %>
<%- include('../partials/cpTextInput', { id: 'nav-underline-link-disabled-highlight' }) %>