<h4 class="cp-variables-form-header">Navbar</h4>
<%- include('../partials/cpTextInput', { id: 'navbar-desktop-height' }) %>
<%- include('../partials/cpTextInput', { id: 'navbar-height' }) %>
<%- include('../partials/cpTextInput', { id: 'navbar-border-bottom-width' }) %>
<%- include('../partials/cpTextInput', { id: 'navbar-border-left-width' }) %>
<%- include('../partials/cpTextInput', { id: 'navbar-border-right-width' }) %>
<%- include('../partials/cpTextInput', { id: 'navbar-border-top-width' }) %>
<%- include('../partials/cpTextInput', { id: 'navbar-border-radius' }) %>
<%- include('../partials/cpTextInput', { id: 'navbar-margin-bottom' }) %>

<h4 class="cp-variables-form-header">Navbar Link</h4>
<%- include('../partials/cpTextInput', { id: 'navbar-desktop-padding-vertical' }) %>
<%- include('../partials/cpTextInput', { id: 'navbar-padding-vertical' }) %>
<%- include('../partials/cpTextInput', { id: 'navbar-desktop-padding-horizontal' }) %>
<%- include('../partials/cpTextInput', { id: 'navbar-padding-horizontal' }) %>
<%- include('../partials/cpTextInput', { id: 'navbar-desktop-link-line-height' }) %>
<%- include('../partials/cpTextInput', { id: 'navbar-link-line-height' }) %>
<%- include('../partials/cpTextInput', { id: 'navbar-link-active-bottom-border-width' }) %>
<%- include('../partials/cpTextInput', { id: 'navbar-link-active-highlight' }) %>

<h4 class="cp-variables-form-header">Navbar Toggle</h4>
<%- include('../partials/cpTextInput', { id: 'navbar-toggle-height' }) %>
<%- include('../partials/cpTextInput', { id: 'navbar-toggle-icon-bar-width' }) %>
<%- include('../partials/cpTextInput', { id: 'navbar-toggle-icon-bar-color' }) %>

<h4 class="cp-variables-form-header">Navbar Form</h4>
<%- include('../partials/cpTextInput', { id: 'navbar-form-padding-vertical' }) %>
<%- include('../partials/cpTextInput', { id: 'navbar-form-padding-horizontal' }) %>

<h4 class="cp-variables-form-header">Navbar Collapse</h4>
<%- include('../partials/cpTextInput', { id: 'navbar-collapse-max-height' }) %>
<%- include('../partials/cpTextInput', { id: 'navbar-collapse-absolute-box-shadow' }) %>

<h4 class="cp-variables-form-header">Navbar Default</h4>
<%- include('../partials/cpTextInput', { id: 'navbar-default-desktop-height' }) %>
<%- include('../partials/cpTextInput', { id: 'navbar-default-height' }) %>
<%- include('../partials/cpTextInput', { id: 'navbar-default-desktop-padding-horizontal' }) %>
<%- include('../partials/cpTextInput', { id: 'navbar-default-padding-horizontal' }) %>
<%- include('../partials/cpTextInput', { id: 'navbar-default-desktop-padding-vertical' }) %>
<%- include('../partials/cpTextInput', { id: 'navbar-default-padding-vertical' }) %>
<%- include('../partials/cpTextInput', { id: 'navbar-default-border-bottom-width' }) %>
<%- include('../partials/cpTextInput', { id: 'navbar-default-border-left-width' }) %>
<%- include('../partials/cpTextInput', { id: 'navbar-default-border-right-width' }) %>
<%- include('../partials/cpTextInput', { id: 'navbar-default-border-top-width' }) %>
<%- include('../partials/cpTextInput', { id: 'navbar-default-border' }) %>
<%- include('../partials/cpTextInput', { id: 'navbar-default-color' }) %>
<%- include('../partials/cpTextInput', { id: 'navbar-default-bg' }) %>

<h4 class="cp-variables-form-header">Navbar Default Link</h4>
<%- include('../partials/cpTextInput', { id: 'navbar-default-link-color' }) %>
<%- include('../partials/cpTextInput', { id: 'navbar-default-link-hover-color' }) %>
<%- include('../partials/cpTextInput', { id: 'navbar-default-link-active-color' }) %>
<%- include('../partials/cpTextInput', { id: 'navbar-default-link-open-color' }) %>
<%- include('../partials/cpTextInput', { id: 'navbar-default-link-disabled-color' }) %>
<%- include('../partials/cpTextInput', { id: 'navbar-default-link-hover-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'navbar-default-link-active-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'navbar-default-link-open-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'navbar-default-link-disabled-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'navbar-default-link-active-highlight' }) %>

<h4 class="cp-variables-form-header">Navbar Default Brand</h4>
<%- include('../partials/cpTextInput', { id: 'navbar-default-brand-color' }) %>
<%- include('../partials/cpTextInput', { id: 'navbar-default-brand-hover-color' }) %>
<%- include('../partials/cpTextInput', { id: 'navbar-default-brand-hover-bg' }) %>

<h4 class="cp-variables-form-header">Navbar Default Toggle</h4>
<%- include('../partials/cpTextInput', { id: 'navbar-default-toggle-border-color' }) %>
<%- include('../partials/cpTextInput', { id: 'navbar-default-toggle-hover-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'navbar-default-toggle-icon-bar-bg' }) %>

<h4 class="cp-variables-form-header">Navbar Default Collapsible Search</h4>
<%- include('../partials/cpTextInput', { id: 'navbar-default-collapsible-search-btn-default-border' }) %>
<%- include('../partials/cpTextInput', { id: 'navbar-default-collapsible-search-btn-default-color' }) %>
<%- include('../partials/cpTextInput', { id: 'navbar-default-collapsible-search-btn-default-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'navbar-default-collapsible-search-focus-highlight' }) %>
<%- include('../partials/cpTextInput', { id: 'navbar-default-collapsible-search-highlight' }) %>
<%- include('../partials/cpTextInput', { id: 'navbar-default-collapsible-search-input-border' }) %>
<%- include('../partials/cpTextInput', { id: 'navbar-default-collapsible-search-input-color' }) %>
<%- include('../partials/cpTextInput', { id: 'navbar-default-collapsible-search-input-placeholder-color' }) %>
<%- include('../partials/cpTextInput', { id: 'navbar-default-collapsible-search-input-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'zindex-basic-search-close' }) %>

<h4 class="cp-variables-form-header">Navbar Inverse</h4>
<%- include('../partials/cpTextInput', { id: 'navbar-inverse-border' }) %>
<%- include('../partials/cpTextInput', { id: 'navbar-inverse-color' }) %>
<%- include('../partials/cpTextInput', { id: 'navbar-inverse-bg' }) %>

<h4 class="cp-variables-form-header">Navbar Inverse Link</h4>
<%- include('../partials/cpTextInput', { id: 'navbar-inverse-link-color' }) %>
<%- include('../partials/cpTextInput', { id: 'navbar-inverse-link-hover-color' }) %>
<%- include('../partials/cpTextInput', { id: 'navbar-inverse-link-active-color' }) %>
<%- include('../partials/cpTextInput', { id: 'navbar-inverse-link-open-color' }) %>
<%- include('../partials/cpTextInput', { id: 'navbar-inverse-link-disabled-color' }) %>
<%- include('../partials/cpTextInput', { id: 'navbar-inverse-link-hover-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'navbar-inverse-link-active-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'navbar-inverse-link-open-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'navbar-inverse-link-disabled-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'navbar-inverse-link-active-highlight' }) %>

<h4 class="cp-variables-form-header">Navbar Inverse Brand</h4>
<%- include('../partials/cpTextInput', { id: 'navbar-inverse-brand-color' }) %>
<%- include('../partials/cpTextInput', { id: 'navbar-inverse-brand-hover-color' }) %>
<%- include('../partials/cpTextInput', { id: 'navbar-inverse-brand-hover-bg' }) %>

<h4 class="cp-variables-form-header">Navbar Inverse Collapsible Search</h4>
<%- include('../partials/cpTextInput', { id: 'navbar-inverse-collapsible-search-btn-default-border' }) %>
<%- include('../partials/cpTextInput', { id: 'navbar-inverse-collapsible-search-btn-default-color' }) %>
<%- include('../partials/cpTextInput', { id: 'navbar-inverse-collapsible-search-btn-default-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'navbar-inverse-collapsible-search-highlight' }) %>
<%- include('../partials/cpTextInput', { id: 'navbar-inverse-collapsible-search-focus-highlight' }) %>
<%- include('../partials/cpTextInput', { id: 'navbar-inverse-collapsible-search-input-border' }) %>
<%- include('../partials/cpTextInput', { id: 'navbar-inverse-collapsible-search-input-color' }) %>
<%- include('../partials/cpTextInput', { id: 'navbar-inverse-collapsible-search-input-placeholder-color' }) %>
<%- include('../partials/cpTextInput', { id: 'navbar-inverse-collapsible-search-input-bg' }) %>

<h4 class="cp-variables-form-header">Navbar Inverse Toggle</h4>
<%- include('../partials/cpTextInput', { id: 'navbar-inverse-toggle-hover-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'navbar-inverse-toggle-border-color' }) %>
<%- include('../partials/cpTextInput', { id: 'navbar-inverse-toggle-icon-bar-bg' }) %>