<h4 class="cp-variables-form-header">Pager</h4>
<%- include('../partials/cpTextInput', { id: 'pager-item-height' }) %>
<%- include('../partials/cpTextInput', { id: 'pager-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'pager-hover-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'pager-active-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'pager-disabled-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'pager-border-radius' }) %>
<%- include('../partials/cpTextInput', { id: 'pager-border-width' }) %>
<%- include('../partials/cpTextInput', { id: 'pager-border' }) %>
<%- include('../partials/cpTextInput', { id: 'pager-hover-border' }) %>
<%- include('../partials/cpTextInput', { id: 'pager-disabled-border' }) %>
<%- include('../partials/cpTextInput', { id: 'pager-color' }) %>
<%- include('../partials/cpTextInput', { id: 'pager-hover-color' }) %>
<%- include('../partials/cpTextInput', { id: 'pager-active-color' }) %>
<%- include('../partials/cpTextInput', { id: 'pager-disabled-color' }) %>
<%- include('../partials/cpTextInput', { id: 'pager-padding-base-horizontal' }) %>
<%- include('../partials/cpTextInput', { id: 'pager-padding-base-vertical' }) %>

<h4 class="cp-variables-form-header">Pager Sm</h4>
<%- include('../partials/cpTextInput', { id: 'pager-sm-item-height' }) %>
<%- include('../partials/cpTextInput', { id: 'pager-sm-font-size' }) %>
<%- include('../partials/cpTextInput', { id: 'pager-sm-padding-horizontal' }) %>
<%- include('../partials/cpTextInput', { id: 'pager-sm-padding-vertical' }) %>

<h4 class="cp-variables-form-header">Pager Lg</h4>
<%- include('../partials/cpTextInput', { id: 'pager-lg-item-height' }) %>
<%- include('../partials/cpTextInput', { id: 'pager-lg-font-size' }) %>
<%- include('../partials/cpTextInput', { id: 'pager-lg-padding-horizontal' }) %>
<%- include('../partials/cpTextInput', { id: 'pager-lg-padding-vertical' }) %>