<h4 class="cp-variables-form-header">Pagination</h4>
<%- include('../partials/cpTextInput', { id: 'pagination-font-size' }) %>
<%- include('../partials/cpTextInput', { id: 'pagination-padding-y' }) %>
<%- include('../partials/cpTextInput', { id: 'pagination-padding-x' }) %>
<%- include('../partials/cpTextInput', { id: 'pagination-line-height' }) %>
<%- include('../partials/cpTextInput', { id: 'pagination-margin-bottom' }) %>
<%- include('../partials/cpTextInput', { id: 'pagination-border-width' }) %>
<%- include('../partials/cpTextInput', { id: 'pagination-border-color' }) %>
<%- include('../partials/cpTextInput', { id: 'pagination-color' }) %>
<%- include('../partials/cpTextInput', { id: 'pagination-bg' }) %>

<h4 class="cp-variables-form-header">Pagination Item</h4>
<%- include('../partials/cpTextInput', { id: 'pagination-item-height' }) %>
<%- include('../partials/cpTextInput', { id: 'pagination-item-margin-y' }) %>
<%- include('../partials/cpTextInput', { id: 'pagination-item-margin-x' }) %>

<h4 class="cp-variables-form-header">Pagination Dropdown Menu</h4>
<%- include('../partials/cpTextInput', { id: 'pagination-dropdown-menu-spacer-y' }) %>

<h4 class="cp-variables-form-header">Pagination Link</h4>
<%- include('../partials/cpTextInput', { id: 'pagination-link-border-radius' }) %>
<%- include('../partials/cpTextInput', { id: 'pagination-link-cursor' }) %>

<h4 class="cp-variables-form-header">Pagination Hover</h4>
<%- include('../partials/cpTextInput', { id: 'pagination-hover-border-color' }) %>
<%- include('../partials/cpTextInput', { id: 'pagination-hover-color' }) %>
<%- include('../partials/cpTextInput', { id: 'pagination-hover-bg' }) %>

<h4 class="cp-variables-form-header">Pagination Focus</h4>
<%- include('../partials/cpTextInput', { id: 'pagination-focus-box-shadow' }) %>

<h4 class="cp-variables-form-header">Pagination Active</h4>
<%- include('../partials/cpTextInput', { id: 'pagination-active-border-color' }) %>
<%- include('../partials/cpTextInput', { id: 'pagination-active-color' }) %>
<%- include('../partials/cpTextInput', { id: 'pagination-active-bg' }) %>

<h4 class="cp-variables-form-header">Pagination Disabled</h4>
<%- include('../partials/cpTextInput', { id: 'pagination-disabled-border-color' }) %>
<%- include('../partials/cpTextInput', { id: 'pagination-disabled-color' }) %>
<%- include('../partials/cpTextInput', { id: 'pagination-disabled-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'pagination-disabled-cursor' }) %>
<%- include('../partials/cpTextInput', { id: 'pagination-disabled-opacity' }) %>
<%- include('../partials/cpTextInput', { id: 'pagination-disabled-pointer-events' }) %>

<h4 class="cp-variables-form-header">Pagination Results</h4>
<%- include('../partials/cpTextInput', { id: 'pagination-results-color' }) %>

<h4 class="cp-variables-form-header">Pagination Items Per Page</h4>
<%- include('../partials/cpTextInput', { id: 'pagination-items-per-page-font-size' }) %>
<%- include('../partials/cpTextInput', { id: 'pagination-items-per-page-border-color' }) %>
<%- include('../partials/cpTextInput', { id: 'pagination-items-per-page-border-radius' }) %>
<%- include('../partials/cpTextInput', { id: 'pagination-items-per-page-color' }) %>
<%- include('../partials/cpTextInput', { id: 'pagination-items-per-page-bg' }) %>

<h4 class="cp-variables-form-header">Pagination Items Per Page Hover</h4>
<%- include('../partials/cpTextInput', { id: 'pagination-items-per-page-hover-border-color' }) %>
<%- include('../partials/cpTextInput', { id: 'pagination-items-per-page-hover-color' }) %>
<%- include('../partials/cpTextInput', { id: 'pagination-items-per-page-hover-bg' }) %>

<h4 class="cp-variables-form-header">Pagination Sm</h4>
<%- include('../partials/cpTextInput', { id: 'pagination-font-size-sm' }) %>
<%- include('../partials/cpTextInput', { id: 'pagination-padding-y-sm' }) %>
<%- include('../partials/cpTextInput', { id: 'pagination-padding-x-sm' }) %>
<%- include('../partials/cpTextInput', { id: 'pagination-line-height-sm' }) %>
<%- include('../partials/cpTextInput', { id: 'pagination-item-height-sm' }) %>
<%- include('../partials/cpTextInput', { id: 'pagination-link-border-radius-sm' }) %>


<h4 class="cp-variables-form-header">Pagination Lg</h4>
<%- include('../partials/cpTextInput', { id: 'pagination-font-size-lg' }) %>
<%- include('../partials/cpTextInput', { id: 'pagination-padding-y-lg' }) %>
<%- include('../partials/cpTextInput', { id: 'pagination-padding-x-lg' }) %>
<%- include('../partials/cpTextInput', { id: 'pagination-line-height-lg' }) %>
<%- include('../partials/cpTextInput', { id: 'pagination-item-height-lg' }) %>
<%- include('../partials/cpTextInput', { id: 'pagination-link-border-radius-lg' }) %>