<h4 class="cp-variables-form-header">Pagination</h4>
<%- include('../partials/cpTextInput', { id: 'pagination-border-radius' }) %>
<%- include('../partials/cpTextInput', { id: 'pagination-border-width' }) %>
<%- include('../partials/cpColorInput', { id: 'pagination-border' }) %>
<%- include('../partials/cpColorInput', { id: 'pagination-color' }) %>
<%- include('../partials/cpColorInput', { id: 'pagination-bg' }) %>

<%- include('../partials/cpColorInput', { id: 'pagination-hover-border' }) %>
<%- include('../partials/cpColorInput', { id: 'pagination-hover-color' }) %>
<%- include('../partials/cpColorInput', { id: 'pagination-hover-bg' }) %>

<%- include('../partials/cpColorInput', { id: 'pagination-active-border' }) %>
<%- include('../partials/cpColorInput', { id: 'pagination-active-color' }) %>
<%- include('../partials/cpColorInput', { id: 'pagination-active-bg' }) %>

<%- include('../partials/cpColorInput', { id: 'pagination-disabled-border' }) %>
<%- include('../partials/cpColorInput', { id: 'pagination-disabled-color' }) %>
<%- include('../partials/cpColorInput', { id: 'pagination-disabled-bg' }) %>

<h4 class="cp-variables-form-header">Pagination Item</h4>
<%- include('../partials/cpTextInput', { id: 'pagination-item-height' }) %>
<%- include('../partials/cpTextInput', { id: 'pagination-item-padding-left' }) %>
<%- include('../partials/cpTextInput', { id: 'pagination-item-padding-right' }) %>

<h4 class="cp-variables-form-header">Pagination Ellipsis</h4>
<%- include('../partials/cpColorInput', { id: 'pagination-ellipsis-hover-bg' }) %>
<%- include('../partials/cpColorInput', { id: 'pagination-ellipsis-hover-color' }) %>

<h4 class="cp-variables-form-header">Pagination Items Per Page</h4>
<%- include('../partials/cpColorInput', { id: 'pagination-items-per-page-bg' }) %>
<%- include('../partials/cpColorInput', { id: 'pagination-items-per-page-border' }) %>
<%- include('../partials/cpColorInput', { id: 'pagination-items-per-page-color' }) %>

<h4 class="cp-variables-form-header">Pagination Results</h4>
<%- include('../partials/cpColorInput', { id: 'pagination-results-color' }) %>

<h4 class="cp-variables-form-header">Pagination Sm</h4>
<%- include('../partials/cpTextInput', { id: 'pagination-sm-border-radius' }) %>
<%- include('../partials/cpTextInput', { id: 'pagination-sm-font-size' }) %>
<%- include('../partials/cpTextInput', { id: 'pagination-sm-line-height' }) %>
<%- include('../partials/cpTextInput', { id: 'pagination-sm-item-height' }) %>
<%- include('../partials/cpTextInput', { id: 'pagination-sm-item-padding-bottom' }) %>
<%- include('../partials/cpTextInput', { id: 'pagination-sm-item-padding-left' }) %>
<%- include('../partials/cpTextInput', { id: 'pagination-sm-item-padding-right' }) %>
<%- include('../partials/cpTextInput', { id: 'pagination-sm-item-padding-top' }) %>
<%- include('../partials/cpTextInput', { id: 'pagination-sm-item-width' }) %>

<h4 class="cp-variables-form-header">Pagination Lg</h4>
<%- include('../partials/cpTextInput', { id: 'pagination-lg-border-radius' }) %>
<%- include('../partials/cpTextInput', { id: 'pagination-lg-font-size' }) %>
<%- include('../partials/cpTextInput', { id: 'pagination-lg-line-height' }) %>
<%- include('../partials/cpTextInput', { id: 'pagination-lg-item-height' }) %>
<%- include('../partials/cpTextInput', { id: 'pagination-lg-item-padding-bottom' }) %>
<%- include('../partials/cpTextInput', { id: 'pagination-lg-item-padding-left' }) %>
<%- include('../partials/cpTextInput', { id: 'pagination-lg-item-padding-right' }) %>
<%- include('../partials/cpTextInput', { id: 'pagination-lg-item-padding-top' }) %>
<%- include('../partials/cpTextInput', { id: 'pagination-lg-item-width' }) %>