<h4 class="cp-variables-form-header">Panel</h4>
<%- include('../partials/cpColorInput', { id: 'panel-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'panel-border-radius' }) %>
<%- include('../partials/cpTextInput', { id: 'panel-border-bottom-width' }) %>
<%- include('../partials/cpTextInput', { id: 'panel-border-left-width' }) %>
<%- include('../partials/cpTextInput', { id: 'panel-border-right-width' }) %>
<%- include('../partials/cpTextInput', { id: 'panel-border-top-width' }) %>
<%- include('../partials/cpTextInput', { id: 'panel-box-shadow' }) %>
<%- include('../partials/cpColorInput', { id: 'panel-inner-border' }) %>
<%- include('../partials/cpTextInput', { id: 'panel-group-panel-spacer' }) %>

<h4 class="cp-variables-form-header">Panel Heading</h4>
<%- include('../partials/cpTextInput', { id: 'panel-heading-border-bottom-width' }) %>
<%- include('../partials/cpTextInput', { id: 'panel-heading-padding' }) %>
<%- include('../partials/cpTextInput', { id: 'panel-title-font-size' }) %>
<%- include('../partials/cpTextInput', { id: 'panel-title-font-weight' }) %>

<h4 class="cp-variables-form-header">Panel Body</h4>
<%- include('../partials/cpTextInput', { id: 'panel-body-padding' }) %>

<h4 class="cp-variables-form-header">Panel Footer</h4>
<%- include('../partials/cpColorInput', { id: 'panel-footer-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'panel-footer-border-top-width' }) %>
<%- include('../partials/cpTextInput', { id: 'panel-footer-padding' }) %>

<h4 class="cp-variables-form-header">Panel Blank</h4>
<%- include('../partials/cpColorInput', { id: 'panel-blank-border' }) %>
<%- include('../partials/cpColorInput', { id: 'panel-blank-text' }) %>
<%- include('../partials/cpColorInput', { id: 'panel-blank-heading-bg' }) %>
<%- include('../partials/cpColorInput', { id: 'panel-blank-heading-link-color' }) %>
<%- include('../partials/cpColorInput', { id: 'panel-blank-heading-link-open-color' }) %>

<h4 class="cp-variables-form-header">Panel Default</h4>
<%- include('../partials/cpColorInput', { id: 'panel-default-border' }) %>
<%- include('../partials/cpColorInput', { id: 'panel-default-text' }) %>
<%- include('../partials/cpColorInput', { id: 'panel-default-heading-bg' }) %>
<%- include('../partials/cpColorInput', { id: 'panel-default-footer-bg' }) %>
<%- include('../partials/cpColorInput', { id: 'panel-default-footer-border' }) %>
<%- include('../partials/cpColorInput', { id: 'panel-default-footer-text' }) %>

<h4 class="cp-variables-form-header">Panel Primary</h4>
<%- include('../partials/cpColorInput', { id: 'panel-primary-border' }) %>
<%- include('../partials/cpColorInput', { id: 'panel-primary-text' }) %>
<%- include('../partials/cpColorInput', { id: 'panel-primary-heading-bg' }) %>
<%- include('../partials/cpColorInput', { id: 'panel-primary-footer-bg' }) %>
<%- include('../partials/cpColorInput', { id: 'panel-primary-footer-border' }) %>
<%- include('../partials/cpColorInput', { id: 'panel-primary-footer-text' }) %>

<h4 class="cp-variables-form-header">Panel Success</h4>
<%- include('../partials/cpColorInput', { id: 'panel-success-border' }) %>
<%- include('../partials/cpColorInput', { id: 'panel-success-text' }) %>
<%- include('../partials/cpColorInput', { id: 'panel-success-heading-bg' }) %>
<%- include('../partials/cpColorInput', { id: 'panel-success-footer-bg' }) %>
<%- include('../partials/cpColorInput', { id: 'panel-success-footer-border' }) %>
<%- include('../partials/cpColorInput', { id: 'panel-success-footer-text' }) %>

<h4 class="cp-variables-form-header">Panel Info</h4>
<%- include('../partials/cpColorInput', { id: 'panel-info-border' }) %>
<%- include('../partials/cpColorInput', { id: 'panel-info-text' }) %>
<%- include('../partials/cpColorInput', { id: 'panel-info-heading-bg' }) %>
<%- include('../partials/cpColorInput', { id: 'panel-info-footer-bg' }) %>
<%- include('../partials/cpColorInput', { id: 'panel-info-footer-border' }) %>
<%- include('../partials/cpColorInput', { id: 'panel-info-footer-text' }) %>

<h4 class="cp-variables-form-header">Panel Warning</h4>
<%- include('../partials/cpColorInput', { id: 'panel-warning-border' }) %>
<%- include('../partials/cpColorInput', { id: 'panel-warning-text' }) %>
<%- include('../partials/cpColorInput', { id: 'panel-warning-heading-bg' }) %>
<%- include('../partials/cpColorInput', { id: 'panel-warning-footer-bg' }) %>
<%- include('../partials/cpColorInput', { id: 'panel-warning-footer-border' }) %>
<%- include('../partials/cpColorInput', { id: 'panel-warning-footer-text' }) %>

<h4 class="cp-variables-form-header">Panel Danger</h4>
<%- include('../partials/cpColorInput', { id: 'panel-danger-border' }) %>
<%- include('../partials/cpColorInput', { id: 'panel-danger-text' }) %>
<%- include('../partials/cpColorInput', { id: 'panel-danger-heading-bg' }) %>
<%- include('../partials/cpColorInput', { id: 'panel-danger-footer-bg' }) %>
<%- include('../partials/cpColorInput', { id: 'panel-danger-footer-border' }) %>
<%- include('../partials/cpColorInput', { id: 'panel-danger-footer-text' }) %>