<h4 class="cp-variables-form-header">Popover</h4>
<%- include('../partials/cpTextInput', { id: 'popover-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'popover-border-color' }) %>
<%- include('../partials/cpTextInput', { id: 'popover-fallback-border-color' }) %>
<%- include('../partials/cpTextInput', { id: 'popover-border-radius' }) %>
<%- include('../partials/cpTextInput', { id: 'popover-max-width' }) %>
<%- include('../partials/cpTextInput', { id: 'popover-padding' }) %>

<h4 class="cp-variables-form-header">Popover Title</h4>
<%- include('../partials/cpTextInput', { id: 'popover-title-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'popover-title-color' }) %>
<%- include('../partials/cpTextInput', { id: 'popover-title-font-size' }) %>
<%- include('../partials/cpTextInput', { id: 'popover-title-margin' }) %>
<%- include('../partials/cpTextInput', { id: 'popover-title-padding' }) %>

<h4 class="cp-variables-form-header">Popover Content</h4>
<%- include('../partials/cpTextInput', { id: 'popover-content-padding' }) %>

<h4 class="cp-variables-form-header">Popover Arrow</h4>
<%- include('../partials/cpTextInput', { id: 'popover-arrow-color' }) %>
<%- include('../partials/cpTextInput', { id: 'popover-arrow-width' }) %>
<%- include('../partials/cpTextInput', { id: 'popover-arrow-outer-color' }) %>
<%- include('../partials/cpTextInput', { id: 'popover-arrow-outer-fallback-color' }) %>
<%- include('../partials/cpTextInput', { id: 'popover-arrow-outer-width' }) %>

<h4 class="cp-variables-form-header">Popover Box Shadow</h4>
<%- include('../partials/cpTextInput', { id: 'popover-box-shadow' }) %>