<h4 class="cp-variables-form-header">Popover</h4>
<%- include('../partials/cpTextInput', { id: 'popover-max-width' }) %>
<%- include('../partials/cpTextInput', { id: 'popover-font-size' }) %>
<%- include('../partials/cpTextInput', { id: 'popover-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'popover-border-width' }) %>
<%- include('../partials/cpTextInput', { id: 'popover-border-color' }) %>
<%- include('../partials/cpTextInput', { id: 'popover-border-radius' }) %>
<%- include('../partials/cpTextInput', { id: 'popover-box-shadow' }) %>

<h4 class="cp-variables-form-header">Popover Header</h4>
<%- include('../partials/cpTextInput', { id: 'popover-header-font-size' }) %>
<%- include('../partials/cpTextInput', { id: 'popover-header-font-weight' }) %>
<%- include('../partials/cpTextInput', { id: 'popover-header-padding-y' }) %>
<%- include('../partials/cpTextInput', { id: 'popover-header-padding-x' }) %>
<%- include('../partials/cpTextInput', { id: 'popover-header-margin-y' }) %>
<%- include('../partials/cpTextInput', { id: 'popover-header-margin-x' }) %>
<%- include('../partials/cpTextInput', { id: 'popover-header-border-color' }) %>
<%- include('../partials/cpTextInput', { id: 'popover-header-color' }) %>
<%- include('../partials/cpTextInput', { id: 'popover-header-bg' }) %>

<h4 class="cp-variables-form-header">Popover Body</h4>
<%- include('../partials/cpTextInput', { id: 'popover-body-padding-y' }) %>
<%- include('../partials/cpTextInput', { id: 'popover-body-padding-x' }) %>
<%- include('../partials/cpTextInput', { id: 'popover-body-color' }) %>

<h4 class="cp-variables-form-header">Popover Inline Scroller</h4>
<%- include('../partials/cpTextInput', { id: 'popover-inline-scroller-max-height' }) %>

<h4 class="cp-variables-form-header">Popover Arrow Outer</h4>
<%- include('../partials/cpTextInput', { id: 'popover-arrow-outer-color' }) %>

<h4 class="cp-variables-form-header">Popover Arrow</h4>
<%- include('../partials/cpTextInput', { id: 'popover-arrow-width' }) %>
<%- include('../partials/cpTextInput', { id: 'popover-arrow-height' }) %>
<%- include('../partials/cpTextInput', { id: 'popover-arrow-color' }) %>
<%- include('../partials/cpTextInput', { id: 'popover-arrow-offset' }) %>

<h4 class="cp-variables-form-header">Popover Bottom Arrow</h4>
<%- include('../partials/cpTextInput', { id: 'popover-bottom-arrow-color' }) %>
<%- include('../partials/cpTextInput', { id: 'popover-bottom-left-arrow-color' }) %>
<%- include('../partials/cpTextInput', { id: 'popover-bottom-right-arrow-color' }) %>

<h4 class="cp-variables-form-header">Popover Left Arrow</h4>
<%- include('../partials/cpTextInput', { id: 'popover-left-arrow-color' }) %>
<%- include('../partials/cpTextInput', { id: 'popover-left-bottom-arrow-color' }) %>
<%- include('../partials/cpTextInput', { id: 'popover-left-top-arrow-color' }) %>

<h4 class="cp-variables-form-header">Popover Right Arrow</h4>
<%- include('../partials/cpTextInput', { id: 'popover-right-arrow-color' }) %>
<%- include('../partials/cpTextInput', { id: 'popover-right-bottom-arrow-color' }) %>
<%- include('../partials/cpTextInput', { id: 'popover-right-top-arrow-color' }) %>

<h4 class="cp-variables-form-header">Popover Top Arrow</h4>
<%- include('../partials/cpTextInput', { id: 'popover-top-arrow-color' }) %>
<%- include('../partials/cpTextInput', { id: 'popover-top-left-arrow-color' }) %>
<%- include('../partials/cpTextInput', { id: 'popover-top-right-arrow-color' }) %>