<h4 class="cp-variables-form-header">Progress</h4>
<%- include('../partials/cpTextInput', { id: 'progress-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'progress-border-radius' }) %>
<%- include('../partials/cpTextInput', { id: 'progress-box-shadow' }) %>

<h4 class="cp-variables-form-header">Progress Bar</h4>
<%- include('../partials/cpTextInput', { id: 'progress-bar-height' }) %>
<%- include('../partials/cpTextInput', { id: 'progress-bar-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'progress-bar-color' }) %>
<%- include('../partials/cpTextInput', { id: 'progress-bar-box-shadow' }) %>
<%- include('../partials/cpTextInput', { id: 'progress-bar-font-size' }) %>

<h4 class="cp-variables-form-header">Progress Bar Success</h4>
<%- include('../partials/cpTextInput', { id: 'progress-bar-success-bg' }) %>

<h4 class="cp-variables-form-header">Progress Bar Info</h4>
<%- include('../partials/cpTextInput', { id: 'progress-bar-info-bg' }) %>

<h4 class="cp-variables-form-header">Progress Bar Warning</h4>
<%- include('../partials/cpTextInput', { id: 'progress-bar-warning-bg' }) %>

<h4 class="cp-variables-form-header">Progress Bar Danger</h4>
<%- include('../partials/cpTextInput', { id: 'progress-bar-danger-bg' }) %>

<h4 class="cp-variables-form-header">Progress Bar Xs</h4>
<%- include('../partials/cpTextInput', { id: 'progress-bar-xs-height' }) %>
<%- include('../partials/cpTextInput', { id: 'progress-bar-xs-border-radius' }) %>
<%- include('../partials/cpTextInput', { id: 'progress-bar-xs-font-size' }) %>

<h4 class="cp-variables-form-header">Progress Bar Lg</h4>
<%- include('../partials/cpTextInput', { id: 'progress-bar-lg-height' }) %>
<%- include('../partials/cpTextInput', { id: 'progress-bar-lg-border-radius' }) %>
<%- include('../partials/cpTextInput', { id: 'progress-bar-lg-font-size' }) %>

<h4 class="cp-variables-form-header">Progress Bar Xl</h4>
<%- include('../partials/cpTextInput', { id: 'progress-bar-xl-height' }) %>
<%- include('../partials/cpTextInput', { id: 'progress-bar-xl-border-radius' }) %>
<%- include('../partials/cpTextInput', { id: 'progress-bar-xl-font-size' }) %>