<h4 class="cp-variables-form-header">Sidenav</h4>
<%- include('../partials/cpTextInput', { id: 'sidenav-width' }) %>
<%- include('../partials/cpTextInput', { id: 'sidenav-transition' }) %>

<h4 class="cp-variables-form-header">Sidebar</h4>
<%- include('../partials/cpTextInput', { id: 'sidebar-padding-top' }) %>
<%- include('../partials/cpTextInput', { id: 'sidebar-padding-right' }) %>
<%- include('../partials/cpTextInput', { id: 'sidebar-padding-bottom' }) %>
<%- include('../partials/cpTextInput', { id: 'sidebar-padding-left' }) %>

<h4 class="cp-variables-form-header">Sidebar Header Component Title</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="sidebar-header-component-title" name="clay[sidebar-header-component-title]" type="hidden">
	</div>
	<%- include('../partials/cpTextInput', { id: 'sidebar-header-component-title-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-header-component-title-font-size' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-header-component-title-font-family' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-header-component-title-font-weight' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-header-component-title-padding-top' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-header-component-title-padding-right' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-header-component-title-padding-bottom' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-header-component-title-padding-left' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-header-component-title-line-height' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-header-component-title-margin-top' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-header-component-title-margin-right' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-header-component-title-margin-bottom' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-header-component-title-margin-left' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-header-component-title-letter-spacing' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-header-component-title-text-transform' }) %>
</div>

<h4 class="cp-variables-form-header">Sidebar Header Component Subtitle</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="sidebar-header-component-subtitle" name="clay[sidebar-header-component-subtitle]" type="hidden">
	</div>
	<%- include('../partials/cpTextInput', { id: 'sidebar-header-component-subtitle-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-header-component-subtitle-font-size' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-header-component-subtitle-font-family' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-header-component-subtitle-font-weight' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-header-component-subtitle-padding-top' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-header-component-subtitle-padding-right' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-header-component-subtitle-padding-bottom' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-header-component-subtitle-padding-left' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-header-component-subtitle-line-height' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-header-component-subtitle-margin-top' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-header-component-subtitle-margin-right' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-header-component-subtitle-margin-bottom' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-header-component-subtitle-margin-left' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-header-component-subtitle-letter-spacing' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-header-component-subtitle-text-transform' }) %>
</div>

<h4 class="cp-variables-form-header">Sidebar Dt</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="sidebar-dt" name="clay[sidebar-dt]" type="hidden">
	</div>
	<%- include('../partials/cpTextInput', { id: 'sidebar-dt-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-dt-font-size' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-dt-font-family' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-dt-font-weight' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-dt-padding-top' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-dt-padding-right' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-dt-padding-bottom' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-dt-padding-left' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-dt-line-height' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-dt-margin-top' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-dt-margin-right' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-dt-margin-bottom' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-dt-margin-left' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-dt-letter-spacing' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-dt-text-transform' }) %>
</div>

<h4 class="cp-variables-form-header">Sidebar Dd</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="sidebar-dd" name="clay[sidebar-dd]" type="hidden">
	</div>
	<%- include('../partials/cpTextInput', { id: 'sidebar-dd-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-dd-font-size' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-dd-font-family' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-dd-font-weight' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-dd-padding-top' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-dd-padding-right' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-dd-padding-bottom' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-dd-padding-left' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-dd-line-height' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-dd-margin-top' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-dd-margin-right' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-dd-margin-bottom' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-dd-margin-left' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-dd-letter-spacing' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-dd-text-transform' }) %>
</div>

<h4 class="cp-variables-form-header">Sidebar Panel</h4>
<%- include('../partials/cpTextInput', { id: 'sidebar-panel-margin-bottom' }) %>

<h4 class="cp-variables-form-header">Sidebar List Group</h4>
<%- include('../partials/cpTextInput', { id: 'sidebar-list-group-type' }) %>
<%- include('../partials/cpTextInput', { id: 'sidebar-list-group-font-size' }) %>
<%- include('../partials/cpTextInput', { id: 'sidebar-list-group-border-color' }) %>
<%- include('../partials/cpTextInput', { id: 'sidebar-list-group-bg' }) %>

<h4 class="cp-variables-form-header">Sidebar List Group Item</h4>
<%- include('../partials/cpTextInput', { id: 'sidebar-list-group-item-padding' }) %>
<%- include('../partials/cpTextInput', { id: 'sidebar-list-group-autofit-col-padding-y' }) %>
<%- include('../partials/cpTextInput', { id: 'sidebar-list-group-autofit-col-padding-x' }) %>

<h4 class="cp-variables-form-header">Sidebar List Group Sticker Size</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="sidebar-list-group-sticker-size" name="clay[sidebar-list-group-sticker-size]" type="hidden">
	</div>
	<%- include('../partials/cpTextInput', { id: 'sidebar-list-group-sticker-size-size' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-list-group-sticker-size-font-size' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-list-group-sticker-size-inline-item-font-size' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-list-group-sticker-size-outside-offset' }) %>
</div>

<h4 class="cp-variables-form-header">Sidebar Light</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="sidebar-light" name="clay[sidebar-light]" type="hidden">
	</div>
	<%- include('../partials/cpTextInput', { id: 'sidebar-light-border-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-light-border-top-width' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-light-border-right-width' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-light-border-bottom-width' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-light-border-left-width' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-light-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-light-bg' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-light-box-shadow' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-light-panel-bg' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-light-component-header-title' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-light-component-header-subtitle' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-light-component-link' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-light-dt' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-light-dd' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-light-sidebar-list-group-item-border-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-light-sidebar-list-group-item-bg' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-light-sidebar-list-group-title' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-light-sidebar-list-group-subtitle' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-light-sidebar-list-group-text' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-light-sidebar-list-group-subtext' }) %>
</div>

<h4 class="cp-variables-form-header">Sidebar Light Navigation Bar</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="sidebar-light-navigation-bar" name="clay[sidebar-light-navigation-bar]" type="hidden">
	</div>
	<%- include('../partials/cpTextInput', { id: 'sidebar-light-navigation-bar-enabled' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-light-navigation-bar-bg' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-light-navigation-bar-border-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-light-navigation-bar-border-style' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-light-navigation-bar-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-light-navigation-bar-link-border-radius' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-light-navigation-bar-link-bg' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-light-navigation-bar-link-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-light-navigation-bar-link-font-weight' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-light-navigation-bar-link-hover-bg' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-light-navigation-bar-link-hover-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-light-navigation-bar-link-active-bg' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-light-navigation-bar-link-active-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-light-navigation-bar-link-disabled-bg' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-light-navigation-bar-link-disabled-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-light-navigation-bar-link-disabled-opacity' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-light-navigation-bar-btn-font-weight' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-light-navigation-bar-brand-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-light-navigation-bar-brand-hover-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-light-navigation-bar-brand-bg' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-light-navigation-bar-brand-hover-bg' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-light-navigation-bar-toggler-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-light-navigation-bar-toggler-font-weight' }) %>
	<%- include('../partials/cpTextInput', { id: 'sidebar-light-navigation-bar-underline-active-bg' }) %>
</div>