<h4 class="cp-variables-form-header">Sidebar</h4>
<%- include('../partials/cpTextInput', { id: 'sidebar-padding-bottom' }) %>
<%- include('../partials/cpTextInput', { id: 'sidebar-padding-left' }) %>
<%- include('../partials/cpTextInput', { id: 'sidebar-padding-right' }) %>
<%- include('../partials/cpTextInput', { id: 'sidebar-padding-top' }) %>

<h4 class="cp-variables-form-header">Sidebar Navbar</h4>
<%- include('../partials/cpTextInput', { id: 'sidebar-navbar-gutter-left' }) %>
<%- include('../partials/cpTextInput', { id: 'sidebar-navbar-gutter-right' }) %>

<h4 class="cp-variables-form-header">Sidebar Default</h4>
<%- include('../partials/cpTextInput', { id: 'sidebar-default-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'sidebar-default-border' }) %>
<%- include('../partials/cpTextInput', { id: 'sidebar-default-color' }) %>

<h4 class="cp-variables-form-header">Sidebar Default Header</h4>
<%- include('../partials/cpTextInput', { id: 'sidebar-default-header-title-color' }) %>
<%- include('../partials/cpTextInput', { id: 'sidebar-default-header-title-hover-color' }) %>
<%- include('../partials/cpTextInput', { id: 'sidebar-default-header-actions-link-color' }) %>
<%- include('../partials/cpTextInput', { id: 'sidebar-default-header-actions-link-hover-color' }) %>

<h4 class="cp-variables-form-header">Sidebar Default Panel</h4>
<%- include('../partials/cpTextInput', { id: 'sidebar-default-panel-bg' }) %>

<h4 class="cp-variables-form-header">Sidebar Inverse</h4>
<%- include('../partials/cpTextInput', { id: 'sidebar-inverse-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'sidebar-inverse-border' }) %>
<%- include('../partials/cpTextInput', { id: 'sidebar-inverse-color' }) %>
<%- include('../partials/cpTextInput', { id: 'sidebar-inverse-input-bg' }) %>

<h4 class="cp-variables-form-header">Sidebar Inverse Header</h4>
<%- include('../partials/cpTextInput', { id: 'sidebar-inverse-header-title-color' }) %>
<%- include('../partials/cpTextInput', { id: 'sidebar-inverse-header-title-hover-color' }) %>
<%- include('../partials/cpTextInput', { id: 'sidebar-inverse-header-actions-link-color' }) %>
<%- include('../partials/cpTextInput', { id: 'sidebar-inverse-header-actions-link-hover-color' }) %>

<h4 class="cp-variables-form-header">Sidebar Inverse Panel</h4>
<%- include('../partials/cpTextInput', { id: 'sidebar-inverse-panel-bg' }) %>