<h4 class="cp-variables-form-header">Sticker</h4>
<%- include('../partials/cpTextInput', { id: 'sticker-size' }) %>
<%- include('../partials/cpTextInput', { id: 'sticker-font-size' }) %>
<%- include('../partials/cpTextInput', { id: 'sticker-font-weight' }) %>
<%- include('../partials/cpTextInput', { id: 'sticker-border-width' }) %>
<%- include('../partials/cpTextInput', { id: 'sticker-border-style' }) %>
<%- include('../partials/cpColorInput', { id: 'sticker-border-color' }) %>
<%- include('../partials/cpTextInput', { id: 'sticker-border-radius' }) %>
<%- include('../partials/cpColorInput', { id: 'sticker-color' }) %>
<%- include('../partials/cpTextInput', { id: 'sticker-inline-item-font-size' }) %>

<h4 class="cp-variables-form-header">Sticker Positions</h4>
<%- include('../partials/cpTextInput', { id: 'sticker-inside-offset' }) %>
<%- include('../partials/cpTextInput', { id: 'sticker-outside-offset' }) %>

<h4 class="cp-variables-form-header">Sticker Types</h4>
<%- include('../partials/cpTextInput', { id: 'sticker-circle-border-radius' }) %>

<h4 class="cp-variables-form-header">Sticker Sm</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="sticker-sm" name="clay[sticker-sm]" type="hidden">
	</div>
	<%- include('../partials/cpTextInput', { id: 'sticker-sm-size' }) %>
	<%- include('../partials/cpTextInput', { id: 'sticker-sm-font-size' }) %>
	<%- include('../partials/cpTextInput', { id: 'sticker-sm-inline-item-font-size' }) %>
	<%- include('../partials/cpTextInput', { id: 'sticker-sm-outside-offset' }) %>
</div>

<h4 class="cp-variables-form-header">Sticker Lg</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="sticker-lg" name="clay[sticker-lg]" type="hidden">
	</div>
	<%- include('../partials/cpTextInput', { id: 'sticker-lg-size' }) %>
	<%- include('../partials/cpTextInput', { id: 'sticker-lg-font-size' }) %>
	<%- include('../partials/cpTextInput', { id: 'sticker-lg-inline-item-font-size' }) %>
	<%- include('../partials/cpTextInput', { id: 'sticker-lg-outside-offset' }) %>
</div>

<h4 class="cp-variables-form-header">Sticker Xl</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="sticker-xl" name="clay[sticker-xl]" type="hidden">
	</div>
	<%- include('../partials/cpTextInput', { id: 'sticker-xl-size' }) %>
	<%- include('../partials/cpTextInput', { id: 'sticker-xl-font-size' }) %>
	<%- include('../partials/cpTextInput', { id: 'sticker-xl-inline-item-font-size' }) %>
	<%- include('../partials/cpTextInput', { id: 'sticker-xl-outside-offset' }) %>
</div>

<h4 class="cp-variables-form-header">Sticker Primary</h4>
<%- include('../partials/cpColorInput', { id: 'sticker-primary-bg' }) %>
<%- include('../partials/cpColorInput', { id: 'sticker-primary-border-color' }) %>
<%- include('../partials/cpColorInput', { id: 'sticker-primary-color' }) %>

<h4 class="cp-variables-form-header">Sticker Secondary</h4>
<%- include('../partials/cpColorInput', { id: 'sticker-secondary-bg' }) %>
<%- include('../partials/cpColorInput', { id: 'sticker-secondary-border-color' }) %>
<%- include('../partials/cpColorInput', { id: 'sticker-secondary-color' }) %>

<h4 class="cp-variables-form-header">Sticker Info</h4>
<%- include('../partials/cpColorInput', { id: 'sticker-info-bg' }) %>
<%- include('../partials/cpColorInput', { id: 'sticker-info-border-color' }) %>
<%- include('../partials/cpColorInput', { id: 'sticker-info-color' }) %>

<h4 class="cp-variables-form-header">Sticker Success</h4>
<%- include('../partials/cpColorInput', { id: 'sticker-success-bg' }) %>
<%- include('../partials/cpColorInput', { id: 'sticker-success-border-color' }) %>
<%- include('../partials/cpColorInput', { id: 'sticker-success-color' }) %>

<h4 class="cp-variables-form-header">Sticker Warning</h4>
<%- include('../partials/cpColorInput', { id: 'sticker-warning-bg' }) %>
<%- include('../partials/cpColorInput', { id: 'sticker-warning-border-color' }) %>
<%- include('../partials/cpColorInput', { id: 'sticker-warning-color' }) %>

<h4 class="cp-variables-form-header">Sticker Danger</h4>
<%- include('../partials/cpColorInput', { id: 'sticker-danger-bg' }) %>
<%- include('../partials/cpColorInput', { id: 'sticker-danger-border-color' }) %>
<%- include('../partials/cpColorInput', { id: 'sticker-danger-color' }) %>

<h4 class="cp-variables-form-header">Sticker Light</h4>
<%- include('../partials/cpColorInput', { id: 'sticker-light-bg' }) %>
<%- include('../partials/cpColorInput', { id: 'sticker-light-border-color' }) %>
<%- include('../partials/cpColorInput', { id: 'sticker-light-color' }) %>

<h4 class="cp-variables-form-header">Sticker Dark</h4>
<%- include('../partials/cpColorInput', { id: 'sticker-dark-bg' }) %>
<%- include('../partials/cpColorInput', { id: 'sticker-dark-border-color' }) %>
<%- include('../partials/cpColorInput', { id: 'sticker-dark-color' }) %>