<h4 class="cp-variables-form-header">Sticker</h4>
<%- include('../partials/cpTextInput', { id: 'sticker-border-radius' }) %>
<%- include('../partials/cpTextInput', { id: 'sticker-color' }) %>
<%- include('../partials/cpTextInput', { id: 'sticker-font-size' }) %>
<%- include('../partials/cpTextInput', { id: 'sticker-gutter-width' }) %>
<%- include('../partials/cpTextInput', { id: 'sticker-monospaced-size' }) %>

<h4 class="cp-variables-form-header">Sticker Default</h4>
<%- include('../partials/cpTextInput', { id: 'sticker-default-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'sticker-default-color' }) %>

<h4 class="cp-variables-form-header">Sticker Primary</h4>
<%- include('../partials/cpTextInput', { id: 'sticker-primary-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'sticker-primary-color' }) %>

<h4 class="cp-variables-form-header">Sticker Success</h4>
<%- include('../partials/cpTextInput', { id: 'sticker-success-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'sticker-success-color' }) %>

<h4 class="cp-variables-form-header">Sticker Info</h4>
<%- include('../partials/cpTextInput', { id: 'sticker-info-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'sticker-info-color' }) %>

<h4 class="cp-variables-form-header">Sticker Warning</h4>
<%- include('../partials/cpTextInput', { id: 'sticker-warning-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'sticker-warning-color' }) %>

<h4 class="cp-variables-form-header">Sticker Danger</h4>
<%- include('../partials/cpTextInput', { id: 'sticker-danger-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'sticker-danger-color' }) %>

<h4 class="cp-variables-form-header">Sticker Sm</h4>
<%- include('../partials/cpTextInput', { id: 'sticker-sm-font-size' }) %>
<%- include('../partials/cpTextInput', { id: 'sticker-sm-monospaced-size' }) %>

<h4 class="cp-variables-form-header">Sticker Lg</h4>
<%- include('../partials/cpTextInput', { id: 'sticker-lg-font-size' }) %>
<%- include('../partials/cpTextInput', { id: 'sticker-lg-monospaced-size' }) %>

<h4 class="cp-variables-form-header">Sticker Types</h4>
<%- include('../partials/cpTextInput', { id: 'sticker-circle-border-radius' }) %>
<%- include('../partials/cpTextInput', { id: 'sticker-rounded-border-radius' }) %>
<%- include('../partials/cpTextInput', { id: 'sticker-square-border-radius' }) %>