<h4 class="cp-variables-form-header">Table Responsive</h4>
<%- include('../partials/cpTextInput', { id: 'table-responsive-margin-bottom' }) %>

<h4 class="cp-variables-form-header">Table</h4>
<%- include('../partials/cpTextInput', { id: 'table-font-size' }) %>
<%- include('../partials/cpTextInput', { id: 'table-border-width' }) %>
<%- include('../partials/cpTextInput', { id: 'table-border-color' }) %>
<%- include('../partials/cpTextInput', { id: 'table-margin-bottom' }) %>
<%- include('../partials/cpTextInput', { id: 'table-bg' }) %>

<h4 class="cp-variables-form-header">Table Quick Action Menu</h4>
<%- include('../partials/cpTextInput', { id: 'table-quick-action-menu-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'table-quick-action-menu-align-items' }) %>

<h4 class="cp-variables-form-header">Table Gutters</h4>
<%- include('../partials/cpTextInput', { id: 'table-cell-gutters' }) %>

<h4 class="cp-variables-form-header">Table Bordered</h4>
<%- include('../partials/cpTextInput', { id: 'table-bordered-border-width' }) %>

<h4 class="cp-variables-form-header">Table Striped</h4>
<%- include('../partials/cpTextInput', { id: 'table-accent-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'table-quick-action-menu-accent-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'table-quick-action-menu-accent-active-bg' }) %>

<h4 class="cp-variables-form-header">Table Hover</h4>
<%- include('../partials/cpTextInput', { id: 'table-hover-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'table-quick-action-menu-hover-bg' }) %>

<h4 class="cp-variables-form-header">Table Active (Table Row)</h4>
<%- include('../partials/cpTextInput', { id: 'table-active-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'table-quick-action-menu-active-bg' }) %>

<h4 class="cp-variables-form-header">Table Disabled (Table Row)</h4>
<%- include('../partials/cpTextInput', { id: 'table-disabled-color' }) %>
<%- include('../partials/cpTextInput', { id: 'table-disabled-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'table-disabled-cursor' }) %>
<%- include('../partials/cpTextInput', { id: 'table-disabled-pointer-events' }) %>

<h4 class="cp-variables-form-header">Table Head (thead th)</h4>
<%- include('../partials/cpTextInput', { id: 'table-head-height' }) %>
<%- include('../partials/cpTextInput', { id: 'table-head-font-size' }) %>
<%- include('../partials/cpTextInput', { id: 'table-head-font-weight' }) %>
<%- include('../partials/cpTextInput', { id: 'table-head-border-top-width' }) %>
<%- include('../partials/cpTextInput', { id: 'table-head-border-bottom-width' }) %>
<%- include('../partials/cpTextInput', { id: 'table-head-color' }) %>
<%- include('../partials/cpTextInput', { id: 'table-head-bg' }) %>

<h4 class="cp-variables-form-header">Table Head Link (thead th a)</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="table-head-link" name="clay[table-head-link]" type="hidden">
	</div>
	<%- include('../partials/cpTextInput', { id: 'table-head-link-align-items' }) %>
	<%- include('../partials/cpColorInput', { id: 'table-head-link-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'table-head-link-border-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-head-link-border-radius' }) %>
	<%- include('../partials/cpColorInput', { id: 'table-head-link-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-head-link-display' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-head-link-font-family' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-head-link-font-size' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-head-link-font-weight' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-head-link-height' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-head-link-justify-content' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-head-link-line-height' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-head-link-margin-bottom' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-head-link-margin-left' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-head-link-margin-right' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-head-link-margin-top' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-head-link-opacity' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-head-link-padding-bottom' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-head-link-padding-left' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-head-link-padding-right' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-head-link-padding-top' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-head-link-text-align' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-head-link-text-decoration' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-head-link-text-transform' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-head-link-transition' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-head-link-vertical-align' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-head-link-width' }) %>
	<%- include('../partials/cpColorInput', { id: 'table-head-link-hover-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'table-head-link-hover-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-head-link-hover-opacity' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-head-link-hover-text-decoration' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-head-link-focus-bg' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-head-link-focus-box-shadow' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-head-link-focus-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-head-link-focus-opacity' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-head-link-focus-outline' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-head-link-text-decoration' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-head-link-active-bg' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-head-link-active-border-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-head-link-active-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-head-link-disabled-bg' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-head-link-disabled-border-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-head-link-disabled-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-head-link-disabled-cursor' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-head-link-disabled-opacity' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-head-link-disabled-pointer-events' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-head-link-btn-focus-box-shadow' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-head-link-btn-focus-outline' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-head-link-lexicon-icon-margin-bottom' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-head-link-lexicon-icon-margin-left' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-head-link-lexicon-icon-margin-right' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-head-link-lexicon-icon-margin-top' }) %>
</div>

<h4 class="cp-variables-form-header">Table Head Title</h4>
<%- include('../partials/cpTextInput', { id: 'table-head-title-inline-item-spacer-x' }) %>
<%- include('../partials/cpTextInput', { id: 'table-head-title-text-truncate-max-width' }) %>

<h4 class="cp-variables-form-header">Table Data (td)</h4>
<%- include('../partials/cpTextInput', { id: 'table-data-border-top-width' }) %>
<%- include('../partials/cpTextInput', { id: 'table-data-border-right-width' }) %>
<%- include('../partials/cpTextInput', { id: 'table-data-border-bottom-width' }) %>
<%- include('../partials/cpTextInput', { id: 'table-data-border-left-width' }) %>
<%- include('../partials/cpTextInput', { id: 'table-data-border-style' }) %>
<%- include('../partials/cpTextInput', { id: 'table-data-border-color' }) %>
<%- include('../partials/cpTextInput', { id: 'table-data-vertical-align' }) %>

<h4 class="cp-variables-form-header">Table Cell Padding</h4>
<%- include('../partials/cpTextInput', { id: 'table-cell-padding' }) %>
<%- include('../partials/cpTextInput', { id: 'table-cell-padding-sm' }) %>

<h4 class="cp-variables-form-header">Table Cell Expand</h4>
<%- include('../partials/cpTextInput', { id: 'table-cell-expand-min-width' }) %>

<h4 class="cp-variables-form-header">Table Cell Expand Small</h4>
<%- include('../partials/cpTextInput', { id: 'table-cell-expand-small-width' }) %>
<%- include('../partials/cpTextInput', { id: 'table-cell-expand-small-max-width' }) %>

<h4 class="cp-variables-form-header">Table Cell Expand Smaller</h4>
<%- include('../partials/cpTextInput', { id: 'table-cell-expand-smaller-width' }) %>
<%- include('../partials/cpTextInput', { id: 'table-cell-expand-smaller-max-width' }) %>

<h4 class="cp-variables-form-header">Table Cell Expand Smallest</h4>
<%- include('../partials/cpTextInput', { id: 'table-cell-expand-smallest-width' }) %>
<%- include('../partials/cpTextInput', { id: 'table-cell-expand-smallest-max-width' }) %>

<h4 class="cp-variables-form-header">Table Divider</h4>
<%- include('../partials/cpTextInput', { id: 'table-divider-font-weight' }) %>
<%- include('../partials/cpTextInput', { id: 'table-divider-font-size' }) %>
<%- include('../partials/cpTextInput', { id: 'table-divider-padding' }) %>
<%- include('../partials/cpTextInput', { id: 'table-divider-color' }) %>
<%- include('../partials/cpTextInput', { id: 'table-divider-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'table-divider-text-transform' }) %>

<h4 class="cp-variables-form-header">Table Title</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="table-title" name="clay[table-title]" type="hidden">
	</div>
	<%- include('../partials/cpTextInput', { id: 'table-title-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-title-font-size' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-title-font-family' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-title-font-weight' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-title-padding-top' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-title-padding-right' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-title-padding-bottom' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-title-padding-left' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-title-line-height' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-title-margin-top' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-title-margin-right' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-title-margin-bottom' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-title-margin-left' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-title-letter-spacing' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-title-text-transform' }) %>
</div>

<h4 class="cp-variables-form-header">Table Title Link</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="table-title-link" name="clay[table-title-link]" type="hidden">
	</div>
	<%- include('../partials/cpTextInput', { id: 'table-title-link-align-items' }) %>
	<%- include('../partials/cpColorInput', { id: 'table-title-link-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'table-title-link-border-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-title-link-border-radius' }) %>
	<%- include('../partials/cpColorInput', { id: 'table-title-link-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-title-link-display' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-title-link-font-family' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-title-link-font-size' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-title-link-font-weight' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-title-link-height' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-title-link-justify-content' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-title-link-line-height' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-title-link-margin-bottom' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-title-link-margin-left' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-title-link-margin-right' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-title-link-margin-top' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-title-link-opacity' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-title-link-padding-bottom' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-title-link-padding-left' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-title-link-padding-right' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-title-link-padding-top' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-title-link-text-align' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-title-link-text-decoration' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-title-link-text-transform' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-title-link-transition' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-title-link-vertical-align' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-title-link-width' }) %>
	<%- include('../partials/cpColorInput', { id: 'table-title-link-hover-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'table-title-link-hover-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-title-link-hover-opacity' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-title-link-hover-text-decoration' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-title-link-focus-bg' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-title-link-focus-box-shadow' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-title-link-focus-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-title-link-focus-opacity' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-title-link-focus-outline' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-title-link-text-decoration' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-title-link-active-bg' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-title-link-active-border-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-title-link-active-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-title-link-disabled-bg' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-title-link-disabled-border-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-title-link-disabled-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-title-link-disabled-cursor' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-title-link-disabled-opacity' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-title-link-disabled-pointer-events' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-title-link-btn-focus-box-shadow' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-title-link-btn-focus-outline' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-title-link-lexicon-icon-margin-bottom' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-title-link-lexicon-icon-margin-left' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-title-link-lexicon-icon-margin-right' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-title-link-lexicon-icon-margin-top' }) %>
</div>

<h4 class="cp-variables-form-header">Table Link</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="table-link" name="clay[table-link]" type="hidden">
	</div>
	<%- include('../partials/cpTextInput', { id: 'table-link-align-items' }) %>
	<%- include('../partials/cpColorInput', { id: 'table-link-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'table-link-border-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-link-border-radius' }) %>
	<%- include('../partials/cpColorInput', { id: 'table-link-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-link-display' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-link-font-family' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-link-font-size' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-link-font-weight' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-link-height' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-link-justify-content' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-link-line-height' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-link-margin-bottom' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-link-margin-left' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-link-margin-right' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-link-margin-top' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-link-opacity' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-link-padding-bottom' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-link-padding-left' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-link-padding-right' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-link-padding-top' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-link-text-align' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-link-text-decoration' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-link-text-transform' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-link-transition' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-link-vertical-align' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-link-width' }) %>
	<%- include('../partials/cpColorInput', { id: 'table-link-hover-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'table-link-hover-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-link-hover-opacity' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-link-hover-text-decoration' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-link-focus-bg' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-link-focus-box-shadow' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-link-focus-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-link-focus-opacity' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-link-focus-outline' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-link-text-decoration' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-link-active-bg' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-link-active-border-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-link-active-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-link-disabled-bg' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-link-disabled-border-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-link-disabled-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-link-disabled-cursor' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-link-disabled-opacity' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-link-disabled-pointer-events' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-link-btn-focus-box-shadow' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-link-btn-focus-outline' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-link-lexicon-icon-margin-bottom' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-link-lexicon-icon-margin-left' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-link-lexicon-icon-margin-right' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-link-lexicon-icon-margin-top' }) %>
</div>

<h4 class="cp-variables-form-header">Table Action Link</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="table-action-link" name="clay[table-action-link]" type="hidden">
	</div>
	<%- include('../partials/cpTextInput', { id: 'table-action-link-align-items' }) %>
	<%- include('../partials/cpColorInput', { id: 'table-action-link-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'table-action-link-border-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-action-link-border-radius' }) %>
	<%- include('../partials/cpColorInput', { id: 'table-action-link-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-action-link-display' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-action-link-font-family' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-action-link-font-size' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-action-link-font-weight' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-action-link-height' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-action-link-justify-content' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-action-link-line-height' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-action-link-margin-bottom' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-action-link-margin-left' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-action-link-margin-right' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-action-link-margin-top' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-action-link-opacity' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-action-link-padding-bottom' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-action-link-padding-left' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-action-link-padding-right' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-action-link-padding-top' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-action-link-text-align' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-action-link-text-decoration' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-action-link-text-transform' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-action-link-transition' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-action-link-vertical-align' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-action-link-width' }) %>
	<%- include('../partials/cpColorInput', { id: 'table-action-link-hover-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'table-action-link-hover-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-action-link-hover-opacity' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-action-link-hover-text-decoration' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-action-link-focus-bg' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-action-link-focus-box-shadow' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-action-link-focus-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-action-link-focus-opacity' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-action-link-focus-outline' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-action-link-text-decoration' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-action-link-active-bg' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-action-link-active-border-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-action-link-active-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-action-link-disabled-bg' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-action-link-disabled-border-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-action-link-disabled-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-action-link-disabled-cursor' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-action-link-disabled-opacity' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-action-link-disabled-pointer-events' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-action-link-btn-focus-box-shadow' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-action-link-btn-focus-outline' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-action-link-lexicon-icon-margin-bottom' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-action-link-lexicon-icon-margin-left' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-action-link-lexicon-icon-margin-right' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-action-link-lexicon-icon-margin-top' }) %>
</div>

<h4 class="cp-variables-form-header">Table Dark</h4>
<%- include('../partials/cpTextInput', { id: 'table-dark-border-color' }) %>
<%- include('../partials/cpTextInput', { id: 'table-dark-color' }) %>
<%- include('../partials/cpTextInput', { id: 'table-dark-bg' }) %>

<h4 class="cp-variables-form-header">Table Dark Table Striped</h4>
<%- include('../partials/cpTextInput', { id: 'table-dark-accent-bg' }) %>

<h4 class="cp-variables-form-header">Table Dark Table Hover</h4>
<%- include('../partials/cpTextInput', { id: 'table-dark-hover-bg' }) %>

<h4 class="cp-variables-form-header">Table List</h4>
<%- include('../partials/cpTextInput', { id: 'table-list-font-size' }) %>
<%- include('../partials/cpTextInput', { id: 'table-list-margin-top' }) %>
<%- include('../partials/cpTextInput', { id: 'table-list-margin-bottom' }) %>
<%- include('../partials/cpTextInput', { id: 'table-list-border-y-width' }) %>
<%- include('../partials/cpTextInput', { id: 'table-list-border-x-width' }) %>
<%- include('../partials/cpTextInput', { id: 'table-list-border-color' }) %>
<%- include('../partials/cpTextInput', { id: 'table-list-border-radius' }) %>
<%- include('../partials/cpTextInput', { id: 'table-list-color' }) %>
<%- include('../partials/cpTextInput', { id: 'table-list-bg' }) %>

<h4 class="cp-variables-form-header">Table List Quick Action Menu</h4>
<%- include('../partials/cpTextInput', { id: 'table-list-quick-action-menu-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'table-list-quick-action-menu-align-items' }) %>

<h4 class="cp-variables-form-header">Table List Table Striped</h4>
<%- include('../partials/cpTextInput', { id: 'table-list-accent-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'table-list-quick-action-menu-accent-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'table-list-quick-action-menu-accent-active-bg' }) %>

<h4 class="cp-variables-form-header">Table List Table Hover</h4>
<%- include('../partials/cpTextInput', { id: 'table-list-hover-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'table-list-quick-action-menu-hover-bg' }) %>

<h4 class="cp-variables-form-header">Table List Table Active (Table Row)</h4>
<%- include('../partials/cpTextInput', { id: 'table-list-active-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'table-list-quick-action-menu-active-bg' }) %>

<h4 class="cp-variables-form-header">Table List Table Disabled (Table Row)</h4>
<%- include('../partials/cpTextInput', { id: 'table-list-disabled-color' }) %>
<%- include('../partials/cpTextInput', { id: 'table-list-disabled-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'table-list-disabled-cursor' }) %>
<%- include('../partials/cpTextInput', { id: 'table-list-disabled-pointer-events' }) %>

<h4 class="cp-variables-form-header">Table List Head (thead th)</h4>
<%- include('../partials/cpTextInput', { id: 'table-list-head-height' }) %>
<%- include('../partials/cpTextInput', { id: 'table-list-head-font-size' }) %>
<%- include('../partials/cpTextInput', { id: 'table-list-head-font-weight' }) %>
<%- include('../partials/cpTextInput', { id: 'table-list-head-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'table-list-head-vertical-alignment' }) %>

<h4 class="cp-variables-form-header">Table List Head Link (thead th a)</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="table-list-head-link" name="clay[table-list-head-link]" type="hidden">
	</div>
	<%- include('../partials/cpTextInput', { id: 'table-list-head-link-align-items' }) %>
	<%- include('../partials/cpColorInput', { id: 'table-list-head-link-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'table-list-head-link-border-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-head-link-border-radius' }) %>
	<%- include('../partials/cpColorInput', { id: 'table-list-head-link-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-head-link-display' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-head-link-font-family' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-head-link-font-size' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-head-link-font-weight' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-head-link-height' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-head-link-justify-content' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-head-link-line-height' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-head-link-margin-bottom' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-head-link-margin-left' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-head-link-margin-right' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-head-link-margin-top' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-head-link-opacity' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-head-link-padding-bottom' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-head-link-padding-left' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-head-link-padding-right' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-head-link-padding-top' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-head-link-text-align' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-head-link-text-decoration' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-head-link-text-transform' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-head-link-transition' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-head-link-vertical-align' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-head-link-width' }) %>
	<%- include('../partials/cpColorInput', { id: 'table-list-head-link-hover-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'table-list-head-link-hover-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-head-link-hover-opacity' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-head-link-hover-text-decoration' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-head-link-focus-bg' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-head-link-focus-box-shadow' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-head-link-focus-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-head-link-focus-opacity' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-head-link-focus-outline' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-head-link-text-decoration' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-head-link-active-bg' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-head-link-active-border-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-head-link-active-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-head-link-disabled-bg' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-head-link-disabled-border-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-head-link-disabled-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-head-link-disabled-cursor' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-head-link-disabled-opacity' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-head-link-disabled-pointer-events' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-head-link-btn-focus-box-shadow' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-head-link-btn-focus-outline' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-head-link-lexicon-icon-margin-bottom' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-head-link-lexicon-icon-margin-left' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-head-link-lexicon-icon-margin-right' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-head-link-lexicon-icon-margin-top' }) %>
</div>

<h4 class="cp-variables-form-header">Table List Divider</h4>
<%- include('../partials/cpTextInput', { id: 'table-list-divider-padding-y' }) %>
<%- include('../partials/cpTextInput', { id: 'table-list-divider-padding-x' }) %>

<h4 class="cp-variables-form-header">Table List Title</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="table-list-title" name="clay[table-list-title]" type="hidden">
	</div>
	<%- include('../partials/cpTextInput', { id: 'table-list-title-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-title-font-size' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-title-font-family' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-title-font-weight' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-title-padding-top' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-title-padding-right' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-title-padding-bottom' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-title-padding-left' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-title-line-height' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-title-margin-top' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-title-margin-right' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-title-margin-bottom' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-title-margin-left' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-title-letter-spacing' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-title-text-transform' }) %>
</div>

<h4 class="cp-variables-form-header">Table List Title Link</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="table-list-title-link" name="clay[table-list-title-link]" type="hidden">
	</div>
	<%- include('../partials/cpTextInput', { id: 'table-list-title-link-align-items' }) %>
	<%- include('../partials/cpColorInput', { id: 'table-list-title-link-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'table-list-title-link-border-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-title-link-border-radius' }) %>
	<%- include('../partials/cpColorInput', { id: 'table-list-title-link-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-title-link-display' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-title-link-font-family' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-title-link-font-size' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-title-link-font-weight' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-title-link-height' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-title-link-justify-content' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-title-link-line-height' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-title-link-margin-bottom' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-title-link-margin-left' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-title-link-margin-right' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-title-link-margin-top' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-title-link-opacity' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-title-link-padding-bottom' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-title-link-padding-left' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-title-link-padding-right' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-title-link-padding-top' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-title-link-text-align' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-title-link-text-decoration' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-title-link-text-transform' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-title-link-transition' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-title-link-vertical-align' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-title-link-width' }) %>
	<%- include('../partials/cpColorInput', { id: 'table-list-title-link-hover-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'table-list-title-link-hover-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-title-link-hover-opacity' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-title-link-hover-text-decoration' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-title-link-focus-bg' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-title-link-focus-box-shadow' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-title-link-focus-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-title-link-focus-opacity' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-title-link-focus-outline' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-title-link-text-decoration' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-title-link-active-bg' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-title-link-active-border-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-title-link-active-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-title-link-disabled-bg' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-title-link-disabled-border-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-title-link-disabled-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-title-link-disabled-cursor' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-title-link-disabled-opacity' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-title-link-disabled-pointer-events' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-title-link-btn-focus-box-shadow' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-title-link-btn-focus-outline' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-title-link-lexicon-icon-margin-bottom' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-title-link-lexicon-icon-margin-left' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-title-link-lexicon-icon-margin-right' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-title-link-lexicon-icon-margin-top' }) %>
</div>

<h4 class="cp-variables-form-header">Table List Link</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="table-list-link" name="clay[table-list-link]" type="hidden">
	</div>
	<%- include('../partials/cpTextInput', { id: 'table-list-link-align-items' }) %>
	<%- include('../partials/cpColorInput', { id: 'table-list-link-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'table-list-link-border-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-link-border-radius' }) %>
	<%- include('../partials/cpColorInput', { id: 'table-list-link-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-link-display' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-link-font-family' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-link-font-size' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-link-font-weight' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-link-height' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-link-justify-content' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-link-line-height' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-link-margin-bottom' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-link-margin-left' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-link-margin-right' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-link-margin-top' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-link-opacity' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-link-padding-bottom' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-link-padding-left' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-link-padding-right' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-link-padding-top' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-link-text-align' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-link-text-decoration' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-link-text-transform' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-link-transition' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-link-vertical-align' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-link-width' }) %>
	<%- include('../partials/cpColorInput', { id: 'table-list-link-hover-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'table-list-link-hover-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-link-hover-opacity' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-link-hover-text-decoration' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-link-focus-bg' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-link-focus-box-shadow' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-link-focus-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-link-focus-opacity' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-link-focus-outline' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-link-text-decoration' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-link-active-bg' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-link-active-border-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-link-active-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-link-disabled-bg' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-link-disabled-border-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-link-disabled-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-link-disabled-cursor' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-link-disabled-opacity' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-link-disabled-pointer-events' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-link-btn-focus-box-shadow' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-link-btn-focus-outline' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-link-lexicon-icon-margin-bottom' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-link-lexicon-icon-margin-left' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-link-lexicon-icon-margin-right' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-link-lexicon-icon-margin-top' }) %>
</div>

<h4 class="cp-variables-form-header">Table List Action Link</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="table-list-action-link" name="clay[table-list-action-link]" type="hidden">
	</div>
	<%- include('../partials/cpTextInput', { id: 'table-list-action-link-align-items' }) %>
	<%- include('../partials/cpColorInput', { id: 'table-list-action-link-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'table-list-action-link-border-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-action-link-border-radius' }) %>
	<%- include('../partials/cpColorInput', { id: 'table-list-action-link-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-action-link-display' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-action-link-font-family' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-action-link-font-size' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-action-link-font-weight' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-action-link-height' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-action-link-justify-content' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-action-link-line-height' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-action-link-margin-bottom' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-action-link-margin-left' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-action-link-margin-right' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-action-link-margin-top' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-action-link-opacity' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-action-link-padding-bottom' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-action-link-padding-left' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-action-link-padding-right' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-action-link-padding-top' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-action-link-text-align' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-action-link-text-decoration' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-action-link-text-transform' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-action-link-transition' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-action-link-vertical-align' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-action-link-width' }) %>
	<%- include('../partials/cpColorInput', { id: 'table-list-action-link-hover-bg' }) %>
	<%- include('../partials/cpColorInput', { id: 'table-list-action-link-hover-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-action-link-hover-opacity' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-action-link-hover-text-decoration' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-action-link-focus-bg' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-action-link-focus-box-shadow' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-action-link-focus-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-action-link-focus-opacity' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-action-link-focus-outline' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-action-link-text-decoration' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-action-link-active-bg' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-action-link-active-border-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-action-link-active-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-action-link-disabled-bg' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-action-link-disabled-border-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-action-link-disabled-color' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-action-link-disabled-cursor' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-action-link-disabled-opacity' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-action-link-disabled-pointer-events' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-action-link-btn-focus-box-shadow' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-action-link-btn-focus-outline' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-action-link-lexicon-icon-margin-bottom' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-action-link-lexicon-icon-margin-left' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-action-link-lexicon-icon-margin-right' }) %>
	<%- include('../partials/cpTextInput', { id: 'table-list-action-link-lexicon-icon-margin-top' }) %>
</div>