<h4 class="cp-variables-form-header">Timeline</h4>
<%- include('../partials/cpTextInput', { id: 'timeline-border-width' }) %>
<%- include('../partials/cpTextInput', { id: 'timeline-border' }) %>
<%- include('../partials/cpTextInput', { id: 'timeline-border-modifier' }) %>
<%- include('../partials/cpTextInput', { id: 'timeline-item-padding-top' }) %>
<%- include('../partials/cpTextInput', { id: 'timeline-item-padding-bottom' }) %>
<%- include('../partials/cpTextInput', { id: 'timeline-increment-label-color' }) %>
<%- include('../partials/cpTextInput', { id: 'timeline-inner-spacing' }) %>
<%- include('../partials/cpTextInput', { id: 'timeline-outer-spacing' }) %>

<h4 class="cp-variables-form-header">Timeline Icon</h4>
<%- include('../partials/cpTextInput', { id: 'timeline-icon-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'timeline-icon-active-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'timeline-icon-border-radius' }) %>
<%- include('../partials/cpTextInput', { id: 'timeline-icon-border-width' }) %>
<%- include('../partials/cpTextInput', { id: 'timeline-icon-border' }) %>
<%- include('../partials/cpTextInput', { id: 'timeline-icon-active-border' }) %>
<%- include('../partials/cpTextInput', { id: 'timeline-icon-size' }) %>