<h4 class="cp-variables-form-header">Toggle Switch</h4>
<%- include('../partials/cpTextInput', { id: 'toggle-switch-transition' }) %>
<%- include('../partials/cpTextInput', { id: 'toggle-switch-bar-focus-box-shadow' }) %>
<%- include('../partials/cpTextInput', { id: 'toggle-switch-bar-icon-color' }) %>

<h4 class="cp-variables-form-header">Toggle Switch Bar</h4>
<%- include('../partials/cpTextInput', { id: 'toggle-switch-bar-border-radius' }) %>
<%- include('../partials/cpTextInput', { id: 'toggle-switch-bar-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'toggle-switch-bar-border-width' }) %>
<%- include('../partials/cpTextInput', { id: 'toggle-switch-bar-border-color' }) %>
<%- include('../partials/cpTextInput', { id: 'toggle-switch-bar-desktop-font-size' }) %>
<%- include('../partials/cpTextInput', { id: 'toggle-switch-bar-font-size' }) %>
<%- include('../partials/cpTextInput', { id: 'toggle-switch-bar-desktop-height' }) %>
<%- include('../partials/cpTextInput', { id: 'toggle-switch-bar-height' }) %>
<%- include('../partials/cpTextInput', { id: 'toggle-switch-bar-desktop-padding' }) %>
<%- include('../partials/cpTextInput', { id: 'toggle-switch-bar-padding' }) %>
<%- include('../partials/cpTextInput', { id: 'toggle-switch-bar-desktop-width' }) %>
<%- include('../partials/cpTextInput', { id: 'toggle-switch-bar-width' }) %>
<%- include('../partials/cpTextInput', { id: 'toggle-switch-bar-on-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'toggle-switch-bar-on-border-color' }) %>
<%- include('../partials/cpTextInput', { id: 'toggle-switch-bar-on-icon-color' }) %>

<h4 class="cp-variables-form-header">Toggle Switch Button</h4>
<%- include('../partials/cpTextInput', { id: 'toggle-switch-button-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'toggle-switch-button-border-radius' }) %>
<%- include('../partials/cpTextInput', { id: 'toggle-switch-button-border-width' }) %>
<%- include('../partials/cpTextInput', { id: 'toggle-switch-button-border-color' }) %>
<%- include('../partials/cpTextInput', { id: 'toggle-switch-button-desktop-font-size' }) %>
<%- include('../partials/cpTextInput', { id: 'toggle-switch-button-font-size' }) %>
<%- include('../partials/cpTextInput', { id: 'toggle-switch-button-desktop-width' }) %>
<%- include('../partials/cpTextInput', { id: 'toggle-switch-button-width' }) %>
<%- include('../partials/cpTextInput', { id: 'toggle-switch-button-icon-color' }) %>
<%- include('../partials/cpTextInput', { id: 'toggle-switch-button-on-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'toggle-switch-button-on-border-color' }) %>
<%- include('../partials/cpTextInput', { id: 'toggle-switch-button-on-border-radius' }) %>
<%- include('../partials/cpTextInput', { id: 'toggle-switch-button-on-icon-color' }) %>