<h4 class="cp-variables-form-header">Toggle Card</h4>
<%- include('../partials/cpTextInput', { id: 'toggle-card-border-radius' }) %>
<%- include('../partials/cpTextInput', { id: 'toggle-card-width' }) %>
<%- include('../partials/cpTextInput', { id: 'toggle-card-height' }) %>
<%- include('../partials/cpTextInput', { id: 'toggle-card-padding-horizontal' }) %>
<%- include('../partials/cpTextInput', { id: 'toggle-card-padding-vertical' }) %>

<h4 class="cp-variables-form-header">Toggle Icon</h4>
<%- include('../partials/cpTextInput', { id: 'toggle-card-icon-border-radius' }) %>
<%- include('../partials/cpTextInput', { id: 'toggle-card-icon-font-size' }) %>
<%- include('../partials/cpTextInput', { id: 'toggle-card-icon-width' }) %>
<%- include('../partials/cpTextInput', { id: 'toggle-card-icon-height' }) %>

<h4 class="cp-variables-form-header">Toggle Card Off</h4>
<%- include('../partials/cpTextInput', { id: 'toggle-card-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'toggle-card-border-width' }) %>
<%- include('../partials/cpTextInput', { id: 'toggle-card-border' }) %>
<%- include('../partials/cpTextInput', { id: 'toggle-card-box-shadow' }) %>
<%- include('../partials/cpTextInput', { id: 'toggle-card-text-color' }) %>
<%- include('../partials/cpTextInput', { id: 'toggle-card-icon-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'toggle-card-icon-border-width' }) %>
<%- include('../partials/cpTextInput', { id: 'toggle-card-icon-border' }) %>

<h4 class="cp-variables-form-header">Toggle Card On</h4>
<%- include('../partials/cpTextInput', { id: 'toggle-card-on-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'toggle-card-on-border-width' }) %>
<%- include('../partials/cpTextInput', { id: 'toggle-card-on-border' }) %>
<%- include('../partials/cpTextInput', { id: 'toggle-card-on-icon-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'toggle-card-on-icon-border-width' }) %>
<%- include('../partials/cpTextInput', { id: 'toggle-card-on-icon-border' }) %>
<%- include('../partials/cpTextInput', { id: 'toggle-card-on-text-color' }) %>