<h4 class="cp-variables-form-header">Tooltip</h4>
<%- include('../partials/cpTextInput', { id: 'tooltip-max-width' }) %>
<%- include('../partials/cpTextInput', { id: 'tooltip-font-size' }) %>
<%- include('../partials/cpTextInput', { id: 'tooltip-padding-vertical' }) %>
<%- include('../partials/cpTextInput', { id: 'tooltip-padding-horizontal' }) %>
<%- include('../partials/cpTextInput', { id: 'tooltip-border-radius' }) %>
<%- include('../partials/cpTextInput', { id: 'tooltip-color' }) %>
<%- include('../partials/cpTextInput', { id: 'tooltip-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'tooltip-box-shadow' }) %>
<%- include('../partials/cpTextInput', { id: 'tooltip-opacity' }) %>

<h4 class="cp-variables-form-header">Tooltip Arrow</h4>
<%- include('../partials/cpTextInput', { id: 'tooltip-arrow-width' }) %>
<%- include('../partials/cpTextInput', { id: 'tooltip-arrow-color' }) %>