<h4 class="cp-variables-form-header">Headings</h4>
<%- include('../partials/cpTextInput', { id: 'headings-font-family' }) %>
<%- include('../partials/cpTextInput', { id: 'headings-font-weight' }) %>
<%- include('../partials/cpTextInput', { id: 'headings-line-height' }) %>
<%- include('../partials/cpTextInput', { id: 'headings-margin-bottom' }) %>
<%- include('../partials/cpTextInput', { id: 'headings-color' }) %>

<h4 class="cp-variables-form-header">H1 - H6</h4>
<%- include('../partials/cpTextInput', { id: 'h1-font-size' }) %>
<%- include('../partials/cpTextInput', { id: 'h1-font-size-mobile' }) %>
<%- include('../partials/cpTextInput', { id: 'h2-font-size' }) %>
<%- include('../partials/cpTextInput', { id: 'h2-font-size-mobile' }) %>
<%- include('../partials/cpTextInput', { id: 'h3-font-size' }) %>
<%- include('../partials/cpTextInput', { id: 'h3-font-size-mobile' }) %>
<%- include('../partials/cpTextInput', { id: 'h4-font-size' }) %>
<%- include('../partials/cpTextInput', { id: 'h4-font-size-mobile' }) %>
<%- include('../partials/cpTextInput', { id: 'h5-font-size' }) %>
<%- include('../partials/cpTextInput', { id: 'h5-font-size-mobile' }) %>
<%- include('../partials/cpTextInput', { id: 'h6-font-size' }) %>
<%- include('../partials/cpTextInput', { id: 'h6-font-size-mobile' }) %>

<h4 class="cp-variables-form-header">Paragraph</h4>
<%- include('../partials/cpTextInput', { id: 'paragraph-margin-bottom' }) %>

<h4 class="cp-variables-form-header">Text Muted</h4>
<%- include('../partials/cpTextInput', { id: 'text-muted' }) %>

<h4 class="cp-variables-form-header">Lead</h4>
<%- include('../partials/cpTextInput', { id: 'lead-font-size' }) %>
<%- include('../partials/cpTextInput', { id: 'lead-font-weight' }) %>

<h4 class="cp-variables-form-header">Mark</h4>
<%- include('../partials/cpTextInput', { id: 'mark-padding' }) %>
<%- include('../partials/cpTextInput', { id: 'mark-bg' }) %>

<h4 class="cp-variables-form-header">Small</h4>
<%- include('../partials/cpTextInput', { id: 'small-font-size' }) %>

<h4 class="cp-variables-form-header">Code</h4>
<%- include('../partials/cpTextInput', { id: 'code-font-size' }) %>
<%- include('../partials/cpTextInput', { id: 'code-color' }) %>

<h4 class="cp-variables-form-header">Pre</h4>
<%- include('../partials/cpTextInput', { id: 'pre-scrollable-max-height' }) %>
<%- include('../partials/cpTextInput', { id: 'pre-color' }) %>

<h4 class="cp-variables-form-header">Kbd</h4>
<%- include('../partials/cpTextInput', { id: 'kbd-font-size' }) %>
<%- include('../partials/cpTextInput', { id: 'kbd-padding-y' }) %>
<%- include('../partials/cpTextInput', { id: 'kbd-padding-x' }) %>
<%- include('../partials/cpTextInput', { id: 'kbd-color' }) %>
<%- include('../partials/cpTextInput', { id: 'kbd-bg' }) %>
<%- include('../partials/cpTextInput', { id: 'kbd-box-shadow' }) %>
<%- include('../partials/cpTextInput', { id: 'nested-kbd-font-weight' }) %>

<h4 class="cp-variables-form-header">Dt</h4>
<%- include('../partials/cpTextInput', { id: 'dt-font-weight' }) %>

<h4 class="cp-variables-form-header">Blockquote</h4>
<%- include('../partials/cpTextInput', { id: 'blockquote-font-size' }) %>
<%- include('../partials/cpTextInput', { id: 'blockquote-small-color' }) %>

<h4 class="cp-variables-form-header">List Inline</h4>
<%- include('../partials/cpTextInput', { id: 'list-inline-padding' }) %>

<h4 class="cp-variables-form-header">Hr</h4>
<%- include('../partials/cpTextInput', { id: 'hr-border-width' }) %>
<%- include('../partials/cpTextInput', { id: 'hr-border-color' }) %>
<%- include('../partials/cpTextInput', { id: 'hr-margin-y' }) %>

<h4 class="cp-variables-form-header">Display</h4>
<%- include('../partials/cpTextInput', { id: 'display-line-height' }) %>
<%- include('../partials/cpTextInput', { id: 'display1-size' }) %>
<%- include('../partials/cpTextInput', { id: 'display1-weight' }) %>
<%- include('../partials/cpTextInput', { id: 'display2-size' }) %>
<%- include('../partials/cpTextInput', { id: 'display2-weight' }) %>
<%- include('../partials/cpTextInput', { id: 'display3-size' }) %>
<%- include('../partials/cpTextInput', { id: 'display3-weight' }) %>
<%- include('../partials/cpTextInput', { id: 'display4-size' }) %>
<%- include('../partials/cpTextInput', { id: 'display4-weight' }) %>