<h4 class="cp-variables-form-header">User Icon</h4>
<%- include('../partials/cpTextInput', { id: 'user-icon-desktop-size' }) %>
<%- include('../partials/cpTextInput', { id: 'user-icon-size' }) %>
<%- include('../partials/cpTextInput', { id: 'user-icon-desktop-font-size' }) %>
<%- include('../partials/cpTextInput', { id: 'user-icon-font-size' }) %>
<%- include('../partials/cpTextInput', { id: 'user-icon-font-weight' }) %>
<%- include('../partials/cpTextInput', { id: 'user-icon-border-radius' }) %>

<h4 class="cp-variables-form-header">User Icon Default</h4>
<%- include('../partials/cpTextInput', { id: 'user-icon-default-bg' }) %>

<h4 class="cp-variables-form-header">User Icon Primary</h4>
<%- include('../partials/cpTextInput', { id: 'user-icon-primary-bg' }) %>

<h4 class="cp-variables-form-header">User Icon Success</h4>
<%- include('../partials/cpTextInput', { id: 'user-icon-success-bg' }) %>

<h4 class="cp-variables-form-header">User Icon Info</h4>
<%- include('../partials/cpTextInput', { id: 'user-icon-info-bg' }) %>

<h4 class="cp-variables-form-header">User Icon Warning</h4>
<%- include('../partials/cpTextInput', { id: 'user-icon-warning-bg' }) %>

<h4 class="cp-variables-form-header">User Icon Danger</h4>
<%- include('../partials/cpTextInput', { id: 'user-icon-danger-bg' }) %>

<h4 class="cp-variables-form-header">User Icon Xs</h4>
<%- include('../partials/cpTextInput', { id: 'user-icon-xs-desktop-size' }) %>
<%- include('../partials/cpTextInput', { id: 'user-icon-xs-size' }) %>
<%- include('../partials/cpTextInput', { id: 'user-icon-xs-desktop-font-size' }) %>
<%- include('../partials/cpTextInput', { id: 'user-icon-xs-font-size' }) %>

<h4 class="cp-variables-form-header">User Icon Sm</h4>
<%- include('../partials/cpTextInput', { id: 'user-icon-sm-desktop-size' }) %>
<%- include('../partials/cpTextInput', { id: 'user-icon-sm-size' }) %>
<%- include('../partials/cpTextInput', { id: 'user-icon-sm-desktop-font-size' }) %>
<%- include('../partials/cpTextInput', { id: 'user-icon-sm-font-size' }) %>

<h4 class="cp-variables-form-header">User Icon Lg</h4>
<%- include('../partials/cpTextInput', { id: 'user-icon-lg-desktop-size' }) %>
<%- include('../partials/cpTextInput', { id: 'user-icon-lg-size' }) %>
<%- include('../partials/cpTextInput', { id: 'user-icon-lg-desktop-font-size' }) %>
<%- include('../partials/cpTextInput', { id: 'user-icon-lg-font-size' }) %>

<h4 class="cp-variables-form-header">User Icon Xl</h4>
<%- include('../partials/cpTextInput', { id: 'user-icon-xl-desktop-size' }) %>
<%- include('../partials/cpTextInput', { id: 'user-icon-xl-size' }) %>
<%- include('../partials/cpTextInput', { id: 'user-icon-xl-desktop-font-size' }) %>
<%- include('../partials/cpTextInput', { id: 'user-icon-xl-font-size' }) %>

<h4 class="cp-variables-form-header">User Icon Xxl</h4>
<%- include('../partials/cpTextInput', { id: 'user-icon-xxl-desktop-size' }) %>
<%- include('../partials/cpTextInput', { id: 'user-icon-xxl-size' }) %>
<%- include('../partials/cpTextInput', { id: 'user-icon-xxl-desktop-font-size' }) %>
<%- include('../partials/cpTextInput', { id: 'user-icon-xxl-font-size' }) %>

<h4 class="cp-variables-form-header">User Icon Type</h4>
<%- include('../partials/cpTextInput', { id: 'user-icon-circle-border-radius' }) %>
<%- include('../partials/cpTextInput', { id: 'user-icon-rounded-border-radius' }) %>
<%- include('../partials/cpTextInput', { id: 'user-icon-square-border-radius' }) %>