<h4 class="cp-variables-form-header">Autofit Col</h4>
<%- include('../partials/cpTextInput', { id: 'autofit-col-expand-min-width' }) %>

<h4 class="cp-variables-form-header">Autofit Padded</h4>
<%- include('../partials/cpTextInput', { id: 'autofit-padded-col-padding-y' }) %>
<%- include('../partials/cpTextInput', { id: 'autofit-padded-col-padding-x' }) %>

<h4 class="cp-variables-form-header">Inline Item</h4>
<%- include('../partials/cpTextInput', { id: 'inline-item-spacer-x' }) %>
<%- include('../partials/cpTextInput', { id: 'inline-item-lexicon-icon-margin-top' }) %>

<h4 class="cp-variables-form-header">Bg Checkered</h4>
<%- include('../partials/cpTextInput', { id: 'bg-checkered-fg' }) %>