<h4 class="cp-variables-form-header">Breadcrumb</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'breadcrumb-font-size' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'breadcrumb-font-weight' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'breadcrumb-padding-y' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'breadcrumb-padding-x' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'breadcrumb-margin-bottom' }) %>
<%- include(partialsPath + 'cpColorInput', { id: 'breadcrumb-bg' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'breadcrumb-border-radius' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'breadcrumb-text-transform' }) %>

<h4 class="cp-variables-form-header">Breadcrumb Item</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'breadcrumb-item-padding' }) %>

<h4 class="cp-variables-form-header">Breadcrumb Link</h4>
<%- include(partialsPath + 'cpColorInput', { id: 'breadcrumb-link-color' }) %>
<%- include(partialsPath + 'cpColorInput', { id: 'breadcrumb-link-hover-color' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'breadcrumb-link-text-decoration' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'breadcrumb-link-hover-text-decoration' }) %>

<h4 class="cp-variables-form-header">Breadcrumb Active</h4>
<%- include(partialsPath + 'cpColorInput', { id: 'breadcrumb-active-color' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'breadcrumb-active-font-weight' }) %>

<h4 class="cp-variables-form-header">Breadcrumb Text Truncate</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'breadcrumb-text-truncate-max-width' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'breadcrumb-text-truncate-max-width-mobile' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'breadcrumb-text-truncate-icon-spacer-x' }) %>

<h4 class="cp-variables-form-header">Breadcrumb Divider</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'breadcrumb-divider-svg-icon' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'breadcrumb-divider-svg-icon-width' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'breadcrumb-divider-svg-icon-height' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'breadcrumb-divider-font-family' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'breadcrumb-divider-font-weight' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'breadcrumb-divider' }) %>
<%- include(partialsPath + 'cpColorInput', { id: 'breadcrumb-divider-color' }) %>