<h4 class="cp-variables-form-header">Card</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'card-margin-bottom' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'card-border-width' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'card-border-style' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'card-border-color' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'card-border-radius' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'card-bg' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'card-box-shadow' }) %>

<h4 class="cp-variables-form-header">Card Inner</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'card-inner-border-radius' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'card-rounded-inner-border-radius' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'card-rounded-0-inner-border-radius' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'card-rounded-circle-inner-border-radius' }) %>

<h4 class="cp-variables-form-header">Card Body</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'card-body-padding-top' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'card-body-padding-right' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'card-body-padding-bottom' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'card-body-padding-left' }) %>

<h4 class="cp-variables-form-header">Card Divider</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'card-divider-height' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'card-divider-spacer-y' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'card-divider-spacer-x' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'card-divider-bg' }) %>

<h4 class="cp-variables-form-header">Card Title</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="card-title" name="clay[card-title]" type="hidden">
	</div>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-title-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-title-font-size' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-title-font-family' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-title-font-weight' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-title-padding-top' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-title-padding-right' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-title-padding-bottom' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-title-padding-left' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-title-line-height' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-title-margin-top' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-title-margin-right' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-title-margin-bottom' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-title-margin-left' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-title-letter-spacing' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-title-text-transform' }) %>
</div>

<h4 class="cp-variables-form-header">Card Title Link</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="card-title-link" name="clay[card-title-link]" type="hidden">
	</div>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-title-link-align-items' }) %>
	<%- include(partialsPath + 'cpColorInput', { id: 'card-title-link-bg' }) %>
	<%- include(partialsPath + 'cpColorInput', { id: 'card-title-link-border-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-title-link-border-radius' }) %>
	<%- include(partialsPath + 'cpColorInput', { id: 'card-title-link-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-title-link-display' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-title-link-font-family' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-title-link-font-size' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-title-link-font-weight' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-title-link-height' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-title-link-justify-content' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-title-link-line-height' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-title-link-margin-bottom' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-title-link-margin-left' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-title-link-margin-right' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-title-link-margin-top' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-title-link-opacity' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-title-link-padding-bottom' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-title-link-padding-left' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-title-link-padding-right' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-title-link-padding-top' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-title-link-text-align' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-title-link-text-decoration' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-title-link-text-transform' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-title-link-transition' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-title-link-vertical-align' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-title-link-width' }) %>
	<%- include(partialsPath + 'cpColorInput', { id: 'card-title-link-hover-bg' }) %>
	<%- include(partialsPath + 'cpColorInput', { id: 'card-title-link-hover-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-title-link-hover-opacity' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-title-link-hover-text-decoration' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-title-link-focus-bg' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-title-link-focus-box-shadow' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-title-link-focus-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-title-link-focus-opacity' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-title-link-focus-outline' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-title-link-text-decoration' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-title-link-active-bg' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-title-link-active-border-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-title-link-active-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-title-link-disabled-bg' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-title-link-disabled-border-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-title-link-disabled-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-title-link-disabled-cursor' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-title-link-disabled-opacity' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-title-link-disabled-pointer-events' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-title-link-btn-focus-box-shadow' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-title-link-btn-focus-outline' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-title-link-lexicon-icon-margin-bottom' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-title-link-lexicon-icon-margin-left' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-title-link-lexicon-icon-margin-right' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-title-link-lexicon-icon-margin-top' }) %>
</div>

<h4 class="cp-variables-form-header">Card Subtitle</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="card-subtitle" name="clay[card-subtitle]" type="hidden">
	</div>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-subtitle-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-subtitle-font-size' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-subtitle-font-family' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-subtitle-font-weight' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-subtitle-padding-top' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-subtitle-padding-right' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-subtitle-padding-bottom' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-subtitle-padding-left' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-subtitle-line-height' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-subtitle-margin-top' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-subtitle-margin-right' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-subtitle-margin-bottom' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-subtitle-margin-left' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-subtitle-letter-spacing' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-subtitle-text-transform' }) %>
</div>

<h4 class="cp-variables-form-header">Card Subtitle Link</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="card-subtitle-link" name="clay[card-subtitle-link]" type="hidden">
	</div>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-subtitle-link-align-items' }) %>
	<%- include(partialsPath + 'cpColorInput', { id: 'card-subtitle-link-bg' }) %>
	<%- include(partialsPath + 'cpColorInput', { id: 'card-subtitle-link-border-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-subtitle-link-border-radius' }) %>
	<%- include(partialsPath + 'cpColorInput', { id: 'card-subtitle-link-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-subtitle-link-display' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-subtitle-link-font-family' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-subtitle-link-font-size' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-subtitle-link-font-weight' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-subtitle-link-height' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-subtitle-link-justify-content' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-subtitle-link-line-height' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-subtitle-link-margin-bottom' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-subtitle-link-margin-left' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-subtitle-link-margin-right' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-subtitle-link-margin-top' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-subtitle-link-opacity' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-subtitle-link-padding-bottom' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-subtitle-link-padding-left' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-subtitle-link-padding-right' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-subtitle-link-padding-top' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-subtitle-link-text-align' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-subtitle-link-text-decoration' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-subtitle-link-text-transform' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-subtitle-link-transition' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-subtitle-link-vertical-align' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-subtitle-link-width' }) %>
	<%- include(partialsPath + 'cpColorInput', { id: 'card-subtitle-link-hover-bg' }) %>
	<%- include(partialsPath + 'cpColorInput', { id: 'card-subtitle-link-hover-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-subtitle-link-hover-opacity' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-subtitle-link-hover-text-decoration' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-subtitle-link-focus-bg' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-subtitle-link-focus-box-shadow' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-subtitle-link-focus-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-subtitle-link-focus-opacity' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-subtitle-link-focus-outline' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-subtitle-link-text-decoration' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-subtitle-link-active-bg' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-subtitle-link-active-border-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-subtitle-link-active-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-subtitle-link-disabled-bg' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-subtitle-link-disabled-border-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-subtitle-link-disabled-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-subtitle-link-disabled-cursor' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-subtitle-link-disabled-opacity' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-subtitle-link-disabled-pointer-events' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-subtitle-link-btn-focus-box-shadow' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-subtitle-link-btn-focus-outline' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-subtitle-link-lexicon-icon-margin-bottom' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-subtitle-link-lexicon-icon-margin-left' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-subtitle-link-lexicon-icon-margin-right' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-subtitle-link-lexicon-icon-margin-top' }) %>
</div>

<h4 class="cp-variables-form-header">Card Link</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="card-link" name="clay[card-link]" type="hidden">
	</div>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-link-align-items' }) %>
	<%- include(partialsPath + 'cpColorInput', { id: 'card-link-bg' }) %>
	<%- include(partialsPath + 'cpColorInput', { id: 'card-link-border-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-link-border-radius' }) %>
	<%- include(partialsPath + 'cpColorInput', { id: 'card-link-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-link-display' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-link-font-family' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-link-font-size' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-link-font-weight' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-link-height' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-link-justify-content' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-link-line-height' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-link-margin-bottom' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-link-margin-left' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-link-margin-right' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-link-margin-top' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-link-opacity' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-link-padding-bottom' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-link-padding-left' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-link-padding-right' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-link-padding-top' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-link-text-align' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-link-text-decoration' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-link-text-transform' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-link-transition' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-link-vertical-align' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-link-width' }) %>
	<%- include(partialsPath + 'cpColorInput', { id: 'card-link-hover-bg' }) %>
	<%- include(partialsPath + 'cpColorInput', { id: 'card-link-hover-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-link-hover-opacity' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-link-hover-text-decoration' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-link-focus-bg' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-link-focus-box-shadow' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-link-focus-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-link-focus-opacity' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-link-focus-outline' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-link-text-decoration' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-link-active-bg' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-link-active-border-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-link-active-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-link-disabled-bg' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-link-disabled-border-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-link-disabled-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-link-disabled-cursor' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-link-disabled-opacity' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-link-disabled-pointer-events' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-link-btn-focus-box-shadow' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-link-btn-focus-outline' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-link-lexicon-icon-margin-bottom' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-link-lexicon-icon-margin-left' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-link-lexicon-icon-margin-right' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-link-lexicon-icon-margin-top' }) %>
</div>

<h4 class="cp-variables-form-header">Form Check Card</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'checkbox-position' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'form-check-card-checked-box-shadow' }) %>

<h4 class="cp-variables-form-header">Form Check Card Horizontal</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'checkbox-left-card-padding' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'checkbox-right-card-padding' }) %>

<h4 class="cp-variables-form-header">Card Type Asset (Base)</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="card-type-asset" name="clay[card-type-asset]" type="hidden">
	</div>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-type-asset-enabled' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-type-asset-aspect-ratio-border-width' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-type-asset-aspect-ratio-border-style' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-type-asset-aspect-ratio-border-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-type-asset-aspect-ratio-horizontal' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-type-asset-aspect-ratio-vertical' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-type-asset-card-body-padding-top' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-type-asset-card-body-padding-right' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-type-asset-card-body-padding-bottom' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-type-asset-card-body-padding-left' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-type-asset-card-row-align-items' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-type-asset-checkbox-cursor' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-type-asset-asset-icon-width' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-type-asset-asset-icon-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-type-asset-asset-icon-sticker-font-size' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-type-asset-asset-icon-sticker-border-radius' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-type-asset-dropdown-action-offset-top' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-type-asset-dropdown-action-offset-right' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-type-asset-dropdown-action-offset-bottom' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-type-asset-dropdown-action-offset-left' }) %>
</div>

<h4 class="cp-variables-form-header">Image Card (Card Type Asset Variant)</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="image-card" name="clay[image-card]" type="hidden">
	</div>
	<%- include(partialsPath + 'cpTextInput', { id: 'image-card-enabled' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'image-card-aspect-ratio-bg' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'image-card-aspect-ratio-checkered-fg' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'image-card-asset-icon-width' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'image-card-asset-icon-min-width' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'image-card-asset-icon-color' }) %>
</div>

<h4 class="cp-variables-form-header">File Card (Card Type Asset Variant)</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="file-card" name="clay[file-card]" type="hidden">
	</div>
	<%- include(partialsPath + 'cpTextInput', { id: 'file-card-enabled' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'file-card-aspect-ratio-bg' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'file-card-aspect-ratio-checkered-fg' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'file-card-asset-icon-width' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'file-card-asset-icon-min-width' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'file-card-asset-icon-color' }) %>
</div>

<h4 class="cp-variables-form-header">User Card (Card Type Asset Variant)</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="user-card" name="clay[user-card]" type="hidden">
	</div>
	<%- include(partialsPath + 'cpTextInput', { id: 'user-card-enabled' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'user-card-aspect-ratio-bg' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'user-card-aspect-ratio-checkered-fg' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'user-card-asset-icon-width' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'user-card-asset-icon-min-width' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'user-card-asset-icon-color' }) %>
</div>

<h4 class="cp-variables-form-header">Card Type Directory</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="card-type-directory" name="clay[card-type-directory]" type="hidden">
	</div>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-type-directory-card-body-padding-top' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-type-directory-card-body-padding-right' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-type-directory-card-body-padding-bottom' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-type-directory-card-body-padding-left' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-type-directory-sticker-size' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-type-directory-sticker-font-size' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-type-directory-sticker-line-height' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-type-directory-dropdown-action-offset-top' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-type-directory-dropdown-action-offset-right' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-type-directory-dropdown-action-offset-bottom' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'card-type-directory-dropdown-action-offset-left' }) %>
</div>

<h4 class="cp-variables-form-header">Card Section Header</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'card-section-header-font-size' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'card-section-header-font-weight' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'card-section-header-padding' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'card-section-header-line-height' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'card-section-header-margin-bottom' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'card-section-header-color' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'card-section-header-text-transform' }) %>

<h4 class="cp-variables-form-header">Card Spacer</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'card-spacer-y' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'card-spacer-x' }) %>

<h4 class="cp-variables-form-header">Card Header / Footer</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'card-cap-bg' }) %>

<h4 class="cp-variables-form-header">Card Img Overlay</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'card-img-overlay-padding' }) %>

<h4 class="cp-variables-form-header">Card Group</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'card-group-margin' }) %>

<h4 class="cp-variables-form-header">Card Deck</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'card-deck-margin' }) %>

<h4 class="cp-variables-form-header">Card Columns</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'card-columns-count' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'card-columns-gap' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'card-columns-margin' }) %>