<h4 class="cp-variables-form-header">Grays</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'white' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'gray-100' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'gray-200' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'gray-300' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'gray-400' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'gray-500' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'gray-600' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'gray-700' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'gray-800' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'gray-900' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'black' }) %>

<h4 class="cp-variables-form-header">Colors</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'blue' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'indigo' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'purple' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'pink' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'red' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'orange' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'yellow' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'green' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'teal' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'cyan' }) %>

<h4 class="cp-variables-form-header">Theme Colors</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'primary' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'secondary' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'success' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'info' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'warning' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'danger' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'light' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'dark' }) %>

<h4 class="cp-variables-form-header">Color YIQ</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'yiq-contrasted-threshold' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'yiq-text-dark' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'yiq-text-light' }) %>

<h4 class="cp-variables-form-header">Google Font Import</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'font-import-url' }) %>

<h4 class="cp-variables-form-header">Font Family</h4>
<%- include(partialsPath + 'cpTextInput', {
	id: 'font-family-sans-serif',
	tooltip: 'Sans Serif font stack to be reused in your components.'
}) %>
<%- include(partialsPath + 'cpTextInput', {
	id: 'font-family-serif',
	tooltip: 'Serif font stack to be reused in your components.'
}) %>
<%- include(partialsPath + 'cpTextInput', {
	id: 'font-family-monospace',
	tooltip: 'Monospace font stack to be reused in your components.'
}) %>
<%- include(partialsPath + 'cpTextInput', {
	id: 'font-family-base',
	tooltip: 'Sets font-family on the body tag.'
}) %>

<h4 class="cp-variables-form-header">Font Size</h4>
<%- include(partialsPath + 'cpTextInput', {
	id: 'font-size-sm',
	tooltip: 'A global font-size for *-sm components, don\'t reuse to set font-size smaller on a normal or *-lg component.'
}) %>
<%- include(partialsPath + 'cpTextInput', {
	id: 'font-size-base',
	tooltip: 'A global font-size for normal components, don\'t reuse to set font-size on *-sm or *-lg component.'
}) %>
<%- include(partialsPath + 'cpTextInput', {
	id: 'font-size-base-mobile'
}) %>

<%- include(partialsPath + 'cpTextInput', {
	id: 'font-size-lg',
	tooltip: 'A global font-size for *-lg components, don\'t reuse to set font-size larger on a normal or *-sm component.'
}) %>
<%- include(partialsPath + 'cpTextInput', {
	id: 'font-size-lg-mobile'
}) %>

<h4 class="cp-variables-form-header">Font Weight</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'font-weight-light' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'font-weight-normal' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'font-weight-semi-bold' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'font-weight-bold' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'font-weight-bolder' }) %>

<h4 class="cp-variables-form-header">Line Height</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'line-height-sm' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'line-height-base' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'line-height-lg' }) %>

<h4 class="cp-variables-form-header">Border Radius</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'border-radius' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'border-radius-sm' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'border-radius-lg' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'rounded-border-radius' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'rounded-circle-border-radius' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'rounded-0-border-radius' }) %>

<h4 class="cp-variables-form-header">Cursors</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'link-cursor' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'disabled-cursor' }) %>

<h4 class="cp-variables-form-header">Transition</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'transition-base' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'transition-fade' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'transition-collapse' }) %>

<h4 class="cp-variables-form-header">Body</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'body-color' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'body-bg' }) %>

<h4 class="cp-variables-form-header">Component Active</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'component-active-color' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'component-active-bg' }) %>