<h4 class="cp-variables-form-header">Input</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'input-height' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'input-height-mobile' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'input-font-size' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'input-font-size-mobile' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'input-padding-y' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'input-padding-x' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'input-line-height' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'input-border-top-width' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'input-border-right-width' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'input-border-bottom-width' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'input-border-left-width' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'input-border-width' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'input-border-color' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'input-border-radius' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'input-color' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'input-bg' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'input-box-shadow' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'input-transition' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'input-placeholder-color' }) %>

<h4 class="cp-variables-form-header">Input Focus</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'input-focus-border-color' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'input-focus-bg' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'input-focus-box-shadow' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'input-focus-color' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'input-focus-width' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'input-placeholder-focus-color' }) %>

<h4 class="cp-variables-form-header">Input Disabled</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'input-disabled-border-color' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'input-disabled-color' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'input-disabled-bg' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'input-disabled-cursor' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'input-disabled-opacity' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'input-placeholder-disabled-color' }) %>

<h4 class="cp-variables-form-header">Input Label</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'input-label-font-size' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'input-label-font-size-mobile' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'input-label-font-weight' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'input-label-color' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'input-label-margin-bottom' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'input-label-for-cursor' }) %>

<h4 class="cp-variables-form-header">Input Label Reference Mark</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'input-label-reference-mark-font-size' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'input-label-reference-mark-spacer' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'input-label-reference-mark-color' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'input-label-reference-mark-vertical-align' }) %>

<h4 class="cp-variables-form-header">Input Label Focus</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'input-label-focus-color' }) %>

<h4 class="cp-variables-form-header">Input Label Disabled</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'input-label-disabled-color' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'input-label-disabled-cursor' }) %>

<h4 class="cp-variables-form-header">Select</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'input-select-padding-top' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'input-select-padding-left' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'input-select-padding-right' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'input-select-padding-bottom' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'input-select-icon-color' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'input-select-icon' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'input-select-bg' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'input-select-bg-position' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'input-select-bg-size' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'input-select-cursor' }) %>

<h4 class="cp-variables-form-header">Select Focus</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'input-select-icon-focus-color' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'input-select-icon-focus' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'input-select-focus-bg' }) %>

<h4 class="cp-variables-form-header">Select Disabled</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'input-select-icon-disabled-color' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'input-select-icon-disabled' }) %>

<h4 class="cp-variables-form-header">Textarea</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'input-textarea-height' }) %>

<h4 class="cp-variables-form-header">Checkbox and Radio</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'form-check-input-gutter' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'form-check-input-margin-y' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'form-check-input-margin-x' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'form-check-input-cursor' }) %>

<h4 class="cp-variables-form-header">Checkbox and Radio Disabled</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'form-check-input-disabled-cursor' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'form-check-label-text-disabled-cursor' }) %>

<h4 class="cp-variables-form-header">Checkbox and Radio Label</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'form-check-label-text-padding-left' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'form-check-label-text-margin-left' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'form-check-label-cursor' }) %>

<h4 class="cp-variables-form-header">Inline Checkbox and Radio</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'form-check-inline-margin-x' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'form-check-inline-input-margin-x' }) %>

<h4 class="cp-variables-form-header">Input File</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'input-file-cursor' }) %>

<h4 class="cp-variables-form-header">Readonly</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'input-readonly-border-color' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'input-readonly-bg' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'input-readonly-color' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'input-readonly-cursor' }) %>

<h4 class="cp-variables-form-header">Readonly Focus</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'input-readonly-focus-border-color' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'input-readonly-focus-bg' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'input-readonly-focus-color' }) %>

<h4 class="cp-variables-form-header">Input Sm</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'input-height-sm' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'input-height-sm-mobile' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'input-font-size-sm' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'input-font-size-sm-mobile' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'input-padding-y-sm' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'input-padding-x-sm' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'input-line-height-sm' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'input-border-radius-sm' }) %>

<h4 class="cp-variables-form-header">Input Lg</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'input-height-lg' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'input-height-lg-mobile' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'input-font-size-lg' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'input-font-size-lg-mobile' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'input-padding-y-lg' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'input-padding-x-lg' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'input-line-height-lg' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'input-border-radius-lg' }) %>

<h4 class="cp-variables-form-header">Form Group</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'form-group-margin-bottom' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'form-group-margin-bottom-mobile' }) %>

<h4 class="cp-variables-form-header">Form Group Autofit</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'form-group-autofit-margin-bottom' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'form-group-item-label-max-width' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'form-group-item-label-spacer' }) %>