<h4 class="cp-variables-form-header">Label</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'label-height' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'label-font-size' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'label-font-weight' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'label-line-height' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'label-padding-y' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'label-padding-x' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'label-spacer-y' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'label-spacer-x' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'label-border-width' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'label-border-style' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'label-border-color' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'label-border-radius' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'label-color' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'label-text-transform' }) %>

<h4 class="cp-variables-form-header">Label Link</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'label-link-hover-color' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'label-link-text-decoration' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'label-link-hover-text-decoration' }) %>

<h4 class="cp-variables-form-header">Label Anchor</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'label-anchor-text-decoration' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'label-anchor-hover-text-decoration' }) %>

<h4 class="cp-variables-form-header">Label Lexicon Icon</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'label-lexicon-icon-width' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'label-lexicon-icon-height' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'label-lexicon-icon-margin-top' }) %>

<h4 class="cp-variables-form-header">Label Item</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'label-item-spacer-x' }) %>

<h4 class="cp-variables-form-header">Label Dismissible</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'label-dismissible-text-transform' }) %>

<h4 class="cp-variables-form-header">Label Close</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="label-close" name="clay[label-close]" type="hidden">
	</div>
	<%- include(partialsPath + 'cpTextInput', { id: 'label-close-align-items' }) %>
	<%- include(partialsPath + 'cpColorInput', { id: 'label-close-bg' }) %>
	<%- include(partialsPath + 'cpColorInput', { id: 'label-close-border-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'label-close-border-radius' }) %>
	<%- include(partialsPath + 'cpColorInput', { id: 'label-close-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'label-close-display' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'label-close-font-family' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'label-close-font-size' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'label-close-font-weight' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'label-close-height' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'label-close-justify-content' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'label-close-line-height' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'label-close-margin-bottom' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'label-close-margin-left' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'label-close-margin-right' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'label-close-margin-top' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'label-close-opacity' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'label-close-padding-bottom' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'label-close-padding-left' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'label-close-padding-right' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'label-close-padding-top' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'label-close-text-align' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'label-close-text-decoration' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'label-close-text-transform' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'label-close-transition' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'label-close-vertical-align' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'label-close-width' }) %>
	<%- include(partialsPath + 'cpColorInput', { id: 'label-close-hover-bg' }) %>
	<%- include(partialsPath + 'cpColorInput', { id: 'label-close-hover-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'label-close-hover-opacity' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'label-close-hover-text-decoration' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'label-close-focus-bg' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'label-close-focus-box-shadow' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'label-close-focus-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'label-close-focus-opacity' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'label-close-focus-outline' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'label-close-text-decoration' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'label-close-active-bg' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'label-close-active-border-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'label-close-active-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'label-close-disabled-bg' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'label-close-disabled-border-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'label-close-disabled-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'label-close-disabled-cursor' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'label-close-disabled-opacity' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'label-close-disabled-pointer-events' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'label-close-btn-focus-box-shadow' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'label-close-btn-focus-outline' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'label-close-lexicon-icon-margin-bottom' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'label-close-lexicon-icon-margin-left' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'label-close-lexicon-icon-margin-right' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'label-close-lexicon-icon-margin-top' }) %>
</div>

<h4 class="cp-variables-form-header">Label Lg</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="label-lg" name="clay[label-lg]" type="hidden">
	</div>
	<%- include(partialsPath + 'cpTextInput', { id: 'label-lg-border-width' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'label-lg-font-size' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'label-lg-height' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'label-lg-line-height' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'label-lg-padding-y' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'label-lg-padding-x' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'label-lg-text-transform' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'label-lg-lexicon-icon-width' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'label-lg-lexicon-icon-height' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'label-lg-lexicon-icon-margin-top' }) %>
</div>

<h4 class="cp-variables-form-header">Label Primary</h4>
<%- include(partialsPath + 'cpColorInput', { id: 'label-primary-bg' }) %>
<%- include(partialsPath + 'cpColorInput', { id: 'label-primary-border-color' }) %>
<%- include(partialsPath + 'cpColorInput', { id: 'label-primary-color' }) %>
<%- include(partialsPath + 'cpColorInput', { id: 'label-primary-hover-bg' }) %>
<%- include(partialsPath + 'cpColorInput', { id: 'label-primary-hover-border-color' }) %>
<%- include(partialsPath + 'cpColorInput', { id: 'label-primary-hover-color' }) %>
<%- include(partialsPath + 'cpColorInput', { id: 'label-primary-link-color' }) %>
<%- include(partialsPath + 'cpColorInput', { id: 'label-primary-link-hover-color' }) %>

<h4 class="cp-variables-form-header">Label Secondary</h4>
<%- include(partialsPath + 'cpColorInput', { id: 'label-secondary-bg' }) %>
<%- include(partialsPath + 'cpColorInput', { id: 'label-secondary-border-color' }) %>
<%- include(partialsPath + 'cpColorInput', { id: 'label-secondary-color' }) %>
<%- include(partialsPath + 'cpColorInput', { id: 'label-secondary-hover-bg' }) %>
<%- include(partialsPath + 'cpColorInput', { id: 'label-secondary-hover-border-color' }) %>
<%- include(partialsPath + 'cpColorInput', { id: 'label-secondary-hover-color' }) %>
<%- include(partialsPath + 'cpColorInput', { id: 'label-secondary-link-color' }) %>
<%- include(partialsPath + 'cpColorInput', { id: 'label-secondary-link-hover-color' }) %>

<h4 class="cp-variables-form-header">Label Success</h4>
<%- include(partialsPath + 'cpColorInput', { id: 'label-success-bg' }) %>
<%- include(partialsPath + 'cpColorInput', { id: 'label-success-border-color' }) %>
<%- include(partialsPath + 'cpColorInput', { id: 'label-success-color' }) %>
<%- include(partialsPath + 'cpColorInput', { id: 'label-success-hover-bg' }) %>
<%- include(partialsPath + 'cpColorInput', { id: 'label-success-hover-border-color' }) %>
<%- include(partialsPath + 'cpColorInput', { id: 'label-success-hover-color' }) %>
<%- include(partialsPath + 'cpColorInput', { id: 'label-success-link-color' }) %>
<%- include(partialsPath + 'cpColorInput', { id: 'label-success-link-hover-color' }) %>

<h4 class="cp-variables-form-header">Label Info</h4>
<%- include(partialsPath + 'cpColorInput', { id: 'label-info-bg' }) %>
<%- include(partialsPath + 'cpColorInput', { id: 'label-info-border-color' }) %>
<%- include(partialsPath + 'cpColorInput', { id: 'label-info-color' }) %>
<%- include(partialsPath + 'cpColorInput', { id: 'label-info-hover-bg' }) %>
<%- include(partialsPath + 'cpColorInput', { id: 'label-info-hover-border-color' }) %>
<%- include(partialsPath + 'cpColorInput', { id: 'label-info-hover-color' }) %>
<%- include(partialsPath + 'cpColorInput', { id: 'label-info-link-color' }) %>
<%- include(partialsPath + 'cpColorInput', { id: 'label-info-link-hover-color' }) %>

<h4 class="cp-variables-form-header">Label Warning</h4>
<%- include(partialsPath + 'cpColorInput', { id: 'label-warning-bg' }) %>
<%- include(partialsPath + 'cpColorInput', { id: 'label-warning-border-color' }) %>
<%- include(partialsPath + 'cpColorInput', { id: 'label-warning-color' }) %>
<%- include(partialsPath + 'cpColorInput', { id: 'label-warning-hover-bg' }) %>
<%- include(partialsPath + 'cpColorInput', { id: 'label-warning-hover-border-color' }) %>
<%- include(partialsPath + 'cpColorInput', { id: 'label-warning-hover-color' }) %>
<%- include(partialsPath + 'cpColorInput', { id: 'label-warning-link-color' }) %>
<%- include(partialsPath + 'cpColorInput', { id: 'label-warning-link-hover-color' }) %>

<h4 class="cp-variables-form-header">Label Danger</h4>
<%- include(partialsPath + 'cpColorInput', { id: 'label-danger-bg' }) %>
<%- include(partialsPath + 'cpColorInput', { id: 'label-danger-border-color' }) %>
<%- include(partialsPath + 'cpColorInput', { id: 'label-danger-color' }) %>
<%- include(partialsPath + 'cpColorInput', { id: 'label-danger-hover-bg' }) %>
<%- include(partialsPath + 'cpColorInput', { id: 'label-danger-hover-border-color' }) %>
<%- include(partialsPath + 'cpColorInput', { id: 'label-danger-hover-color' }) %>
<%- include(partialsPath + 'cpColorInput', { id: 'label-danger-link-color' }) %>
<%- include(partialsPath + 'cpColorInput', { id: 'label-danger-link-hover-color' }) %>

<h4 class="cp-variables-form-header">Label Light</h4>
<%- include(partialsPath + 'cpColorInput', { id: 'label-light-bg' }) %>
<%- include(partialsPath + 'cpColorInput', { id: 'label-light-border-color' }) %>
<%- include(partialsPath + 'cpColorInput', { id: 'label-light-color' }) %>
<%- include(partialsPath + 'cpColorInput', { id: 'label-light-hover-bg' }) %>
<%- include(partialsPath + 'cpColorInput', { id: 'label-light-hover-border-color' }) %>
<%- include(partialsPath + 'cpColorInput', { id: 'label-light-hover-color' }) %>
<%- include(partialsPath + 'cpColorInput', { id: 'label-light-link-color' }) %>
<%- include(partialsPath + 'cpColorInput', { id: 'label-light-link-hover-color' }) %>

<h4 class="cp-variables-form-header">Label Dark</h4>
<%- include(partialsPath + 'cpColorInput', { id: 'label-dark-bg' }) %>
<%- include(partialsPath + 'cpColorInput', { id: 'label-dark-border-color' }) %>
<%- include(partialsPath + 'cpColorInput', { id: 'label-dark-color' }) %>
<%- include(partialsPath + 'cpColorInput', { id: 'label-dark-hover-bg' }) %>
<%- include(partialsPath + 'cpColorInput', { id: 'label-dark-hover-border-color' }) %>
<%- include(partialsPath + 'cpColorInput', { id: 'label-dark-hover-color' }) %>
<%- include(partialsPath + 'cpColorInput', { id: 'label-dark-link-color' }) %>
<%- include(partialsPath + 'cpColorInput', { id: 'label-dark-link-hover-color' }) %>