<h4 class="cp-variables-form-header">List Group</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'list-group-font-size' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'list-group-border-width' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'list-group-border-color' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'list-group-border-radius' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'list-group-color' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'list-group-bg' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'list-group-box-shadow' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'list-group-margin-top' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'list-group-margin-bottom' }) %>

<h4 class="cp-variables-form-header">List Group Hover</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'list-group-hover-bg' }) %>

<h4 class="cp-variables-form-header">List Group Active</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'list-group-active-border-color' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'list-group-active-color' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'list-group-active-bg' }) %>

<h4 class="cp-variables-form-header">List Group Disabled</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'list-group-disabled-color' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'list-group-disabled-bg' }) %>

<h4 class="cp-variables-form-header">List Group Item</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'list-group-item-padding-y' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'list-group-item-padding-x' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'list-group-item-flex-align-items' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'list-group-item-flex-offset-top' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'list-group-item-flex-checkbox-offset-top' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'list-group-item-flex-list-group-title-offset-top' }) %>

<h4 class="cp-variables-form-header">List Group Link</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'list-group-link-color' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'list-group-link-hover-color' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'list-group-link-active-color' }) %>

<h4 class="cp-variables-form-header">List Group Detail</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'list-group-detail-margin-top' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'list-group-detail-margin-bottom' }) %>

<h4 class="cp-variables-form-header">List Group Notification Item</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'list-group-notification-item-border-top-width' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'list-group-notification-item-border-right-width' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'list-group-notification-item-border-bottom-width' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'list-group-notification-item-border-left-width' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'list-group-notification-item-border-top-color' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'list-group-notification-item-border-right-color' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'list-group-notification-item-border-bottom-color' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'list-group-notification-item-border-left-color' }) %>

<h4 class="cp-variables-form-header">List Group Notification Item Active</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'list-group-notification-item-active-border-top-color' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'list-group-notification-item-active-border-right-color' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'list-group-notification-item-active-border-bottom-color' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'list-group-notification-item-active-border-left-color' }) %>

<h4 class="cp-variables-form-header">List Group Notification Item</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="list-group-notification-item" name="clay[list-group-notification-item]" type="hidden">
	</div>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-notification-item-border-top-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-notification-item-border-right-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-notification-item-border-bottom-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-notification-item-border-left-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-notification-item-border-top-width' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-notification-item-border-right-width' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-notification-item-border-bottom-width' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-notification-item-border-left-width' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-notification-item-border-top-left-radius' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-notification-item-border-top-right-radius' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-notification-item-border-bottom-right-radius' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-notification-item-border-bottom-left-radius' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-notification-item-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-notification-item-bg' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-notification-item-active-border-top-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-notification-item-active-border-right-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-notification-item-active-border-bottom-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-notification-item-active-border-left-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-notification-item-active-bg' }) %>
</div>

<h4 class="cp-variables-form-header">List Group Notification Item Primary</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="list-group-notification-item-primary" name="clay[list-group-notification-item-primary]" type="hidden">
	</div>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-notification-item-primary-border-top-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-notification-item-primary-border-right-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-notification-item-primary-border-bottom-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-notification-item-primary-border-left-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-notification-item-primary-border-top-width' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-notification-item-primary-border-right-width' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-notification-item-primary-border-bottom-width' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-notification-item-primary-border-left-width' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-notification-item-primary-border-top-left-radius' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-notification-item-primary-border-top-right-radius' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-notification-item-primary-border-bottom-right-radius' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-notification-item-primary-border-bottom-left-radius' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-notification-item-primary-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-notification-item-primary-bg' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-notification-item-primary-active-border-top-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-notification-item-primary-active-border-right-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-notification-item-primary-active-border-bottom-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-notification-item-primary-active-border-left-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-notification-item-primary-active-bg' }) %>
</div>

<h4 class="cp-variables-form-header">List Group Header</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'list-group-header-padding-y' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'list-group-header-padding-x' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'list-group-header-bg' }) %>

<h4 class="cp-variables-form-header">List Group Header Title</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="list-group-header-title" name="clay[list-group-header-title]" type="hidden">
	</div>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-header-title-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-header-title-font-size' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-header-title-font-family' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-header-title-font-weight' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-header-title-padding-top' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-header-title-padding-right' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-header-title-padding-bottom' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-header-title-padding-left' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-header-title-line-height' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-header-title-margin-top' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-header-title-margin-right' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-header-title-margin-bottom' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-header-title-margin-left' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-header-title-letter-spacing' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-header-title-text-transform' }) %>
</div>

<h4 class="cp-variables-form-header">List Group Title</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="list-group-title" name="clay[list-group-title]" type="hidden">
	</div>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-title-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-title-font-size' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-title-font-family' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-title-font-weight' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-title-padding-top' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-title-padding-right' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-title-padding-bottom' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-title-padding-left' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-title-line-height' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-title-margin-top' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-title-margin-right' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-title-margin-bottom' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-title-margin-left' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-title-letter-spacing' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-title-text-transform' }) %>
</div>

<h4 class="cp-variables-form-header">List Group Title Active</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'list-group-title-active-color' }) %>

<h4 class="cp-variables-form-header">List Group Title Link</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="list-group-title-link" name="clay[list-group-title-link]" type="hidden">
	</div>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-title-link-align-items' }) %>
	<%- include(partialsPath + 'cpColorInput', { id: 'list-group-title-link-bg' }) %>
	<%- include(partialsPath + 'cpColorInput', { id: 'list-group-title-link-border-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-title-link-border-radius' }) %>
	<%- include(partialsPath + 'cpColorInput', { id: 'list-group-title-link-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-title-link-display' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-title-link-font-family' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-title-link-font-size' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-title-link-font-weight' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-title-link-height' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-title-link-justify-content' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-title-link-line-height' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-title-link-margin-bottom' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-title-link-margin-left' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-title-link-margin-right' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-title-link-margin-top' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-title-link-opacity' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-title-link-padding-bottom' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-title-link-padding-left' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-title-link-padding-right' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-title-link-padding-top' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-title-link-text-align' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-title-link-text-decoration' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-title-link-text-transform' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-title-link-transition' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-title-link-vertical-align' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-title-link-width' }) %>
	<%- include(partialsPath + 'cpColorInput', { id: 'list-group-title-link-hover-bg' }) %>
	<%- include(partialsPath + 'cpColorInput', { id: 'list-group-title-link-hover-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-title-link-hover-opacity' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-title-link-hover-text-decoration' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-title-link-focus-bg' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-title-link-focus-box-shadow' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-title-link-focus-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-title-link-focus-opacity' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-title-link-focus-outline' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-title-link-text-decoration' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-title-link-active-bg' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-title-link-active-border-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-title-link-active-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-title-link-disabled-bg' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-title-link-disabled-border-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-title-link-disabled-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-title-link-disabled-cursor' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-title-link-disabled-opacity' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-title-link-disabled-pointer-events' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-title-link-btn-focus-box-shadow' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-title-link-btn-focus-outline' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-title-link-lexicon-icon-margin-bottom' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-title-link-lexicon-icon-margin-left' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-title-link-lexicon-icon-margin-right' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-title-link-lexicon-icon-margin-top' }) %>
</div>

<h4 class="cp-variables-form-header">List Group Subtitle</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="list-group-subtitle" name="clay[list-group-subtitle]" type="hidden">
	</div>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtitle-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtitle-font-size' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtitle-font-family' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtitle-font-weight' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtitle-padding-top' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtitle-padding-right' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtitle-padding-bottom' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtitle-padding-left' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtitle-line-height' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtitle-margin-top' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtitle-margin-right' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtitle-margin-bottom' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtitle-margin-left' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtitle-letter-spacing' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtitle-text-transform' }) %>
</div>

<h4 class="cp-variables-form-header">List Group Subtitle Link</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="list-group-subtitle-link" name="clay[list-group-subtitle-link]" type="hidden">
	</div>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtitle-link-align-items' }) %>
	<%- include(partialsPath + 'cpColorInput', { id: 'list-group-subtitle-link-bg' }) %>
	<%- include(partialsPath + 'cpColorInput', { id: 'list-group-subtitle-link-border-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtitle-link-border-radius' }) %>
	<%- include(partialsPath + 'cpColorInput', { id: 'list-group-subtitle-link-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtitle-link-display' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtitle-link-font-family' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtitle-link-font-size' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtitle-link-font-weight' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtitle-link-height' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtitle-link-justify-content' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtitle-link-line-height' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtitle-link-margin-bottom' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtitle-link-margin-left' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtitle-link-margin-right' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtitle-link-margin-top' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtitle-link-opacity' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtitle-link-padding-bottom' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtitle-link-padding-left' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtitle-link-padding-right' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtitle-link-padding-top' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtitle-link-text-align' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtitle-link-text-decoration' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtitle-link-text-transform' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtitle-link-transition' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtitle-link-vertical-align' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtitle-link-width' }) %>
	<%- include(partialsPath + 'cpColorInput', { id: 'list-group-subtitle-link-hover-bg' }) %>
	<%- include(partialsPath + 'cpColorInput', { id: 'list-group-subtitle-link-hover-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtitle-link-hover-opacity' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtitle-link-hover-text-decoration' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtitle-link-focus-bg' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtitle-link-focus-box-shadow' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtitle-link-focus-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtitle-link-focus-opacity' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtitle-link-focus-outline' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtitle-link-text-decoration' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtitle-link-active-bg' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtitle-link-active-border-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtitle-link-active-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtitle-link-disabled-bg' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtitle-link-disabled-border-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtitle-link-disabled-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtitle-link-disabled-cursor' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtitle-link-disabled-opacity' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtitle-link-disabled-pointer-events' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtitle-link-btn-focus-box-shadow' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtitle-link-btn-focus-outline' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtitle-link-lexicon-icon-margin-bottom' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtitle-link-lexicon-icon-margin-left' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtitle-link-lexicon-icon-margin-right' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtitle-link-lexicon-icon-margin-top' }) %>
</div>

<h4 class="cp-variables-form-header">List Group Text</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="list-group-text" name="clay[list-group-text]" type="hidden">
	</div>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-text-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-text-font-size' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-text-font-family' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-text-font-weight' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-text-padding-top' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-text-padding-right' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-text-padding-bottom' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-text-padding-left' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-text-line-height' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-text-margin-top' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-text-margin-right' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-text-margin-bottom' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-text-margin-left' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-text-letter-spacing' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-text-text-transform' }) %>
</div>

<h4 class="cp-variables-form-header">List Group Text Active</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'list-group-text-active-color' }) %>

<h4 class="cp-variables-form-header">List Group Text Link</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="list-group-text-link" name="clay[list-group-text-link]" type="hidden">
	</div>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-text-link-align-items' }) %>
	<%- include(partialsPath + 'cpColorInput', { id: 'list-group-text-link-bg' }) %>
	<%- include(partialsPath + 'cpColorInput', { id: 'list-group-text-link-border-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-text-link-border-radius' }) %>
	<%- include(partialsPath + 'cpColorInput', { id: 'list-group-text-link-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-text-link-display' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-text-link-font-family' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-text-link-font-size' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-text-link-font-weight' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-text-link-height' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-text-link-justify-content' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-text-link-line-height' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-text-link-margin-bottom' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-text-link-margin-left' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-text-link-margin-right' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-text-link-margin-top' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-text-link-opacity' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-text-link-padding-bottom' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-text-link-padding-left' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-text-link-padding-right' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-text-link-padding-top' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-text-link-text-align' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-text-link-text-decoration' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-text-link-text-transform' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-text-link-transition' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-text-link-vertical-align' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-text-link-width' }) %>
	<%- include(partialsPath + 'cpColorInput', { id: 'list-group-text-link-hover-bg' }) %>
	<%- include(partialsPath + 'cpColorInput', { id: 'list-group-text-link-hover-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-text-link-hover-opacity' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-text-link-hover-text-decoration' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-text-link-focus-bg' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-text-link-focus-box-shadow' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-text-link-focus-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-text-link-focus-opacity' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-text-link-focus-outline' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-text-link-text-decoration' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-text-link-active-bg' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-text-link-active-border-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-text-link-active-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-text-link-disabled-bg' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-text-link-disabled-border-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-text-link-disabled-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-text-link-disabled-cursor' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-text-link-disabled-opacity' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-text-link-disabled-pointer-events' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-text-link-btn-focus-box-shadow' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-text-link-btn-focus-outline' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-text-link-lexicon-icon-margin-bottom' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-text-link-lexicon-icon-margin-left' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-text-link-lexicon-icon-margin-right' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-text-link-lexicon-icon-margin-top' }) %>
</div>

<h4 class="cp-variables-form-header">List Group Subtext</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="list-group-subtext" name="clay[list-group-subtext]" type="hidden">
	</div>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtext-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtext-font-size' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtext-font-family' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtext-font-weight' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtext-padding-top' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtext-padding-right' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtext-padding-bottom' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtext-padding-left' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtext-line-height' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtext-margin-top' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtext-margin-right' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtext-margin-bottom' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtext-margin-left' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtext-letter-spacing' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtext-text-transform' }) %>
</div>

<h4 class="cp-variables-form-header">List Group Subtext Active</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtext-active-color' }) %>

<h4 class="cp-variables-form-header">List Group Subtext Link</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="list-group-subtext-link" name="clay[list-group-subtext-link]" type="hidden">
	</div>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtext-link-align-items' }) %>
	<%- include(partialsPath + 'cpColorInput', { id: 'list-group-subtext-link-bg' }) %>
	<%- include(partialsPath + 'cpColorInput', { id: 'list-group-subtext-link-border-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtext-link-border-radius' }) %>
	<%- include(partialsPath + 'cpColorInput', { id: 'list-group-subtext-link-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtext-link-display' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtext-link-font-family' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtext-link-font-size' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtext-link-font-weight' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtext-link-height' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtext-link-justify-content' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtext-link-line-height' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtext-link-margin-bottom' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtext-link-margin-left' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtext-link-margin-right' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtext-link-margin-top' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtext-link-opacity' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtext-link-padding-bottom' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtext-link-padding-left' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtext-link-padding-right' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtext-link-padding-top' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtext-link-text-align' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtext-link-text-decoration' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtext-link-text-transform' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtext-link-transition' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtext-link-vertical-align' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtext-link-width' }) %>
	<%- include(partialsPath + 'cpColorInput', { id: 'list-group-subtext-link-hover-bg' }) %>
	<%- include(partialsPath + 'cpColorInput', { id: 'list-group-subtext-link-hover-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtext-link-hover-opacity' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtext-link-hover-text-decoration' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtext-link-focus-bg' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtext-link-focus-box-shadow' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtext-link-focus-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtext-link-focus-opacity' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtext-link-focus-outline' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtext-link-text-decoration' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtext-link-active-bg' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtext-link-active-border-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtext-link-active-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtext-link-disabled-bg' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtext-link-disabled-border-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtext-link-disabled-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtext-link-disabled-cursor' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtext-link-disabled-opacity' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtext-link-disabled-pointer-events' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtext-link-btn-focus-box-shadow' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtext-link-btn-focus-outline' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtext-link-lexicon-icon-margin-bottom' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtext-link-lexicon-icon-margin-left' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtext-link-lexicon-icon-margin-right' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'list-group-subtext-link-lexicon-icon-margin-top' }) %>
</div>

<h4 class="cp-variables-form-header">List Group Item Action</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'list-group-action-color' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'list-group-action-hover-color' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'list-group-action-active-color' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'list-group-action-active-bg' }) %>