<h4 class="cp-variables-form-header">Modal Backdrop</h4>
<%-
	printInputs([
		{ id: 'modal-backdrop-bg', color: true, },
		{ id: 'modal-backdrop-opacity', },
	]);
%>

<h4 class="cp-variables-form-header">Modal Transition</h4>
<%-
	printInputs([
		{ id: 'modal-transition', },
	]);
%>

<h4 class="cp-variables-form-header">Modal Dialog</h4>
<%-
	printInputs([
		{ id: 'modal-dialog-margin-y-sm-up', },
		{ id: 'modal-dialog-margin', },
	]);
%>

<h4 class="cp-variables-form-header">Modal Content</h4>
<%-
	printInputs([
		{ id: 'modal-content-border-width', },
		{ id: 'modal-content-border-color', color: true, },
		{ id: 'modal-content-border-radius', },
		{ id: 'modal-content-bg', color: true, },
		{ id: 'modal-content-box-shadow-sm-up', },
		{ id: 'modal-content-box-shadow-xs', },
	]);
%>

<h4 class="cp-variables-form-header">Modal Inner</h4>
<%-
	printInputs([
		{ id: 'modal-inner-padding', },
	]);
%>

<h4 class="cp-variables-form-header">Modal Header</h4>
<%-
	printInputs([
		{ id: 'modal-header-height', },
		{ id: 'modal-header-height-mobile', },
		{ id: 'modal-header-padding', },
		{ id: 'modal-header-border-width', },
		{ id: 'modal-header-border-color', color: true, },
		{ id: 'modal-header-color', color: true, },
		{ id: 'modal-header-bg', color: true, },
	]);
%>

<h4 class="cp-variables-form-header">Modal Title</h4>
<%-
	printInputs([
		{ id: 'modal-title-font-size', },
		{ id: 'modal-title-font-size-mobile', },
		{ id: 'modal-title-font-weight', },
		{ id: 'modal-title-line-height', },
		{ id: 'modal-title-text-align', },
		{ id: 'modal-title-indicator-font-size', },
		{ id: 'modal-title-indicator-spacer-x', },
	]);
%>

<h4 class="cp-variables-form-header">Modal Close</h4>
<%-
	printInputs([
		{ id: 'modal-close-spacer-x', },
	]);
%>

<h4 class="cp-variables-form-header">Modal Body</h4>
<%-
	printInputs([
		{ id: 'modal-body-color', color: true, },
		{ id: 'modal-body-bg', color: true, },
	]);
%>

<h4 class="cp-variables-form-header">Modal Footer</h4>
<%-
	printInputs([
		{ id: 'modal-footer-height', },
		{ id: 'modal-footer-height-mobile', },
		{ id: 'modal-footer-padding-y', },
		{ id: 'modal-footer-padding-x', },
		{ id: 'modal-footer-border-width', },
		{ id: 'modal-footer-border-color', color: true, },
		{ id: 'modal-footer-color', color: true, },
		{ id: 'modal-footer-bg', color: true, },
		{ id: 'modal-footer-box-shadow', },
	]);
%>

<h4 class="cp-variables-form-header">Modal Item</h4>
<%-
	printInputs([
		{ id: 'modal-item-padding-y', },
		{ id: 'modal-item-padding-x', },
	]);
%>

<h4 class="cp-variables-form-header">Modal Size Widths</h4>
<%-
	printInputs([
		{ id: 'modal-sm', },
		{ id: 'modal-md', },
		{ id: 'modal-lg', },
	]);
%>

<h4 class="cp-variables-form-header">Modal Success</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="modal-success" name="clay[modal-success]" type="hidden">
	</div>
	<%- include(mixinsPath + 'cpClayModalVariantMixin', { namespace: 'modal-success' }) %>
</div>

<h4 class="cp-variables-form-header">Modal Info</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="modal-info" name="clay[modal-info]" type="hidden">
	</div>
	<%- include(mixinsPath + 'cpClayModalVariantMixin', { namespace: 'modal-info' }) %>
</div>

<h4 class="cp-variables-form-header">Modal Warning</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="modal-warning" name="clay[modal-warning]" type="hidden">
	</div>
	<%- include(mixinsPath + 'cpClayModalVariantMixin', { namespace: 'modal-warning' }) %>
</div>

<h4 class="cp-variables-form-header">Modal Danger</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="modal-danger" name="clay[modal-danger]" type="hidden">
	</div>
	<%- include(mixinsPath + 'cpClayModalVariantMixin', { namespace: 'modal-danger' }) %>
</div>