<h4 class="cp-variables-form-header">Management Bar Size</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="management-bar-size" name="clay[management-bar-size]" type="hidden">
	</div>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-size-enabled' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-size-scaling-navbar' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-size-container-padding-x' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-size-height' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-size-font-size' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-size-padding-y' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-size-padding-x' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-size-border-top-width' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-size-border-right-width' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-size-border-bottom-width' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-size-border-left-width' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-size-box-shadow' }) %>

	<h5 class="cp-variables-form-subheader">Management Bar Size Link</h5>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-size-link-height' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-size-link-padding-y' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-size-link-padding-x' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-size-link-margin-y' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-size-link-margin-x' }) %>

	<h5 class="cp-variables-form-subheader">Management Bar Size Button</h5>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-size-btn-font-size' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-size-btn-margin-y' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-size-btn-margin-x' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-size-btn-monospaced-font-size' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-size-form-control-height' }) %>

	<h5 class="cp-variables-form-subheader">Management Bar Size Brand</h5>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-size-brand-max-width' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-size-brand-font-size' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-size-brand-padding-y' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-size-brand-padding-x' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-size-brand-margin-right' }) %>

	<h5 class="cp-variables-form-subheader">Management Bar Size Title</h5>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-size-title-font-size' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-size-title-font-weight' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-size-title-margin-bottom' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-size-title-text-transform' }) %>

	<h5 class="cp-variables-form-subheader">Management Bar Size Active</h5>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-size-active-border-bottom-width' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-size-active-border-offset-x' }) %>

	<h5 class="cp-variables-form-subheader">Management Bar Dropdown</h5>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-size-nav-item-dropdown-margin-top' }) %>

	<h5 class="cp-variables-form-subheader">Management Bar Size Mobile</h5>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-size-container-padding-x-mobile' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-size-height-mobile' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-size-font-size-mobile' }) %>

	<h5 class="cp-variables-form-subheader">Management Bar Size Link Mobile</h5>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-size-link-height-mobile' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-size-link-padding-y-mobile' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-size-link-padding-x-mobile' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-size-link-margin-y-mobile' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-size-link-margin-x-mobile' }) %>

	<h5 class="cp-variables-form-subheader">Management Bar Size Btn Mobile</h5>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-size-btn-font-size-mobile' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-size-btn-margin-y-mobile' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-size-btn-margin-x-mobile' }) %>

	<h5 class="cp-variables-form-subheader">Management Bar Size Btn Monospaced Mobile</h5>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-size-btn-monospaced-size-mobile' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-size-btn-monospaced-font-size-mobile' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-size-form-control-height-mobile' }) %>

	<h5 class="cp-variables-form-subheader">Management Bar Size Brand Mobile</h5>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-size-brand-font-size-mobile' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-size-brand-margin-right-mobile' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-size-brand-padding-x-mobile' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-size-brand-padding-y-mobile' }) %>

	<h5 class="cp-variables-form-subheader">Management Bar Size Collapse Mobile</h5>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-size-collapse-dropdown-item-padding-x-mobile' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-size-collapse-dropdown-item-padding-y-mobile' }) %>

	<h5 class="cp-variables-form-header">Management Bar Size Toggler</h5>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-size-toggler-font-size' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-size-toggler-height' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-size-toggler-margin-x' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-size-toggler-margin-y' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-size-toggler-padding-x' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-size-toggler-padding-y' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-size-toggler-link-font-size' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-size-toggler-link-height' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-size-toggler-link-line-height' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-size-toggler-link-margin-x' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-size-toggler-link-margin-y' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-size-toggler-link-padding-x' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-size-toggler-link-padding-y' }) %>
</div>

<h4 class="cp-variables-form-header">Management Bar Light</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="management-bar-light" name="clay[management-bar-light]" type="hidden">
	</div>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-light-enabled' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-light-bg' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-light-border-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-light-border-style' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-light-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-light-link-border-radius' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-light-link-bg' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-light-link-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-light-link-font-weight' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-light-link-hover-bg' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-light-link-hover-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-light-link-active-bg' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-light-link-active-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-light-link-disabled-bg' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-light-link-disabled-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-light-link-disabled-opacity' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-light-btn-font-weight' }) %>

	<h5 class="cp-variables-form-header">Management Bar Light Brand</h5>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-light-brand-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-light-brand-hover-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-light-brand-bg' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-light-brand-hover-bg' }) %>

	<h5 class="cp-variables-form-header">Management Bar Light Toggler</h5>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-light-toggler-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-light-toggler-font-weight' }) %>

	<h5 class="cp-variables-form-header">Management Bar Light Underline</h5>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-light-underline-active-bg' }) %>
</div>

<h4 class="cp-variables-form-header">Management Bar Primary</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="management-bar-primary" name="clay[management-bar-primary]" type="hidden">
	</div>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-primary-enabled' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-primary-bg' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-primary-border-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-primary-border-style' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-primary-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-primary-link-border-radius' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-primary-link-bg' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-primary-link-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-primary-link-font-weight' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-primary-link-hover-bg' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-primary-link-hover-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-primary-link-active-bg' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-primary-link-active-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-primary-link-disabled-bg' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-primary-link-disabled-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-primary-link-disabled-opacity' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-primary-btn-font-weight' }) %>

	<h5 class="cp-variables-form-header">Management Bar Primary Brand</h5>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-primary-brand-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-primary-brand-hover-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-primary-brand-bg' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-primary-brand-hover-bg' }) %>

	<h5 class="cp-variables-form-header">Management Bar Primary Toggler</h5>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-primary-toggler-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-primary-toggler-font-weight' }) %>

	<h5 class="cp-variables-form-header">Management Bar Primary Underline</h5>
	<%- include(partialsPath + 'cpTextInput', { id: 'management-bar-primary-underline-active-bg' }) %>
</div>