<h4 class="cp-variables-form-header">Navigation Bar Size</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="navigation-bar-size" name="clay[navigation-bar-size]" type="hidden">
	</div>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-size-enabled' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-size-scaling-navbar' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-size-container-padding-x' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-size-height' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-size-font-size' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-size-padding-y' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-size-padding-x' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-size-border-top-width' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-size-border-right-width' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-size-border-bottom-width' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-size-border-left-width' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-size-box-shadow' }) %>

	<h5 class="cp-variables-form-subheader">Navigation Bar Size Link</h5>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-size-link-height' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-size-link-padding-y' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-size-link-padding-x' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-size-link-margin-y' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-size-link-margin-x' }) %>

	<h5 class="cp-variables-form-subheader">Navigation Bar Size Button</h5>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-size-btn-font-size' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-size-btn-margin-y' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-size-btn-margin-x' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-size-btn-monospaced-font-size' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-size-form-control-height' }) %>

	<h5 class="cp-variables-form-subheader">Navigation Bar Size Brand</h5>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-size-brand-max-width' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-size-brand-font-size' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-size-brand-padding-y' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-size-brand-padding-x' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-size-brand-margin-right' }) %>

	<h5 class="cp-variables-form-subheader">Navigation Bar Size Title</h5>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-size-title-font-size' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-size-title-font-weight' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-size-title-margin-bottom' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-size-title-text-transform' }) %>

	<h5 class="cp-variables-form-subheader">Navigation Bar Size Active</h5>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-size-active-border-bottom-width' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-size-active-border-offset-x' }) %>

	<h5 class="cp-variables-form-subheader">Navigation Bar Dropdown</h5>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-size-nav-item-dropdown-margin-top' }) %>

	<h5 class="cp-variables-form-subheader">Navigation Bar Size Mobile</h5>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-size-container-padding-x-mobile' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-size-height-mobile' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-size-font-size-mobile' }) %>

	<h5 class="cp-variables-form-subheader">Navigation Bar Size Link Mobile</h5>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-size-link-height-mobile' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-size-link-padding-y-mobile' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-size-link-padding-x-mobile' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-size-link-margin-y-mobile' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-size-link-margin-x-mobile' }) %>

	<h5 class="cp-variables-form-subheader">Navigation Bar Size Btn Mobile</h5>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-size-btn-font-size-mobile' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-size-btn-margin-y-mobile' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-size-btn-margin-x-mobile' }) %>

	<h5 class="cp-variables-form-subheader">Navigation Bar Size Btn Monospaced Mobile</h5>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-size-btn-monospaced-size-mobile' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-size-btn-monospaced-font-size-mobile' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-size-form-control-height-mobile' }) %>

	<h5 class="cp-variables-form-subheader">Navigation Bar Size Brand Mobile</h5>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-size-brand-font-size-mobile' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-size-brand-margin-right-mobile' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-size-brand-padding-x-mobile' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-size-brand-padding-y-mobile' }) %>

	<h5 class="cp-variables-form-subheader">Navigation Bar Size Collapse Mobile</h5>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-size-collapse-dropdown-item-padding-x-mobile' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-size-collapse-dropdown-item-padding-y-mobile' }) %>

	<h5 class="cp-variables-form-header">Navigation Bar Size Toggler</h5>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-size-toggler-font-size' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-size-toggler-height' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-size-toggler-margin-x' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-size-toggler-margin-y' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-size-toggler-padding-x' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-size-toggler-padding-y' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-size-toggler-link-font-size' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-size-toggler-link-height' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-size-toggler-link-line-height' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-size-toggler-link-margin-x' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-size-toggler-link-margin-y' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-size-toggler-link-padding-x' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-size-toggler-link-padding-y' }) %>
</div>

<h4 class="cp-variables-form-header">Navigation Bar Light</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="navigation-bar-light" name="clay[navigation-bar-light]" type="hidden">
	</div>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-light-enabled' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-light-bg' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-light-border-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-light-border-style' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-light-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-light-link-border-radius' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-light-link-bg' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-light-link-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-light-link-font-weight' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-light-link-hover-bg' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-light-link-hover-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-light-link-active-bg' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-light-link-active-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-light-link-disabled-bg' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-light-link-disabled-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-light-link-disabled-opacity' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-light-btn-font-weight' }) %>

	<h5 class="cp-variables-form-header">Navigation Bar Light Brand</h5>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-light-brand-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-light-brand-hover-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-light-brand-bg' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-light-brand-hover-bg' }) %>

	<h5 class="cp-variables-form-header">Navigation Bar Light Toggler</h5>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-light-toggler-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-light-toggler-font-weight' }) %>

	<h5 class="cp-variables-form-header">Navigation Bar Light Underline</h5>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-light-underline-active-bg' }) %>
</div>

<h4 class="cp-variables-form-header">Navigation Bar Secondary</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="navigation-bar-secondary" name="clay[navigation-bar-secondary]" type="hidden">
	</div>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-secondary-enabled' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-secondary-bg' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-secondary-border-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-secondary-border-style' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-secondary-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-secondary-link-border-radius' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-secondary-link-bg' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-secondary-link-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-secondary-link-font-weight' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-secondary-link-hover-bg' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-secondary-link-hover-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-secondary-link-active-bg' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-secondary-link-active-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-secondary-link-disabled-bg' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-secondary-link-disabled-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-secondary-link-disabled-opacity' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-secondary-btn-font-weight' }) %>

	<h5 class="cp-variables-form-header">Navigation Bar Secondary Brand</h5>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-secondary-brand-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-secondary-brand-hover-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-secondary-brand-bg' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-secondary-brand-hover-bg' }) %>

	<h5 class="cp-variables-form-header">Navigation Bar Secondary Toggler</h5>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-secondary-toggler-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-secondary-toggler-font-weight' }) %>

	<h5 class="cp-variables-form-header">Navigation Bar Secondary Underline</h5>
	<%- include(partialsPath + 'cpTextInput', { id: 'navigation-bar-secondary-underline-active-bg' }) %>
</div>