<h4 class="cp-variables-form-header">Panel</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'panel-margin-bottom' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'panel-border-top-width' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'panel-border-right-width' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'panel-border-bottom-width' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'panel-border-left-width' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'panel-border-style' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'panel-border-color' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'panel-border-radius' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'panel-bg' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'panel-box-shadow' }) %>

<h4 class="cp-variables-form-header">Panel Header</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'panel-header-font-size' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'panel-header-padding-y' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'panel-header-padding-x' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'panel-header-line-height' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'panel-header-border-bottom-width' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'panel-header-offset-border-radius' }) %>

<h4 class="cp-variables-form-header">Panel Header Link</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'panel-header-link-text-decoration' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'panel-header-link-hover-text-decoration' }) %>

<h4 class="cp-variables-form-header">Panel Header Collapse Icon</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'panel-header-collapse-icon-font-size' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'panel-header-collapse-icon-padding-left' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'panel-header-collapse-icon-padding-right' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'panel-header-collapse-icon-top' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'panel-header-collapse-icon-right' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'panel-header-collapse-icon-bottom' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'panel-header-collapse-icon-left' }) %>

<h4 class="cp-variables-form-header">Panel Title</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'panel-title-font-size' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'panel-title-font-weight' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'panel-title-text-transform' }) %>

<h4 class="cp-variables-form-header">Panel Body</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'panel-body-padding-y' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'panel-body-padding-x' }) %>

<h4 class="cp-variables-form-header">Panel Footer</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'panel-footer-padding-y' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'panel-footer-padding-x' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'panel-footer-border-top-width' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'panel-footer-offset-border-radius' }) %>

<h4 class="cp-variables-form-header">Panel Group</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'panel-group-panel-margin-bottom' }) %>

<h4 class="cp-variables-form-header">Panel Group Flush Panel Body</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'panel-group-flush-body-padding' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'panel-group-flush-body-margin-bottom' }) %>

<h4 class="cp-variables-form-header">Panel Group Flush Panel Header Collapse Icon</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'panel-group-flush-collapse-icon-padding-right' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'panel-group-flush-collapse-icon-padding-left' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'panel-group-flush-collapse-icon-right' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'panel-group-flush-collapse-icon-left' }) %>

<h4 class="cp-variables-form-header">Panel Secondary</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="panel-secondary" name="clay[panel-secondary]" type="hidden">
	</div>
	<%- include(partialsPath + 'cpTextInput', { id: 'panel-secondary-border-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'panel-secondary-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'panel-secondary-box-shadow' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'panel-secondary-header-border-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'panel-secondary-header-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'panel-secondary-header-bg' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'panel-secondary-footer-border-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'panel-secondary-footer-color' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'panel-secondary-footer-bg' }) %>
</div>
