<h4 class="cp-variables-form-header">Sheet</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'sheet-padding-top' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'sheet-padding-right' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'sheet-padding-bottom' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'sheet-padding-left' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'sheet-border-width' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'sheet-border-style' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'sheet-border-color' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'sheet-border-radius' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'sheet-bg' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'sheet-padding-top-mobile' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'sheet-padding-right-mobile' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'sheet-padding-bottom-mobile' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'sheet-padding-left-mobile' }) %>

<h4 class="cp-variables-form-header">Sheet Header</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'sheet-header-margin-bottom' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'sheet-header-margin-bottom-mobile' }) %>

<h4 class="cp-variables-form-header">Sheet Section</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'sheet-section-margin-bottom' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'sheet-section-margin-bottom-mobile' }) %>

<h4 class="cp-variables-form-header">Sheet Panel Group</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'sheet-panel-group-margin-bottom' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'sheet-panel-group-margin-bottom-mobile' }) %>

<h4 class="cp-variables-form-header">Sheet Footer</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'sheet-footer-margin-top' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'sheet-footer-margin-right' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'sheet-footer-margin-bottom' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'sheet-footer-margin-left' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'sheet-footer-margin-top-mobile' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'sheet-footer-margin-right-mobile' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'sheet-footer-margin-bottom-mobile' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'sheet-footer-margin-left-mobile' }) %>

<h4 class="cp-variables-form-header">Sheet Footer Btn Block Sm Down</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="sheet-footer-btn-block-sm-down" name="clay[sheet-footer-btn-block-sm-down]" type="hidden">
	</div>
	<%- include(partialsPath + 'cpTextInput', { id: 'sheet-footer-btn-block-sm-down-enabled' }) %>
	<%- include(partialsPath + 'cpTextInput', { id: 'sheet-footer-btn-block-sm-down-btn-margin-bottom-mobile' }) %>
</div>

<h4 class="cp-variables-form-header">Sheet Lg</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'sheet-lg-max-width' }) %>

<h4 class="cp-variables-form-header">Sheet Title</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'sheet-title-font-size' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'sheet-title-font-weight' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'sheet-title-line-height' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'sheet-title-margin-bottom' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'sheet-title-color' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'sheet-title-font-size-mobile' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'sheet-title-margin-bottom-mobile' }) %>

<h4 class="cp-variables-form-header">Sheet Subtitle</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'sheet-subtitle-font-size' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'sheet-subtitle-font-weight' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'sheet-subtitle-padding-y' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'sheet-subtitle-padding-x' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'sheet-subtitle-line-height' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'sheet-subtitle-margin-bottom' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'sheet-subtitle-border-width' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'sheet-subtitle-border-style' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'sheet-subtitle-border-color' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'sheet-subtitle-color' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'sheet-subtitle-text-transform' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'sheet-subtitle-heading-text-margin-top' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'sheet-subtitle-heading-text-margin-bottom' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'sheet-subtitle-font-size-mobile' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'sheet-subtitle-margin-bottom-mobile' }) %>

<h4 class="cp-variables-form-header">Sheet Subtitle as Panel Header</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'sheet-subtitle-link-color' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'sheet-subtitle-link-hover-color' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'sheet-subtitle-link-text-decoration' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'sheet-subtitle-link-hover-text-decoration' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'sheet-subtitle-collapse-icon-padding-left' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'sheet-subtitle-collapse-icon-padding-right' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'sheet-subtitle-collapse-icon-top' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'sheet-subtitle-collapse-icon-right' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'sheet-subtitle-collapse-icon-bottom' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'sheet-subtitle-collapse-icon-left' }) %>

<h4 class="cp-variables-form-header">Sheet Tertiary Title</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'sheet-tertiary-title-font-size' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'sheet-tertiary-title-font-weight' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'sheet-tertiary-title-padding-y' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'sheet-tertiary-title-padding-x' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'sheet-tertiary-title-line-height' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'sheet-tertiary-title-margin-bottom' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'sheet-tertiary-title-color' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'sheet-tertiary-title-text-transform' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'sheet-tertiary-title-font-size-mobile' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'sheet-tertiary-title-margin-bottom-mobile' }) %>

<h4 class="cp-variables-form-header">Sheet Text</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'sheet-text-font-size' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'sheet-text-font-weight' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'sheet-text-margin-bottom' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'sheet-text-color' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'sheet-text-font-size-mobile' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'sheet-text-margin-bottom-mobile' }) %>