<h4 class="cp-variables-form-header">Sidenav</h4>
<%-
	printInputs([
		{ id: 'sidenav-width', },
		{ id: 'sidenav-transition', },
	]);
%>

<h4 class="cp-variables-form-header">Sidebar</h4>
<%-
	printInputs([
		{ id: 'sidebar-padding-top', },
		{ id: 'sidebar-padding-right', },
		{ id: 'sidebar-padding-bottom', },
		{ id: 'sidebar-padding-left', },
	]);
%>

<h4 class="cp-variables-form-header">Sidebar Header Component Title</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="sidebar-header-component-title" name="clay[sidebar-header-component-title]" type="hidden">
	</div>
	<%- include(mixinsPath + 'cpClayTextTypographyMixin', { namespace: 'sidebar-header-component-title' }) %>
</div>

<h4 class="cp-variables-form-header">Sidebar Header Component Subtitle</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="sidebar-header-component-subtitle" name="clay[sidebar-header-component-subtitle]" type="hidden">
	</div>
	<%- include(mixinsPath + 'cpClayTextTypographyMixin', { namespace: 'sidebar-header-component-subtitle' }) %>
</div>

<h4 class="cp-variables-form-header">Sidebar Dt</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="sidebar-dt" name="clay[sidebar-dt]" type="hidden">
	</div>
	<%- include(mixinsPath + 'cpClayTextTypographyMixin', { namespace: 'sidebar-dt' }) %>
</div>

<h4 class="cp-variables-form-header">Sidebar Dd</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="sidebar-dd" name="clay[sidebar-dd]" type="hidden">
	</div>
	<%- include(mixinsPath + 'cpClayTextTypographyMixin', { namespace: 'sidebar-dd' }) %>
</div>

<h4 class="cp-variables-form-header">Sidebar Panel</h4>
<%-
	printInputs([
		{ id: 'sidebar-panel-margin-bottom', },
	]);
%>

<h4 class="cp-variables-form-header">Sidebar List Group</h4>
<%-
	printInputs([
		{ id: 'sidebar-list-group-type', },
		{ id: 'sidebar-list-group-font-size', },
		{ id: 'sidebar-list-group-border-color', color: true, },
		{ id: 'sidebar-list-group-bg', color: true, },
	]);
%>

<h4 class="cp-variables-form-header">Sidebar List Group Item</h4>
<%-
	printInputs([
		{ id: 'sidebar-list-group-item-padding', },
		{ id: 'sidebar-list-group-autofit-col-padding-y', },
		{ id: 'sidebar-list-group-autofit-col-padding-x', },
	]);
%>

<h4 class="cp-variables-form-header">Sidebar List Group Sticker Size</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="sidebar-list-group-sticker-size" name="clay[sidebar-list-group-sticker-size]" type="hidden">
	</div>
	<%- include(mixinsPath + 'cpClayStickerSizeMixin', { namespace: 'sidebar-list-group-sticker-size' }) %>
</div>

<h4 class="cp-variables-form-header">Sidebar Light</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="sidebar-light" name="clay[sidebar-light]" type="hidden">
	</div>
	<%- include(mixinsPath + 'cpClaySidebarVariantMixin', { namespace: 'sidebar-light' }) %>
</div>

<h4 class="cp-variables-form-header">Sidebar Light Navigation Bar</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="sidebar-light-navigation-bar" name="clay[sidebar-light-navigation-bar]" type="hidden">
	</div>
	<%- include(mixinsPath + 'cpClayNavbarVariantMixin', { namespace: 'sidebar-light-navigation-bar' }) %>
</div>