<%- include(partialsPath + 'cpComponentHeader.ejs', { text: 'Table' }) %>
<div class="table-responsive">
	<table class="table table-autofit">
		<thead>
			<tr>
				<th class="table-cell-expand">Name</th>
				<th class="table-cell-expand">Roles</th>
				<th class="table-column-text-center">Remove</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="table-cell-expand">
					<div class="table-title">.table-title (not a link)</div>
					<div class="table-title">
						<a class="text-truncate-inline" href="#1">
							<span class="text-truncate">.table-title a</span>
						</a>
					</div>
					<div>Some regular text</div>
				</td>
				<td class="table-cell-expand">
					<a class="table-link" href="#1">.table-link</a>,
					<a href="#1">link</a>,
					<a class="table-action-link" href="#1">
						<svg aria-hidden="true" class="lexicon-icon lexicon-icon-share">
							<use xlink:href="<%- svgIconsPath %>#share" />
						</svg>
					</a>(.table-action-link),
					<span>and some regular text</span>
				</td>
				<td class="table-column-text-center">
					<button class="btn btn-unstyled table-action-link" type="button">
						<svg aria-hidden="true" class="lexicon-icon lexicon-icon-times-circle">
							<use xlink:href="<%- svgIconsPath %>#times-circle" />
						</svg>
					</button>
				</td>
			</tr>
			<tr>
				<td class="table-cell-expand">
					<div class="table-title">
						<a href="#1">Liferay Remote Example One</a>
					</div>
				</td>
				<td class="table-cell-expand">
					<a class="table-link" href="#1">Liferay Site Owner</a>
				</td>
				<td class="table-column-text-center">
					<a class="table-action-link" href="#1">
						<svg aria-hidden="true" class="lexicon-icon lexicon-icon-times-circle">
							<use xlink:href="<%- svgIconsPath %>#times-circle" />
						</svg>
					</a>
				</td>
			</tr>
			<tr>
				<td class="table-cell-expand">
					<div class="table-title">
						<a href="#1">Liferay Remote Example Two</a>
					</div>
				</td>
				<td class="table-cell-expand">
					<a class="table-link" href="#1">Liferay Site Owner</a>
				</td>
				<td class="table-column-text-center">
					<a class="table-action-link" href="#1">
						<svg aria-hidden="true" class="lexicon-icon lexicon-icon-times-circle">
							<use xlink:href="<%- svgIconsPath %>#times-circle" />
						</svg>
					</a>
				</td>
			</tr>
			<tr>
				<td class="table-cell-expand">
					<div class="table-title">
						<a href="#1">Liferay Remote Example Three</a>
					</div>
				</td>
				<td class="table-cell-expand">
					<a class="table-link" href="#1">Liferay Site Owner</a>
				</td>
				<td class="table-column-text-center">
					<a class="table-action-link" href="#1">
						<svg aria-hidden="true" class="lexicon-icon lexicon-icon-times-circle">
							<use xlink:href="<%- svgIconsPath %>#times-circle" />
						</svg>
					</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="table-responsive">
	<table class="table">
		<thead>
			<tr>
				<th>Country</th>
				<th>Purchasing Power Parity</th>
				<th>Official Exchange Rate</th>
				<th>Real Growth Rate</th>
				<th>Household Consumption</th>
				<th>Government Consumption</th>
				<th>Fixed Capital Investment</th>
				<th>Inventories Investment</th>
				<th>Exports</th>
				<th>Imports</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<div class="table-title">
						<a href="#1">Afganistan</a>
					</div>
				</td>
				<td>$45.3 billion</td>
				<td>$20.65 billion</td>
				<td>3.1%</td>
				<td>96.5%</td>
				<td>23.3%</td>
				<td>25.4%</td>
				<td>0%</td>
				<td>18.1%</td>
				<td>-63.4%</td>
			</tr>
			<tr>
				<td>
					<div class="table-title">
						<a href="#1">Brazil</a>
					</div>
				</td>
				<td>$2.416 trillion</td>
				<td>$2.19 trillion</td>
				<td>2.3%</td>
				<td>62.5%</td>
				<td>21.7%</td>
				<td>18.3%</td>
				<td>0%</td>
				<td>12.4%</td>
				<td>-14.9%</td>
			</tr>
			<tr>
				<td>
					<div class="table-title">
						<a href="#1">Congo, Democratic Republic of the</a>
					</div>
				</td>
				<td>$29.39 billion</td>
				<td>$18.56 billion</td>
				<td>6.2%</td>
				<td>65.9%</td>
				<td>12.5%</td>
				<td>27.9%</td>
				<td>1%</td>
				<td>49.9%</td>
				<td>-56.3%</td>
			</tr>
			<tr>
				<td>
					<div class="table-title">
						<a href="#1">Spain</a>
					</div>
				</td>
				<td>$1.389 trillion</td>
				<td>$1.356 trillion</td>
				<td>-1.3%</td>
				<td>59%</td>
				<td>19.9%</td>
				<td>18.4%</td>
				<td>0.4%</td>
				<td>32.8%</td>
				<td>-30.4%</td>
			</tr>
		</tbody>
	</table>
</div>

<%- include(partialsPath + 'cpComponentHeader.ejs', { text: 'Table Striped' }) %>
<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Country</th>
				<th>Purchasing Power Parity</th>
				<th>Official Exchange Rate</th>
				<th>Real Growth Rate</th>
				<th>Household Consumption</th>
				<th>Government Consumption</th>
				<th>Fixed Capital Investment</th>
				<th>Inventories Investment</th>
				<th>Exports</th>
				<th>Imports</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<div class="table-title">
						<a href="#1">Afganistan</a>
					</div>
				</td>
				<td>$45.3 billion</td>
				<td>$20.65 billion</td>
				<td>3.1%</td>
				<td>96.5%</td>
				<td>23.3%</td>
				<td>25.4%</td>
				<td>0%</td>
				<td>18.1%</td>
				<td>-63.4%</td>
			</tr>
			<tr>
				<td>
					<div class="table-title">
						<a href="#1">Brazil</a>
					</div>
				</td>
				<td>$2.416 trillion</td>
				<td>$2.19 trillion</td>
				<td>2.3%</td>
				<td>62.5%</td>
				<td>21.7%</td>
				<td>18.3%</td>
				<td>0%</td>
				<td>12.4%</td>
				<td>-14.9%</td>
			</tr>
			<tr>
				<td>
					<div class="table-title">
						<a href="#1">Congo, Democratic Republic of the</a>
					</div>
				</td>
				<td>$29.39 billion</td>
				<td>$18.56 billion</td>
				<td>6.2%</td>
				<td>65.9%</td>
				<td>12.5%</td>
				<td>27.9%</td>
				<td>1%</td>
				<td>49.9%</td>
				<td>-56.3%</td>
			</tr>
			<tr>
				<td>
					<div class="table-title">
						<a href="#1">Spain</a>
					</div>
				</td>
				<td>$1.389 trillion</td>
				<td>$1.356 trillion</td>
				<td>-1.3%</td>
				<td>59%</td>
				<td>19.9%</td>
				<td>18.4%</td>
				<td>0.4%</td>
				<td>32.8%</td>
				<td>-30.4%</td>
			</tr>
		</tbody>
	</table>
</div>

<%- include(partialsPath + 'cpComponentHeader.ejs', { text: 'Table Bordered' }) %>
<div class="table-responsive">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Country</th>
				<th>Purchasing Power Parity</th>
				<th>Official Exchange Rate</th>
				<th>Real Growth Rate</th>
				<th>Household Consumption</th>
				<th>Government Consumption</th>
				<th>Fixed Capital Investment</th>
				<th>Inventories Investment</th>
				<th>Exports</th>
				<th>Imports</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<div class="table-title">
						<a href="#1">Afganistan</a>
					</div>
				</td>
				<td>$45.3 billion</td>
				<td>$20.65 billion</td>
				<td>3.1%</td>
				<td>96.5%</td>
				<td>23.3%</td>
				<td>25.4%</td>
				<td>0%</td>
				<td>18.1%</td>
				<td>-63.4%</td>
			</tr>
			<tr>
				<td>
					<div class="table-title">
						<a href="#1">Albania</a>
					</div>
				</td>
				<td>$28.34 billion</td>
				<td>$12.8 billion</td>
				<td>3.1%</td>
				<td>87.6%</td>
				<td>8.4%</td>
				<td>25%</td>
				<td>-2.6%</td>
				<td>36%</td>
				<td>-54.4%</td>
			</tr>
			<tr>
				<td>
					<div class="table-title">
						<a href="#1">Brazil</a>
					</div>
				</td>
				<td>$2.416 trillion</td>
				<td>$2.19 trillion</td>
				<td>2.3%</td>
				<td>62.5%</td>
				<td>21.7%</td>
				<td>18.3%</td>
				<td>0%</td>
				<td>12.4%</td>
				<td>-14.9%</td>
			</tr>
			<tr>
				<td>
					<div class="table-title">
						<a href="#1">Spain</a>
					</div>
				</td>
				<td>$1.389 trillion</td>
				<td>$1.356 trillion</td>
				<td>-1.3%</td>
				<td>59%</td>
				<td>19.9%</td>
				<td>18.4%</td>
				<td>0.4%</td>
				<td>32.8%</td>
				<td>-30.4%</td>
			</tr>
		</tbody>
	</table>
</div>

<%- include(partialsPath + 'cpComponentHeader.ejs', { text: 'Table Hover' }) %>
<div class="table-responsive">
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th>Country</th>
				<th>Purchasing Power Parity</th>
				<th>Official Exchange Rate</th>
				<th>Real Growth Rate</th>
				<th>Household Consumption</th>
				<th>Government Consumption</th>
				<th>Fixed Capital Investment</th>
				<th>Inventories Investment</th>
				<th>Exports</th>
				<th>Imports</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<div class="table-title">
						<a href="#1">Afganistan</a>
					</div>
				</td>
				<td>$45.3 billion</td>
				<td>$20.65 billion</td>
				<td>3.1%</td>
				<td>96.5%</td>
				<td>23.3%</td>
				<td>25.4%</td>
				<td>0%</td>
				<td>18.1%</td>
				<td>-63.4%</td>
			</tr>
			<tr>
				<td>
					<div class="table-title">
						<a href="#1">Brazil</a>
					</div>
				</td>
				<td>$2.416 trillion</td>
				<td>$2.19 trillion</td>
				<td>2.3%</td>
				<td>62.5%</td>
				<td>21.7%</td>
				<td>18.3%</td>
				<td>0%</td>
				<td>12.4%</td>
				<td>-14.9%</td>
			</tr>
			<tr>
				<td>
					<div class="table-title">
						<a href="#1">Congo, Democratic Republic of the</a>
					</div>
				</td>
				<td>$29.39 billion</td>
				<td>$18.56 billion</td>
				<td>6.2%</td>
				<td>65.9%</td>
				<td>12.5%</td>
				<td>27.9%</td>
				<td>1%</td>
				<td>49.9%</td>
				<td>-56.3%</td>
			</tr>
			<tr>
				<td>
					<div class="table-title">
						<a href="#1">Spain</a>
					</div>
				</td>
				<td>$1.389 trillion</td>
				<td>$1.356 trillion</td>
				<td>-1.3%</td>
				<td>59%</td>
				<td>19.9%</td>
				<td>18.4%</td>
				<td>0.4%</td>
				<td>32.8%</td>
				<td>-30.4%</td>
			</tr>
		</tbody>
	</table>
</div>

<%- include(partialsPath + 'cpComponentHeader.ejs', { text: 'Table List' }) %>
<div class="table-responsive">
	<table class="show-quick-actions-on-hover table table-autofit table-list table-nowrap">
		<thead>
			<tr>
				<th></th>
				<th class="table-head-title">
					<span class="inline-item inline-item-before">
						<a href="#1">
							<svg aria-hidden="true" class="lexicon-icon lexicon-icon-drag">
								<use xlink:href="<%- svgIconsPath %>#drag" />
							</svg>
						</a>
					</span><a class="inline-item text-truncate-inline" href="#1">
						<span class="text-truncate" title="ID">ID</span><span class="inline-item inline-item-after">
							<svg aria-hidden="true" class="lexicon-icon lexicon-icon-order-arrow-down">
								<use xlink:href="<%- svgIconsPath %>#order-arrow-down" />
							</svg>
						</span>
					</a>
				</th>
				<th class="table-cell-expand table-head-title">
					<span class="inline-item inline-item-before">
						<a href="#1">
							<svg aria-hidden="true" class="lexicon-icon lexicon-icon-drag">
								<use xlink:href="<%- svgIconsPath %>#drag" />
							</svg>
						</a>
					</span><a class="inline-item text-truncate-inline" href="#1">
						<span class="text-truncate" title="Title">Title</span><span class="inline-item inline-item-after">
							<svg aria-hidden="true" class="lexicon-icon lexicon-icon-order-arrow-down">
								<use xlink:href="<%- svgIconsPath %>#order-arrow-down" />
							</svg>
						</span>
					</a>
				</th>
				<th><span class="inline-item">Status</span></th>
				<th class="table-head-title">
					<span class="inline-item inline-item-before">
						<a href="#1">
							<svg aria-hidden="true" class="lexicon-icon lexicon-icon-drag">
								<use xlink:href="<%- svgIconsPath %>#drag" />
							</svg>
						</a>
					</span><a class="inline-item text-truncate-inline" href="#1">
						<span class="text-truncate" title="Modified Date">Modified Date</span>
					</a>
				</th>
				<th><span class="inline-item">Display Date</span></th>
				<th class="table-head-title">
					<a class="inline-item text-truncate-inline" href="#1">
						<span class="text-truncate" title="Author">Author</span><span class="inline-item inline-item-after">
							<svg aria-hidden="true" class="lexicon-icon lexicon-icon-order-arrow-up">
								<use xlink:href="<%- svgIconsPath %>#order-arrow-up" />
							</svg>
						</span>
					</a>
				</th>
				<th><span class="inline-item">Type</span></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr class="table-divider">
				<td colspan="9">Group 1</td>
			</tr>
			<tr>
				<td>
					<div class="custom-control custom-checkbox">
						<label>
							<input class="custom-control-input" type="checkbox">
							<span class="custom-control-label"></span>
						</label>
					</div>
				</td>
				<td>21146</td>
				<td class="table-cell-expand">
					<div class="table-list-title">
						.table-list-title (not a link)
					</div>
					<div class="table-list-title">
						<a href="#1">.table-list-title a</a>
					</div>
					<div><a class="table-list-link" href="#1">.table-list-link</a></div>
					<div><a href="#1">link</a></div>
					<div>Some regular text</div>
				</td>
				<td>--</td>
				<td>2 Hours Ago</td>
				<td>--</td>
				<td>Stanley Nelson</td>
				<td>Folder</td>
				<td>
					<div class="quick-action-menu">
						<a class="component-action quick-action-item" href="#1" role="button">
							<svg aria-hidden="true" class="lexicon-icon lexicon-icon-trash">
								<use xlink:href="<%- svgIconsPath %>#trash" />
							</svg>
						</a>
						<a class="component-action quick-action-item" href="#1" role="button">
							<svg aria-hidden="true" class="lexicon-icon lexicon-icon-download">
								<use xlink:href="<%- svgIconsPath %>#download" />
							</svg>
						</a>
						<a class="component-action quick-action-item" href="#1" role="button">
							<svg aria-hidden="true" class="lexicon-icon lexicon-icon-expand">
								<use xlink:href="<%- svgIconsPath %>#expand" />
							</svg>
						</a>
					</div>
					<div class="dropdown dropdown-action">
						<a aria-expanded="false" aria-haspopup="true" class="component-action dropdown-toggle" data-toggle="dropdown" href="#1" id="dropdownAction1" role="button">
							<svg aria-hidden="true" class="lexicon-icon lexicon-icon-ellipsis-v">
								<use xlink:href="<%- svgIconsPath %>#ellipsis-v" />
							</svg>
						</a>
						<ul aria-labelledby="" class="dropdown-menu dropdown-menu-right">
							<li><a class="dropdown-item" href="#1" role="button">Remove</a></li>
							<li><a class="dropdown-item" href="#1" role="button">Download</a></li>
							<li><a class="dropdown-item" href="#1" role="button">Checkout</a></li>
						</ul>
					</div>
				</td>
			</tr>
			<tr class="table-active">
				<td>
					<div class="custom-control custom-checkbox">
						<label>
							<input checked class="custom-control-input" type="checkbox">
							<span class="custom-control-label"></span>
						</label>
					</div>
				</td>
				<td>
					21148
				</td>
				<td class="table-cell-expand">
					<div class="table-list-title">
						<a class="text-truncate-inline" href="#1">
							<span class="text-truncate" title="Wings eu, pumpkin spice robusta, kopi-luwak mocha caffeine froth grounds.">Wings eu, pumpkin spice robusta, kopi-luwak mocha caffeine froth grounds.</span>
						</a>
					</div>
				</td>
				<td>--</td>
				<td>2 Hours Ago</td>
				<td>--</td>
				<td>Stanley Nelson</td>
				<td>Folder</td>
				<td>
					<div class="quick-action-menu">
						<a class="component-action quick-action-item" href="#1" role="button">
							<svg aria-hidden="true" class="lexicon-icon lexicon-icon-trash">
								<use xlink:href="<%- svgIconsPath %>#trash" />
							</svg>
						</a>
						<a class="component-action quick-action-item" href="#1" role="button">
							<svg aria-hidden="true" class="lexicon-icon lexicon-icon-download">
								<use xlink:href="<%- svgIconsPath %>#download" />
							</svg>
						</a>
						<a class="component-action quick-action-item" href="#1" role="button">
							<svg aria-hidden="true" class="lexicon-icon lexicon-icon-expand">
								<use xlink:href="<%- svgIconsPath %>#expand" />
							</svg>
						</a>
					</div>
					<div class="dropdown dropdown-action">
						<a aria-expanded="false" aria-haspopup="true" class="component-action dropdown-toggle" data-toggle="dropdown" href="#1" id="dropdownAction1" role="button">
							<svg aria-hidden="true" class="lexicon-icon lexicon-icon-ellipsis-v">
								<use xlink:href="<%- svgIconsPath %>#ellipsis-v" />
							</svg>
						</a>
						<ul aria-labelledby="" class="dropdown-menu dropdown-menu-right">
							<li><a class="dropdown-item" href="#1" role="button">Remove</a></li>
							<li><a class="dropdown-item" href="#1" role="button">Download</a></li>
							<li><a class="dropdown-item" href="#1" role="button">Checkout</a></li>
						</ul>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="custom-control custom-checkbox">
						<label>
							<input class="custom-control-input" type="checkbox">
							<span class="custom-control-label"></span>
						</label>
					</div>
				</td>
				<td>21149</td>
				<td class="table-cell-expand">
					<div class="table-list-title">
						<span class="text-truncate-inline">
							<span class="text-truncate" title="Cultivar extra">Cultivar extra</span>
						</span>
					</div>
				</td>
				<td>--</td>
				<td>2 Hours Ago</td>
				<td>--</td>
				<td>Stanley Nelson</td>
				<td>Folder</td>
				<td>
					<div class="quick-action-menu">
						<a class="component-action quick-action-item" href="#1" role="button">
							<svg aria-hidden="true" class="lexicon-icon lexicon-icon-trash">
								<use xlink:href="<%- svgIconsPath %>#trash" />
							</svg>
						</a>
						<a class="component-action quick-action-item" href="#1" role="button">
							<svg aria-hidden="true" class="lexicon-icon lexicon-icon-download">
								<use xlink:href="<%- svgIconsPath %>#download" />
							</svg>
						</a>
						<a class="component-action quick-action-item" href="#1" role="button">
							<svg aria-hidden="true" class="lexicon-icon lexicon-icon-expand">
								<use xlink:href="<%- svgIconsPath %>#expand" />
							</svg>
						</a>
					</div>
					<div class="dropdown dropdown-action">
						<a aria-expanded="false" aria-haspopup="true" class="component-action dropdown-toggle" data-toggle="dropdown" href="#1" id="dropdownAction1" role="button">
							<svg aria-hidden="true" class="lexicon-icon lexicon-icon-ellipsis-v">
								<use xlink:href="<%- svgIconsPath %>#ellipsis-v" />
							</svg>
						</a>
						<ul aria-labelledby="" class="dropdown-menu dropdown-menu-right">
							<li><a class="dropdown-item" href="#1" role="button">Remove</a></li>
							<li><a class="dropdown-item" href="#1" role="button">Download</a></li>
							<li><a class="dropdown-item" href="#1" role="button">Checkout</a></li>
						</ul>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="custom-control custom-checkbox">
						<label>
							<input class="custom-control-input" type="checkbox">
							<span class="custom-control-label"></span>
						</label>
					</div>
				</td>
				<td>21150</td>
				<td class="table-cell-expand">
					<div class="table-list-title">
						<span class="text-truncate-inline">
							<span class="text-truncate" title="Cultivar extra">Cultivar extra</span>
						</span>
					</div>
				</td>
				<td>--</td>
				<td>2 Hours Ago</td>
				<td>--</td>
				<td>Stanley Nelson</td>
				<td>Folder</td>
				<td>
					<div class="quick-action-menu">
						<a class="component-action quick-action-item" href="#1" role="button">
							<svg aria-hidden="true" class="lexicon-icon lexicon-icon-trash">
								<use xlink:href="<%- svgIconsPath %>#trash" />
							</svg>
						</a>
						<a class="component-action quick-action-item" href="#1" role="button">
							<svg aria-hidden="true" class="lexicon-icon lexicon-icon-download">
								<use xlink:href="<%- svgIconsPath %>#download" />
							</svg>
						</a>
						<a class="component-action quick-action-item" href="#1" role="button">
							<svg aria-hidden="true" class="lexicon-icon lexicon-icon-expand">
								<use xlink:href="<%- svgIconsPath %>#expand" />
							</svg>
						</a>
					</div>
					<div class="dropdown dropdown-action">
						<a aria-expanded="false" aria-haspopup="true" class="component-action dropdown-toggle" data-toggle="dropdown" href="#1" id="dropdownAction1" role="button">
							<svg aria-hidden="true" class="lexicon-icon lexicon-icon-ellipsis-v">
								<use xlink:href="<%- svgIconsPath %>#ellipsis-v" />
							</svg>
						</a>
						<ul aria-labelledby="" class="dropdown-menu dropdown-menu-right">
							<li><a class="dropdown-item" href="#1" role="button">Remove</a></li>
							<li><a class="dropdown-item" href="#1" role="button">Download</a></li>
							<li><a class="dropdown-item" href="#1" role="button">Checkout</a></li>
						</ul>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<%- include(partialsPath + 'cpComponentHeader.ejs', { text: 'Table List with Table Striped' }) %>
<div class="table-responsive">
	<table class="show-quick-actions-on-hover table table-autofit table-list table-striped">
		<thead>
			<tr>
				<th></th>
				<th class="table-cell-expand">
					<span class="text-truncate-inline">
						<span class="text-truncate" title="Description">Description</span>
					</span>
				</th>
				<th>Format</th>
				<th>Label</th>
				<th>Label</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<div class="custom-control custom-checkbox">
						<label>
							<input class="custom-control-input" type="checkbox">
							<span class="custom-control-label"></span>
						</label>
					</div>
				</td>
				<td class="table-cell-expand">
					<div class="table-list-title">
						<span class="text-truncate-inline">
							<span class="text-truncate" title="Wings eu, pumpkin spice robusta, kopi-luwak mocha caffeine froth grounds.">Wings eu, pumpkin spice robusta, kopi-luwak mocha caffeine froth grounds.</span>
						</span>
					</div>
				</td>
				<td><a href="#1">jpg</a></td>
				<td><a href="#1">jpg</a></td>
				<td><a href="#1">jpg</a></td>
				<td>
					<div class="quick-action-menu">
						<a class="component-action quick-action-item" href="#1" role="button">
							<svg aria-hidden="true" class="lexicon-icon lexicon-icon-trash">
								<use xlink:href="<%- svgIconsPath %>#trash" />
							</svg>
						</a>
						<a class="component-action quick-action-item" href="#1" role="button">
							<svg aria-hidden="true" class="lexicon-icon lexicon-icon-download">
								<use xlink:href="<%- svgIconsPath %>#download" />
							</svg>
						</a>
						<a class="component-action quick-action-item" href="#1" role="button">
							<svg aria-hidden="true" class="lexicon-icon lexicon-icon-expand">
								<use xlink:href="<%- svgIconsPath %>#expand" />
							</svg>
						</a>
					</div>
					<div class="dropdown dropdown-action">
						<a aria-expanded="false" aria-haspopup="true" class="component-action dropdown-toggle" data-toggle="dropdown" href="#1" id="dropdownAction1" role="button">
							<svg aria-hidden="true" class="lexicon-icon lexicon-icon-ellipsis-v">
								<use xlink:href="<%- svgIconsPath %>#ellipsis-v" />
							</svg>
						</a>
						<ul aria-labelledby="" class="dropdown-menu dropdown-menu-right">
							<li><a class="dropdown-item" href="#1" role="button">Remove</a></li>
							<li><a class="dropdown-item" href="#1" role="button">Download</a></li>
							<li><a class="dropdown-item" href="#1" role="button">Checkout</a></li>
						</ul>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="custom-control custom-checkbox">
						<label>
							<input class="custom-control-input" type="checkbox">
							<span class="custom-control-label"></span>
						</label>
					</div>
				</td>
				<td class="table-cell-expand">
					<div class="table-list-title">
						<span class="text-truncate-inline">
							<span class="text-truncate" title="Pumpkin spice and, java sit whipped grinder steamed.">Pumpkin spice and, java sit whipped grinder steamed.</span>
						</span>
					</div>
				</td>
				<td><a href="#1">jpg</a></td>
				<td><a href="#1">jpg</a></td>
				<td><a href="#1">jpg</a></td>
				<td>
					<div class="quick-action-menu">
						<a class="component-action quick-action-item" href="#1" role="button">
							<svg aria-hidden="true" class="lexicon-icon lexicon-icon-trash">
								<use xlink:href="<%- svgIconsPath %>#trash" />
							</svg>
						</a>
						<a class="component-action quick-action-item" href="#1" role="button">
							<svg aria-hidden="true" class="lexicon-icon lexicon-icon-download">
								<use xlink:href="<%- svgIconsPath %>#download" />
							</svg>
						</a>
						<a class="component-action quick-action-item" href="#1" role="button">
							<svg aria-hidden="true" class="lexicon-icon lexicon-icon-expand">
								<use xlink:href="<%- svgIconsPath %>#expand" />
							</svg>
						</a>
					</div>
					<div class="dropdown dropdown-action">
						<a aria-expanded="false" aria-haspopup="true" class="component-action dropdown-toggle" data-toggle="dropdown" href="#1" id="dropdownAction1" role="button">
							<svg aria-hidden="true" class="lexicon-icon lexicon-icon-ellipsis-v">
								<use xlink:href="<%- svgIconsPath %>#ellipsis-v" />
							</svg>
						</a>
						<ul aria-labelledby="" class="dropdown-menu dropdown-menu-right">
							<li><a class="dropdown-item" href="#1" role="button">Remove</a></li>
							<li><a class="dropdown-item" href="#1" role="button">Download</a></li>
							<li><a class="dropdown-item" href="#1" role="button">Checkout</a></li>
						</ul>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="custom-control custom-checkbox">
						<label>
							<input class="custom-control-input" type="checkbox">
							<span class="custom-control-label"></span>
						</label>
					</div>
				</td>
				<td class="table-cell-expand">
					<div class="table-list-title">
						<span class="text-truncate-inline">
							<span class="text-truncate" title="Frappuccino medium americano">Frappuccino medium americano</span>
						</span>
					</div>
				</td>
				<td><a href="#1">jpg</a></td>
				<td><a href="#1">jpg</a></td>
				<td><a href="#1">jpg</a></td>
				<td>
					<div class="quick-action-menu">
						<a class="component-action quick-action-item" href="#1" role="button">
							<svg aria-hidden="true" class="lexicon-icon lexicon-icon-trash">
								<use xlink:href="<%- svgIconsPath %>#trash" />
							</svg>
						</a>
						<a class="component-action quick-action-item" href="#1" role="button">
							<svg aria-hidden="true" class="lexicon-icon lexicon-icon-download">
								<use xlink:href="<%- svgIconsPath %>#download" />
							</svg>
						</a>
						<a class="component-action quick-action-item" href="#1" role="button">
							<svg aria-hidden="true" class="lexicon-icon lexicon-icon-expand">
								<use xlink:href="<%- svgIconsPath %>#expand" />
							</svg>
						</a>
					</div>
					<div class="dropdown dropdown-action">
						<a aria-expanded="false" aria-haspopup="true" class="component-action dropdown-toggle" data-toggle="dropdown" href="#1" id="dropdownAction1" role="button">
							<svg aria-hidden="true" class="lexicon-icon lexicon-icon-ellipsis-v">
								<use xlink:href="<%- svgIconsPath %>#ellipsis-v" />
							</svg>
						</a>
						<ul aria-labelledby="" class="dropdown-menu dropdown-menu-right">
							<li><a class="dropdown-item" href="#1" role="button">Remove</a></li>
							<li><a class="dropdown-item" href="#1" role="button">Download</a></li>
							<li><a class="dropdown-item" href="#1" role="button">Checkout</a></li>
						</ul>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="custom-control custom-checkbox">
						<label>
							<input class="custom-control-input" type="checkbox">
							<span class="custom-control-label"></span>
						</label>
					</div>
				</td>
				<td class="table-cell-expand">
					<div class="table-list-title">
						<span class="text-truncate-inline">
							<span class="text-truncate" title="Cultivar extra">Cultivar extra</span>
						</span>
					</div>
				</td>
				<td><a href="#1">jpg</a></td>
				<td><a href="#1">jpg</a></td>
				<td><a href="#1">jpg</a></td>
				<td>
					<div class="quick-action-menu">
						<a class="component-action quick-action-item" href="#1" role="button">
							<svg aria-hidden="true" class="lexicon-icon lexicon-icon-trash">
								<use xlink:href="<%- svgIconsPath %>#trash" />
							</svg>
						</a>
						<a class="component-action quick-action-item" href="#1" role="button">
							<svg aria-hidden="true" class="lexicon-icon lexicon-icon-download">
								<use xlink:href="<%- svgIconsPath %>#download" />
							</svg>
						</a>
						<a class="component-action quick-action-item" href="#1" role="button">
							<svg aria-hidden="true" class="lexicon-icon lexicon-icon-expand">
								<use xlink:href="<%- svgIconsPath %>#expand" />
							</svg>
						</a>
					</div>
					<div class="dropdown dropdown-action">
						<a aria-expanded="false" aria-haspopup="true" class="component-action dropdown-toggle" data-toggle="dropdown" href="#1" id="dropdownAction1" role="button">
							<svg aria-hidden="true" class="lexicon-icon lexicon-icon-ellipsis-v">
								<use xlink:href="<%- svgIconsPath %>#ellipsis-v" />
							</svg>
						</a>
						<ul aria-labelledby="" class="dropdown-menu dropdown-menu-right">
							<li><a class="dropdown-item" href="#1" role="button">Remove</a></li>
							<li><a class="dropdown-item" href="#1" role="button">Download</a></li>
							<li><a class="dropdown-item" href="#1" role="button">Checkout</a></li>
						</ul>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<%- include(partialsPath + 'cpComponentHeader.ejs', { text: 'Table List with Table Hover' }) %>
<div class="table-responsive">
	<table class="show-quick-actions-on-hover table table-autofit table-hover table-list">
		<thead>
			<tr>
				<th></th>
				<th class="table-cell-expand">
					<span class="text-truncate-inline">
						<span class="text-truncate" title="Description">Description</span>
					</span>
				</th>
				<th>Format</th>
				<th>Label</th>
				<th>Label</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<div class="custom-control custom-checkbox">
						<label>
							<input class="custom-control-input" type="checkbox">
							<span class="custom-control-label"></span>
						</label>
					</div>
				</td>
				<td class="table-cell-expand">
					<div class="table-list-title">
						<span class="text-truncate-inline">
							<span class="text-truncate" title="Wings eu, pumpkin spice robusta, kopi-luwak mocha caffeine froth grounds.">Wings eu, pumpkin spice robusta, kopi-luwak mocha caffeine froth grounds.</span>
						</span>
					</div>
				</td>
				<td><a href="#1">jpg</a></td>
				<td><a href="#1">jpg</a></td>
				<td><a href="#1">jpg</a></td>
				<td>
					<div class="quick-action-menu">
						<a class="component-action quick-action-item" href="#1" role="button">
							<svg aria-hidden="true" class="lexicon-icon lexicon-icon-trash">
								<use xlink:href="<%- svgIconsPath %>#trash" />
							</svg>
						</a>
						<a class="component-action quick-action-item" href="#1" role="button">
							<svg aria-hidden="true" class="lexicon-icon lexicon-icon-download">
								<use xlink:href="<%- svgIconsPath %>#download" />
							</svg>
						</a>
						<a class="component-action quick-action-item" href="#1" role="button">
							<svg aria-hidden="true" class="lexicon-icon lexicon-icon-expand">
								<use xlink:href="<%- svgIconsPath %>#expand" />
							</svg>
						</a>
					</div>
					<div class="dropdown dropdown-action">
						<a aria-expanded="false" aria-haspopup="true" class="component-action dropdown-toggle" data-toggle="dropdown" href="#1" id="dropdownAction1" role="button">
							<svg aria-hidden="true" class="lexicon-icon lexicon-icon-ellipsis-v">
								<use xlink:href="<%- svgIconsPath %>#ellipsis-v" />
							</svg>
						</a>
						<ul aria-labelledby="" class="dropdown-menu dropdown-menu-right">
							<li><a class="dropdown-item" href="#1" role="button">Remove</a></li>
							<li><a class="dropdown-item" href="#1" role="button">Download</a></li>
							<li><a class="dropdown-item" href="#1" role="button">Checkout</a></li>
						</ul>
					</div>
				</td>
			</tr>
			<tr class="table-active">
				<td>
					<div class="custom-control custom-checkbox">
						<label>
							<input checked class="custom-control-input" type="checkbox">
							<span class="custom-control-label"></span>
						</label>
					</div>
				</td>
				<td class="table-cell-expand">
					<div class="table-list-title">
						<span class="text-truncate-inline">
							<span class="text-truncate" title="Pumpkin spice and, java sit whipped grinder steamed.">Pumpkin spice and, java sit whipped grinder steamed.</span>
						</span>
					</div>
				</td>
				<td><a href="#1">jpg</a></td>
				<td><a href="#1">jpg</a></td>
				<td><a href="#1">jpg</a></td>
				<td>
					<div class="quick-action-menu">
						<a class="component-action quick-action-item" href="#1" role="button">
							<svg aria-hidden="true" class="lexicon-icon lexicon-icon-trash">
								<use xlink:href="<%- svgIconsPath %>#trash" />
							</svg>
						</a>
						<a class="component-action quick-action-item" href="#1" role="button">
							<svg aria-hidden="true" class="lexicon-icon lexicon-icon-download">
								<use xlink:href="<%- svgIconsPath %>#download" />
							</svg>
						</a>
						<a class="component-action quick-action-item" href="#1" role="button">
							<svg aria-hidden="true" class="lexicon-icon lexicon-icon-expand">
								<use xlink:href="<%- svgIconsPath %>#expand" />
							</svg>
						</a>
					</div>
					<div class="dropdown dropdown-action">
						<a aria-expanded="false" aria-haspopup="true" class="component-action dropdown-toggle" data-toggle="dropdown" href="#1" id="dropdownAction1" role="button">
							<svg aria-hidden="true" class="lexicon-icon lexicon-icon-ellipsis-v">
								<use xlink:href="<%- svgIconsPath %>#ellipsis-v" />
							</svg>
						</a>
						<ul aria-labelledby="" class="dropdown-menu dropdown-menu-right">
							<li><a class="dropdown-item" href="#1" role="button">Remove</a></li>
							<li><a class="dropdown-item" href="#1" role="button">Download</a></li>
							<li><a class="dropdown-item" href="#1" role="button">Checkout</a></li>
						</ul>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="custom-control custom-checkbox">
						<label>
							<input class="custom-control-input" type="checkbox">
							<span class="custom-control-label"></span>
						</label>
					</div>
				</td>
				<td class="table-cell-expand">
					<div class="table-list-title">
						<span class="text-truncate-inline">
							<span class="text-truncate" title="Frappuccino medium americano">Frappuccino medium americano</span>
						</span>
					</div>
				</td>
				<td><a href="#1">jpg</a></td>
				<td><a href="#1">jpg</a></td>
				<td><a href="#1">jpg</a></td>
				<td>
					<div class="quick-action-menu">
						<a class="component-action quick-action-item" href="#1" role="button">
							<svg aria-hidden="true" class="lexicon-icon lexicon-icon-trash">
								<use xlink:href="<%- svgIconsPath %>#trash" />
							</svg>
						</a>
						<a class="component-action quick-action-item" href="#1" role="button">
							<svg aria-hidden="true" class="lexicon-icon lexicon-icon-download">
								<use xlink:href="<%- svgIconsPath %>#download" />
							</svg>
						</a>
						<a class="component-action quick-action-item" href="#1" role="button">
							<svg aria-hidden="true" class="lexicon-icon lexicon-icon-expand">
								<use xlink:href="<%- svgIconsPath %>#expand" />
							</svg>
						</a>
					</div>
					<div class="dropdown dropdown-action">
						<a aria-expanded="false" aria-haspopup="true" class="component-action dropdown-toggle" data-toggle="dropdown" href="#1" id="dropdownAction1" role="button">
							<svg aria-hidden="true" class="lexicon-icon lexicon-icon-ellipsis-v">
								<use xlink:href="<%- svgIconsPath %>#ellipsis-v" />
							</svg>
						</a>
						<ul aria-labelledby="" class="dropdown-menu dropdown-menu-right">
							<li><a class="dropdown-item" href="#1" role="button">Remove</a></li>
							<li><a class="dropdown-item" href="#1" role="button">Download</a></li>
							<li><a class="dropdown-item" href="#1" role="button">Checkout</a></li>
						</ul>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="custom-control custom-checkbox">
						<label>
							<input class="custom-control-input" type="checkbox">
							<span class="custom-control-label"></span>
						</label>
					</div>
				</td>
				<td class="table-cell-expand">
					<div class="table-list-title">
						<span class="text-truncate-inline">
							<span class="text-truncate" title="Cultivar extra">Cultivar extra</span>
						</span>
					</div>
				</td>
				<td><a href="#1">jpg</a></td>
				<td><a href="#1">jpg</a></td>
				<td><a href="#1">jpg</a></td>
				<td>
					<div class="quick-action-menu">
						<a class="component-action quick-action-item" href="#1" role="button">
							<svg aria-hidden="true" class="lexicon-icon lexicon-icon-trash">
								<use xlink:href="<%- svgIconsPath %>#trash" />
							</svg>
						</a>
						<a class="component-action quick-action-item" href="#1" role="button">
							<svg aria-hidden="true" class="lexicon-icon lexicon-icon-download">
								<use xlink:href="<%- svgIconsPath %>#download" />
							</svg>
						</a>
						<a class="component-action quick-action-item" href="#1" role="button">
							<svg aria-hidden="true" class="lexicon-icon lexicon-icon-expand">
								<use xlink:href="<%- svgIconsPath %>#expand" />
							</svg>
						</a>
					</div>
					<div class="dropdown dropdown-action">
						<a aria-expanded="false" aria-haspopup="true" class="component-action dropdown-toggle" data-toggle="dropdown" href="#1" id="dropdownAction1" role="button">
							<svg aria-hidden="true" class="lexicon-icon lexicon-icon-ellipsis-v">
								<use xlink:href="<%- svgIconsPath %>#ellipsis-v" />
							</svg>
						</a>
						<ul aria-labelledby="" class="dropdown-menu dropdown-menu-right">
							<li><a class="dropdown-item" href="#1" role="button">Remove</a></li>
							<li><a class="dropdown-item" href="#1" role="button">Download</a></li>
							<li><a class="dropdown-item" href="#1" role="button">Checkout</a></li>
						</ul>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<%- include(partialsPath + 'cpComponentHeader.ejs', { text: 'Table List with Table Bordered' }) %>
<div class="table-responsive">
	<table class="show-quick-actions-on-hover table table-autofit table-bordered table-list">
		<thead>
			<tr>
				<th></th>
				<th class="table-cell-expand">
					<span class="text-truncate-inline">
						<span class="text-truncate" title="Description">Description</span>
					</span>
				</th>
				<th>Format</th>
				<th>Label</th>
				<th>Label</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<div class="custom-control custom-checkbox">
						<label>
							<input class="custom-control-input" type="checkbox">
							<span class="custom-control-label"></span>
						</label>
					</div>
				</td>
				<td class="table-cell-expand">
					<div class="table-list-title">
						<span class="text-truncate-inline">
							<span class="text-truncate" title="Wings eu, pumpkin spice robusta, kopi-luwak mocha caffeine froth grounds.">Wings eu, pumpkin spice robusta, kopi-luwak mocha caffeine froth grounds.</span>
						</span>
					</div>
				</td>
				<td><a href="#1">jpg</a></td>
				<td><a href="#1">jpg</a></td>
				<td><a href="#1">jpg</a></td>
				<td>
					<div class="quick-action-menu">
						<a class="component-action quick-action-item" href="#1" role="button">
							<svg aria-hidden="true" class="lexicon-icon lexicon-icon-trash">
								<use xlink:href="<%- svgIconsPath %>#trash" />
							</svg>
						</a>
						<a class="component-action quick-action-item" href="#1" role="button">
							<svg aria-hidden="true" class="lexicon-icon lexicon-icon-download">
								<use xlink:href="<%- svgIconsPath %>#download" />
							</svg>
						</a>
						<a class="component-action quick-action-item" href="#1" role="button">
							<svg aria-hidden="true" class="lexicon-icon lexicon-icon-expand">
								<use xlink:href="<%- svgIconsPath %>#expand" />
							</svg>
						</a>
					</div>
					<div class="dropdown dropdown-action">
						<a aria-expanded="false" aria-haspopup="true" class="component-action dropdown-toggle" data-toggle="dropdown" href="#1" id="dropdownAction1" role="button">
							<svg aria-hidden="true" class="lexicon-icon lexicon-icon-ellipsis-v">
								<use xlink:href="<%- svgIconsPath %>#ellipsis-v" />
							</svg>
						</a>
						<ul aria-labelledby="" class="dropdown-menu dropdown-menu-right">
							<li><a class="dropdown-item" href="#1" role="button">Remove</a></li>
							<li><a class="dropdown-item" href="#1" role="button">Download</a></li>
							<li><a class="dropdown-item" href="#1" role="button">Checkout</a></li>
						</ul>
					</div>
				</td>
			</tr>
			<tr class="table-active">
				<td>
					<div class="custom-control custom-checkbox">
						<label>
							<input checked class="custom-control-input" type="checkbox">
							<span class="custom-control-label"></span>
						</label>
					</div>
				</td>
				<td class="table-cell-expand">
					<div class="table-list-title">
						<span class="text-truncate-inline">
							<span class="text-truncate" title="Pumpkin spice and, java sit whipped grinder steamed.">Pumpkin spice and, java sit whipped grinder steamed.</span>
						</span>
					</div>
				</td>
				<td><a href="#1">jpg</a></td>
				<td><a href="#1">jpg</a></td>
				<td><a href="#1">jpg</a></td>
				<td>
					<div class="quick-action-menu">
						<a class="component-action quick-action-item" href="#1" role="button">
							<svg aria-hidden="true" class="lexicon-icon lexicon-icon-trash">
								<use xlink:href="<%- svgIconsPath %>#trash" />
							</svg>
						</a>
						<a class="component-action quick-action-item" href="#1" role="button">
							<svg aria-hidden="true" class="lexicon-icon lexicon-icon-download">
								<use xlink:href="<%- svgIconsPath %>#download" />
							</svg>
						</a>
						<a class="component-action quick-action-item" href="#1" role="button">
							<svg aria-hidden="true" class="lexicon-icon lexicon-icon-expand">
								<use xlink:href="<%- svgIconsPath %>#expand" />
							</svg>
						</a>
					</div>
					<div class="dropdown dropdown-action">
						<a aria-expanded="false" aria-haspopup="true" class="component-action dropdown-toggle" data-toggle="dropdown" href="#1" id="dropdownAction1" role="button">
							<svg aria-hidden="true" class="lexicon-icon lexicon-icon-ellipsis-v">
								<use xlink:href="<%- svgIconsPath %>#ellipsis-v" />
							</svg>
						</a>
						<ul aria-labelledby="" class="dropdown-menu dropdown-menu-right">
							<li><a class="dropdown-item" href="#1" role="button">Remove</a></li>
							<li><a class="dropdown-item" href="#1" role="button">Download</a></li>
							<li><a class="dropdown-item" href="#1" role="button">Checkout</a></li>
						</ul>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="custom-control custom-checkbox">
						<label>
							<input class="custom-control-input" type="checkbox">
							<span class="custom-control-label"></span>
						</label>
					</div>
				</td>
				<td class="table-cell-expand">
					<div class="table-list-title">
						<span class="text-truncate-inline">
							<span class="text-truncate" title="Frappuccino medium americano">Frappuccino medium americano</span>
						</span>
					</div>
				</td>
				<td><a href="#1">jpg</a></td>
				<td><a href="#1">jpg</a></td>
				<td><a href="#1">jpg</a></td>
				<td>
					<div class="quick-action-menu">
						<a class="component-action quick-action-item" href="#1" role="button">
							<svg aria-hidden="true" class="lexicon-icon lexicon-icon-trash">
								<use xlink:href="<%- svgIconsPath %>#trash" />
							</svg>
						</a>
						<a class="component-action quick-action-item" href="#1" role="button">
							<svg aria-hidden="true" class="lexicon-icon lexicon-icon-download">
								<use xlink:href="<%- svgIconsPath %>#download" />
							</svg>
						</a>
						<a class="component-action quick-action-item" href="#1" role="button">
							<svg aria-hidden="true" class="lexicon-icon lexicon-icon-expand">
								<use xlink:href="<%- svgIconsPath %>#expand" />
							</svg>
						</a>
					</div>
					<div class="dropdown dropdown-action">
						<a aria-expanded="false" aria-haspopup="true" class="component-action dropdown-toggle" data-toggle="dropdown" href="#1" id="dropdownAction1" role="button">
							<svg aria-hidden="true" class="lexicon-icon lexicon-icon-ellipsis-v">
								<use xlink:href="<%- svgIconsPath %>#ellipsis-v" />
							</svg>
						</a>
						<ul aria-labelledby="" class="dropdown-menu dropdown-menu-right">
							<li><a class="dropdown-item" href="#1" role="button">Remove</a></li>
							<li><a class="dropdown-item" href="#1" role="button">Download</a></li>
							<li><a class="dropdown-item" href="#1" role="button">Checkout</a></li>
						</ul>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="custom-control custom-checkbox">
						<label>
							<input class="custom-control-input" type="checkbox">
							<span class="custom-control-label"></span>
						</label>
					</div>
				</td>
				<td class="table-cell-expand">
					<div class="table-list-title">
						<span class="text-truncate-inline">
							<span class="text-truncate" title="Cultivar extra">Cultivar extra</span>
						</span>
					</div>
				</td>
				<td><a href="#1">jpg</a></td>
				<td><a href="#1">jpg</a></td>
				<td><a href="#1">jpg</a></td>
				<td>
					<div class="quick-action-menu">
						<a class="component-action quick-action-item" href="#1" role="button">
							<svg aria-hidden="true" class="lexicon-icon lexicon-icon-trash">
								<use xlink:href="<%- svgIconsPath %>#trash" />
							</svg>
						</a>
						<a class="component-action quick-action-item" href="#1" role="button">
							<svg aria-hidden="true" class="lexicon-icon lexicon-icon-download">
								<use xlink:href="<%- svgIconsPath %>#download" />
							</svg>
						</a>
						<a class="component-action quick-action-item" href="#1" role="button">
							<svg aria-hidden="true" class="lexicon-icon lexicon-icon-expand">
								<use xlink:href="<%- svgIconsPath %>#expand" />
							</svg>
						</a>
					</div>
					<div class="dropdown dropdown-action">
						<a aria-expanded="false" aria-haspopup="true" class="component-action dropdown-toggle" data-toggle="dropdown" href="#1" id="dropdownAction1" role="button">
							<svg aria-hidden="true" class="lexicon-icon lexicon-icon-ellipsis-v">
								<use xlink:href="<%- svgIconsPath %>#ellipsis-v" />
							</svg>
						</a>
						<ul aria-labelledby="" class="dropdown-menu dropdown-menu-right">
							<li><a class="dropdown-item" href="#1" role="button">Remove</a></li>
							<li><a class="dropdown-item" href="#1" role="button">Download</a></li>
							<li><a class="dropdown-item" href="#1" role="button">Checkout</a></li>
						</ul>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<%- include(partialsPath + 'cpComponentHeader.ejs', { text: 'Table List (Inline Edit Table) Example' }) %>
<div class="table-responsive">
	<table class="table table-autofit table-list table-nowrap">
		<thead>
			<tr>
				<th>
					<span class="text-truncate-inline">
						<span class="text-truncate" title=""></span>
					</span>
				</th>
				<th class="table-cell-expand">
					<span class="text-truncate-inline">
						<span class="text-truncate" title="Title">Title</span>
					</span>
				</th>
				<th class="table-cell-expand">
					<span class="text-truncate-inline">
						<span class="text-truncate" title="Author">Author</span>
					</span>
				</th>
				<th class="table-cell-expand">
					<span class="text-truncate-inline">
						<span class="text-truncate" title="Modified Date">Modified Date</span>
					</span>
				</th>
				<th class="table-column-text-end"></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<div class="custom-control custom-checkbox">
						<label>
							<input class="custom-control-input" type="checkbox">
							<span class="custom-control-label"></span>
						</label>
					</div>
				</td>
				<td class="table-cell-expand">
					<div class="table-list-title">
						<a class="text-truncate-inline" href="#1">
							<span class="text-truncate" title="Web Content 342122-322-abcdefg">Web Content 342122-322-abcdefg</span>
						</a>
					</div>
				</td>
				<td class="table-cell-expand">
					<a class="table-list-link text-truncate-inline" href="#1">
						<span class="text-truncate" title="Marge Peggie Margaret Meg Maggie Miller">Marge Peggie Margaret Meg Maggie Miller</span>
					</a>
				</td>
				<td class="table-cell-expand">
					<span class="text-truncate-inline">
						<span class="text-truncate" title="35 Seconds Ago">35 Seconds Ago</span>
					</span>
				</td>
				<td class="table-column-text-end">
					<div class="btn-group btn-group-nowrap">
						<div class="btn-group-item">
							<button class="btn btn-secondary btn-sm" type="button">Edit</button>
						</div>
						<div class="btn-group-item">
							<div class="dropdown dropdown-action">
								<a aria-expanded="false" aria-haspopup="true" class="component-action dropdown-toggle" data-toggle="dropdown" href="#1" id="dropdownAction1" role="button">
									<svg aria-hidden="true" class="lexicon-icon lexicon-icon-ellipsis-v">
										<use xlink:href="<%- svgIconsPath %>#ellipsis-v" />
									</svg>
								</a>
								<ul aria-labelledby="" class="dropdown-menu dropdown-menu-right">
									<li><a class="dropdown-item" href="#1" role="button">Edit</a></li>
									<li><a class="dropdown-item" href="#1" role="button">Recycle Bin</a></li>
								</ul>
							</div>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="custom-control custom-checkbox">
						<label>
							<input class="custom-control-input" type="checkbox">
							<span class="custom-control-label"></span>
						</label>
					</div>
				</td>
				<td class="table-cell-expand">
					<div class="table-list-title">
						<a class="text-truncate-inline" href="#1">
							<span class="text-truncate" title="Web Content C">Web Content C</span>
						</a>
					</div>
				</td>
				<td class="table-cell-expand">
					<a class="table-list-link text-truncate-inline" href="#1">
						<span class="text-truncate" title="Arnold Geen">Arnold Geen</span>
					</a>
				</td>
				<td class="table-cell-expand">
					<span class="text-truncate-inline">
						<span class="text-truncate" title="15 Minutes Ago">15 Minutes Ago</span>
					</span>
				</td>
				<td class="table-column-text-end">
					<div class="btn-group btn-group-nowrap">
						<div class="btn-group-item">
							<button class="btn btn-secondary btn-sm" type="button">Edit</button>
						</div>
						<div class="btn-group-item">
							<div class="dropdown dropdown-action">
								<a aria-expanded="false" aria-haspopup="true" class="component-action dropdown-toggle" data-toggle="dropdown" href="#1" id="dropdownAction1" role="button">
									<svg aria-hidden="true" class="lexicon-icon lexicon-icon-ellipsis-v">
										<use xlink:href="<%- svgIconsPath %>#ellipsis-v" />
									</svg>
								</a>
								<ul aria-labelledby="" class="dropdown-menu dropdown-menu-right">
									<li><a class="dropdown-item" href="#1" role="button">Edit</a></li>
									<li><a class="dropdown-item" href="#1" role="button">Recycle Bin</a></li>
								</ul>
							</div>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="custom-control custom-checkbox">
						<label>
							<input class="custom-control-input" type="checkbox">
							<span class="custom-control-label"></span>
						</label>
					</div>
				</td>
				<td class="table-cell-expand">
					<input class="form-control form-control-sm" type="text" value="Web Content B">
				</td>
				<td class="table-cell-expand">
					<input class="form-control form-control-sm" type="text" value="Matthew Richards">
				</td>
				<td class="table-cell-expand">
					<span class="text-truncate-inline">
						<span class="text-truncate" title="20 Minutes Ago">20 Minutes Ago</span>
					</span>
				</td>
				<td class="table-column-text-end">
					<div class="btn-group btn-group-nowrap">
						<div class="btn-group-item">
							<button class="btn btn-primary btn-sm" type="button">Save</button>
						</div>
						<div class="btn-group-item">
							<button class="btn btn-secondary btn-sm" type="button">Cancel</button>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="custom-control custom-checkbox">
						<label>
							<input class="custom-control-input" type="checkbox">
							<span class="custom-control-label"></span>
						</label>
					</div>
				</td>
				<td class="table-cell-expand">
					<div class="table-list-title">
						<a class="text-truncate-inline" href="#1">
							<span class="text-truncate" title="Web Content E">Web Content E</span>
						</a>
					</div>
				</td>
				<td class="table-cell-expand">
					<a class="table-list-link text-truncate-inline" href="#1">
						<span class="text-truncate" title="Michael Dellen">Michael Dellen</span>
					</a>
				</td>
				<td class="table-cell-expand">
					<span class="text-truncate-inline">
						<span class="text-truncate" title="5 Minutes Ago">5 Minutes Ago</span>
					</span>
				</td>
				<td class="table-column-text-end">
					<div class="btn-group btn-group-nowrap">
						<div class="btn-group-item">
							<button class="btn btn-secondary btn-sm" type="button">Edit</button>
						</div>
						<div class="btn-group-item">
							<div class="dropdown dropdown-action">
								<a aria-expanded="false" aria-haspopup="true" class="component-action dropdown-toggle" data-toggle="dropdown" href="#1" id="dropdownAction1" role="button">
									<svg aria-hidden="true" class="lexicon-icon lexicon-icon-ellipsis-v">
										<use xlink:href="<%- svgIconsPath %>#ellipsis-v" />
									</svg>
								</a>
								<ul aria-labelledby="" class="dropdown-menu dropdown-menu-right">
									<li><a class="dropdown-item" href="#1" role="button">Edit</a></li>
									<li><a class="dropdown-item" href="#1" role="button">Recycle Bin</a></li>
								</ul>
							</div>
						</div>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>