<h4 class="cp-variables-form-header">Tbar Item</h4>
<%-
	printInputs([
		{ name: 'tbar-item-padding-y', },
		{ name: 'tbar-item-padding-x', },
	]);
%>

<h4 class="cp-variables-form-header">Component Tbar</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="component-tbar" name="clay[component-tbar]" type="hidden">
	</div>
	<%- include(partialsPath + 'cpClayTbarVariantMixin', { namespace: 'component-tbar' }) %>
</div>

<h4 class="cp-variables-form-header">Subnav Tbar</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="subnav-tbar" name="clay[subnav-tbar]" type="hidden">
	</div>
	<%- include(partialsPath + 'cpClayTbarVariantMixin', { namespace: 'subnav-tbar' }) %>
</div>

<h4 class="cp-variables-form-header">Subnav Tbar Component Title</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="subnav-tbar-component-title" name="clay[subnav-tbar-component-title]" type="hidden">
	</div>
	<%- include(partialsPath + 'cpClayTextTypographyMixin', { namespace: 'subnav-tbar-component-title' }) %>
</div>

<h4 class="cp-variables-form-header">Subnav Tbar Component Link</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="subnav-tbar-component-link" name="clay[subnav-tbar-component-link]" type="hidden">
	</div>
	<%- include(partialsPath + 'cpClayLinkMixin', { namespace: 'subnav-tbar-component-link' }) %>
</div>

<h4 class="cp-variables-form-header">Subnav Tbar Light</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="subnav-tbar-light" name="clay[subnav-tbar-light]" type="hidden">
	</div>
	<%- include(partialsPath + 'cpClayTbarVariantMixin', { namespace: 'subnav-tbar-light' }) %>
</div>

<h4 class="cp-variables-form-header">Subnav Tbar Primary</h4>
<div class="cp-form-group-sass-map">
	<div class="cp-form-group">
		<input class="cp-form-control cp-form-control-sass-map" id="subnav-tbar-primary" name="clay[subnav-tbar-primary]" type="hidden">
	</div>
	<%- include(partialsPath + 'cpClayTbarVariantMixin', { namespace: 'subnav-tbar-primary' }) %>
</div>