<h4 class="cp-variables-form-header">Timeline</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'timeline-inner-spacing' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'timeline-outer-spacing' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'timeline-border-width' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'timeline-border-modifier' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'timeline-border-color' }) %>

<h4 class="cp-variables-form-header">Timeline Item</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'timeline-item-padding-top' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'timeline-item-padding-bottom' }) %>

<h4 class="cp-variables-form-header">Timeline Item Label</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'timeline-item-label-color' }) %>

<h4 class="cp-variables-form-header">Timeline Increment</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'timeline-increment-bg' }) %>

<h4 class="cp-variables-form-header">Timeline Icon</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'timeline-icon-size' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'timeline-icon-border-width' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'timeline-icon-border-color' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'timeline-icon-border-radius' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'timeline-icon-bg' }) %>

<h4 class="cp-variables-form-header">Timeline Icon Active</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'timeline-icon-active-border-color' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'timeline-icon-active-bg' }) %>

<h4 class="cp-variables-form-header">Timeline Spacing Xl</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'timeline-inner-spacing-xl' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'timeline-outer-spacing-xl' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'timeline-item-padding-y-xl' }) %>