<h4 class="cp-variables-form-header">Toggle Switch</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'toggle-switch-transition' }) %>

<h4 class="cp-variables-form-header">Toggle Switch Bar</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'toggle-switch-bar-width' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'toggle-switch-bar-width-mobile' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'toggle-switch-bar-height' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'toggle-switch-bar-height-mobile' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'toggle-switch-bar-font-size' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'toggle-switch-bar-font-size-mobile' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'toggle-switch-bar-padding' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'toggle-switch-bar-padding-mobile' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'toggle-switch-bar-border-width' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'toggle-switch-bar-border-color' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'toggle-switch-bar-border-radius' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'toggle-switch-bar-bg' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'toggle-switch-bar-icon-color' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'toggle-switch-bar-focus-box-shadow' }) %>

<h4 class="cp-variables-form-header">Toggle Switch Button</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'toggle-switch-button-width' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'toggle-switch-button-width-mobile' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'toggle-switch-button-font-size' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'toggle-switch-button-font-size-mobile' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'toggle-switch-button-border-width' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'toggle-switch-button-border-color' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'toggle-switch-button-border-radius' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'toggle-switch-button-bg' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'toggle-switch-button-icon-color' }) %>

<h4 class="cp-variables-form-header">Toggle Switch On</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'toggle-switch-bar-on-border-color' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'toggle-switch-bar-on-bg' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'toggle-switch-bar-on-icon-color' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'toggle-switch-button-on-border-color' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'toggle-switch-button-on-border-radius' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'toggle-switch-button-on-bg' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'toggle-switch-button-on-icon-color' }) %>

<h4 class="cp-variables-form-header">Toggle Switch Disabled</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'toggle-switch-disabled-cursor' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'toggle-switch-disabled-opacity' }) %>