<h4 class="cp-variables-form-header">Tooltip</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'tooltip-max-width' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'tooltip-font-size' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'tooltip-padding-y' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'tooltip-padding-x' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'tooltip-margin' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'tooltip-border-radius' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'tooltip-color' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'tooltip-bg' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'tooltip-box-shadow' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'tooltip-opacity' }) %>

<h4 class="cp-variables-form-header">Tooltip Arrow</h4>
<%- include(partialsPath + 'cpTextInput', { id: 'tooltip-arrow-width' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'tooltip-arrow-height' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'tooltip-arrow-color' }) %>
<%- include(partialsPath + 'cpTextInput', { id: 'tooltip-arrow-offset' }) %>